@use "../config/mixins/size"

body
  #any_login
    background: black
    opacity: 1
    overflow: hidden
    border-top-right-radius: .75rem
    #any_login_form_toggle_label
      padding-inline: 1rem
    #back_to_previous_id
      margin-right: 1rem
    form
      padding: 0
      height: 3.25rem
      display: flex
      align-items: center
      img
        cursor: pointer
        vertical-align: middle
        padding: 1rem
        +size.size(3.25rem)
        opacity: 1
        transition: all .2s ease-out
        &:hover
          opacity: .7
      select,
      input[type="text"],
      input[type="submit"]
        background-color: var(--base)
        height: 2rem
        border-radius: .25rem
        padding-inline: .75rem
      select
        cursor: pointer
        min-width: 10rem
      input[type="text"]
        min-width: 6rem
      input[type="submit"]
        background-color: var(--danger)
        color: var(--reversal-text)
        font-weight: 600
        margin-inline: .5em
        height: 2rem
        padding-inline: .75em
      .visible_box
        padding-right: .875rem
      .any_login_user_information
        font-size: .875rem
        padding-left: 0
      #anylogin_back_to_user
        padding-inline: .5rem
        color: var(--reversal-text)
      #anylogin_back_to_user
        color: var(--reversal-text)
