@use "../atoms/a-text-input" as textInput
@use "../config/mixins/border-radius"
@use "../config/mixins/break-points"
@use "../config/mixins/position"

.multiselect
  +position.position(absolute, left 0, top 0, right 0)

.multiselect.book
  +position.position(initial)

.multiselect__single,
.multiselect__input
  +textInput.text-input-base

.multiselect__single
  +position.position(relative, 1)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 100%

.multiselect__content-wrapper
  overflow-y: scroll
  background-color: var(--base)
  border: solid 1px var(--border)
  +border-radius.border-radius(bottom, .25rem)

.multiselect--active
  overflow-y: hidden !important

.multiselect__content
  display: block !important

.multiselect__element
  +break-points.media-breakpoint-up(md)
    font-size: .875rem
  +break-points.media-breakpoint-down(sm)
    font-size: 1rem
  &:not(:first-child)
    border-top: solid 1px var(--border)
  >span
    display: flex
    height: 2.75rem
    padding-inline: .75rem
    align-items: center
    cursor: pointer
    transition: all .2s ease-out
    &:hover
      background-color: var(--background-tint)
    >span
      display: block
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: 100%

.multiselect__option--selected
  pointer-events: none
  // TODO 変数に
  background-color: #fff5db
