.StripeElement
  background-color: $base
  height: 40px
  padding: 10px 12px
  border-radius: .25rem
  box-shadow: 0 1px 3px 0 #e6ebf1
  transition: box-shadow 150ms ease

.StripeElement--focus
  box-shadow: 0 1px 3px 0 #cfd7df

.StripeElement--invalid
  border-color: $danger

.StripeElement--webkit-autofill
  background-color: #fefde5 !important

#card-errors
  color: $danger
  +text-block(.875rem 1.4)
  margin-top: .25em
