.action-completed__action
  +media-breakpoint-up(md)
    max-width: 16rem
    +margin(horizontal,  auto)

.action-completed__description
  margin-top: .75rem
  +media-breakpoint-up(md)
    max-width: 28rem
    +margin(horizontal,  auto)
  p
    font-size: .75rem
    line-height: 1.5
