@use "../../../config/mixins/break-points"

.action-completed__action
  +break-points.media-breakpoint-up(md)
    max-width: 16rem
    margin-left: auto
    margin-right: auto

.action-completed__description
  margin-top: .75rem
  +break-points.media-breakpoint-up(md)
    max-width: 28rem
    margin-left: auto
    margin-right: auto
  p
    font-size: .75rem
    line-height: 1.5
