.thread-comment-form
  +media-breakpoint-up(md)
    display: flex
  .card-footer
    border-top: none
  &.is-action-completed
    +media-breakpoint-up(md)
      margin-top: 1.5rem
      padding-left: var(--thread-header-author)
    +media-breakpoint-down(sm)
      margin-top: 1rem

.thread-comment-form__author
  flex: 0 0 var(--thread-header-author)
  +size(var(--thread-header-author) 100%)
  padding-right: 2rem
  border-right: solid 1px var(--border-tint)

.thread-comment-form__user-icon
  +size(100% auto)
  border-radius: 50%

.thread-comment-form__form
  flex: 1
  +position(relative)
  overflow: hidden

.thread-comment-form__action-completed
  flex: 1
