@use "../../../config/mixins/break-points"

.thread-header
  position: relative
  +break-points.media-breakpoint-up(md)
    padding: 1rem 2rem .75rem
  +break-points.media-breakpoint-down(sm)
    padding: 2.25rem .75rem .5rem

.thread-header__user-icon-link
  margin-inline: .5rem .25rem
  display: flex
  justify-content: center
  align-items: center

.thread-header__user-icon
  height: 1rem
  width: 1rem
