@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/mixins/text"

.thread-comment
  +position.position(relative)
  border-radius: .25rem
  +break-points.media-breakpoint-up(md)
    display: flex
    margin-bottom: 2rem
  +break-points.media-breakpoint-down(sm)
    padding-left: 0
    margin-bottom: 1rem

.thread-comment__start
  +break-points.media-breakpoint-up(md)
    flex: 0 0 var(--thread-header-author)
    +size.size(var(--thread-header-author) 100%)
  +break-points.media-breakpoint-down(sm)
    display: none

.thread-comment__end
  +break-points.media-breakpoint-up(md)
    max-width:  calc(100% - var(--thread-header-author))
    flex: 1


.thread-comment__title
  +text.text-block(.875rem 1.4, 600)
  +break-points.media-breakpoint-up(md)
    margin-right: .5rem
    flex: 1
  +break-points.media-breakpoint-down(sm)
    display: flex

.thread-comment__title-user-icon
  +break-points.media-breakpoint-up(md)
    display: none
  +break-points.media-breakpoint-down(sm)
    +size.size(1.5rem)
    display: inline-block
    vertical-align: middle
    margin-right: .25rem

.thread-comment__title-link
  +break-points.media-breakpoint-up(md)
    height: 100%
    display: inline-flex
    align-items: center
  +break-points.media-breakpoint-down(sm)
    display: inline-block
    white-space: nowrap
    max-width: calc(100vw - 15.5rem)
    overflow: hidden
    text-overflow: ellipsis
    vertical-align: middle
  &.a-placeholder
    width: 15%
    height: 1.4em

.thread-comment__title-icon
  +size.size(1.5rem)
  margin-right: .5rem

.thread-comment__title-label
  +text.text-block(.8125rem, block 400)
  color: var(--muted-text)
  margin-bottom: .125rem
  i
    margin-right: .1875rem

.thread-comment__description
  overflow: hidden
  min-height: 5rem
  padding-block: 1rem
  padding-inline: 1rem
  +break-points.media-breakpoint-down(sm)
    padding: .75rem
    word-wrap: break-word

.thread-comment__user-icon
  +size.size(3.5rem)
  object-fit: cover
  border-radius: 50%
  +break-points.media-breakpoint-down(sm)
    display: none

.thread-comment__company-logo
  +size.size(3.5rem)
  object-fit: cover
  border-radius: .25rem
  border: solid 1px var(--border)
  background-color: white
  +break-points.media-breakpoint-up(md)
    margin-top: .5rem
  +break-points.media-breakpoint-down(sm)
    +size.size(2.25rem)
    float: right
    margin-left: .75rem
    margin-bottom: .5rem

.thread-comment__created-at
  display: block
  +text.text-block(.8125rem 1.4, nowrap)
  color: var(--muted-text)
  +link.hover-link-reversal
  cursor: pointer
  +position.position(relative)
  +break-points.media-breakpoint-down(sm)
    font-size: .75rem
  &:active,
  &:focus,
  &.is-active
    color: var(--danger)
    &::after
      content: "Copied!"
      display: block
      background-color: rgba(black, .4)
      border-radius: .125rem
      padding: .25rem
      +text.text-block(.625rem 1)
      color: var(--reversal-text)
      +position.position(absolute, left 0, top 100%)
  &.a-placeholder
    width: 30%
    height: 1.4em

.thread-comment__actions
  padding-block: 0 1rem

.thread-comment__actions-items
  display: flex
  align-items: center

.thread-comment__actions-item-link
  +text.text-block(1.25rem 1, center flex)
  color: var(--muted-text)
  +size.size(2.375rem)
  align-items: center
  justify-content: center
  border-radius: 50%
  transition: color .2s ease-in, background-color .2s ease-in
  &.is-success
    &:hover
      background-color: #e0eefe
      color: var(--primary)
  &.is-danger
    &:hover
      background-color: #f5e6ea
      color: var(--danger)
