@use "../../../config/mixins/break-points"
@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/mixins/text"
@use "../../../config/variables/layout"

.thread-comments
  +position.position(relative)

.thread-comments__header
  +break-points.media-breakpoint-up(md)
    margin-bottom: 1.5rem
  +break-points.media-breakpoint-down(sm)
    margin-bottom: 1rem

.thread-comments__title
  align-items: center
  display: flex
  font-weight: 700
  +break-points.media-breakpoint-up(md)
    +text.text-block(1.125rem 1.45)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1rem 1.45)

.thread-comments__title-count
  +text.text-block(.875rem 1, 600 flex)
  align-items: center
  +size.size(auto 1.25rem)
  background-color: var(--base)
  padding-inline: .5rem
  border-radius: 1.5rem
  margin-left: .5rem

.thread-comments
  .form-actions
    +break-points.media-breakpoint-up(md)
      padding-left: layout.$thread-header-author
