@use "../../../config/mixins/break-points"
@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/variables/colors"

.thread-comments-more
  +position.position(relative)
  +break-points.media-breakpoint-up(md)
    margin-bottom: 2rem
    padding-left: var(--thread-header-author)
  +break-points.media-breakpoint-down(sm)
    padding-left: 0
    margin-bottom: 1rem
  &::before,
  &::after
    content: ''
    display: block
    +size.size(100% 7px)
    background: repeating-linear-gradient(-45deg, colors.$border-shade, colors.$border-shade 3px, transparent 3px, transparent 6px)

.thread-comments-more__inner
  padding-block: 1rem

.thread-comments-more__action
  +break-points.media-breakpoint-up(md)
    max-width: 16rem
    padding-inline: .375rem
    margin-inline: auto
