- title @question.title
- content_for :extra_body_classes, 'no-header no-footer no-global-nav'

.page-body
  .not-logged-in
    .not-logged-in__header
      .container
        h1.not-logged-in__title
          | Q&A
          br
          | 「#{title}」
    .not-logged-in__body
      .container.is-md
        .sneak-peek
          .sneak-peek__body

          .sneak-peek__join-us
            p
              | 閲覧にはフィヨルドブートキャンプの入会が必要です🙇‍♂️
            p
              | ブートキャンプに登録するかログインしてください
          nav.join-us-nav
            ul.join-us-nav__items
                li.join-us-nav__item
                  = link_to '登録はこちら', new_user_path, class: 'a-welcome-button is-md is-primary'
                li.join-us-nav__item
                  = link_to 'ログインはこちら', login_path, class: ''
