@use "../config/mixins/badge"
@use "../config/mixins/button"
@use "../config/variables/colors"

.a-badge
  +badge.badge-base

  // color
  &.is-primary
    +badge.badge-color(colors.$primary)
  &.is-secondary
    +badge.badge-color(colors.$secondary)
  &.is-info
    +badge.badge-color(colors.$info)
  &.is-success
    +badge.badge-color(colors.$success)
  &.is-warning
    +badge.badge-color(colors.$warning)
  &.is-danger
    +badge.badge-color(colors.$danger)
  &.is-disabled
    +badge.badge-color(colors.$disabled)
  &.is-main
    +badge.badge-color(colors.$main)
  &.is-muted
    border: none
    color: colors.$muted-text
    font-weight: 400
    background-color: colors.$background
  &.is-dark-muted
    border: none
    color: colors.$semi-muted-text
    font-weight: 400
    background-color: var(--background-semi-shade)

  //size
  &.is-xs
    +button.button-size(.625rem, 1, .5)
    font-weight: 500
    &:not(:first-child)
      margin-left: .5em
    &:not(:last-child)
      margin-right: .5em
  &.is-sm
    +button.button-size(.6875rem, 1, .5)
    font-weight: 600
  &.is-md
    +button.button-size(.8125rem, 1, .5)
    font-weight: 600
  &.is-lg
    +button.button-size(1rem, 1, .5)
    font-weight: 600
  &.is-xl
    +button.button-size(1.25rem, 1, .5)
    font-weight: 800
