@use "../config/functions/color" as color-func
@use "../config/variables/colors"

@function badge-text-color($bg)
  @if color-func.luma($bg) > 50
    @return colors.$default-text
  @else
    @return colors.$reversal-text

@mixin badge-variant($bg)
  background-color: $bg
  color: badge-text-color($bg)
  border-color: if(color-func.luma($bg) > 80, color-func.shade($bg, 18%), $bg)

.a-badge
  text-transform: none
  display: inline-flex
  border: solid 1px
  border-radius: 1em
  font-family: var(--sans-serif)
  white-space: nowrap
  text-decoration: none
  align-items: center
  justify-content: center
  &:not(:first-child)
    margin-left: .1875em
  &:not(:last-child)
    margin-right: .1875em
  &.is-block
    width: 100%
    display: flex
    .a-badge__inner
      overflow: hidden
      text-overflow: ellipsis

  &.is-primary
    +badge-variant(colors.$primary)
  &.is-secondary
    +badge-variant(colors.$secondary)
  &.is-info
    +badge-variant(colors.$info)
  &.is-success
    +badge-variant(colors.$success)
  &.is-warning
    +badge-variant(colors.$warning)
  &.is-danger
    +badge-variant(colors.$danger)
  &.is-disabled
    +badge-variant(colors.$disabled)
  &.is-main
    +badge-variant(colors.$main)
  &.is-muted
    border: none
    color: colors.$muted-text
    font-weight: 400
    background-color: colors.$background
  &.is-dark-muted
    border: none
    color: colors.$semi-muted-text
    font-weight: 400
    background-color: var(--background-semi-shade)

  &.is-xs
    font-size: .625rem
    padding-inline: .625rem
    height: 1.5rem
    font-weight: 500
    &:not(:first-child)
      margin-left: .5em
    &:not(:last-child)
      margin-right: .5em
  &.is-sm
    font-size: .6875rem
    padding-inline: .6875rem
    height: 1.65rem
    font-weight: 600
  &.is-md
    font-size: .8125rem
    padding-inline: .8125rem
    height: 1.95rem
    font-weight: 600
  &.is-lg
    font-size: 1rem
    padding-inline: 1rem
    height: 2.4rem
    font-weight: 600
  &.is-xl
    font-size: 1.25rem
    padding-inline: 1.25rem
    height: 3rem
    font-weight: 800
