.a-checker
  display: flex
  align-items: center
  justify-content: center
  border: solid 1px $danger
  border-radius: 1rem
  background-color: $danger-tint
  padding: .125rem .5rem .125rem .25rem

.a-checker__status
  +text-block(.625rem 1, $danger-text)
  margin-left: .25rem
