.a-card
  display: flex
  flex-direction: column
  border-radius: .25rem
  width: 100%
  margin-inline: auto
  background-color: var(--base)
  border: solid 1px var(--border)
  &.is-danger
    border-color: var(--danger)
    color: var(--danger-text)
    background-color: var(--danger-tint)
  &:not(:last-child)
    margin-bottom: 0
  .a-card + &
    margin-top: 1rem
  & + .a-card-react
    margin-top: 1rem
  .a-card-react + &
    margin-top: 1rem
  &.is-borderd
    border: solid 4px var(--default-text)
  &.is-modal
    width: 42.5rem
    max-width: 100%
  &.is-toggle
    label
      cursor: pointer
    > input:not(:checked) + * + *
      display: none
    > input:not(:checked) + *
      border-bottom: none
    > input:checked + * + *
      display: block
    > input:not(:checked) + * .is-hidden-then-unchecked
      display: none
    > input:checked + * .is-hidden-then-checked
      display: none
    .card-body
      max-height: 50vh
      overflow-y: auto
  &:has(.a-table)
    border: none
    .card-header
      border: solid 1px var(--border)
      border-bottom: none
  &.is-danger
    border: solid .25rem var(--danger)

table.a-card
  display: table

.a-card__alert
  padding: .5rem 1.25rem
  background-color: var(--danger)
  text-align: center
  font-size: .875rem
  line-height: 1.4
  color: var(--reversal-text)
  border-top-left-radius: .25rem
  border-top-right-radius: .25rem
  a
    text-decoration: none
    cursor: pointer
    &:hover,
    &:active
      text-decoration: underline
    color: var(--reversal-text)

.a-card__columns
  display: flex

@media (max-width: 79.9375em)
  .a-card:not(:last-child)
    margin-bottom: 1rem
  .a-card + .a-card,
  .a-card + .a-card-react,
  .a-card-react + .a-card
    margin-top: 1rem

@media (min-width: 80em)
  .a-card + .a-card,
  .a-card + .a-card-react,
  .a-card-react + .a-card
    margin-top: 1.25rem

@media (max-width: 47.9375em)
  .a-card.is-modal
    margin-inline: 1rem

@media (max-width: 63.9375em)
  .a-card__columns
    flex-direction: column
