@use "../config/mixins/text"

.a-count-badge
  +text.text-block(1.125rem 1, center)
  border: solid 1px var(--border-shade)
  vertical-align: middle
  border-radius: .25rem
  overflow: hidden
  background-color: var(--base)
  transition: all .2s ease-out
  display: flex
  flex-direction: column
  min-width: 2.75em

a.a-count-badge
  text-decoration: none
  &:hover
    background-color: var(--background-more-tint)

.a-count-badge__label
  font-size: .625rem
  color: var(--default-text)
  border-bottom: solid 1px var(--border-shade)
  padding-block: .25rem

.a-count-badge__value
  font-size: 1em
  font-weight: 700
  color: var(--danger)
  transition: all .2s ease-out
  display: flex
  align-items: center
  justify-content: center
  padding: .0625em .125em .1875em
  line-height: .9375
  &.is-zero
    color: var(--muted-text)
  &.is-counting
    color: var(--muted-text)
    padding: 0
    i
      font-size: .75em
  .a-count-badge__value + &
    display: none
