@use "../config/mixins/link"
@use "../config/mixins/text"

.a-category-link
  +text.text-block(.8125rem 1.4)
  color: var(--muted-text)
  +link.hover-link
  transition: all .2s ease-out
  &:hover
    color: var(--default-text)
