@use "../config/mixins/text"
@use "../config/variables/colors"

.a-checker
  display: flex
  align-items: center
  justify-content: center
  border: solid 1px colors.$danger
  border-radius: 1rem
  background-color: colors.$danger-tint
  padding: .125rem .5rem .125rem .25rem

.a-checker__status
  +text.text-block(.625rem 1, colors.$danger-text)
  margin-left: .25rem
