
.a-category-link
  font-size: .8125rem
  line-height: 1.4
  color: var(--muted-text)
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline
  transition: all .2s ease-out
  &:hover
    color: var(--default-text)
