.a-cancel-button
  margin-left: .5em
  color: var(--background)
  font-size: .875rem
  +flex-link
  +size(1.5em)
  background-color: var(--muted-text)
  align-items: center
  justify-content: center
  border-radius: 50%
  transition: all .2s ease-out
  &:hover
    background-color: var(--primary)
    color: var(--reversal-text)
