@use "../config/mixins/break-points"

.a-completion-message
  background-color: var(--success)
  padding-block: .5rem
  &:not(:last-child)
    margin-bottom: 1.25rem

.a-completion-message__inner
  display: flex
  +break-points.media-breakpoint-up(md)
    justify-content: center
    align-items: center
    gap: 1rem
  +break-points.media-breakpoint-down(sm)
    flex-direction: column
    gap: .75rem

.a-completion-message__title
  font-size: 1em
  line-height: 1.4
  text-align: center
  font-weight: 600
  color: var(--reversal-text)
  +break-points.media-breakpoint-up(md)
    font-size: 1rem
  +break-points.media-breakpoint-down(sm)
    font-size: .8125rem

.a-completion-message__actions-items
  display: flex
  gap: .75rem

.a-completion-message__actions-item
  +break-points.media-breakpoint-up(md)
    width: 9rem
  +break-points.media-breakpoint-down(sm)
    flex: 1
