@use "../config/mixins/break-points"
@use "../config/mixins/text"

.card-header.a-elapsed-days
  letter-spacing: .125em
  text-indent: .125em
  margin: -1px -1px 0
  background-color: var(--base)
  border: solid 1px var(--border)
  >*
    width: 100%
  +break-points.media-breakpoint-up(md)
    +text.text-block(1rem 1.4, 600 center)
    padding: .375rem 1rem
  +break-points.media-breakpoint-down(sm)
    +text.text-block(.875rem 1.4, 600 center)
    padding: .375rem .75rem
  &.is-reply-warning
    background-color: var(--reply-warning-background)
    border-color: var(--reply-warning-border)
  &.is-reply-alert
    color: var(--reversal-text)
    background-color: var(--reply-alert-background)
    border-color: var(--reply-alert-border)
  &.is-reply-deadline
    color: var(--reversal-text)
    background-color: var(--reply-deadline-background)
    border-color: var(--reply-deadline-border)
