.a-empty-message
  +text-block(1rem 1.6, center)
  margin-inline: auto
  max-width: 100%
  +media-breakpoint-up(md)
    width: 42.5rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
  &.is-info
    border: solid 1px var(--info)
    padding: .75rem 1.25rem
    border-radius: .25rem
    background-color: var(--info-tint)
    color: var(--info-text)
    +media-breakpoint-down(sm)
      padding: .75rem 1rem
  p
    +text-block(.875em 1.6, left)
