.a-form-label
  +text-block(.875rem 1.5 0 .5rem, block 600)
  &:last-child
    margin-bottom: 0
  &.is-required
    &::after
      +fa(fas '\f069')
      +text-block(.625rem, inline-block)
      color: var(--danger)
      margin-left: .125rem
      vertical-align: top
      transform: scale(.7)
  &.is-sm
    +text-block(.75rem 1.5)
  &.is-lg
    +text-block(1.125rem 1.5)
    border-bottom: solid 1px var(--border)
    padding-bottom: .5rem
  &.is-inline
    margin-bottom: 0
    margin-right: .5rem
  &.is-margin-bottom-0
    margin-bottom: 0

.form-item__label-checkbox
  +position(relative)
  .a-form-label
    display: inline-block
    margin-bottom: 0
    padding-left: .75em
    cursor: pointer
    &::before
      content: ''
      display: block
      +size(.875rem)
      border: solid 1px var(--muted-text)
      border-radius: .1875rem
      +position(absolute, left 0, top 50%)
      margin-top: -.4375rem
      box-shadow: rgba(black, .1) 0 1px 2px inset
      background-color: var(--base)
  input:checked + .a-form-label::after
    +fa(fas '\f00c')
    +text-block(.75rem .875rem, center block)
    color: var(--primary)
    +size(.875rem)
    +position(absolute, left 0, top 50%)
    margin-top: -.4375rem
