.a-form-tabs
  display: flex
  background-color: var(--background)
  border-bottom: solid 1px var(--border)
  margin-bottom: 1rem
  padding: .5rem .75rem 0
  border-radius: .1875rem .1875rem 0 0

.a-form-tabs__tab
  +size(6.5rem 2.5rem)
  +text-block(.8125rem 1, flex 600)
  color: var(--muted-text)
  align-items: center
  justify-content: center
  border-bottom: none
  cursor: pointer
  +border-radius(top, .25rem)
  border: solid 1px transparent
  +position(relative, bottom -1px)
  transition: all .2s ease-out
  &:hover
    color: var(--default-text)
  &.is-active
    background-color: var(--base)
    color: var(--main-text)
    border-color: var(--border)
    border-bottom-color: var(--base)

.micro-report-editor
  .a-form-tabs
    padding: 0
  .a-markdown-input
    padding-inline: 0
  .a-markdown-input__preview
    background-color: transparent
  .a-form-tabs__tab.is-active
    background-color: transparent
    border-bottom-color: var(--background)
