@use "../config/mixins/link"
@use "../config/mixins/text"
@use "../config/variables/colors"

.a-form-help
  font-size: .75rem
  color: var(--semi-muted-text)
  &:not(:first-child)
    margin-top: .5rem
  label + &:not(:first-child)
    margin-top: 0
  & + input,
  & + textarea
    margin-top: .5rem
  em
    font-style: normal
    font-weight: 600
  &.is-danger,
  .is-danger
    color: var(--danger)
  &.is-text-align-center
    text-align: center
  [class*=a-button] + &
    margin-top: 1em
  [class*=is-select] + &
    margin-top: .5em
  .form-item-block &
    margin-top: .75em
  p
    +text.text-block(1em 1.6)
    &:not(:last-child)
      margin-bottom: .75em
  a
    +link.hover-link-reversal
  *:last-child
    margin-bottom: 0
  a
    +text.text-block(.75rem 1.6)
    +link.hover-link-reversal
    cursor: pointer
    +colors.default-link
  ul
    list-style-type: disc
    list-style-position: outside
    margin-left: 1.5em
    &:not(:last-child)
      margin-bottom: .75em
  li
    line-height: 1.6
    &:not(:first-child)
      margin-top: .125em

.a-form-help-link
  +text.text-block(.75rem 1.6)
  cursor: pointer
  +colors.default-link
  .a-form-help &.is-danger
      color: var(--danger)
  &.is-muted-text
      color: var(--muted-text)

.a-form-help-link__label
  +link.hover-link-reversal

.a-text-help-link
  cursor: pointer
  +colors.default-link

.a-text-help-link__label
  +link.hover-link-reversal
