@use "../config/mixins/position"
@use "../config/mixins/size"

.a-file-insert
  cursor: pointer
  input
    +position.position(absolute, left -44px, top 0)
    +size.size(44px 20px)
    background: red
    opacity: 0
