.a-inline-block
  font-size: .875em
  display: inline-block
  border: solid 1px
  padding: .0625em .25em
  border-radius: 4px
  margin-inline: .25em
  &.is-reply-warning
    background-color: var(--reply-warning-background)
    border-color: var(--reply-warning-border)
  &.is-reply-alert
    color: var(--reversal-text)
    background-color: var(--reply-alert-background)
    border-color: var(--reply-alert-border)
  &.is-reply-deadline
    color: var(--reversal-text)
    background-color: var(--reply-deadline-background)
    border-color: var(--reply-deadline-border)
