@use "../config/mixins/break-points"
@use "../config/mixins/text"

.a-markdown-input
  padding-inline: 1rem
  +break-points.media-breakpoint-down(sm)
    padding-inline: .75rem
  .card-body__description &
    padding-inline: 0
    +break-points.media-breakpoint-down(sm)
      padding-inline: 0

.a-markdown-input__inner
  display: none
  &.is-active
    display: block

.a-markdown-input__textare
  min-height: 9rem
  overflow: hidden

.a-markdown-input__preview
  background-color: var(--base)
  +text.text-block(.875rem 1.8)
  border-radius: .25rem
  min-height: 10rem
  &.has-max-height
    max-height: 70vh
    overflow: auto
