@use "../config/mixins/position"
@use "../config/mixins/size"
@use "../config/mixins/text"

.a-notification-count
  +size.size(1.25rem .875rem)
  font-family: var(--monospace)
  border-radius: 1rem
  background-color: var(--danger)
  +position.position(absolute)
  +text.text-block(.625rem, flex)
  color: var(--reversal-text)
  align-items: center
  justify-content: center
