@use "../config/mixins/text"

=on-off-checkbox($border-width: 1px, $height: 1.5rem, $width: 4.5rem, $font-size: .8125rem)
  span
    height: calc(#{$height} + #{$border-width} * 2)
    width: $width
    border: solid $border-width var(--input-border)
    border-radius: $height
    font-size: $font-size
    &::before
      height: $height
      width: $height
    &::after
      height: calc(100% - #{$border-width} * 2)
      width: 100%
      padding-left: $height
      padding-right: .75em
  input:checked + span
    &::after
      padding-left: 1em
      padding-right: $height

.a-on-off-checkbox
  position: relative
  display: block
  cursor: pointer
  padding-block: .5rem
  margin-block: -.5rem
  input
    opacity: 0
    left: -1rem
    position: absolute
    top: 0
    height: 0
    width: 0
    display: block
    overflow: hidden
  span
    display: block
    background-color: var(--background)
    position: relative
    transition: all .2s ease-out
    &::before
      content: ""
      display: block
      border-radius: 50%
      background-color: var(--base)
      left: 0
      position: absolute
      top: 0
      border: solid 1px var(--input-border)
    &::after
      content: "OFF"
      +text.text-block(1em 1, flex center 600)
      align-items: center
      justify-content: center
  input:checked + span
    background-color: var(--danger)
    border-color: var(--danger)
    &::before
      left: auto
      position: absolute
      right: 0
    &::after
      content: "ON"
      color: var(--reversal-text)
  &.is-md
    +on-off-checkbox
  &.is-sm
    +on-off-checkbox($border-width: 1px, $height: 1.125rem, $width: 3.5rem, $font-size: .75rem)
