.a-price
  display: flex
  justify-content: center

.a-price__number
  font-size: 2.5em
  margin-inline: .125em
  font-family: 'Lato', sans-serif

.a-price__period
  font-size: 1em
  align-self: flex-start
  margin-top: .25em

.a-price__unit
  font-size: 1em
  align-self: flex-end
  margin-bottom: .25em
