.a-raw
  +text-block(.875rem 1.4)
  white-space: pre-line
  background-color: var(--input-background)
  width: 100%
  padding: .5rem
  border: solid 1px var(--input-border)
  border-radius: .25rem
  transition: border-color .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in
