.a-side-nav
  background-color: var(--base)
  border: solid 1px var(--border)
  border-radius: .25rem
  margin-top: 1rem

.a-side-nav__inner
  display: flex
  flex-direction: column
  max-height: none
  position: static

.a-side-nav__header
  height: 2.5rem
  display: flex
  align-items: center
  justify-content: space-between
  padding: .5rem .75rem

.a-side-nav__title
  font-size: .875rem
  line-height: 1.4
  font-weight: 600
  width: 100%

.a-side-nav__title-link
  display: block
  text-decoration: none
  width: 100%
  text-align: center
  color: var(--default-text)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  &:hover
    text-decoration: underline

.a-side-nav__footer
  height: 2.5rem
  display: flex
  align-items: center
  justify-content: flex-end
  padding: .5rem .75rem

.a-side-nav__footer-link
  font-size: .8125rem
  line-height: 1.4
  color: var(--muted-text)
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline

.a-side-nav__body
  overflow: auto

=a-side-nav-current($background-color, $border-color, $text-color, $pointer-events-none)
  position: relative
  z-index: 1
  border: solid 1px $border-color
  background-color: $background-color
  .a-side-nav__item-link
    background-color: transparent
    color: $text-color
    @if $pointer-events-none == true
      pointer-events: none

.a-side-nav__item
  &:not(:first-child)
    border-top: solid 1px var(--border)
  &.is-active
    .a-side-nav__item-link
      color: var(--default-text)
      font-weight: 700
  &.is-current
    +a-side-nav-current(var(--primary-tint), var(--primary), var(--primary-text), true)

.a-side-nav__item-link
  padding: .75rem
  font-size: .8125rem
  line-height: 1.4
  color: var(--semi-muted-text)
  display: block
  text-decoration: none
  transition: all .1s ease-in
  background-color: transparent
  &:not(.has-metas):hover
    color: var(--primary-text)
    text-decoration: underline
  &.has-metas:hover
    .a-side-nav__item-title
      transition: all .2s ease-out
      color: var(--primary-text)
      text-decoration: underline

.a-side-nav__item-header .a-badge
  transform: translateY(-.125em)
  margin-right: .25rem

.a-side-nav__item-title
  font-size: .875rem
  line-height: 1.4
  display: inline
  font-weight: 600

.a-side-nav-metas
  margin-top: .25rem
  font-size: .75rem
  display: flex
  flex-wrap: wrap
  gap: .25rem .75rem
