@use "../config/mixins/break-points"
@use "../config/mixins/position"
@use "../config/mixins/text"

.a-switch
  display: flex
  align-items: center
  cursor: pointer
  transition: all .2s ease-out
  *
    cursor: pointer
  +break-points.media-breakpoint-down(sm)
    align-items: center
    justify-content: center
    height: 100%

.a-switch__label
  +text.text-block(.75rem 1.4, center)
  color: var(--muted-text)
  margin-right: .5em
  .a-help
    +position.position(relative, top -1px)
  &:hover
    .a-switch__label-text
      color: var(--main-text)
      text-decoration: underline
    .a-help
      background-color: var(--main)
