.a-table
  overflow-x: auto
  &.is-sm
    font-size: .8125rem
  td,
  th
    padding: .5rem
  th
    background-color: var(--background-tint)
    border: solid 1px var(--border-shade)
  td
    border: solid 1px var(--border)
