@use "../config/mixins/break-points"
@use "../config/mixins/position"
@use "../config/mixins/text"

.a-title-label
  +text.text-block(.5em 1, inline-flex nowrap 500)
  vertical-align: top
  background-color: var(--background-semi-shade)
  padding-inline: 1em
  border-radius: .75rem
  align-items: center
  +position.position(relative, top .75em)
  margin-right: .5em
  +break-points.media-breakpoint-up(md)
    height: 1.5em
    +position.position(top .75em)
  +break-points.media-breakpoint-down(sm)
    font-size: .625rem
    height: 1.75em
    +position.position(top .375em)
  &.is-solved
    color: var(--reversal-text)
  &.is-wip
    color: var(--semi-muted-text)
    background-color: var(--background-semi-shade)
  &.is-success
    color: var(--reversal-text)
    background-color: var(--success)
  &.is-danger
    color: var(--reversal-text)
    background-color: var(--danger)
