@use "../config/variables/colors"

.a-text-link
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline
  +colors.default-link
  &.has-badge
    text-decoration: none
    .a-text-link__text
      text-decoration: none
      cursor: pointer
      &:hover,
      &:active
        text-decoration: underline
      +colors.default-link

.a-hover-link
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline

.a-hover-link-reversal
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline

.a-reversal-text-link
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline
  +colors.reversal-link

.a-muted-text-link
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline
  +colors.muted-link
