@use "../config/mixins/link"

.a-user-name
  color: var(--muted-text)
  font-size: .75rem
  line-height: 1.5
  white-space: nowrap
  font-weight: 400

a.a-user-name
  +link.hover-link
  display: inline-block
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
