@use "../config/mixins/break-points"
@use "../config/mixins/text"

.a-user-role-badge
  border: solid 1px var(--main)
  padding-inline: .75em
  height: 1.75em
  +text.text-block(.625rem 1, center flex nowrap)
  color: var(--main)
  align-items: center
  margin-right: .5rem
  border-radius: 1rem
  +break-points.media-breakpoint-up(md)
    transform: scale(.9375, .9375)
  +break-points.media-breakpoint-down(sm)
    transform: scale(.875, .875)
  &.is-header
    margin-left: .5rem
    margin-right: 0
    +break-points.media-breakpoint-down(sm)
      margin-left: .125rem

.a-user-role-badge__label
  display: inline-block
  .a-user-role-badge__label + &::before
    content: "/"
    display: inline-block
    margin-inline: .25em
