.a-user-icon
  display: block
  object-fit: cover
  border-radius: 50%
  background-color: var(--base)
  +size(100%)
  +icon-role-style
  &.is-sm
    +size(2rem)
  &.is-xs
    +media-breakpoint-up(md)
      +size(1.5rem)
    +media-breakpoint-down(sm)
      +size(1.125rem)
