.a-user-icons
  padding-top: .5rem
  margin-top: .75rem
  border-top: dotted 1px $border-tint
  margin-bottom: -.25rem

.a-user-icons__items
  display: flex
  flex-wrap: wrap
  gap: .25rem

.a-user-icons__item-icon
  +size(2rem)
