@use "../config/mixins/break-points"
@use "../config/mixins/size"
@use "../config/mixins/user-role"

.a-user-icon
  display: block
  object-fit: cover
  border-radius: 50%
  background-color: var(--base)
  +size.size(100%)
  +user-role.icon-role-style
  &.is-sm
    +size.size(2rem)
  &.is-xs
    +break-points.media-breakpoint-up(md)
      +size.size(1.5rem)
    +break-points.media-breakpoint-down(sm)
      +size.size(1.125rem)
