.a-welcome-button
  +size(auto 4rem)
  +text-block(1.125rem 1, flex 700 $default-text)
  max-width: 22rem
  margin: 0 auto
  background: $welcome-yellow
  align-items: center
  justify-content: center
  border: solid 4px $default-text
  border-radius: 8px
  cursor: pointer
  text-decoration: none
  transition: all .2s ease-out
  &:hover
    background-color: #fff98f
  &.is-md
    height: 3.25rem
  &.is-sm
    height: 2.75rem
    font-size: .9375rem
  &.is-signup
    background-color: $welcome-orange
