.a-watch-button
  border: none
  &:hover
    border: none
  &.is-inactive
    color: var(--semi-muted-text)
    &:hover
      color: var(--default-text)
      background-color: var(--background-semi-shade)
