.a-copy-button.is-muted
  color: var(--semi-muted-text)
  background-color: var(--background-semi-shade)

.a-copy-button
  position: relative
  color: var(--semi-muted-text)
  background-color: var(--background-semi-shade)
  border: none

.a-copy-button.is-active
  background-color: hsl(242, 51%, 51%)
  color: white

.a-copy-button.is-active::after
  content: "Copied!"
  display: block
  background-color: rgba(0, 0, 0, 0.4)
  border-radius: 0.125rem
  padding: 0.25rem
  font-size: 0.625rem
  line-height: 1
  color: white
  color: var(--reversal-text)
  position: absolute
  left: 0
  top: 100%
