
.micro-report-actions__items {
  display: flex;
  gap: .5rem;
  padding-top: .375rem;
}

.micro-report-actions__action {
  font-size: .75rem;
  display: flex;
  height: 2rem;
  align-items: center;
  text-decoration: none;
  padding-inline: .75rem;
  background-color: var(--background-shade);
  border-radius: .25rem;
  color: var(--muted-text);
  transition: all .2s ease-out;
}

.micro-report-actions__action:hover {
  background-color: var(--main);
  color: var(--reversal-text);
}

.micro-report-actions__user-link {
  display: block;
  text-decoration: none;
}

.micro-report__footer .reactions__items {
  margin: 0;
}

.micro-report__footer .reactions__items.is-reacted {
  gap: .5rem;
}

.micro-report__footer .reactions__items.is-reacted .reactions__item.is-reacted {
  border: 1px solid var(--border);
  border-radius: .25rem;
}

@media (max-width: 47.9375em) {
  .micro-report__footer .reactions__items.is-reacted .reactions__item.is-reacted {
    height: 2.25rem;
  }
}

.micro-report__footer .reactions__dropdown-toggle {
  margin-left: .5rem;
  border: none;
}

@media (max-width: 47.9375em) {
  .micro-report__footer .reactions__dropdown-toggle {
    height: 2.25rem;
  }
}
