.micro-report-form-tabs {
  background-color: var(--background);
}

.micro-report-form-tabs + .tab-content {
  margin-top: 0.5rem;
}

.micro-report-form-tabs__items {
  display: flex;
}

.micro-report-form-tabs__item-link {
  display: flex;
  text-decoration: none;
  padding: 0.5rem 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.4;
}

.micro-report-form__preview,
.micro-report-form__form {
  min-height: 3.75rem;
  padding: 0.5rem;
  max-height: calc(100vh - 14rem);
  overflow-y: auto;
}
