@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/variables/colors"

.event-meta
  +break-points.media-breakpoint-up(md)
    font-size: .8125rem
  +break-points.media-breakpoint-down(sm)
    font-size: .75rem

.event-meta__inner
  +break-points.media-breakpoint-up(md)
    padding: .75rem 1.5rem
  +break-points.media-breakpoint-down(sm)
    padding: .5rem .75rem

.event-meta__item
  line-height: 1.5
  +break-points.media-breakpoint-up(md)
    display: flex
    align-items: center
  &:not(:first-child)
    margin-top: .5rem
    padding-top: .5rem
    border-top: solid var(--border-tint) 1px

.event-meta__item-label
  flex-basis: 5em
  margin-right: .75em
  white-space: nowrap
  font-weight: 600
  +break-points.media-breakpoint-up(md)
    text-align: right
  +break-points.media-breakpoint-down(sm)
    font-size: .875em

.event-meta__item-value
  flex: 1
  +break-points.media-breakpoint-up(md)
    display: flex
    align-items: center
  a:not(.a-button)
    +colors.default-link
    +link.hover-link-reversal

.event-meta__item-value-main
  display: block
  +break-points.media-breakpoint-up(md)
    margin-right: .5rem
  +break-points.media-breakpoint-down(sm)
    margin-bottom: .25rem
