button(type="button" id="bookmark-button" data-bookmarkable-id="#{bookmarkable.id}" data-bookmarkable-type=bookmarkable.class class="a-bookmark-button a-button is-sm is-block is-inactive is-muted" disabled aria-pressed="false" aria-busy="true")
  | Bookmark
