.courses-item
  padding-bottom: 1.25rem
  height: 100%

.courses-item__inner
  height: 100%

.courses-item__header
  padding: 1.25rem 1.25rem 0

.courses-item__title
  +text-block(1.125rem 1.4)

.courses-item__title-link
  display: block
  color: $main
  +hover-link

.courses-item__description
  padding: .5rem 1.25rem 1.25rem
  p
    +text-block(.8125rem 1.6)
