.courses-item
  height: 100%

.courses-item__inner
  height: 100%

.courses-item__header
  padding: .75rem 1.25rem 0

.courses-item__title
  +text-block(1.125rem 1.4)

.courses-item__title-icon
  +text-block(.6875rem, inline-flex $semi-muted-text nowrap 400)
  +padding(horizontal, .5rem)
  height: 1.125rem
  margin-right: .5rem
  border-radius: .75rem
  align-items: center
  justify-content: center
  +media-breakpoint-up(md)
    +position(relative, top -.125rem)
  +media-breakpoint-down(sm)
    +position(relative, top -.1875rem)
  &.is-closed
    background-color: #e9ebef

.courses-item__title-link
  +block-link

.courses-item__title-label
  color: $main-text
  transition: all .2s ease-out
  font-weight: 700
  .is-closed &
    color: $muted-text
  .is-closed .courses-item__title-link:hover &,
  .courses-item__title-link:hover &
    text-decoration: underline
    color: $main-text

.courses-item__description
  padding: .5rem 1.25rem .75rem
  p
    +text-block(.8125rem 1.6)
