---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "sub_12345678",
              "object": "subscription",
              "application_fee_percent": null,
              "automatic_tax": {
                "enabled": false
              },
              "billing": "charge_automatically",
              "billing_cycle_anchor": 1636113600,
              "billing_thresholds": null,
              "cancel_at": null,
              "cancel_at_period_end": false,
              "canceled_at": null,
              "collection_method": "charge_automatically",
              "created": 1636020058,
              "current_period_end": 1638705600,
              "current_period_start": 1636113600,
              "customer": "cus_12345678",
              "days_until_due": null,
              "default_payment_method": null,
              "default_source": null,
              "default_tax_rates": [
              ],
              "discount": null,
              "ended_at": null,
              "invoice_customer_balance_settings": {
                "consume_applied_balance_on_void": true
              },
              "latest_invoice": "in_1JsR6HBpeWcLFd8f0YH5STAh",
              "livemode": false,
              "metadata": {
              },
              "next_pending_invoice_item_invoice": null,
              "pause_collection": null,
              "payment_settings": {
                "payment_method_options": null,
                "payment_method_types": null
              },
              "pending_invoice_item_interval": null,
              "pending_setup_intent": null,
              "pending_update": null,
              "plan": {
                "id": "price_1JrlOxBpeWcLFd8fd5rgx08c",
                "object": "plan",
                "active": true,
                "aggregate_usage": null,
                "amount": 29800,
                "amount_decimal": "29800",
                "billing_scheme": "per_unit",
                "created": 1635953363,
                "currency": "jpy",
                "interval": "month",
                "interval_count": 1,
                "livemode": false,
                "metadata": {
                },
                "nickname": "スタンダードプラン",
                "product": "prod_KWp3vEb5hlZBNC",
                "tiers": null,
                "tiers_mode": null,
                "transform_usage": null,
                "trial_period_days": 3,
                "usage_type": "licensed"
              },
              "quantity": 1,
              "schedule": null,
              "start": 1636030066,
              "start_date": 1636020058,
              "status": "past_due",
              "tax_percent": null,
              "transfer_data": null,
              "trial_end": 1636113600,
              "trial_start": 1636020058
            }
          ],
          "has_more": false,
          "url": "/v1/subscriptions"
        }
  recorded_at: Wed, 17 Nov 2021 06:40:30 GMT
recorded_with: VCR 6.0.0
