---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
              "object": "plan",
              "active": true,
              "aggregate_usage": null,
              "amount": 29800,
              "amount_decimal": "29800",
              "billing_scheme": "per_unit",
              "created": 1623307751,
              "currency": "jpy",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {
              },
              "nickname": "スタンダードプラン",
              "product": "prod_JdzgjajHO6tZGI",
              "tiers": null,
              "tiers_mode": null,
              "transform_usage": null,
              "trial_period_days": null,
              "usage_type": "licensed"
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sat, 31 Dec 2022 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_12345678&trial_end=1672758000&items[0][plan]=price_1J0hhTBpeWcLFd8ffLjm4nKO
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
      Idempotency-Key:
      - d42740f6-5316-4834-ad0c-896d0ecd6118
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d42740f6-5316-4834-ad0c-896d0ecd6118
      Original-Request:
      - req_dZGsKUnta0l2o8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_12345678",
          "object": "subscription",
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1672758000,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1624104122,
          "current_period_end": 1672758000,
          "current_period_start": 1624104122,
          "customer": "cus_12345678",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_JhRldL41spXH8n",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1624104122,
                "metadata": {
                },
                "plan": {
                  "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 29800,
                  "amount_decimal": "29800",
                  "billing_scheme": "per_unit",
                  "created": 1623307751,
                  "currency": "jpy",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "スタンダードプラン",
                  "product": "prod_JdzgjajHO6tZGI",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1623307751,
                  "currency": "jpy",
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": "スタンダードプラン",
                  "product": "prod_JdzgjajHO6tZGI",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 29800,
                  "unit_amount_decimal": "29800"
                },
                "quantity": 1,
                "subscription": "sub_12345678",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_12345678"
          },
          "latest_invoice": "in_1J42sABpeWcLFd8fMJ1mRFIt",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pause_collection": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 29800,
            "amount_decimal": "29800",
            "billing_scheme": "per_unit",
            "created": 1623307751,
            "currency": "jpy",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "スタンダードプラン",
            "product": "prod_JdzgjajHO6tZGI",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1624104122,
          "start_date": 1624104122,
          "status": "trialing",
          "tax_percent": null,
          "transfer_data": null,
          "trial_end": 1672758000,
          "trial_start": 1624104122
        }
  recorded_at: Sat, 31 Dec 2022 15:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JguFlBPLMy2YkR&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JgZj7auU6NEXcA&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JgP07EH6lB1B0b&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JgFJEvvgXbX3cl&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JgCNmrB1g7bwiw&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JgB9chzfxzNrgK&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_Jg1fA4tXSXiKHX&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JfwpBgoiArqTVs&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JfqqBjwUG0LX80&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JfaDrQl3k0RWw6&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JfUOo3rhgpE3V3&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_Jenxsu1dWVET51&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_JeQWAMCxKxEXA0&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?starting_after=sub_Je70yUTnfAHb8i&status=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
  [...]
