---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_12345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_12345678",
          "object": "subscription",
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1672758000,
          "billing_thresholds": null,
          "cancel_at": 1672758000,
          "cancel_at_period_end": true,
          "canceled_at": 1624104540,
          "collection_method": "charge_automatically",
          "created": 1624104217,
          "current_period_end": 1672758000,
          "current_period_start": 1624104217,
          "customer": "cus_JhRfQ7G68L2k8R",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_JhRnurusD0OJgH",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1624104218,
                "metadata": {
                },
                "plan": {
                  "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 29800,
                  "amount_decimal": "29800",
                  "billing_scheme": "per_unit",
                  "created": 1623307751,
                  "currency": "jpy",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "スタンダードプラン",
                  "product": "prod_JdzgjajHO6tZGI",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1623307751,
                  "currency": "jpy",
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": "スタンダードプラン",
                  "product": "prod_JdzgjajHO6tZGI",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 29800,
                  "unit_amount_decimal": "29800"
                },
                "quantity": 1,
                "subscription": "sub_12345678",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_12345678"
          },
          "latest_invoice": "in_1J42thBpeWcLFd8fe6VGMYCB",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pause_collection": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 29800,
            "amount_decimal": "29800",
            "billing_scheme": "per_unit",
            "created": 1623307751,
            "currency": "jpy",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "スタンダードプラン",
            "product": "prod_JdzgjajHO6tZGI",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1624104540,
          "start_date": 1624104217,
          "status": "trialing",
          "tax_percent": null,
          "transfer_data": null,
          "trial_end": 1672758000,
          "trial_start": 1624104217
        }
  recorded_at: Sat, 19 Jun 2021 12:30:47 GMT
recorded_with: VCR 6.0.0
