---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_12345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_12345678",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1733589210,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": 1738946010,
          "cancel_at_period_end": true,
          "canceled_at": 1737080044,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": "cancellation_requested"
          },
          "collection_method": "charge_automatically",
          "created": 1733330010,
          "currency": "jpy",
          "current_period_end": 1738946010,
          "current_period_start": 1736267610,
          "customer": "cus_RL1Zj6SXTz4XCr",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "description": null,
          "discount": null,
          "discounts": [

          ],
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_RL1ZLMeciQ3Hsg",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1733330011,
                "discounts": [

                ],
                "metadata": {
                },
                "plan": {
                  "id": "price_1JrlOxBpeWcLFd8fd5rgx08c",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 29800,
                  "amount_decimal": "29800",
                  "billing_scheme": "per_unit",
                  "created": 1635953363,
                  "currency": "jpy",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "meter": null,
                  "nickname": "スタンダードプラン",
                  "product": "prod_KWp3vEb5hlZBNC",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": 3,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1JrlOxBpeWcLFd8fd5rgx08c",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1635953363,
                  "currency": "jpy",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": "スタンダードプラン",
                  "product": "prod_KWp3vEb5hlZBNC",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": 3,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 29800,
                  "unit_amount_decimal": "29800"
                },
                "quantity": 1,
                "subscription": "sub_12345678",
                "tax_rates": [
                  {
                    "id": "txr_1Om0YyBpeWcLFd8fovSLFgXX",
                    "object": "tax_rate",
                    "active": true,
                    "country": "JP",
                    "created": 1708463356,
                    "description": null,
                    "display_name": "消費税",
                    "effective_percentage": 10.0,
                    "flat_amount": null,
                    "inclusive": true,
                    "jurisdiction": null,
                    "jurisdiction_level": null,
                    "livemode": false,
                    "metadata": {
                    },
                    "percentage": 10.0,
                    "rate_type": "percentage",
                    "state": null,
                    "tax_type": null
                  }
                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1QSLW2BpeWcLFd8f075qVUFt"
          },
          "latest_invoice": "in_1QefjZBpeWcLFd8f1AzMT1C3",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1JrlOxBpeWcLFd8fd5rgx08c",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 29800,
            "amount_decimal": "29800",
            "billing_scheme": "per_unit",
            "created": 1635953363,
            "currency": "jpy",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "meter": null,
            "nickname": "スタンダードプラン",
            "product": "prod_KWp3vEb5hlZBNC",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": 3,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1737080044,
          "start_date": 1733330010,
          "status": "active",
          "tax_percent": null,
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1733589210,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": 1733330010
        }
  recorded_at: Fri, 17 Jan 2025 02:15:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_12345678
    body:
      encoding: UTF-8
      base64_string: 'Y2FuY2VsX2F0X3BlcmlvZF9lbmQ9dHJ1ZQ==

        '
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a81b400a-fad3-4314-ab2b-e3ca3c5fe84b
      Original-Request:
      - req_K1UKBtI4urVyJS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2018-11-08'
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_12345678",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing": "charge_automatically",
          "billing_cycle_anchor"[...]
