
.next-settlement-time {
  @media (min-width: 48em) {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}
.next-settlement-time__title {
  font-size: .875rem;
  line-height: 1.4;
  font-weight: 400;
  @media (min-width: 48em) {
    margin-right: .5em;

  }
}
.next-settlement-time__time {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 700;
  color: var(--danger);

}
