
.thanks-message__header {
  color: var(--reversal-text);
}

.thanks-message__header + .a-card {
  margin-top: 2rem;
}

.thanks-message__title {
  line-height: 1.4;
  text-align: center;
  font-weight: 800;
  color: var(--main);
}

@media (min-width: 48em) {
  .thanks-message__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 47.9375em) {
  .thanks-message__title {
    font-size: 1.75rem;
  }
}

.thanks-message__body {
  padding: 1.25em 1.5em;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 47.9375em) {
  .thanks-message__body {
    font-size: .875rem;
  }
}

.thanks-message__body p {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1em;
}

.thanks-message__body p:last-child {
  margin-bottom: 0;
}

.thanks-message__body strong {
  font-weight: 600;
  display: inline-block;
  margin-inline: .25em;
}

.thanks-message__inputed-values.form {
  margin-inline: 0;
}

.thanks-message__inputed-values-title {
  font-size: .875rem;
  line-height: 1.4;
  font-weight: 800;
  background-color: var(--background-shade);
  padding: .25rem .5rem;
  margin-bottom: 1rem;
  border-left: solid .5rem var(--main);
  border-radius: .25rem;
}
