.thanks {
  max-width: 26rem;
  padding-inline: 1rem;
  margin-inline: auto;
  margin-top: 6rem;
}

.thanks__logo-image {
  max-width: 20rem;
  display: block;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.thanks__body {
  background-color: var(--base);
  padding: 1.5rem;
  border-radius: 0.25rem;
}

.thanks__icon {
  font-size: 4rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--main);
}

.thanks__title {
  font-size: 0.875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
}

.thanks__message p {
  font-size: 0.75rem;
  line-height: 1.6;
  text-align: center;
}
.thanks__message a {
  transition: color 0.2s ease-in;
  color: var(--link-text);
}
.thanks__message a:link {
  color: var(--link-text);
}
.thanks__message a:visited {
  color: hsl(233, 33%, 58%);
}
.thanks__message a:hover {
  color: var(--hover-text);
}
.thanks__message a:active {
  color: var(--hover-text);
}
.thanks__message a {
  text-decoration: none;
  cursor: pointer;
}
.thanks__message a:hover, .thanks__message a:active {
  text-decoration: underline;
}
