$product-header-author: 6rem
.product
  +position(relative)
  max-width: 52rem
  +margin(horizontal, auto)
  padding-left: 5rem
  +media-breakpoint-down(sm)
    padding-left: 0
    margin-top: 2.75rem

.product__inner
  background-color: $base-color
  border-radius: .25rem
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  margin-bottom: 2rem
  +position(relative)
  +balloon-tail(left $base-color .625rem .75rem, false, top 2rem)
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none

.product__header
  padding: 1rem 2rem
  border-bottom: $background-color solid 1px
  +media-breakpoint-down(sm)
    padding: 2.5rem 1rem .5rem 1rem

.product__author-link
  +position(absolute, left 0, top 0)
  +block-link
  +media-breakpoint-down(sm)
    +position(left 50%, top -1.75rem)
    margin-left: -1.75rem

.product__author-icon
  +size(3.5rem auto)
  border-radius: 50%
  +media-breakpoint-down(sm)
    box-shadow: white 0 0 0 .375rem

.product__title
  +text-block(1.8rem 1.5, 600)
  +media-breakpoint-down(sm)
    font-size: 1rem

.product__meta
  display: flex
  justify-content: flex-end
  align-items: center
  padding: .375rem 2rem
  border-bottom: $background-color solid 1px
  +media-breakpoint-down(sm)
    padding: .375rem 1rem
    flex-direction: column
    align-items: flex-start

.product__author-name
  +text-block(.75rem 1.4, $muted-text)
  margin-right: .75rem

.product__created-at
  display: block
  +text-block(.875rem 1.4, $muted-text)

.product__description
  padding: 1.25rem 2rem
  +media-breakpoint-down(sm)
    padding: 1rem

.product__body-footer-container
  border-top: solid 1px $background-color
  padding: .5rem 2rem
  display: flex
  justify-content: space-between
  align-items: center
  height: 3.75rem
  +media-breakpoint-down(sm)
    +padding(horizontal, 1rem)

.product__actions-items
  display: flex
  align-items: center

.product__actions-item-link
  +text-block(1.25rem 1, center flex $muted-text)
  +size(2.375rem)
  align-items: center
  justify-content: center
  border-radius: 50%
  transition: color .2s ease-in, background-color .2s ease-in
  &.is-success
    &:hover
      background-color: #e0eefe
      color: $primary
  &.is-danger
    &:hover
      background-color: #f5e6ea
      color: $danger

.product-comments-container
  max-width: 52rem
  +margin(horizontal, auto)

.product-comments-container__title
  +text-block(1.25rem 1.45 1.5rem, flex)
  align-items: center
  +media-breakpoint-down(sm)
    margin-bottom: 1rem

.product-comments-container__title-count
  +text-block(.875rem 1, 600 flex)
  align-items: center
  +size(auto 1.25rem)
  background-color: #bbbbbb
  +padding(horizontal, .5rem)
  border-radius: .5rem
  margin-left: .25rem
