.auth-form-action
  text-align: center

.auth-form-action__items
  display: flex
  align-items: flex-end
  justify-content: center
  +media-breakpoint-down(sm)
    display: block

.auth-form-action__item
  +padding(horizontal, .375rem)
  position: relative
  flex: 0 0 33.33%
  +media-breakpoint-down(sm)
    +padding(horizontal, 0)
    &:not(:first-child)
      margin-top: .75rem
