.auth-form-logo-image
  max-width: 24rem
  +margin(horizontal, auto)
  display: block
  +margin(vertical, 4rem 2rem)
  +media-breakpoint-down(sm)
    margin-top: 2rem
    max-width: 100%
    +padding(horizontal, 2rem)

.auth-form
  margin-bottom: 2rem
  max-width: 22rem
  +margin(horizontal, auto)
  +media-breakpoint-down(sm)
    +margin(horizontal, 1rem)
    max-width: 100%
  &.is-sign-up
    max-width: 34rem
  &.is-in-app
    margin-top: 2rem

.auth-form__header
  border-bottom: solid 1px $background
  padding: 1rem 1.25rem

.auth-form__body
  padding: 1.5rem 1.25rem

.auth-form__footer
  border-top: solid 1px $background
  padding: 1rem 1.25rem

.auth-form__title
  +text-block(1.25rem 1.45, center 600)

.auth-form-items
  margin-bottom: 1.25rem

.auth-form__alert
  padding: .5rem 1.25rem
  background-color: $danger
  text-align: center
  +text-block(.875rem 1.4, $reversal-text)
  a
    +hover-link-reversal
    color: $reversal-text
