.auth-form-nav
  display: flex
  justify-content: flex-end

.auth-form-nav__items
  display: flex
  justify-content: center
  width: 100%

.auth-form-nav__item
  +margin(horizontal, .5rem)

.auth-form-nav__item-link
  cursor: pointer
  +text-block(.75rem 1.45, $main-color)
  +hover-link
