.auth-form-item
  margin-bottom: 1rem
  &:last-child
    margin-bottom: 0
.auth-form-item__help
  margin-top: .375rem
  p
    +text-block(.75rem 1.45)
.auth-form-item__help-link
  +text-block(.75rem 1.45)
  +hover-link-reversal
.auth-form-item__radio-buttons
  margin-top: .5rem
  margin-bottom: -.5rem
  &.is-half
    display: flex
    flex-wrap: wrap
    +margin(horizontal, -.5rem)
