<table width="100%">
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:0px 20px 0px 20px;" align="center">
      <div style="cursor:auto; font-family: sans-serif ;text-align:center;">
        <h3 style="font-family: sans-serif; font-size: 20px; color:#4638a0; line-height: 1.4; margin-bottom: 0; font-weight: bold">お問い合わせ</h3>
      </div>
    </td>
  </tr>
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:16px 24px 16px 24px;" align="left">
      <div style="cursor:auto;font-family:sans-serif; font-size:14px; line-height:1.8; text-align:left;">
        <p><b>名前：</b></p>
        <p><%= @inquiry.name %></p>
        <p><b>Email：</b></p>
        <p><%= @inquiry.email %></p>
        <p><b>本文：</b></p>
        <%= simple_format @inquiry.body %>
    </td>
  </tr>
</table>
