@use "sass:color"
@use "../functions/color" as functions-color
@use "../functions/number"
@use "../variables/colors"
@use "font-awsome"
@use "position"
@use "size"
@use "text"

=button-base
  text-transform: none
  font-weight: 600
  display: inline-flex
  border: solid 1px
  border-radius: .25rem
  font-family: var(--sans-serif)
  line-height: 1.4
  white-space: nowrap
  text-decoration: none
  cursor: pointer
  user-select: none
  align-items: center
  justify-content: center
  transition: all .2s ease-out
  *
    cursor: pointer
  &.is-block
    display: flex
    width: 100%
    max-width: 100%
    &.is-select
      margin-inline: 0
  &:focus
    outline: none
  &:disabled
    cursor: default
    pointer-events: none
    *
      cursor: default
  &.is-select
    select
      +size.size(100%)
      cursor: pointer
  i
    margin-right: .35em
    margin-top: .02em
    font-size: 1.07em
  &.is-icon
    i
      +text.text-block(1.35em 1)
      margin-right: 0
  &.is-checkbox
    +position.position(relative)
    &::before
      content: ""
      +size.size(.9375em)
      border-radius: .1875em
      display: block
      border: solid 1px var(--background-shade)
      background-color: var(--base)
      +position.position(absolute, left 1em, top 50%)
      transform: translate(0, -50%)
    &::after
      +font-awsome.fa(fas "\f00c")
      +text.text-block(1em 1, flex)
      color: var(--reversal-text)
      align-items: center
      justify-content: center
      +size.size(.9375em)
      +position.position(absolute, left 1em, top 50%)
      transform: translate(0, -50%)
      opacity: 0
    input:checked + &::before
      border-color: var(--primary)
      background-color: var(--primary)
    input:checked + &::after
      opacity: 1

=input-button-base
  display: inline-block
  vertical-align: middle
  &.is-block
    width: 100%
    display: block

=button-color($color)
  $text-color: if(functions-color.luma($color) > 50, colors.$default-text, colors.$reversal-text)
  $border-color: if(functions-color.luma($color) > 80, color.adjust(color.adjust($color, $lightness: -12%), $saturation: 2%), $color)
  background-color: $color
  color: $text-color
  border-color: $border-color
  &.is-secondary
    border-color: var(--input-border)
  &:focus,
  &:active
    box-shadow: 0 0 0 .1875rem rgba($color, .25)
  &:hover,
  &:focus,
  &:active
    $button-color: color.adjust(color.adjust($color, $lightness: -4%), $saturation: 2%)
    $border-color: if(functions-color.luma($color) > 80, color.adjust(color.adjust($color, $lightness: -18%), $saturation: 2%), $color)
    background-color: $button-color
    border-color: $border-color
  &.is-disabled,
  &:disabled
    color: rgba($text-color, .4)
    border-color: functions-color.shade($color, 6%)
    pointer-events: none

=border-button-color($color)
  $text-color: $color
  $border-color: $color
  background-color: rgba(255, 255, 255, .1)
  color: $text-color
  border-color: $border-color
  &:focus,
  &:active
    box-shadow: 0 0 0 .1875rem rgba($color, .25)
  &:hover,
  &:focus,
  &:active
    $button-color: rgba($color, .25)
    background-color: $button-color
    border-color: $border-color
  &.is-disabled,
  &:disabled
    color: rgba($text-color, .4)
    border-color: functions-color.shade($color, 6%)
    pointer-events: none


=button-size($font-size: 1rem, $horizontal: .75, $vertical: .625)
  font-size: $font-size
  padding-inline: #{number.strip_unit($horizontal * $font-size)}em
  @if number.unitless_number($vertical)
    height: #{number.strip_unit(($font-size * 1.4) + (($vertical * $font-size) * 2))}em
  @else
    height: $vertical
  &.is-icon
    padding-inline: #{number.strip_unit($horizontal * $font-size * 1)}em
  &.is-select
    padding-inline: 0
    +position.position(relative)
    &::before
      +font-awsome.fa(fas "\f0d7")
      +size.size(2em 100%)
      +position.position(absolute, right 0, top 0, bottom 0)
      +text.text-block(1em 1, flex)
      color: var(--muted-text)
      align-items: center
      justify-content: center
    select
      padding-left: 1em
      padding-right: 2em
      +position.position(relative, 1)
  &.is-checkbox
    padding-left: 2.75em
