@use "sass:math"
.row
  +make-row

+make-grid-columns

=grid($gutter-size)
  &.row
    gap: px_to_rem($gutter-size)

.row
  @for $i from 0 through 16
    $gutter-size: $i * 4
    &.is-gutter-width-#{$gutter-size}
      gap: #{math.div($gutter-size, 16)}rem
      +make-grid-columns($grid-columns, #{math.div($gutter-size, 16)}rem)
