@use "sass:list"
@use "../functions/list" as functions-list
@use "../functions/number"

=margin($value1, $value2: null)
  @if number.number(list.nth($value1, 1)) or list.nth($value1, 1) == 'auto'
    @if functions-list.equal_nth($value1, 1)
      margin: $value1
    @else if functions-list.equal_nth($value1, 2)
      margin-top: list.nth($value1, 1)
      margin-bottom: list.nth($value1, 2)
    @else if functions-list.equal_nth($value1, 3)
      margin-top: list.nth($value1, 1)
      margin-left: list.nth($value1, 2)
      margin-right: list.nth($value1, 2)
      margin-bottom: list.nth($value1, 3)
    @else if functions-list.equal_nth($value1, 4)
      margin-top: list.nth($value1, 1)
      margin-right: list.nth($value1, 2)
      margin-bottom: list.nth($value1, 3)
      margin-left: list.nth($value1, 4)
  @else if list.length($value1) == 1 and list.nth($value1, 1) == 'vertical'
    margin-top: if(functions-list.list($value2), list.nth($value2, 1), $value2)
    margin-bottom: if(functions-list.list($value2),list.nth($value2, 2), $value2)
  @else if list.length($value1) == 1 and list.nth($value1, 1) == 'horizontal'
    margin-left: if(functions-list.list($value2), list.nth($value2, 1), $value2)
    margin-right: if(functions-list.list($value2),list.nth($value2, 2), $value2)
  @else
    @each $position in $value1
      @if $position == 'all'
        margin: $value2
      @else if $position == 'vertical'
        margin-top: $value2
        margin-bottom: $value2
      @else if $position == 'horizontal'
        margin-left: $value2
        margin-right: $value2
      @else
        margin-#{$position}: $value2

=padding($value1: null, $value2: null)
  @if number.number(list.nth($value1, 1)) or list.nth($value1, 1) == 'auto'
    @if functions-list.equal_nth($value1, 1)
      padding: $value1
    @else if functions-list.equal_nth($value1, 2)
      padding-top: list.nth($value1, 1)
      padding-bottom: list.nth($value1, 2)
    @else if functions-list.equal_nth($value1, 3)
      padding-top: list.nth($value1, 1)
      padding-left: list.nth($value1, 2)
      padding-right: list.nth($value1, 2)
      padding-bottom: list.nth($value1, 3)
    @else if functions-list.equal_nth($value1, 4)
      padding-top: list.nth($value1, 1)
      padding-right: list.nth($value1, 2)
      padding-bottom: list.nth($value1, 3)
      padding-left: list.nth($value1, 4)
  @else if list.length($value1) == 1 and list.nth($value1, 1) == 'vertical'
    padding-top: if(functions-list.list($value2), list.nth($value2, 1), $value2)
    padding-bottom: if(functions-list.list($value2),list.nth($value2, 2), $value2)
  @else if list.length($value1) == 1 and list.nth($value1, 1) == 'horizontal'
    padding-left: if(functions-list.list($value2), list.nth($value2, 1), $value2)
    padding-right: if(functions-list.list($value2),list.nth($value2, 2), $value2)
  @else
    @each $position in $value1
      @if $position == 'all'
        padding: $value2
      @else if $position == 'vertical'
        padding-top: $value2
        padding-bottom: $value2
      @else if $position == 'horizontal'
        padding-left: $value2
        padding-right: $value2
      @else
        padding-#{$position}: $value2
