@use "../functions/color"
@use "../variables/colors"
@use "position"

=practice-button($color: colors.$background, $border: false, $border-color: false, $text-color: false)
  background-color: $color
  @if $border == true
    border-color: color.shade($color, 24%)
  @if $border-color
    border-color: $border-color
  @if $text-color
    color: $text-color

=practice-color($border: false)
  &.is-not_complete
    +practice-button(colors.$background, $border)
    color: var(--muted-text)
  &.is-started
    +practice-button(colors.$danger, $border)
    color: var(--reversal-text)
  &.is-submitted
    +practice-button(colors.$warning, $border)
    color: var(--default-text)
  &.is-complete
    +practice-button(colors.$success, $border)
    color: var(--reversal-text)
  &.is-unstarted
    +practice-button(#fff)
    color: var(--muted-text)
    border: solid 1px var(--border)
    &.is-active
      color: var(--muted-text)
      border-color: var(--muted-text)
      background-color: var(--background-tint)
  &.is-skip-on
    +practice-button(#dcdcdc, $border)
    color: var(--muted-text)
  @if $border == true
    border: solid 1px

=practice-hover-color($border: false)
  +position.position(relative, 2)
  $border-status: $border
  @if $border == true
    border: solid 1px
  &.is-not_complete
    +practice-button(colors.$background, $border-status, color.shade(colors.$background, 24%), colors.$default-text)
  &.is-started
    +practice-button(color.tint(colors.$danger, 90%), $border-status, colors.$danger, color.shade(colors.$danger, 20%))
  &.is-submitted
    +practice-button(color.tint(colors.$warning, 90%), $border-status, color.shade(colors.$warning, 20%), color.shade(colors.$warning, 20%))
  &.is-complete
    +practice-button(color.tint(colors.$success, 90%), $border-status, colors.$success, color.shade(colors.$success, 20%))
