=icon-role-style
  &.is-admin,
  &.is-mentor
    .a-user-icon
      border: solid 2px rgba($danger, .7)
  &.is-graduate
    .a-user-icon
      border: solid 2px rgba($success, .7)
  &.is-adviser
    .a-user-icon
      border: solid 2px rgba($warning, .7)
  &.is-trainee
    .a-user-icon
      border: solid 2px rgba($main, .7)
  body.is-mentor-mode &.is-retired
    background-color: black
    .a-user-icon
      opacity: .7
  &.is-new-user
    .a-user-icon
      box-shadow: 0 0 1px 2px var(--warning)
    &.is-student
      .a-user-icon
        border: dashed 2px var(--danger)
    &.is-trainee
      .a-user-icon
        border: dashed 2px var(--main)
