$main-color: #b9d5da
$accent-color: blue
$base-color: white
$background-color: #eee
$reversal-text: white
$text: #272b2d

$gray-dark: #373a3c
$gray: #55595c
$gray-light: #818a91
$gray-lighter: #eceeef
$gray-lightest: #f7f7f9

$brand-primary: #6b9bcd
$brand-success: #98c96c
$brand-info: #7ac3d3
$brand-warning: #d1d353
$brand-danger: #dd6583
