// Cards
$card-spacer-x: 1.25rem
$card-spacer-y: 0.75rem
$card-border-width: 0
$card-border-radius: $border-radius-reset
$card-border-color: #e5e5e5
$card-border-radius-inner: $card-border-radius
$card-cap-bg: #1E88E5
$card-bg: #fff

$card-link-hover-color: #fff

$card-deck-margin: 0.625rem
