$button-styles: standard, simple

$small-column-horizontal-padding: 2rem
$xs-small-column-horizontal-padding: 1rem

$grid-gutter-width: 1rem

$root-background-color: $background-color
$basic-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif

