$button-styles: border, flat-emboss, standard

$small-column-horizontal-padding: 2rem
$xs-small-column-horizontal-padding: 1rem

$grid-gutter-width: 1rem

//$root-font-family: $basic-sans-serif

$container-max-widths: (sm: 100%, md: 100%, lg: 100%, xl: 72.25rem)

$root-background-color: $background-color
