@use "../../config/mixins/break-points"
@use "../../config/variables/fonts"

html.is-application
  font-family: fonts.$sans-serif
  color: var(--default-text)
  +break-points.media-breakpoint-up(md)
    scroll-padding-top: var(--header-height__md-up)

body.is-application
  background-color: var(--background)

body.is-no-scroll
  overflow-y: hidden
  .header
    position: static
  .wrapper
    padding-top: 0

body.is-piyo-background
  &::before
    content: ''
    bottom: 0
    left: 0
    position: fixed
    right: 0
    top: 0
    width: 100%
    height: 100%
    background-image: url(https://bootcamp.fjord.jp/images/background/background.svg)
    background-repeat: repeat
    overflow-y: auto
    opacity: .04
    +break-points.media-breakpoint-up(md)
      background-size: 20rem
    +break-points.media-breakpoint-down(sm)
      background-size: 4.5rem
  .wrapper
    position: relative
    z-index: 1

.wrapper
  &.is-application
    +break-points.media-breakpoint-up(md)
      margin-left: var(--global-nav-width)
      padding-top: var(--header-height__md-up)
  body.no-global-nav &
    margin-left: 0
  body.no-header &
    padding-top: 0
  body.is-error-page &
    padding-top: 4rem
    overflow-y: auto
  body.is-thanks-page &
    padding-block: 4rem
