.form-times
  +media-breakpoint-up(md)
    display: flex
    align-items: flex-end
  +media-breakpoint-down(sm)
    display: block

.form-times__inner
  margin-bottom: 1rem
  +media-breakpoint-up(md)
    display: flex
    align-items: flex-end
    gap: 1rem

.form-times__items
  display: flex
  gap: 1rem
  flex: 1

.form-times__action
  +media-breakpoint-down(sm)
    margin-top: .75rem
    display: flex
    justify-content: flex-end
  #tasks .form-item:first-child &
    display: none

.form-times__time
  display: flex
  flex-direction: column
  +media-breakpoint-down(sm)
    flex-basis: 50%
  .form-selects__item
    flex-basis: 100%
  .form-selects__item:last-child,
  .form-selects__item:first-child
    padding: 0
  &.is-sm
    +media-breakpoint-up(md)
      width: 12.5rem
  &.is-md
    +media-breakpoint-up(md)
      width: 24rem

.form-times__time-label
  +text-block(.75rem 1.4 0 .5rem, block)
