.thread-members
  background: $base
  padding: .75rem 1rem
  border-radius: .25rem
  border: solid 1px $border-shade

.thread-members__title
  +text-block(.8125rem 1.4, 600)

.thread-members__items
  display: flex
  gap: .75rem
  flex-wrap: wrap

.thread-members__item
  display: flex
  gap: .25rem
  +media-breakpoint-up(md)
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: .75rem
  .a-user-name
    +text-block(1em 1.4, $default-text)

.thread-members__user-icon
  +media-breakpoint-up(md)
    +size(1.5rem)
  +media-breakpoint-down(sm)
    +size(1.25rem)
