.thread-comments-container
  max-width: 50rem
  +margin(horizontal, auto)

.thread-comments-container__title
  +text-block(1.125rem 1.45 1.5rem, flex)
  align-items: center
  +media-breakpoint-down(sm)
    margin-bottom: 1rem

.thread-comments-container__title-count
  +text-block(.875rem 1, 600 flex)
  align-items: center
  +size(auto 1.25rem)
  background-color: $base
  +padding(horizontal, .5rem)
  border-radius: 1.5rem
  margin-left: .5rem
