.thread-admin-tools
  border-top: solid 1px $background-color
  padding: .5rem 2rem
  +media-breakpoint-down(sm)
    +padding(horizontal, 1rem)

.thread-admin-tools__items
  display: flex
  justify-content: flex-end
