.thread-comment-form
  +media-breakpoint-up(md)
    +position(relative)
    padding-left: $thread-header-author
  .card-footer
    border-top: none

.thread-comment-form__author
  +position(absolute, left 0, top 0)
  +size($thread-header-author 100%)
  padding-right: 2rem
  border-right: $background solid 1px

.thread-comment-form__user-icon
  +size(100% auto)
  border-radius: 50%

.thread-comment-form__form
  +position(relative)
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none
