.thread
  +position(relative)
  +margin(horizontal, auto)
  +media-breakpoint-up(md)
    width: $thread-max-width
    max-width: 100%
    padding-left: 5rem
    margin-bottom: 2rem
    &.is-header-author
      margin-top: 3rem
  +media-breakpoint-down(sm)
    margin-top: 1.5rem
    margin-bottom: 1rem
    &.is-page
      margin-top: 1rem
      padding-left: 0

.thread__body
  border-top: $background solid 1px

.thread__inner
  +position(relative)
  // +balloon-tail(left $base .625rem .75rem, false, top 2rem)
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none
  .thread.is-page &
    &::before,
    &::after
      content: none

.thread__user-link
  +position(absolute, left 0, top 0)
  +block-link
  +media-breakpoint-down(sm)
    +position(left 50%, top -1.75rem, 1)
    transform: translate(-50%, 0)

.thread__user-icon
  +size(3.5rem)
  +media-breakpoint-down(sm)
    box-shadow: white 0 0 0 .375rem

.thread__description
  padding: 1.25rem 2rem
  +media-breakpoint-down(sm)
    padding: .75rem
  & + .thread__description,
  .thread-header + &
    border-top: solid 1px $background

.thread__warning-message
  background-color: $warning
  +padding(vertical, .5rem)
  +text-block(1em 1.4, center)
  +media-breakpoint-up(md)
    font-size: .875rem
    +padding(horizontal, 2rem)
  +media-breakpoint-down(sm)
    font-size: .75rem
    +padding(horizontal, 1rem)
