.thread-category
  background-color: $background
  +media-breakpoint-up(md)
    padding: .375rem 2rem
  +media-breakpoint-down(sm)
    padding: .375rem .75rem

.thread-category__link
  +text-block(.75rem 1.4, #78788a 600)
  +hover-link
  transition: all .2s ease-out
  &:hover
    color: $default-text
