.thread-list-item-tags-edit
  width: 100%

.thread-list-item-tags__item-edit
  +hover-link-reversal
  cursor: pointer
  color: $main

.thread-list-item-tags-edit__actions
  margin-top: .5rem
  display: flex
  +margin(horizontal, -.25rem)

.thread-list-item-tags-edit__actions-item
  +padding(horizontal, .25rem)
