.thread-list-item
  &:not(:last-child)
    border-bottom: solid 1px $background
  +media-breakpoint-up(md)
    padding: .75rem 1rem
    min-height: 3.875rem
  +media-breakpoint-down(sm)
    padding: .75rem
    min-height: 3.5rem

.thread-list-item__strip-label
  +media-breakpoint-up(md)
    margin: -.75rem -1rem .75rem
  +media-breakpoint-down(sm)
    margin: -.75rem -.75rem .75rem

.thread-list-item__elapsed-days
  letter-spacing: .125em
  text-indent: .125em
  +media-breakpoint-up(md)
    +text-block(1rem 1.4, 700 center)
    padding: .5rem 1rem
    border: dashed 3px
  +media-breakpoint-down(sm)
    +text-block(.875rem 1.4, 700 center)
    padding: .5rem .75rem
    border: dashed 2px
  &.is-reply-warning
    background-color: $warning
    border-color: #d09a0e
  &.is-reply-alert
    background-color: #ff7500
    color: $reversal-text
    border-color: #d06305
  &.is-reply-deadline
    background-color: $danger
    color: $reversal-text
    border-color: #b50f38

.thread-list-item__inner
  +position(relative)
  padding-left: 3.75rem
  +media-breakpoint-up(md)
    min-height: 2.75rem
  +media-breakpoint-down(sm)
    padding-left: 3rem

.thread-list-item__assignee
  +media-breakpoint-up(md)
    +position(absolute, right -.5rem, top -.25rem)
    width: 8rem
  +media-breakpoint-down(sm)
    margin-top: .75rem

.thread-list-item__assignee-button.a-button
  border: dashed 1px $muted-text
  pointer-events: none
  color: $muted-text
  background-color: #f6f6f6

.thread-list-item__assignee-image
  flex: 0 0 1.25rem
  margin-right: .375rem
  .a-user-icon
    +size(1.25rem)

.thread-list-item__assignee-name
  display: block
  overflow: hidden
  text-overflow: ellipsis

.thread-list-item__label
  +position(absolute, left 0, top 0)
  +size(3rem)
  border-radius: 50%
  background-color: $accent
  display: flex
  align-items: center
  justify-content: center
  +text-block(.625rem 1.3, center 600)
  +media-breakpoint-down(sm)
    +size(2.5rem)
  .thread-list-item.is-report &
    background-color: #7f6fb7
    color: $reversal-text
  .thread-list-item.is-practice &
    background-color: #79bcc3
    color: $reversal-text
  .thread-list-item.is-question &
    background-color: #de9172
    color: $reversal-text
  .thread-list-item.is-page &
    background-color: #9fc593
    color: $reversal-text
  .thread-list-item.is-announcement &
    background-color: #f7cd5b
    color: $default-text
  .thread-list-item.is-event &
    background-color: #ef9da8
    color: $reversal-text
  .thread-list-item.is-product &
    background-color: #909b3c
    color: $reversal-text
  .thread-list-item.is-user &
    background-color: #7cbd9c
    color: $reversal-text

.thread-list-item__author
  +position(absolute, left 0, top 0)

.thread-list-item__user-icon
  +size(2.75rem)
  +media-breakpoint-down(sm)
    +size(2.25rem)
  .thread-list-item.is-wip &
    opacity: .6

.thread-list-item__row-separator
  border-top: dashed 1px $border
  height: 1px
  +media-breakpoint-up(md)
    +margin(vertical, .5rem)
  +media-breakpoint-down(sm)
    +margin(vertical, .75rem .25rem)

.thread-list-item__row
  &:not(:first-child)
    margin-top: .25rem
  .thread-list-item.has-assigned &:first-child
    +media-breakpoint-up(md)
      padding-right: 8.5rem

.thread-list-item__show-user-detail
  +position(absolute, top 0)
  +size(2.75rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  transition: all .2s ease-out
  +media-breakpoint-up(md)
    +position(right -1rem)
  +media-breakpoint-down(sm)
    +position(right -.75rem)
  &:hover
    opacity: .7

.thread-list-item__user-detail
  margin-top: 1rem
  display: none
  input:checked + &
    display: block

.thread-list-item__user-description
  +media-breakpoint-up(md)
    font-size: .8125rem
  +media-breakpoint-down(sm)
    font-size: .75rem

.thread-list-item__close-user-detail
  margin-top: 1rem
  +text-block(.8125rem 1.4, flex $main)
  align-items: center
  justify-content: center
  +hover-link-reversal
  cursor: pointer

.thread-list-item__summary
  color: $muted-text
  p
    +text-block(.75rem 1.5)

.thread-list-item__option
  +position(absolute, right 0, top 0)
  .a-button
    min-width: 4rem
