.thread-header-actions
  padding-top: .25rem
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin-bottom: -.5rem

.thread-header-actions__start,
.thread-header-actions__end
  display: flex
  flex: 1
  padding-bottom: .5rem
  +media-breakpoint-up(md)
    +margin(horizontal, -.25rem)
  +media-breakpoint-down(sm)
    +margin(horizontal, -.25rem)

.thread-header-actions__start
  +media-breakpoint-down(sm)
    flex: 2

.thread-header-actions__start
  justify-content: flex-start

.thread-header-actions__end
  justify-content: flex-end

.thread-header-actions__action
  min-width: 5.5rem
  +media-breakpoint-up(md)
    +padding(horizontal, .25rem)
    min-width: 7rem
  +media-breakpoint-down(sm)
    +padding(horizontal, .25rem)
    width: 50%
  .a-button
    +padding(horizontal, 0)
