.thread-header-actions
  display: flex
  justify-content: space-between
  padding-top: .25rem

.thread-header-actions__start,
.thread-header-actions__end
  display: flex

.thread-header-actions__action
  .a-button
    min-width: 5.25rem
    +padding(horizontal, 0)
  &:not(:last-child)
    margin-right: .5rem
