.thread-list
  &.is-empty
    background-color: transparent
    box-shadow: none
    +text-block(1rem 1.4, center)
    +media-breakpoint-down(sm)
      font-size: .875rem

.thread-list__footer
  padding: .75rem 1rem

.thread-list__footer-to-index
  display: flex
  justify-content: flex-end

.thread-list__footer-text-link
  +text-block(.875rem 1.4, $muted-text)
  +hover-link-reversal
