.thread-header
  padding: 1rem 2rem 0
  border-bottom: $background solid 1px
  +media-breakpoint-down(sm)
    padding: 2.5rem .75rem 0
    .thread.is-page &
      padding-top: .75rem

.thread-header__title
  +text-block(1.5rem 1.4, 700)
  font-feature-settings: "palt"
  letter-spacing: .02em
  +media-breakpoint-down(sm)
    font-size: 1.125rem
    word-break: break-all
  &.is-wip
    color: $muted-text

.thread-header__title-link
  +hover-link
  color: $default-text
  .thread-header__title.is-wip &
    color: $muted-text

.thread-header__title-icon
  +text-block(.75rem, inline-flex $muted-text)
  background-color: #e9ebef
  padding: .125rem .5rem
  margin-right: .5rem
  +position(relative, top -2px)
  border-radius: .75rem

.thread-header__reported-at
  +text-block(.8125rem 1 0 .75rem, $muted-text)
  +media-breakpoint-down(sm)
    font-size: .75rem
    margin-bottom: .25rem
