.thread-list-item
  padding: .75rem 1rem
  &:not(:last-child)
    border-bottom: solid 1px $background
  +media-breakpoint-down(sm)
    padding: .75rem

.thread-list-item__inner
  +position(relative)
  padding-left: 3.5rem
  +media-breakpoint-down(sm)
    padding-left: 3.25rem

.thread-list-item__header-title-container
  +media-breakpoint-up(md)
    display: flex
    align-items: flex-start

.thread-list-item__label
  +position(absolute, left 0, top 0)
  +size(3rem)
  border-radius: 50%
  background-color: $accent
  display: flex
  align-items: center
  justify-content: center
  +text-block(.75rem 1.3, center 600)
  padding: .25rem
  +media-breakpoint-down(sm)
    +size(2.25rem)
    font-size: .625rem
  .thread-list-item.is-report &
    background-color: #7f6fb7
    color: $reversal-text
  .thread-list-item.is-practice &
    background-color: #79bcc3
    color: $reversal-text
  .thread-list-item.is-question &
    background-color: #de9172
    color: $reversal-text
  .thread-list-item.is-page &
    background-color: #9fc593
    color: $reversal-text
  .thread-list-item.is-announcement &
    background-color: #f7cd5b
    color: $default-text

.thread-list-item__author
  +position(absolute, left 0, top 0)

.thread-list-item__author-icon
  border-radius: 50%
  +size(2.75rem)
  object-fit: cover
  +media-breakpoint-down(sm)
    +size(2.5rem)
    object-fit: cover
  .thread-list-item.is-wip &
    opacity: .6

.thread-list-item__header
  display: flex
  align-items: center
  margin-bottom: .25rem
  justify-content: space-between
  +media-breakpoint-down(sm)
    flex-direction: column
    align-items: flex-start

.thread-list-item__header-icon
  +text-block(.75rem, inline-flex $muted-text nowrap)
  margin-top: .25rem
  +padding(horizontal, .5rem)
  height: 1.125rem
  margin-right: .5rem
  border-radius: .75rem
  align-items: center
  justify-content: center
  +media-breakpoint-down(sm)
    float: left
  &.is-wip
    background-color: #e9ebef
  &.is-unread
    background-color: $danger
    color: $reversal-text
    font-size: .625rem

.thread-list-item__title-link
  +text-block(1rem 1.5, 600 $side)
  word-break: break-all
  +hover-link-reversal
  .thread-list-item.is-wip &,
  .thread-list-item.is-unread &
    color: $muted-text

.thread-list-item__sub-title
  +text-block(.75rem 1.4 .25rem .25rem, $muted-text 400)


.thread-list-item__actions
  margin-left: .5rem
  display: flex
  +media-breakpoint-down(sm)
    margin-left: 0
    margin-bottom: .25rem
  .thread-list-item__header:hover &
    +position(relative, 1)

.thread-list-item__actions-link
  +text-block(1rem 1, $muted-text)
  +flex-link
  align-items: center
  justify-content: center
  +size(1.75rem)
  border-radius: .1875rem
  transition: all .2s ease-out
  &:hover
    background-color: rgba($main, .2)
    color: $main

.thread-list-item-meta
  display: flex
  align-items: center
  +text-block(.75rem 1.4)

.thread-list-item-meta__updated-at
  +text-block(.75rem 1.4, $muted-text)

.thread-list-item-meta__comment-count
  +text-block(.75rem 1.4, block $muted-text inline-block)
  margin-left: .75rem

.thread-list-item-meta__comment-count-label
  +text-block(.75rem 1.4, block $muted-text inline-block)
  margin-right: .25rem

.thread-list-item-meta__comment-count-value
  +text-block(.75rem 1.4, block $muted-text inline-block)

.thread-list-item-meta__checkers
  display: inline-block
  margin-left: .75rem

.thread-list-item__checked-author-icon
  border-radius: 50%
  +size(1.375rem)
  object-fit: cover
  &:not(:first-child)
    margin-left: .25rem

.thread-list-item__body
  +text-block(.875rem 1.6)

.thread-list-item-meta__created-at
  +text-block(.75rem 1.4, $muted-text)
