.thread-admin-tools
  border-top: solid 1px $border
  +media-breakpoint-up(md)
    padding: .75rem 2rem
  +media-breakpoint-down(sm)
    padding: .75rem

.thread-admin-tools__items
  +media-breakpoint-up(md)
    display: flex
    justify-content: center
    +margin(horizontal, -.375rem)

.thread-admin-tools__item
  +padding(horizontal, .375rem)
  +media-breakpoint-up(md)
    min-width: 18rem
  +media-breakpoint-down(sm)
    &:not(:first-child)
      margin-top: .5rem

.thread-check-form__action, .thread-unconfirmed-links-form__action
  &.is-text
    +hover-link-reversal
    +text-block(.875rem 1.4, $muted-text)
    cursor: pointer
    min-height: 2.375rem
    +padding(vertical, .25rem)
    i
      margin-right: .25em
