.thread-meta
  display: flex
  align-items: center
  flex-wrap: wrap
  +padding(vertical, .5rem .75rem)
  line-height: 1.4
  +media-breakpoint-down(sm)
    padding-top: .375rem
    margin-bottom: -.25rem

.thread-meta__watch-button
  &.a-button
    height: 1.375rem
    width: 5.5rem
    +position(relative)
    padding-left: 1.5rem
    i
      +position(absolute, left .375rem)
  &.is-active
    color: $main
    border-color: $main
    &:hover
      color: $main
      border-color: $main
