.thread-questions
  +position(relative)
  border-radius: .25rem

.thread-question
  +position(relative)
  border-radius: .25rem
  margin-bottom: 2rem
  padding-left: $thread-header-author
  &.is-no-author-icon
    padding-left: 0
  +media-breakpoint-down(sm)
    padding-left: 0
    margin-bottom: 1rem

.thread-question__author
  +position(absolute, left 0, top 0)
  +size($thread-header-author 100%)
  +media-breakpoint-down(sm)
    display: none

.thread-question__author-icon
  +size(3.5rem)

.thread-question__title
  +text-block(1rem 1.4)
  margin-right: .5rem
  +media-breakpoint-down(sm)
    +text-block(.875rem 1.4 0 .25rem)
    margin-right: 0
  &
    font-size: .9375rem

.thread-question__title-link
  color: $main-text
  height: 100%
  display: flex
  align-items: center
  .thread-question__title.is-user-questions &
    +hover-link

.thread-question__title-icon
  +size(1.5rem)
  margin-right: .75rem

.thread-question__title-label
  +text-block(.8125rem, $muted-text block 400)
  margin-bottom: .125rem
  i
    margin-right: .1875rem

.thread-question__title-count
  +text-block(.8125rem, inline-block $muted-text  400)
  margin-left: .5rem
  i
    margin-right: .125rem
    +top(-1px)

.thread-question__body
  min-height: 5rem
  +position(relative)
  // +balloon-tail(left $base .75rem 1rem, false, top 1.5rem)
  &::after
    margin-left: -1.4375rem
  .thread-question.is-no-author-icon &::before,
  .thread-question.is-no-author-icon &::after
    content: none
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none

.thread-question__description
  +padding(vertical, 1rem)
  +media-breakpoint-down(sm)
    +padding(vertical, .75rem)
    word-wrap: break-word

.thread-question__body-header
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: solid 1px $background
  +padding(horizontal, 1rem)
  +padding(vertical, .75rem)
  +media-breakpoint-down(sm)
    flex-direction: column
    align-items: flex-start
    +padding(vertical, .5rem)
  &.is-icon
    +position(relative)
    padding-left: 3.5rem
    min-height: 4.25rem
    +media-breakpoint-down(sm)
      padding-left: 0
      min-height: 0
    .thread-question__created-at
      align-self: flex-end

.thread-question__user-icon
  +size(2.75rem auto)
  border-radius: 50%
  +position(absolute, left 0, top 0)
  +margin(vertical, .75rem)
  +media-breakpoint-down(sm)
    display: none

.thread-question__created-at
  display: block
  +text-block(.8125rem 1.4, $muted-text nowrap)
  +hover-link-reversal
  cursor: pointer
  +position(relative)
  +media-breakpoint-down(sm)
    font-size: .75rem
  &:active,
  &:focus,
  &.is-active
    color: $danger
    &::after
      content: "Copied!"
      display: block
      background-color: rgba(black, .4)
      border-radius: .125rem
      padding: .25rem
      +text-block(.625rem 1, $reversal-text)
      +position(absolute, left 0, top 100%)

.thread-question__actions
  +padding(vertical, 0 1rem)

.thread-question__actions-items
  display: flex
  align-items: center

.thread-question__actions-item-link
  +text-block(1.25rem 1, center flex $muted-text)
  +size(2.375rem)
  align-items: center
  justify-content: center
  border-radius: 50%
  transition: color .2s ease-in, background-color .2s ease-in
  &.is-success
    &:hover
      background-color: #e0eefe
      color: $primary
  &.is-danger
    &:hover
      background-color: #f5e6ea
      color: $danger
