.thread-header-title
  font-feature-settings: "palt"
  letter-spacing: .02em
  +text-block(1em 1.45, 600)
  display: flex
  +media-breakpoint-up(md)
    font-size: 1.5rem
    .has-count &
      margin-right: 2rem
  +media-breakpoint-down(sm)
    font-size: 1.125rem
    word-break: break-all
  &.is-wip
    color: $muted-text

.thread-header-title__link
  +hover-link
  color: $default-text
  .thread-header-title.is-wip &
    color: $muted-text

.thread-header-title__title
  font-weight: 700
