.thread-header-title
  font-feature-settings: "palt"
  letter-spacing: .02em
  +text-block(1em 1.35, 700)
  display: flex
  +media-breakpoint-up(md)
    font-size: 1.5rem
  +media-breakpoint-down(sm)
    font-size: 1.125rem
    word-break: break-all
  &.is-wip
    color: $muted-text

.thread-header-title__link
  +hover-link
  color: $default-text
  .thread-header-title.is-wip &
    color: $muted-text

.thread-header-title__label
  +text-block(.5em 1, flex nowrap 0)
  background-color: #e9ebef
  +padding(horizontal, 1em)
  border-radius: .75rem
  align-items: center
  +media-breakpoint-up(md)
    height: 1.5em
    +position(relative, top .75em)
    margin-right: .5em
  +media-breakpoint-down(sm)
    font-size: .625rem
    height: 1.75em
    +position(absolute, top 1rem)
  &.is-solved
    color: $reversal-text
    &.is-success
      background-color: $success
    &.is-danger
      background-color: $danger
