.thread-header-metas
  +media-breakpoint-up(md)
    display: flex
    justify-content: space-between

.thread-header-metas__start
  display: flex
  align-items: center
  flex-wrap: wrap

.thread-header-metas__meta
  &:not(:last-child)
    margin-right: .75em
