.thread-list-item
  padding: .75rem 1rem
  &:not(:last-child)
    border-bottom: solid 1px $background
  +media-breakpoint-down(sm)
    padding: .75rem

.thread-list-item__inner
  +position(relative)
  padding-left: 3.75rem
  +media-breakpoint-down(sm)
    padding-left: 3rem
  .thread-list-item.has-assigned &
    +media-breakpoint-up(md)
      padding-right: 8.75rem

.thread-list-item__assignee
  +media-breakpoint-up(md)
    +position(absolute, right 0, top 0)
    width: 8rem
  +media-breakpoint-down(sm)
    margin-top: .75rem

.thread-list-item__assignee-name.a-button
  border: dashed 1px $muted-text
  pointer-events: none
  color: $muted-text
  background-color: #f6f6f6
  span
    display: block
    overflow: hidden
    text-overflow: ellipsis

.thread-list-item__label
  +position(absolute, left 0, top 0)
  +size(3rem)
  border-radius: 50%
  background-color: $accent
  display: flex
  align-items: center
  justify-content: center
  +text-block(.625rem 1.3, center 600)
  +media-breakpoint-down(sm)
    +size(2.5rem)
  .thread-list-item.is-report &
    background-color: #7f6fb7
    color: $reversal-text
  .thread-list-item.is-practice &
    background-color: #79bcc3
    color: $reversal-text
  .thread-list-item.is-question &
    background-color: #de9172
    color: $reversal-text
  .thread-list-item.is-page &
    background-color: #9fc593
    color: $reversal-text
  .thread-list-item.is-announcement &
    background-color: #f7cd5b
    color: $default-text
  .thread-list-item.is-event &
    background-color: #ef9da8
    color: $reversal-text
  .thread-list-item.is-product &
    background-color: #909b3c
    color: $reversal-text
  .thread-list-item.is-user &
    background-color: : #7cbd9c
    color: $seversal-text

.thread-list-item__author
  +position(absolute, left 0, top 0)

.thread-list-item__author-icon
  +size(2.75rem)
  +media-breakpoint-down(sm)
    +size(2.25rem)
  .thread-list-item.is-wip &
    opacity: .6

.thread-list-item__row-separator
  // TODO resetに移す
  border: none
  margin-bottom: .375rem
  border-top: dashed 1px $border

.thread-list-item__row
  &:not(:first-child)
    margin-top: .375rem

.thread-list-item__show-user-detail
  +position(absolute, top 0)
  +size(2.75rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  transition: all .2s ease-out
  +media-breakpoint-up(md)
    +position(right -1rem)
  +media-breakpoint-down(sm)
    +position(right -.75rem)
  &:hover
    opacity: .7

.thread-list-item__user-detail
  margin-top: 1rem
  display: none
  input:checked + &
    display: block

.thread-list-item__user-description
  +media-breakpoint-up(md)
    font-size: .8125rem
  +media-breakpoint-down(sm)
    font-size: .75rem

.thread-list-item__close-user-detail
  margin-top: 1rem
  +text-block(.8125rem 1.4, flex $main)
  align-items: center
  justify-content: center
  +hover-link-reversal
  cursor: pointer

.thread-list-item__summury
  color: $muted-text
  p
    +text-block(.75rem 1.5)
