.thread-list-item-title
  display: flex
  align-items: center
  justify-content: space-between
  +text-block(.875rem 1.5, 600)
  +media-breakpoint-down(sm)
    flex-direction: column
    align-items: flex-start

.thread-list-item-title__icon
  +text-block(.75rem, inline-flex $semi-muted-text nowrap 400)
  margin-top: .25rem
  +padding(horizontal, .5rem)
  height: 1.125rem
  margin-right: .5rem
  border-radius: .75rem
  align-items: center
  justify-content: center
  +media-breakpoint-down(sm)
    float: left
  &.is-wip
    background-color: #e9ebef
  &.is-unread
    background-color: $danger
    color: $reversal-text
    font-size: .625rem
  &.is-closing
    background-color: $danger
    color: $reversal-text

.thread-list-item-title__start
  +media-breakpoint-up(md)
    display: flex
    align-items: center
    flex: 1
  +media-breakpoint-down(sm)
    width: 100%

.thread-list-item-title__title
  +text-block(.875rem 1.5, 600)
  width: 100%
  flex-basis: 100%

.thread-list-item-title__link
  color: $side
  display: block
  word-break: break-all
  +hover-link-reversal
  .thread-list-item.is-wip &,
  .thread-list-item.is-read &
    color: $muted-text
