$thread-header-author: 4.75rem
.thread-comment-form
  +media-breakpoint-up(md)
    +position(relative)
    padding-left: $thread-header-author
  .card-footer
    border-top: none

.thread-comment-form__author
  +position(absolute, left 0, top 0)
  +size($thread-header-author 100%)
  padding-right: 2rem
  border-right: $background solid 1px

.thread-comment-form__author-icon
  +size(100% auto)
  border-radius: 50%

.thread-comment-form__form
  +position(relative)
  // +balloon-tail(left $base .75rem 1rem, false, top 1.5rem)
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none

.thread-comment-form__tabs
  display: flex
  background-color: #bec0c1
  margin: -1px -1px 1rem
  padding: .75rem 1rem 0
  +border-radius(top, .25rem)
  +media-breakpoint-down(sm)
    +padding(horizontal, .75rem)

.thread-comment-form__tab
  +size(5.5rem 2.25rem)
  +text-block(.8125rem 1, flex $reversal-text)
  align-items: center
  justify-content: center
  border-bottom: none
  cursor: pointer
  +border-radius(top, .25rem)
  &.is-active
    background-color: $base
    color: $default-text

.thread-comment-form__markdown-parent
  +padding(horizontal, 1rem)
  +media-breakpoint-down(sm)
    +padding(horizontal, .75rem)

.thread-comment-form__markdown
  display: none
  &.is-active
    display: block

.thread-comment-form__textarea
  min-height: 9rem
  overflow: hidden

.thread-comment-form__preview
  background-color: $base
  +text-block(.875rem 1.8)
  border-radius: .25rem
  min-height: 6rem
