html.is-lp
  font-family: $sans-serif
  color: var(--default-text)

body.is-lp
  background-color: var(--background)

.not-logged-in-footer
  color: var(--default-text)

.not-logged-in-footer__nav-item-link
  color: var(--default-text)

.not-logged-in-footer-copyright
  color: var(--default-text)

.card-body__inner-title
  +text-block(1.5rem 1.5, 700)
  padding-bottom: .25rem
  color: var(--main)
  border-bottom: solid 1px var(--border)

.welcome-practices
  margin-top: 1.25rem
  display: flex
  flex-wrap: wrap
  +media-breakpoint-up(md)
    gap: .75rem .5rem
  +media-breakpoint-down(sm)
    flex-direction: column

.welcome-practices__item
  line-height: 1.6
  +media-breakpoint-up(md)
    font-size: .875rem
    &:not(:last-child)::after
      content: '、'
  +media-breakpoint-down(sm)
    font-size: .8125rem
    padding-block: .5rem
    .welcome-practices__item + &
      border-top: solid 1px var(--border-tint)
    &:first-child
      padding-top: 0
    &:last-child
      padding-bottom: 0

.faqs-item__header
  padding-bottom: .5rem
  border-bottom: solid 1px var(--border)

.faqs-item__body
  margin-top: 1.5rem

.faqs-item__title
  +text-block(1.25rem 1.6, 700)
  color: var(--main)
