html.is-lp
  font-family: var(--sans-serif)
  color: var(--default-text)

:root
  --people-bg-image: url("~assets/images/background/people.png")

body.is-lp
  background-color: var(--background)

.not-logged-in-footer
  color: var(--default-text)

.not-logged-in-footer__nav-item-link
  color: var(--default-text)

.not-logged-in-footer-copyright
  color: var(--default-text)

.card-body__inner-title
  font-size: 1.5rem
  line-height: 1.5
  font-weight: 700
  padding-bottom: .25rem
  color: var(--main)
  border-bottom: solid 1px var(--border)

.welcome-practices
  margin-top: 1.25rem
  display: flex
  flex-wrap: wrap
  gap: .75rem .5rem
  flex-direction: column

.welcome-practices__item
  line-height: 1.6
  font-size: .8125rem
  padding-block: .5rem
  .welcome-practices__item + &
    border-top: solid 1px var(--border-tint)
  &:first-child
    padding-top: 0
  &:last-child
    padding-bottom: 0

@media (min-width: 48em)
  .welcome-practices
    flex-direction: row
  .welcome-practices__item
    font-size: .875rem
    padding-block: 0
    border-top: none !important
    &:not(:last-child)::after
      content: '、'

.faqs-item__header
  padding-bottom: .5rem
  border-bottom: solid 1px var(--border)

.faqs-item__body
  margin-top: 1.5rem

.faqs-item__title
  font-size: 1.25rem
  line-height: 1.6
  font-weight: 700
  color: var(--main)
