.tags-highlight {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem 0.75rem;
  display: flex;
  gap: 0.25rem;
  width: 100%;
  flex-wrap: wrap;
}

.tags-highlight__item {
  width: 25%;
  max-width: 6rem;
}
.tags-highlight__item .a-badge {
  border: solid 1px var(--base);
}
