@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.articles__header
  background-color: var(--base)

.articles__header-inner
  display: flex
  align-items: center
  +break-points.media-breakpoint-up(md)
    height: 3.5rem
  +break-points.media-breakpoint-down(sm)
    height: 3rem

.articles__title
  font-weight: 700
  +break-points.media-breakpoint-up(md)
    +text.text-block(1.25rem 1.4)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1rem 1.4)

.articles__body
  +break-points.media-breakpoint-up(md)
    padding-block: 2rem
  +break-points.media-breakpoint-down(sm)
    padding-block: 1.5rem
