.articles__header
  background-color: var(--base)

.articles__header-inner
  display: flex
  align-items: center
  height: 3rem
  @media (min-width: 48em)
    height: 3.5rem

.articles__title
  font-weight: 700
  font-size: 1rem
  line-height: 1.4
  @media (min-width: 48em)
    font-size: 1.25rem

.articles__body
  padding-block: 1.5rem
  @media (min-width: 48em)
    padding-block: 2rem
