.company-links__items
  display: flex
  justify-content: center
  +margin(horizontal, -.125rem)
  flex-wrap: wrap
  margin-bottom: -.25rem

.company-links__item
  +padding(horizontal, .125rem)
  margin-bottom: .25rem
  +media-breakpoint-up(xxl)
    flex: 0 0 33.33%
  +media-breakpoint-down(xl)
    flex: 0 0 50%
