.company-links__items
  display: flex
  justify-content: center
  gap: .25rem
  flex-wrap: wrap

.company-links__item
  +media-breakpoint-up(xxl)
    flex: 0 0 33.33%
  +media-breakpoint-down(xl)
    flex: 0 0 50%
