@use "colors"
@use "fonts"
@use "layout"

\:root
  /////////////////////
  // Colors
  /////////////////////

  --main: #{colors.$main}
  --accent: #{colors.$accent}
  --base: #{colors.$base}

  // completion
  --completion: #{colors.$completion}
  --completion-dark: #{colors.$completion-dark}

  // background
  --background-shade: #{colors.$background-shade}
  --background-semi-shade: #{colors.$background-semi-shade}
  --background: #{colors.$background}
  --background-tint: #{colors.$background-tint}
  --background-more-tint: #{colors.$background-more-tint}

  // nikoniko
  --positive-background: #{colors.$positive-background}
  --negative-background: #{colors.$negative-background}
  --neutral-background: #{colors.$neutral-background}

  // ranking
  --gold: #{colors.$gold}
  --silver: #{colors.$silver}
  --bronze: #{colors.$bronze}

  // text
  --default-text: #{colors.$default-text}
  --reversal-text: #{colors.$reversal-text}
  --muted-text: #{colors.$muted-text}
  --semi-muted-text: #{colors.$semi-muted-text}
  --link-text: #{colors.$link-text}
  --hover-text: #{colors.$hover-text}
  --transparent-text: rgba(0, 0, 0, 0)

  // placeholder
  --placeholder: #{colors.$placeholder}
  --placeholder-text: #{colors.$placeholder-text}

  // border
  --border: #{colors.$border}
  --border-tint: #{colors.$border-tint}
  --border-shade: #{colors.$border-shade}
  --border-more-shade: #{colors.$border-more-shade}

  // Welcome Colors
  --welcome-blue: #{colors.$welcome-blue}
  --welcome-light-blue: #{colors.$welcome-light-blue}
  --welcome-yellow: #{colors.$welcome-yellow}
  --welcome-orange: #{colors.$welcome-orange}
  --welcome-pink: #{colors.$welcome-pink}

  // UI colors
  --primary: #{colors.$primary}
  --secondary: #{colors.$secondary}
  --success: #{colors.$success}
  --info: #{colors.$info}
  --warning: #{colors.$warning}
  --danger: #{colors.$danger}
  --disabled: #{colors.$disabled}
  --stamp-color: #{colors.$stamp-color}

  --danger-text: #{colors.$danger-text}
  --danger-tint: #{colors.$danger-tint}

  --success-text: #{colors.$success-text}
  --success-tint: #{colors.$success-tint}

  --info-text: #{colors.$info-text}
  --info-tint: #{colors.$info-tint}

  --primary-text: #{colors.$primary-text}
  --primary-tint: #{colors.$primary-tint}
  --primary-semi-tint: #{colors.$primary-semi-tint}
  --primary-background: #{colors.$primary-background}

  --warning-text: #{colors.$warning-text}
  --warning-tint: #{colors.$warning-tint}

  --main-text: #{colors.$main-text}
  --main-tint: #{colors.$main-tint}
  --main-shade: #{colors.$main-shade}
  --main-semi-shade: #{colors.$main-semi-shade}

  // lp-bg
  --lp-bg-3: #{colors.$lp-bg-3}
  --lp-bg-2: var(--primary-background)
  --lp-bg-1: var(--background)

  // reply
  --reply-warning-background: #{colors.$reply-warning-background}
  --reply-warning-border: #{colors.$reply-warning-border}

  --reply-alert-background: #{colors.$reply-alert-background}
  --reply-alert-border: #{colors.$reply-alert-border}

  --reply-deadline-background: #{colors.$reply-deadline-background}
  --reply-deadline-border: #{colors.$reply-deadline-border}

  // input
  --input-border: #{colors.$input-border}
  --input-background: #{colors.$input-background}

  --input-hover-border: #{colors.$input-hover-border}
  --input-hover-background: #{colors.$input-hover-background}

  --input-selected-background: #{colors.$input-selected-background}
  --input-selected-border: #{colors.$input-selected-border}
  --input-selected-text: #{colors.$input-selected-text}

  --input-focus-background: #{colors.$input-focus-background}
  --input-focus-border: #{colors.$input-focus-border}
  --input-focus-shadow: #{colors.$input-focus-shadow}

  /////////////////////
  // Layout
  /////////////////////

  --header-height__md-up: #{layout.$header-height__md-up}
  --header-height__sm-down: #{layout.$header-height__sm-down}

  --global-nav-width: #{layout.$global-nav-width}
  --global-nav-width-sm: #{layout.$global-nav-width-sm}

  --thread-header-author: #{layout.$thread-header-author}

  --side-nav-width: #{layout.$side-nav-width}

  /////////////////////
  // Fonts
  /////////////////////

  --sans-serif: #{fonts.$sans-serif}
  --monospace: #{fonts.$monospace}
