\:root
  /////////////////////
  // Colors
  /////////////////////

  --main: #{$main}
  --accent: #{$accent}
  --base: #{$base}

  // completion
  --completion: #{$completion}
  --completion-dark: #{$completion-dark}

  // background
  --background-shade: #{$background-shade}
  --background-semi-shade: #{$background-semi-shade}
  --background: #{$background}
  --background-tint: #{$background-tint}
  --background-more-tint: #{$background-more-tint}

  // nikoniko
  --positive-background: #{$positive-background}
  --negative-background: #{$negative-background}
  --neutral-background: #{$neutral-background}

  // ranking
  --gold: #{$gold}
  --silver: #{$silver}
  --bronze: #{$bronze}

  // text
  --default-text: #{$default-text}
  --reversal-text: #{$reversal-text}
  --muted-text: #{$muted-text}
  --semi-muted-text: #{$semi-muted-text}
  --link-text: #{$link-text}
  --hover-text: #{$hover-text}
  --transparent-text: rgba(0, 0, 0, 0)

  // placeholder
  --placeholder: #{$placeholder}
  --placeholder-text: #{$placeholder-text}

  // border
  --border: #{$border}
  --border-tint: #{$border-tint}
  --border-shade: #{$border-shade}
  --border-more-shade: #{$border-more-shade}

  // Welcome Colors
  --welcome-blue: #{$welcome-blue}
  --welcome-light-blue: #{$welcome-light-blue}
  --welcome-yellow: #{$welcome-yellow}
  --welcome-orange: #{$welcome-orange}
  --welcome-pink: #{$welcome-pink}

  // UI colors
  --primary: #{$primary}
  --secondary: #{$secondary}
  --success: #{$success}
  --info: #{$info}
  --warning: #{$warning}
  --danger: #{$danger}
  --disabled: #{$disabled}
  --stamp-color: #{$stamp-color}

  --danger-text: #{$danger-text}
  --danger-tint: #{$danger-tint}

  --success-text: #{$success-text}
  --success-tint: #{$success-tint}

  --info-text: #{$info-text}
  --info-tint: #{$info-tint}

  --primary-text: #{$primary-text}
  --primary-tint: #{$primary-tint}
  --primary-semi-tint: #{$primary-semi-tint}
  --primary-background: #{$primary-background}

  --warning-text: #{$warning-text}
  --warning-tint: #{$warning-tint}

  --main-text: #{$main-text}
  --main-tint: #{$main-tint}
  --main-shade: #{$main-shade}
  --main-semi-shade: #{$main-semi-shade}

  // lp-bg
  --lp-bg-3: #{$lp-bg-3}
  --lp-bg-2: var(--primary-background)
  --lp-bg-1: var(--background)

  // reply
  --reply-warning-background: #{$reply-warning-background}
  --reply-warning-border: #{$reply-warning-border}

  --reply-alert-background: #{$reply-alert-background}
  --reply-alert-border: #{$reply-alert-border}

  --reply-deadline-background: #{$reply-deadline-background}
  --reply-deadline-border: #{$reply-deadline-border}

  // input
  --input-border: #{$input-border}
  --input-background: #{$input-background}

  --input-hover-border: #{$input-hover-border}
  --input-hover-background: #{$input-hover-background}

  --input-selected-background: #{$input-selected-background}
  --input-selected-border: #{$input-selected-border}
  --input-selected-text: #{$input-selected-text}

  --input-focus-background: #{$input-focus-background}
  --input-focus-border: #{$input-focus-border}
  --input-focus-shadow: #{$input-focus-shadow}

  /////////////////////
  // Layout
  /////////////////////

  --header-height__md-up: #{$header-height__md-up}
  --header-height__sm-down: #{$header-height__sm-down}

  --global-nav-width: #{$global-nav-width}
  --global-nav-width-sm: #{$global-nav-width-sm}

  --thread-header-author: #{$thread-header-author}

  --side-nav-width: #{$side-nav-width}

  /////////////////////
  // Fonts
  /////////////////////

  --sans-serif: #{$sans-serif}
  --monospace: #{$monospace}
