.header-dropdown {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0);
  width: 0;
  cursor: pointer;
  transition: background-color 0.4s ease-in;
  overflow: hidden;
  display: block;
}
input:checked + .header-dropdown, .is-opened-dropdown .header-dropdown {
  opacity: 1;
  width: 100%;
}

@media (max-width: 47.9375em) {
  .header-dropdown__inner {
    overflow-y: auto;
    background-color: var(--main);
    position: fixed;
    top: 0;
    bottom: 0;
    right: auto;
    z-index: 1;
    transition: left 0.2s ease-out;
    width: var(--global-nav-width-sm);
    left: calc(var(--global-nav-width-sm) * -1);
  }
  input:checked + .header-dropdown .header-dropdown__inner, .is-opened-dropdown .header-dropdown__inner {
    left: 0;
  }
}

.header-dropdown__inner.is-notification {
  left: 0;
}

@media (max-width: 47.9375em) {
  .header-dropdown__inner.is-notification .pill-nav__item-link {
    border-color: var(--base);
    color: var(--reversal-text);
    width: 100%;
  }
}

.header-dropdown__inner.is-notification .o-empty-message {
  opacity: 0.7;
  color: var(--reversal-text);
}

.header-dropdown__header {
  padding: 1rem;
  border-bottom: solid 1px var(--main-semi-shade);
}

.header-dropdown__label {
  font-size: 0.625rem;
  line-height: 1.4;
  font-weight: 700;
  padding: 0.25rem 0.75rem;
  color: var(--reversal-text);
  background-color: var(--main-semi-shade);
}

.header-dropdown__inner.is-notification .header-dropdown__items {
  overflow-y: auto;
  max-height: calc(100vh - 134px);
  margin-bottom: -1px;
}

.header-dropdown__item-link {
  font-size: 0.875rem;
  line-height: 1.4;
  display: flex;
  text-decoration: none;
  padding: 0.75rem;
  transition: all 0.2s ease-out;
  color: var(--reversal-text);
  border-bottom: solid 1px var(--main-semi-shade);
}
.header-dropdown__item-link:hover {
  background-color: var(--main-shade);
}

.header-dropdown__footer {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow: hidden;
  border-top: solid 1px var(--main-semi-shade);
}

.header-dropdown__footer-link {
  font-size: 0.875rem;
  line-height: 1.4;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.75rem;
  transition: all 0.2s ease-out;
  color: var(--reversal-text);
}
.header-dropdown__footer-link:hover {
  background-color: var(--main-shade);
}
.header-dropdown__footer-link {
  border-bottom: solid 1px var(--main-semi-shade);
}

.header-dropdown__background {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 0;
  display: inline;
  opacity: 0;
}
input:checked + .header-dropdown .header-dropdown__background {
  opacity: 1;
  width: 100%;
  display: block;
}
.header-dropdown__background.is-notification {
  opacity: 1;
  width: 100%;
}

.header-dropdown__page-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.header-dropdown__page-link {
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration: none;
  cursor: pointer;
}
.header-dropdown__page-link:hover, .header-dropdown__page-link:active {
  text-decoration: underline;
}
.header-dropdown__page-link {
  transition: all 0.2s ease-out;
  color: var(--reversal-text);
}

@media (min-width: 48em) {
  .header-dropdown {
    display: none;
    position: static;
    width: auto;
    background-color: transparent;
    overflow: visible;
  }
  input:checked + .header-dropdown, .is-opened-dropdown .header-dropdown {
    display: block;
  }
  .header-dropdown__inner {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
    background-color: var(--base);
    border: solid 1px var(--border-shade);
    width: 14rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.375rem;
    border-radius: 0.25rem;
    max-height: calc(100vh - 6rem);
    left: auto;
    overflow: auto;
  }
  .header-dropdown__inner.is-notification {
    width: 15rem;
  }
  .header-dropdown__inner.is-notification {
    left: auto;
    background-color: var(--base);
  }
  .header-dropdown__inner.is-notification .o-empty-message {
    color: var(--muted-text);
    opacity: 1;
  }
  .header-dropdown__header {
    border-bottom: solid 1px var(--border-tint);
  }
  .header-dropdown__label {
    color: var(--default-text);
    background-color: var(--background-semi-shade);
  }
  .header-dropdown__inner.is-notification .header-dropdown__items {
    max-height: calc(100vh - 16rem);
    margin-bottom: 0;
  }
  .header-dropdown__item-link {
    color: var(--default-text);
    border-bottom: none;
  }
  .header-dropdown__item:not(:last-child) .header-dropdown__item-link {
    border-bottom: solid 1px var(--border-tint);
  }
  .header-dropdown__item-link:hover {
    background-color: var(--primary-tint);
  }
  .header-dropdown__footer {
    border-top: solid 1px var(--border-tint);
  }
  .header-dropdown__footer-link {
    color: var(--main-text);
    border-bottom: none;
  }
  .header-dropdown__footer-link:not(:last-child) {
    border-bottom: solid 1px var(--border-tint);
  }
  .header-dropdown__footer-link:hover {
    background-color: var(--background-more-tint);
  }
  .header-dropdown__background {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

@media (max-width: 47.9375em) {
  .header-dropdown__inner.is-notification .pill-nav__item-link {
      border-color: var(--base);
      color: var(--reversal-text);
  }
}


@media (max-width: 47.9375em) {
  .header-dropdown__inner.is-notification .pill-nav__item-link.is-active {
    background-color: var(--base);
    color: var(--main);
  }
}

/*
.header-dropdown__inner.is-notification .pill-nav__item-link.is-active {
  background-color: var(--base);
  color: var(--main);
}
.header-dropdown__inner.is-notification .pill-nav__item-link {
  border-color: var(--border);
  color: var(--default-text);
}

*/
