
.header-notification-count {
  position: absolute;
}

@media (min-width: 48em) {
  .header-notification-count {
    right: .25rem;
    top: .25rem;
  }
}

@media (max-width: 47.9375em) {
  .header-notification-count {
    right: .125rem;
    top: .125rem;
  }
}

.header-notification-count.is-loading.a-notification-count {
  background-color: transparent;
}

.header-notification-count.is-loading::before {
  content: ' .';
  color: var(--default-text);
  animation: dots 1s steps(5, end) infinite;
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  left: .25rem;
  bottom: .25rem;
}

@keyframes dots {
  0%, 20% {
    color: var(--transparent-text);
    text-shadow: .25em 0 0 var(--transparent-text), .5em 0 0 var(--transparent-text);
  }
  40% {
    color: var(--default-text);
    text-shadow: .25em 0 0 var(--transparent-text), .5em 0 0 var(--transparent-text);
  }
  60% {
    text-shadow: .25em 0 0 var(--default-text), .5em 0 0 var(--transparent-text);
  }
  80%, 100% {
    text-shadow: .25em 0 0 var(--default-text), .5em 0 0 var(--default-text);
  }
}

.header-notifications-item__body {
  width: 100%;
}

@media (min-width: 48em) {
  .header-notifications-item__body {
    color: var(--default-text);
  }
}

@media (max-width: 47.9375em) {
  .header-notifications-item__body {
    color: var(--reversal-text);
  }
}

.header-notifications-item__user-icon {
  float: left;
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
  margin-bottom: .25rem;
}

.header-notifications-item__message p {
  line-height: 1.45;
  margin-bottom: .375em;
}

@media (min-width: 48em) {
  .header-notifications-item__message p {
    font-size: .8125rem;
  }
}

@media (max-width: 47.9375em) {
  .header-notifications-item__message p {
    font-size: .75rem;
  }
}

.header-notifications-item__created-at {
  text-align: right;
  display: block;
}

@media (min-width: 48em) {
  .header-notifications-item__created-at {
    font-size: .75rem;
  }
}

@media (max-width: 47.9375em) {
  .header-notifications-item__created-at {
    font-size: .625rem;
  }
}
