<p><%= user.name %>さん、はじめまして。</p>
<p>
  フィヨルドブートキャンプの駒形と申します。<br>
  フィヨルドブートキャンプにお申し込みありがとうございます。
</p>
<p>下のリンクをクリックし、申込時に設定したユーザー名、パスワードを使ってフィヨルドブートキャンプにログインしてください。</p>
<p>左のナビゲーションにある「プラクティス」のページへ行き、上から順番にプラクティス（フィヨルドブートキャンプでは、課題をプラクティスと呼んでいます）を進めていってください。</p>
<p>「プラクティス」の途中にチャットルームに入る、というものがあり、それ以降はチャットにて質問をお願いしますが、その前で何か質問がありましたら、<%= link_to "komagata@fjord.jp", "mailto:komagata@fjord.jp" %> までメールにてご質問ください。</p>
<p>まずはSlackチャットに入って一緒に勉強するみんなに自己紹介するのと初めての日報を書くのがスタート地点になっています。まずはそこを目指して頑張ってみてください。</p>
