p #{@user.full_name}さん

p ご応募ありがとうございます。フィヨルドブートキャンプの駒形と申します。

p これから私が#{@user.full_name}さんのメンターになりプログラマーになれるようにがんばってサポートしますのでわからないことがあればチャットや#{link_to "メール", "mailto:komagata@gmail.com"}で気軽に聞いてくださいね。

p 課題（プラクティスと呼んでいます）を順番にこなしていくことでプログラミングが学べるようになっています。

p 最初のプラクティスから順番にやっていってくださいね。

p = link_to "最初のプラクティス", "https://bootcamp.fjord.jp/practices/138"

p それではよろしくおねがいします。
