.thread-list-item-tags
  font-size: .75rem
  display: flex
  line-height: 1.4

.thread-list-item-tags__label
  display: block
  font-weight: 600
  color: $muted-text
  margin-right: .25rem

.thread-list-item-tags__items
  display: flex
  flex-wrap: wrap
  gap: .5em

.thread-list-item-tags__item-link
  +hover-link
  color: $muted-text
  transition: all .2s ease-out
  &:hover
    color: $primary
