.form
  +margin(horizontal, auto)
  .a-card + &
    margin-top: 1.25rem
  .form + &
    margin-top: 1rem
    border-top: dashed 1px $border
    padding-top: 1rem

.form__items
  .form__items + &
    margin-top: 1.75rem

.form__items-title
  +text-block(.875rem 1.4 0 1em, 600 $reversal-text)
  background-color: $main
  padding: .625rem 1rem
  border-radius: .25rem

.form__items
  >.a-form-label
    margin-bottom: .875rem

.form__items-inner
  width: 42.5rem
  max-width: 100%
