.form-actions
  margin-top: 1.5rem
  +media-breakpoint-down(sm)
    margin-top: 1rem
  &.is-report
    +media-breakpoint-up(md)
      padding-bottom: 1.5rem
  .form-actions + &
    border-top: dashed 1px $border
    +media-breakpoint-up(md)
      margin-top: 1rem
      padding-top: 1rem
    +media-breakpoint-down(sm)
      padding-top: 1rem

.form-actions__items
  +media-breakpoint-up(md)
    display: flex
    align-items: flex-end
    justify-content: center
    flex-wrap: wrap
    &.is-ais-flex-start
      align-items: flex-start
  +media-breakpoint-down(sm)
    flex-direction: column

.form-actions__item
  +padding(horizontal, .375rem)
  +position(relative)
  &.is-sub
    +media-breakpoint-up(md)
      flex: 0 0 auto
  &.is-help
    +media-breakpoint-down(sm)
      margin-bottom: 1rem
  &.is-main
    +media-breakpoint-up(md)
      min-width: 20rem
      .auth-form__body &
        min-width: 50%
    +media-breakpoint-down(sm)
      width: 100%
  &.has-help
    +media-breakpoint-up(md)
      position: relative
      padding-bottom: 1.5rem
  +media-breakpoint-down(sm)
    width: 100%
    +padding(horizontal, 0)
    &:nth-child(2),
    &:nth-child(3)
      margin-top: .75rem
    > *
      width: 100%

.form-actions__item-help
  +text-block(.8125rem 1, center)
  padding-top: .5rem
  .a-form-help-link
    margin-left: .5em
  +media-breakpoint-up(md)
    +position(absolute, left 0, bottom 0, right 0)

.form-actions__item-checkbox
  margin-bottom: .5rem

.form-actions__description
  margin-top: 1em
  font-size: .8125rem
  text-align: center
