.form-item__radio-buttons
  margin-top: .5rem
  &.is-half
    margin-bottom: -.5rem
    display: flex
    flex-wrap: wrap
    +margin(horizontal, -.5rem)
  &.is-inline
    margin-bottom: -.5rem
    display: flex
    flex-wrap: wrap
    +margin(horizontal, -.5rem)

.form-radio-button
  .form-item__radio-buttons.is-half &
    flex: 0 0 50%
    max-width: 50%
    +padding(horizontal, .5rem)
    +media-breakpoint-down(sm)
      flex: 100%
      max-width: 100%
  .form-item__radio-buttons.is-inline &
    +padding(horizontal, .5rem)
  .is-3-items &
    +media-breakpoint-down(sm)
      width: 33.33%

.form-label__emotion-image
  +size(1.25em)

.form-radio-button__label-name
  +text-block(.75rem 1.4, block center)

.form-radio-button__label
  +text-block(.8125rem 1.45 0 .5rem, block center)
  border: solid 1px #c1c5b9
  padding: .5rem 1.25rem .5rem 2rem
  cursor: pointer
  border-radius: .25rem
  transition: all .2s ease-in
  +position(relative)
  &.is-lg
    font-size: 1.5rem
  .form-item__radio-buttons.is-half &
    margin-bottom: .5rem
  &::before
    content: ''
    display: block
    +size(.875rem)
    border: solid 1px #bbbbbb
    border-radius: 50%
    +position(absolute, left .75rem, top 50%)
    margin-top: -.4375rem
    box-shadow: rgba(black, .1) 0 1px 2px inset
    background-color: $base
  &.is-checked,
  input:checked + &
    background-color: $warning-shade
    border-color: $warning
    font-weight: 600
    &::after
      content: ''
      display: block
      +size(.375rem)
      border-radius: 50%
      +position(absolute, left 1rem, top 50%)
      margin-top: -.1875rem
      box-shadow: rgba(black, .1) 0 1px 2px
      background-color: #4193e9
  input
    opacity: 0
    +position(absolute)
