.form
  max-width: 87.5rem
  +margin(horizontal, auto)

.form__items
  max-width: 82rem
  +margin(horizontal, auto)

.form-item
  margin-bottom: 1.75rem
  &:last-child
    margin-bottom: 0
  &.is-hidden
    display: none
