.form
  max-width: 87.5rem
  +margin(horizontal, auto)

.form__items
  max-width: 82rem
  +margin(horizontal, auto)
  .form__items + &
    margin-top: 1.75rem

.form__items-title
  +text-block(.875rem 1.4 0 1em, 600 $reversal-text)
  background-color: $main
  padding: .625rem 1rem
  border-radius: .25rem

.form__items-inner
  width: 42.5rem
  max-width: 100%

.form-item
  &:not(:last-child)
    margin-bottom: 1.75rem
  &.is-hidden
    display: none
  &.is-sm
    width: 30rem
    max-width: 100%

.form-item__add-times
  margin-top: 1rem
  +media-breakpoint-down(sm)
    margin-top: -.25rem

.form-item__times + .form-item__times
  margin-top: 1rem

.form-item__times-inner
  +media-breakpoint-up(md)
    display: flex
    align-items: flex-end

.form-item__times-items
  display: flex

.form-item__time
  display: flex
  flex-direction: column
  margin-right: 1rem
  +media-breakpoint-down(sm)
    margin-right: 0
    flex-basis: 50%

.form-item__time-label
  +text-block(.75rem 1.4 0 .5rem, block)

.form-item__times-action
  +media-breakpoint-down(sm)
    margin-top: .75rem
    display: flex
    justify-content: flex-end

.form-item__times-action
  #tasks .form-item:first-child &
    display: none

.form-item__remember-me
  +text-block(.875rem)
  cursor: pointer

.form-item__remember-me-input
  margin-right: .25rem

.form-item__pp
  p
    +text-block(.8125rem 1.8 0 1em)
  h2
    +text-block(.8125rem 1.8 0 .4em 600)
  ul
    margin-bottom: 1em
    list-style: disc outside
    margin-left: 1.5rem
  li
    +text-block(.8125rem 1.8 0 .4em)
  *:last-child
    margin-bottom: 0

.form-item__mention-input
  position: relative
  &::before
    content: '@'
    +text-block(1rem 1, flex)
    align-items: center
    justify-content: center
    +size(2rem 100%)
    +position(absolute, left 0, top 0)
    background-color: $background
    +border-radius(left, .25rem)
    border: solid 1px #c1c5b9
  input
    padding-left: 2.5rem
