.form-item-group
  .form-item-group + &
    margin-top: .75rem
    border-top: dashed 1px $border
    padding-top: .75rem

.form-item-group__body
  .form-item-group__header + &
    margin-top: .25rem

.form-item-group__title
  +text-block(.875rem 1.4, 700)

.form-item-group__help
  margin-top: .5rem
