.form-notice
  max-width: 34rem
  +margin(horizontal, auto)
  border: solid $success 2px
  padding: 1rem
  background-color: rgba(white, .4)
  font-size: .875rem
  +short-text-style
  margin-bottom: 2rem
  +media-breakpoint-up(md)
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
    +margin(horizontal, 1rem)
