.form-item__radios
  margin-top: .5rem
  display: flex
  flex-wrap: wrap
  gap: .5rem

.form-radio
  .form-item__radios.is-half &
    flex: 0 0 calc((100% - .5rem) / 2)
    max-width: calc((100% - .5rem) / 2)
    +media-breakpoint-down(sm)
      flex: 0 0 100%
      max-width: 100%
  .form-item__radios.is-3-items &
    width: calc((100% - 1rem) / 3)

.form-label__emotion-image
  +size(1.25em)

.form-radio__label-name
  +text-block(.75rem 1.4, block center)

.form-radio__label
  height: 100%
  +text-block(.8125rem 1.45, flex center)
  align-items: center
  justify-content: center
  border: solid 1px #c1c5b9
  padding: .5rem 1.25rem .5rem 2rem
  cursor: pointer
  border-radius: .25rem
  transition: all .2s ease-in
  +position(relative)
  &.is-lg
    font-size: 1.5rem
    flex-direction: column
  &::before
    content: ''
    display: block
    +size(.875rem)
    border: solid 1px #bbbbbb
    border-radius: 50%
    +position(absolute, left .75rem, top 50%)
    margin-top: -.4375rem
    box-shadow: rgba(black, .1) 0 1px 2px inset
    background-color: $base
  input:checked + &
    background-color: $warning-shade
    border-color: $warning
    font-weight: 600
    &::after
      content: ''
      display: block
      +size(.375rem)
      border-radius: 50%
      +position(absolute, left 1rem, top 50%)
      margin-top: -.1875rem
      box-shadow: rgba(black, .1) 0 1px 2px
      background-color: #4193e9
