.form-notice
  background-color: #f8fff2
  border: solid $success 2px
  max-width: 100%
  width: 34rem
  +margin(horizontal, auto)
  padding: .75rem
  margin-top: 1em
  +short-text-style
  font-size: .8125rem
  +media-breakpoint-up(md)
    margin-bottom: 2rem
  +media-breakpoint-down(sm)
    margin-bottom: 1.5rem
