.form-item__times
  display: flex
  align-items: flex-end
  +media-breakpoint-down(sm)
    display: block

.form-selects
  display: flex

.form-selects__item
  display: flex
  align-items: center
  &:first-child
    &::after
      content: ":"
      display: block
      +padding(horizontal, .5rem)
      +media-breakpoint-down(sm)
        +padding(horizontal, .375rem)
