.a-button
  +button-base

  // color
  &.is-primary
    +button-color($primary)
  &.is-secondary
    +button-color($secondary)
  &.is-info
    +button-color($info)
  &.is-success
    +button-color($success)
  &.is-warning
    +button-color($warning)
  &.is-danger
    +button-color($danger)
  &.is-disabled
    +button-color($disabled)
  &.is-main
    +button-color($main)
  &.is-muted
    border: none
    color: $muted-text
    font-weight: 400
    background-color: $background

  &.is-sm-text
    span
      font-size: .875em
  &.is-lg-icon
    i
      font-size: 1.5em
  &.is-text
    background: none
    border: none
    +hover-link-reversal
    +default-link
    height: auto !important
    padding: 0 !important

  //size
  &.is-xs,
  &.is-xs input[type="submit"]
    +button-size(.75rem, 1, 1.7rem)
    font-weight: 600
  &.is-sm,
  &.is-sm input[type="submit"]
    +button-size(.75rem, 1.25, 1.875rem)
    font-weight: 600
  &.is-md,
  &.is-md input[type="submit"]
    +button-size(.8125rem, 1.5, 2.375rem)
    font-weight: 600
  &.is-lg,
  &.is-lg input[type="submit"]
    +button-size(1rem, 1, 2.75rem)
    font-weight: 600
  &.is-xl,
  &.is-xl input[type="submit"]
    +button-size(1.25rem, 1, 57px)
    font-weight: 800
  &.is-submit-input
    padding: 0
    &.is-left-icon,
    &.is-right-icon
      +position(relative)
      i
        +text-block(1.125em, flex)
        align-items: center
        justify-content: center
        +position(absolute, top 0, bottom 0)
    &.is-left-icon
      i
        +position(left 0)
        margin-left: .45em
      input[type="submit"]
        padding-left: 2.25em
    &.is-right-icon
      +position(relative)
      i
        +position(right 0)
        margin-right: .45em
      input[type="submit"]
        padding-right: 2.25em

  //icon
  &.is-back
    +position(relative)
    +padding(horizontal, .75em 0)
    &::before
      +fa(fas '\f104')
      +position(absolute, left .75em, top 50%)
      transform: translate(0, -50%)

input[type="submit"],
input[type="reset"],
input[type="button"]
  &.a-button
    +input-button-base

.is-button-group
  display: flex
  .is-text-align-center &
    justify-content: center
  >*:not(:last-child)
    margin-right: -1px
  li:first-child
    .a-button
      +border-radius(right, 0)
  li:last-child
    .a-button
      +border-radius(left, 0)
  li:not(:first-child):not(:last-child)
    .a-button
      border-radius: 0

.is-inline-buttons
  display: flex
  +margin(horizontal, -.25rem)
  .is-text-align-center &
    justify-content: center
  >li
    +padding(horizontal, .25rem)

.a-welcome-button
  +size(auto 4rem)
  +text-block(1.125rem 1, flex 700 $welcome-default-text)
  max-width: 22rem
  margin: 0 auto
  background: $welcome-yellow
  align-items: center
  justify-content: center
  border: solid 4px $welcome-default-text
  border-radius: 8px
  cursor: pointer
  text-decoration: none
  transition: all .2s ease-out
  &:hover
    background-color: #fff98f
  &.is-md
    height: 3.25rem
  &.is-sm
    height: 2.75rem
    font-size: .9375rem
  &.is-signup
    background-color: $welcome-orange
