.a-count-badge
  +text-block(1.25rem 1, center)
  border: solid 1px $border-shade
  vertical-align: middle
  border-radius: .25rem
  overflow: hidden
  background-color: $base
  transition: all .2s ease-out
  +media-breakpoint-up(md)
    display: flex
    height: 1.75rem
  +media-breakpoint-down(sm)
    display: block
    min-width: 2.25em

a.a-count-badge
  text-decoration: none
  &:hover
    background-color: $background-more-tint

.a-count-badge__label
  font-size: .625rem
  color: $default-text
  +media-breakpoint-up(md)
    border-right: solid 1px $border-shade
    display: flex
    align-items: center
    justify-content: center
    width: auto
    +padding(horizontal, .5rem)
  +media-breakpoint-down(sm)
    border-bottom: solid 1px $border-shade
    +padding(vertical, .25rem)

.a-count-badge__value
  font-size: 1em
  font-weight: 700
  color: $danger
  transition: all .2s ease-out
  +media-breakpoint-up(md)
    min-width: 2rem
    display: flex
    align-items: center
    justify-content: center
    padding: .125em
  +media-breakpoint-down(sm)
    padding: .0625em .125em .1875em
    line-height: .9375
    height: 1.125em
  &.is-zero
    color: $muted-text
  &.is-counting
    color: $muted-text
    padding: 0
    i
      font-size: .75em
  .a-count-badge__value + &
    display: none
