.a-card
  border-radius: .25rem
  +margin(horizontal, auto)
  background-color: $base
  border: solid 1px $border-shade
  &.is-danger
    border-color: $danger
    color: $danger-text
    background-color: $danger-shade
  +media-breakpoint-down(lg)
    &:not(:last-child)
      margin-bottom: 1rem
  .a-card + &
    +media-breakpoint-up(xl)
      margin-top: 1.25rem
    +media-breakpoint-down(lg)
      margin-top: 1rem
  &.is-borderd
    border: solid 4px $default-text
  &.is-modal
    width: 42.5rem
    max-width: 100%
    +media-breakpoint-down(sm)
      +margin(horizontal, 1rem)
  &.is-toggle
    label
        cursor: pointer
    > input:not(:checked) + * + *
      display: none
    > input:not(:checked) + *
      border-bottom: none
    > input:checked + * + *
      display: block
    > input:not(:checked) + * .is-hidden-then-unchecked
      display: none
    > input:checked + * .is-hidden-then-checked
      display: none

.a-card__alert
  padding: .5rem 1.25rem
  background-color: $danger
  text-align: center
  +text-block(.875rem 1.4, $reversal-text)
  +border-radius(top, .25rem)
  a
    +hover-link-reversal
    color: $reversal-text
