.a-dropdown
  overflow: hidden
  background-color: $base
  border: solid 1px $border-shade
  box-shadow: rgba(black, .2) 0 0 .375rem
  border-radius: .25rem

.a-dropdown__item
  &:not(:last-child)
    border-bottom: solid 1px $border
