.a-form-help
  font-size: .75rem
  margin-top: .5em
  color: $semi-muted-text
  em
    font-style: normal
    font-weight: 600
  &.is-important
    border: dashed 1px $border-shade
    padding: 1em 1.25em
    border-radius: 4px
    color: $default-text
    h2
      +text-block(1.125em 1.4)
      margin-bottom: .25em
    [class*=is-select] + &
      margin-top: .75rem
    .a-horizontal-dashed
      +margin(vertical, 1em)
    .a-form-help-link
      display: inline-block
      margin-top: .25em
  &.is-danger
    color: $danger
  &.is-text-align-right
    text-align: right
  &.is-text-align-center
    text-align: center
  [class*=a-button] + &
    margin-top: 1em
  [class*=is-select] + &
    margin-top: .5em
  .form-item-block &
    margin-top: .75em
  p
    +text-block(1em 1.6 0 .75em)
  a
    +hover-link-reversal
  *:last-child
    margin-bottom: 0
  a
    +text-block(.75rem 1.6)
    +hover-link-reversal
    cursor: pointer
    +default-link
  ul
    list-style-type: disc
    list-style-position: outside
    margin-left: 1.5em
  li
    line-height: 1.6
    &:not(:first-child)
      margin-top: .125em

.a-form-help-link
  +text-block(.75rem 1.6)
  cursor: pointer
  +default-link
  .a-form-help &.is-danger
      color: $danger
  &.is-muted-text
      color: $muted-text

.a-form-help-link__label
  +hover-link-reversal
