.a-form-label
  +text-block(.875rem 1.5 0 .5rem, block 600)
  &.is-required
    &::after
      +fa(fas '\f069')
      +text-block(.625rem, $danger inline-block)
      margin-left: .125rem
      vertical-align: top
      transform: scale(.7)
  &.is-sm
    +text-block(.75rem 1.5)
