.a-form-tabs {
  display: flex;
  background-color: var(--background);
  border-bottom: solid 1px var(--border);
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem 0;
  border-radius: 0.1875rem 0.1875rem 0 0;
}

.a-form-tabs__tab {
  height: 2.5rem;
  width: 6.5rem;
  font-size: 0.8125rem;
  line-height: 1;
  display: flex;
  font-weight: 600;
  color: var(--muted-text);
  align-items: center;
  justify-content: center;
  border-bottom: none;
  cursor: pointer;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: solid 1px transparent;
  position: relative;
  bottom: -1px;
  transition: all 0.2s ease-out;
}
.a-form-tabs__tab:hover {
  color: var(--default-text);
}
.a-form-tabs__tab.is-active {
  background-color: var(--base);
  color: var(--main-text);
  border-color: var(--border);
  border-bottom-color: var(--base);
}

.micro-report-editor .a-form-tabs {
  padding: 0;
}
.micro-report-editor .a-markdown-input {
  padding-inline: 0;
}
.micro-report-editor .a-markdown-input__preview {
  background-color: transparent;
}
.micro-report-editor .a-form-tabs__tab.is-active {
  background-color: transparent;
  border-bottom-color: var(--background);
}
