.a-markdown-input {
  padding-inline: 1rem;
}
.card-body__description .a-markdown-input {
  padding-inline: 0;
}

.a-markdown-input__inner {
  display: none;
}
.a-markdown-input__inner.is-active {
  display: block;
}

.a-markdown-input__textare {
  min-height: 9rem;
  overflow: hidden;
}

.a-markdown-input__preview {
  background-color: var(--base);
  font-size: 0.875rem;
  line-height: 1.8;
  border-radius: 0.25rem;
  min-height: 10rem;
}
.a-markdown-input__preview.has-max-height {
  max-height: 70vh;
  overflow: auto;
}

@media (max-width: 47.9375em) {
  .a-markdown-input {
    padding-inline: 0.75rem;
  }
  .card-body__description .a-markdown-input {
    padding-inline: 0;
  }
}
