.a-meta
  +text-block(1em 1.4, $muted-text flex)
  flex-wrap: wrap
  +media-breakpoint-up(md)
    font-size: .8125rem
  +media-breakpoint-down(sm)
    font-size: .75rem
  .is-important
    color: $danger
    font-weight: 600
  .is-muted
    color: $muted-text
  .is-emphasized
    color: $default-text
    font-weight: 600
  +media-breakpoint-up(md)
    .a-meta + &
      margin-left: .25em
      &::before
        content: "（"
      &::after
        content: "）"

a.a-meta
  +hover-link
  color: $muted-text
  transition: all .2s ease-out
  &:hover
    color: $main-text
  &.is-disabled
    pointer-events: none

.a-meta__label
  &::after
    content: ":"
    display: inline-flex
    +margin(horizontal, .25em)
