.a-page-alert
  &:not(:last-child)
    margin-bottom: 1.25rem

.a-page-alert__inner
  border: solid 2px $danger
  padding: .5rem 1rem
  color: $danger
  background-color: $danger-shade
  border-radius: .25rem
  +media-breakpoint-up(md)
    text-align: center
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: .75rem
