.a-panels__items {
  display: grid;
  gap: 1rem;
}

.a-panels__item .a-card {
  width: 100%;
  height: 100%;
}

@media (min-width: 64em) {
  .a-panels__items {
    grid-template: repeat(auto-fill, minmax(10rem, 1fr))/repeat(auto-fill, minmax(20rem, 1fr));
  }
}
