@keyframes loadingNow
  0%
    opacity: .6
  100%
    opacity: 1

.a-placeholder
  $placeholder: rgba(black, .075)
  background-color: $placeholder
  animation: loadingNow .75s ease infinite alternate
  &.a-user-icon
    background-color: $placeholder
    display: block
  &.thread-header-metas
    height: 1.4em
    background-color: $placeholder
    width: 50%
  &.thread-header-title
    height: 1.5em
    width: 70%
  &.thread-list-item-title
    height: 1.5em
    width: 50%
  &.thread-list-item-meta__items
    height: 1.4em
    width: 70%
    +margin(horizontal, 0)
  &.a-button
    background-color: $placeholder
    border: none
  &.page-nav__item-link-inner
    height: 1.4em
    width: 100%
    background-color: $placeholder
    display: block
  &.practice-status.category-practices-item__status
    background-color: $placeholder
  &.categories-item__title
    height: 1.5em
    width: 50%
    background-color: $placeholder
  &.category-practices-item__title-link
    height: 1.5em
    width: 50%
    background-color: $placeholder
  &.is-long-text
    background-color: transparent
    p
      background-color: $placeholder
      height: 1.2em
      margin-bottom: 0
      &:not(:first-child)
        margin-top: .5em
      &:nth-child(1)
        width: 70%
      &:nth-child(2)
        width: 100%
      &:nth-child(3)
        width: 100%
      &:nth-child(4)
        width: 80%
      &:nth-child(5)
        width: 60%
      &:nth-child(6)
        width: 20%
      &:nth-child(7)
        width: 100%
      &:nth-child(8)
        width: 80%
      &:nth-child(9)
        width: 60%
      &:nth-child(10)
        width: 20%
      &:nth-child(11)
        width: 80%
      &:nth-child(12)
        width: 60%
      &:nth-child(13)
        width: 20%

.a-card.is-loading
  border: none
  background-color: rgba($base, .8)
