.a-page-notice
  background-color: $info
  color: $reversal-text
  &.is-danger
    background-color: $danger
  .page-body &
    +margin(vertical, -.5rem 1rem)
  .page-body .page-notices__item &
    +margin(vertical, 0)
  .page-tools + &
    margin-top: -1px
  .page-tabs + &
    margin-top: 1rem

.a-page-notice__inner
  +padding(vertical, .5rem)
  position: relative
  display: flex
  align-items: center
  p
    +text-block(1em 1.4, $reversal-text center)
    +media-breakpoint-up(md)
      font-size: .875rem
    +media-breakpoint-down(sm)
      font-size: .75rem
  a
    color: $reversal-text
    +hover-link-reversal
