+media-breakpoint-down(md)
  .a-textarea-bottom-note__banner
    display: none

+media-breakpoint-up(lg)
  .a-textarea-bottom-note
    position: relative
    .a-text-input
      padding-bottom: 3rem

  .a-textarea-bottom-note__banner
    background-color: $background-shade
    +position(absolute, left 1px, bottom 1px, right 1px)
    +border-radius(bottom, 3px)
    padding: .5rem
    +text-block(.75rem 1.4, center)
    border-top: solid 1px $border-more-shade
