.a-text-input
  +text-block(1em 1.45, block)
  background-color: #fafafa
  width: 100%
  padding: .5rem
  border: solid 1px $input-border
  border-radius: .25rem
  transition: border-color .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in
  +media-breakpoint-up(md)
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: 1rem
  .field_with_errors &
    border-color: #e1a7b6
    background-color: #fefafb
  &:focus
    background-color: $base
    border-color: tint($primary, 20%)
    box-shadow: rgba(black, .07) 0 .0625rem .0625rem inset, rgba($primary, .4) 0 0 1px 2px
  &.is-inputed
    border-style: dashed
  &.is-align-center
    text-align: center
  &:disabled
    color: #999
    background-color: #dedede
    pointer-events: none

input[type=date].a-text-input,
input[type=month].a-text-input,
input[type=week].a-text-input
  position: relative
  &::-webkit-inner-spin-button
    -webkit-appearance: none
  &::-webkit-clear-button
    +position(relative, 1)
  &::-webkit-calendar-picker-indicator
    color: transparent
    background-color: transparent
    +position(absolute, left 0, right 0, top 0, bottom 0)
    +size(100%)
    cursor: pointer
    opacity: 0

textarea.a-text-input
  line-height: 1.5
  min-height: 6rem
  overflow: hidden
  &.is-sm
    min-height: 10rem
  &.is-md
    min-height: 16rem
  &.has-max-height
    max-height: 70vh
    overflow: auto

.a-xs-text-input
  +text-block(.8125rem 1.45, block)
  width: 100%
  padding: .25rem .5rem
  background-color: #f7f7f7
  border: solid 1px $input-border
  border-radius: .25rem
  transition: all .2s ease-in
  +media-breakpoint-down(sm)
    font-size: 1rem
  &:focus
    background-color: $base
    border-color: #c4c7bf
    box-shadow: rgba(black, .1) 0 1px 2px inset, rgba($primary, .4) 0 0 1px 2px
