.a-table {
  overflow-x: auto;
}

.a-table.is-sm {
  font-size: 0.8125rem;
}

.a-table td,
.a-table th {
  padding: 0.5rem;
}

.a-table th {
  background-color: var(--background-tint);
  border: solid 1px var(--border-shade);
}

.a-table td {
  border: solid 1px var(--border);
}

.a-table table {
  border-radius: 0.25rem;
  width: 100%;
}

.a-table thead {
  background-color: var(--background-semi-shade);
  border: solid 1px var(--border-shade);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.a-table tr {
  border-left: solid 1px var(--border);
  border-right: solid 1px var(--border);
}

.a-table th {
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
  font-weight: 600;
  border: solid 1px var(--border-shade);
  white-space: nowrap;
  height: 2rem;
  padding-inline: 0.5rem;
}

.a-table td {
  transition: all 0.2s ease-out;
  background-color: var(--base);
  padding: 0.375rem 0.75rem;
  border: solid 1px var(--border);
  font-size: 0.8125rem;
  line-height: 1.45;
}

.card-body > .a-table table {
  margin: -1px;
  width: calc(100% + 2px);
}
