.a-title-label
  +text-block(.5em 1, inline-flex nowrap 0)
  vertical-align: top
  background-color: #e9ebef
  +padding(horizontal, 1em)
  border-radius: .75rem
  align-items: center
  +position(relative, top .75em)
  margin-right: .5em
  +media-breakpoint-up(md)
    height: 1.5em
    +position(top .75em)
  +media-breakpoint-down(sm)
    font-size: .625rem
    height: 1.75em
    +position(top .375em)
  &.is-solved
    color: $reversal-text
    &.is-success
      background-color: $success
    &.is-danger
      background-color: $danger
