.a-user-role
  border: solid 1px $main
  +padding(horizontal, .75em)
  height: 1.75em
  +text-block(.625rem 1, center $main flex nowrap)
  align-items: center
  margin-right: .5rem
  border-radius: 1rem
  +media-breakpoint-up(md)
    transform: scale(.9375, .9375)
  +media-breakpoint-down(sm)
    transform: scale(.875, .875)
  &.is-header
    margin-left: .5rem
    margin-right: 0
    +media-breakpoint-down(sm)
      margin-left: .125rem

.a-user-role__label
  display: inline-block
  .a-user-role__label + &::before
    content: "/"
    display: inline-block
    +margin(horizontal, .25em)
