.a-user-icon
  object-fit: cover
  border-radius: 50%
  background-color: $base
  +icon-role-style

.js-user-icon
  +size(1.9em)
  object-fit: cover
  background-color: $base
  border-radius: 2px
  display: inline-block !important
  border: none !important
  margin-left: 0 !important
  margin-right: 0 !important
  a:not(:first-child) &
    margin-left: .5em !important
