.a-watch-button
  &.a-button.is-sm,
    width: 6.5rem
    +position(relative)
    padding-left: 1.75rem
    i
      +position(absolute, left .5rem)
  &.is-active
    color: $main
    border-color: $main
    &:hover
      color: $main
      border-color: $main
