.a-card
  background-color: $base
  border-radius: .25rem
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  max-width: 50rem
  +margin(horizontal, auto)
  +media-breakpoint-down(lg)
    &:not(:last-child)
      margin-bottom: 1rem
  .a-card + &
    margin-top: 1.25rem
    +media-breakpoint-down(lg)
      margin-top: 1rem
  &.is-borderd
    border: solid 4px $welcome-default-text
    box-shadow: none
  [class*=col-] + [class*=col-] &:first-child
    +media-breakpoint-down(md)
      margin-top: 1rem
  &.is-max-width-100
    max-width: 110rem

.a-card-notice
  p
    font-size: 1rem
    line-height: 1.5rem

.a-card__alert
  padding: .5rem 1.25rem
  background-color: $danger
  text-align: center
  +text-block(.875rem 1.4, $reversal-text)
  +border-radius(top, .25rem)
  a
    +hover-link-reversal
    color: $reversal-text
