.a-card
  background-color: $base
  border-radius: .25rem
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  max-width: 50rem
  +margin(horizontal, auto)
  +media-breakpoint-down(lg)
    &:not(:last-child)
      margin-bottom: 1rem
  .a-card + &
    margin-top: 1.5rem
    +media-breakpoint-down(lg)
      margin-top: 1rem
  &.is-borderd
    border: solid 4px $welcome-default-text
    box-shadow: none
  [class*=col-] + [class*=col-] &:first-child
    +media-breakpoint-down(md)
      margin-top: 1rem
