.a-notification-count
  +size(1.25rem .875rem)
  border-radius: 1rem
  background-color: $danger
  +position(absolute)
  +text-block(.625rem, $reversal-text flex)
  align-items: center
  justify-content: center
