.lp-mentor.is-welcome-index {
  height: 100%;
}

.lp-mentor__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem 1rem 1rem;
}
@media (min-width: 48em) {
  .lp-mentor__inner {
    padding: 1.25rem 1.5rem 1.5rem;
  }
}
.lp-mentor.is-articles-show .lp-mentor__inner {
  padding: 0.75rem 1rem 0;
}
.lp-mentor.is-articles-show .lp-mentor__inner:last-child {
  padding-bottom: 1rem;
}

.lp-mentor__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
@media (min-width: 48em) {
  .lp-mentor__header {
    flex-direction: row;
  }
}

.lp-mentor__header-start {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 48em) {
  .lp-mentor__header-start {
    flex: 0 0 4.5rem;
    width: auto;
  }
}

.lp-mentor__header-end {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
@media (min-width: 48em) {
  .lp-mentor__header-end {
    width: auto;
  }
}

.lp-mentor__image {
  border-radius: 0.25rem;
  width: 3rem;
  display: block;
  margin-inline: auto;
}
@media (min-width: 48em) {
  .lp-mentor__image {
    width: 100%;
    margin-inline: 0;
  }
}

.lp-mentor__name {
  font-weight: 800;
  color: var(--main);
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 48em) {
  .lp-mentor__name {
    font-size: 1.5rem;
    text-align: left;
  }
}

.lp-mentor__job {
  font-weight: 400;
  color: var(--main);
  font-size: 0.625rem;
  line-height: 1;
  text-align: center;
  margin-bottom: 0.125rem;
}
@media (min-width: 48em) {
  .lp-mentor__job {
    font-size: 0.875rem;
    text-align: left;
  }
}

.lp-mentor__sns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 48em) {
  .lp-mentor__sns {
    gap: 0.75rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.lp-mentor__sns-item-link {
  color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: solid 1px var(--main);
  border-radius: 0.25rem;
  transition: all 0.2s ease-out;
}
.lp-mentor__sns-item-link:hover {
  color: var(--welcome-pink);
}
.lp-mentor__sns-item-link {
  height: 1.75rem;
  width: 1.75rem;
  font-size: 1rem;
  line-height: 1.45;
}
@media (min-width: 48em) {
  .lp-mentor__sns-item-link {
    height: 2.25rem;
    width: 2.25rem;
    font-size: 1.25rem;
  }
}

.lp-mentor__body {
  font-size: 0.875rem;
}
.lp-mentor__body.is-trancate {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: none;
}
@media (min-width: 48em) {
  .lp-mentor__body.is-trancate {
    display: -webkit-box;
    height: 67.2px;
  }
}
.lp-mentor__body.is-temp {
  font-size: 0.875rem;
  line-height: 1.6;
}
.lp-mentor__body.is-temp img {
  width: 6.25rem;
  float: right;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}
.lp-mentor__body.is-temp img.has-3-books {
  width: 8.25rem;
}
.lp-mentor__body.is-temp img.has-5-books {
  width: 10rem;
}
.lp-mentor__body.is-temp a {
  color: var(--link-text);
  text-decoration: underline;
  cursor: pointer;
}
.lp-mentor__body.is-temp a:hover {
  text-decoration: none;
}
