.lp-left-number-sections__items {
  counter-reset: number 0;
}

.lp-left-number-section {
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}
@media (min-width: 48em) {
  .lp-left-number-section {
    gap: 2rem;
  }
}

.lp-left-number-section__start {
  flex: 0 0 6rem;
}
@media (min-width: 48em) {
  .lp-left-number-section__start {
    flex: 0 0 12rem;
  }
}

.lp-left-number-section__header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lp-left-number-section__title {
  text-align: center;
  color: var(--main);
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 800;
}
.lp-left-number-section__title br {
  display: none;
}
@media (min-width: 48em) {
  .lp-left-number-section__title {
    font-size: 1.5rem;
  }
  .lp-left-number-section__title br {
    display: inline;
  }
}
.lp-left-number-section__title::before {
  counter-increment: number 1;
  content: "0" counter(number);
  display: block;
  font-family: "Lato", sans-serif;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main);
  color: #dedef2;
  margin-bottom: -0.125rem;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 900;
}
@media (min-width: 48em) {
  .lp-left-number-section__title::before {
    font-size: 2.5rem;
  }
}

.lp-left-number-section__end {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
