.lp-content {
  position: relative;
}
.lp-content .lp-content__inner {
  display: flex;
}
.lp-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 48em) {
  .lp-content {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 64em) {
  .lp-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.lp-content.is-campaign {
  background-color: var(--main);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-image: var(--campaign-bg-image);
  background-repeat: repeat;
  background-size: 40rem;
  color: var(--reversal-text);
}
.lp-content.is-lp-bg-1 {
  background-color: var(--lp-bg-1);
}
.lp-content.is-lp-bg-2 {
  background-color: var(--lp-bg-2);
}
.lp-content.is-lp-bg-3 {
  background-color: var(--lp-bg-3);
}
.lp-content.is-lp-bg-main {
  background-color: var(--main);
  color: var(--reversal-text);
}
.lp-content.is-hero {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
@media (min-width: 48em) {
  .lp-content.is-hero {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}
.lp-content.is-hero .lp-content__inner {
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48em) {
  .lp-content.is-hero .lp-content__inner {
    flex-direction: row;
    align-items: center;
    gap: 3.5rem;
  }
}
.lp-content.is-hero .lp-content__start {
  flex: 14;
}
.lp-content.is-hero .lp-content__end {
  flex: 6;
}
@media (min-width: 64em) {
  .lp-content.is-hero .lp-content__end {
    flex: 8;
  }
}
@media (min-width: 80em) {
  .lp-content.is-hero .lp-content__end {
    flex: 10;
  }
}
.lp-content.is-hero .lp-hero-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 48em) {
  .lp-content.is-hero .lp-hero-info {
    gap: 2rem;
  }
}
.lp-content.is-top-title .lp-content__inner {
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 80em) {
  .lp-content.is-top-title .lp-content__inner {
    gap: 3.5rem;
  }
}
.lp-content.is-right-title .lp-content__inner {
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 80em) {
  .lp-content.is-right-title .lp-content__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 3rem;
  }
}
.lp-content.is-right-title .lp-content__end {
  flex: 1;
  max-width: 100%;
}
@media (min-width: 80em) {
  .lp-content.is-right-title .lp-content__end {
    max-width: 50rem;
  }
}
.lp-content.is-left-title .lp-content__inner {
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 80em) {
  .lp-content.is-left-title .lp-content__inner {
    gap: 3rem;
    justify-content: space-between;
    flex-direction: row;
  }
}
.lp-content.is-left-title .lp-content__end {
  flex: 1;
  max-width: 100%;
}
@media (min-width: 80em) {
  .lp-content.is-left-title .lp-content__end {
    max-width: 42.5rem;
  }
}
.lp-content .lp-content__inner {
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 48em) {
  .lp-content .lp-content__inner {
    gap: 2.5rem;
  }
}
@media (min-width: 64em) {
  .lp-content .lp-content__inner {
    gap: 3.5rem;
  }
}

.lp-content__body {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
