.lp-hero-visual {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-hero-visual__image {
  max-height: 12rem;
}
@media (min-width: 48em) {
  .lp-hero-visual__image {
    max-height: 26.25rem;
  }
}
