.lp-content-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48em) {
  .lp-content-section {
    gap: 1.5rem;
  }
}

.lp-content__description {
  font-size: 0.875rem;
}
@media (min-width: 48em) {
  .lp-content__description {
    font-size: 1rem;
  }
}
