.lp-category-practices {
  background-color: var(--base);
}

.lp-category-practices__category {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 800;
  background-color: var(--main);
  color: var(--reversal-text);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.lp-category-practices__practices {
  border: solid 1px var(--border);
  border-radius: 0 0 0.25rem 0.25rem;
}

.lp-category-practices__practice {
  font-size: 0.875rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.lp-category-practices__practice:nth-child(even) {
  background-color: var(--background-more-tint);
}
.lp-category-practices__practice:not(:last-child) {
  border-bottom: solid 1px var(--border);
}
.lp-category-practices__practice:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}
