.lp-supplementary-info {
  background-color: var(--lp-bg-3);
  border-radius: 0.5rem;
}

.lp-supplementary-info__inner {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  gap: 0.75rem;
}
@media (min-width: 48em) {
  .lp-supplementary-info__inner {
    padding: 1.5rem 2rem;
    gap: 1.25rem;
  }
}
