.lp-page-header {
  background-color: var(--main);
}

.lp-page-header__title {
  color: var(--reversal-text);
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  max-width: calc(100vw - 2rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 48em) {
  .lp-page-header__title {
    font-size: 1.5rem;
    max-width: none;
  }
}

.lp-page-header__inner {
  height: 4rem;
  display: flex;
  align-items: center;
}

.lp-page-header__start {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.lp-page-header__end {
  height: 100%;
}
