.lp-top-image-sections__title-icon {
  height: 3rem;
  width: 3rem;
  margin-right: 0.75rem;
}

.lp-top-image-section {
  height: 100%;
}

.lp-top-image-section__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem 1.25rem;
  gap: 0.75rem;
}
@media (min-width: 48em) {
  .lp-top-image-section__inner {
    padding: 1.25rem 1.5rem 1.5rem;
    gap: 1.25rem;
  }
}

.lp-top-image-section__icon {
  display: block;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  font-size: 4rem;
}
@media (min-width: 64em) {
  .lp-top-image-section__icon {
    width: 8rem;
    font-size: 5rem;
  }
}

.lp-top-image-section__chart-container {
  aspect-ratio: 3/4;
}
@media (min-width: 48em) {
  .lp-top-image-section__chart-container {
    aspect-ratio: 5/3;
  }
}

.lp-top-image-section__float-image {
  float: left;
  border-radius: 0.25rem;
  width: 4rem;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 48em) {
  .lp-top-image-section__float-image {
    width: 6.75rem;
    margin-right: 1.5rem;
  }
}
