.lp-mentor-books__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: flex-end;
}

.lp-mentor-books__item {
  flex: 1;
}
@media (min-width: 48em) {
  .lp-mentor-books__item {
    flex: 0 0 4.75rem;
  }
}

.lp-mentor-books__item-link {
  box-shadow: 0 0 0 1px var(--background);
  display: block;
  transition: all 0.2s ease-out;
}
.lp-mentor-books__item-link:hover {
  box-shadow: 0 0 0 1px var(--warning);
}
