.welcome-top-info {
  background-color: var(--danger);
}

.welcome-top-info__inner {
  padding-block: 0.75rem;
}

@media (width >= 48em) {
  .welcome-top-info__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.welcome-top-info__link {
  color: var(--reversal-text);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.5;
}

.welcome-top-info__link:hover, .welcome-top-info__link:active {
  text-decoration: none;
}

@media (width >= 48em) {
  .welcome-top-info__link {
    font-size: 1.125rem;
  }
}
