
.event-main-actions {
  position: relative;
  z-index: 1;
  margin-inline: 1rem;
  border-radius: 4px;
}

.event-main-actions:first-child {
  margin-top: 1rem;
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .event-main-actions {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 47.9375em) {
  .event-main-actions {
    margin-bottom: 1rem;
  }
}

.event-main-actions.is-participationed {
  background-color: #f8fff2;
  border: 1px solid var(--success);
  color: #4e732e;
}

.event-main-actions.is-unparticipationed.is-available {
  border: 1px solid var(--primary);
  background-color: #f5f5ff;
  color: #28248c;
}

.event-main-actions.is-unparticipationed.is-capacity-over {
  border: 1px solid var(--warning);
  background-color: #fff9e7;
  color: #6f5819;
}

.event-main-actions.is-non-participationed {
  border: 1px solid var(--danger);
  background-color: var(--danger-tint);
  color: var(--danger);
}

.event-main-actions__header {
  padding-block: .75rem;
}

@media (min-width: 48em) {
  .event-main-actions__header {
    padding-inline: 1rem;
  }
}

@media (max-width: 47.9375em) {
  .event-main-actions__header {
    padding-inline: .75rem;
  }
}

.is-participationed .event-main-actions__header {
  border-bottom: 1px solid var(--success);
  color: #4e732e;
}

.is-unparticipationed.is-available .event-main-actions__header {
  border-bottom: 1px solid var(--primary);
  color: #116e94;
}

.is-unparticipationed.is-capacity-over .event-main-actions__header {
  border-bottom: 1px solid var(--warning);
  color: #6f5819;
}

.is-non-participationed .event-main-actions__header {
  border-bottom: 1px solid var(--danger);
  color: var(--danger);
}

.event-main-actions__body {
  padding-block: .75rem;
}

@media (min-width: 48em) {
  .event-main-actions__body {
    padding-inline: 1rem;
  }
}

@media (max-width: 47.9375em) {
  .event-main-actions__body {
    padding-inline: .75rem;
  }
}

.event-main-actions__description {
  font-size: .875rem;
  line-height: 1.4;
  margin-bottom: .75em;
  text-align: center;
}

.event-main-actions__items {
  display: flex;
  justify-content: center;
}

.event-main-actions__item {
  text-align: center;
  flex: 1;
}

@media (min-width: 48em) {
  .event-main-actions__item {
    max-width: 16rem;
  }
}

.event-main-actions__item-cancel {
  text-decoration: none;
  cursor: pointer;
  color: var(--muted-text);
  font-size: .8125rem;
}

.event-main-actions__item-cancel:hover,
.event-main-actions__item-cancel:active {
  text-decoration: underline;
}
