.page-header
  background-color: var(--base)

.page-header__inner
  +position(relative)
  +media-breakpoint-up(md)
    height: 3.25rem
    display: flex
    align-items: center
    justify-content: space-between
  +media-breakpoint-down(sm)
    display: block
    padding-block: .5rem

.page-header__start
  display: flex
  align-items: center

.page-header__title
  color: var(--main)
  line-height: 1
  font-weight: 700
  font-feature-settings: "palt"
  letter-spacing: .02em
  +media-breakpoint-up(md)
    font-size: 1.25rem
  +media-breakpoint-down(sm)
    font-size: 1.125rem
    word-wrap: break-word
    flex: 1
  img
    +size(2.5rem auto)
    margin-right: .5rem
  +media-breakpoint-down(sm)
    +text-block(1rem 1.4)
    color: var(--main)
  .page-header__start &
    margin-right: .5em
    align-self: center

.page-header__action
  +media-breakpoint-down(sm)
    display: none
