@use "../../../config/mixins/break-points"
@use "../../../config/mixins/short-text-style"

.page-body
  padding-block: 1.5rem
  +break-points.media-breakpoint-up(md)
    flex: 1
    display: flex
    flex-direction: column
    min-height: calc(100vh - 321px)
  +break-points.media-breakpoint-down(sm)
    padding-block: 1.125rem

.page-body__inner
  position: relative
  +break-points.media-breakpoint-up(lg)
    flex: 1

.page-body__rows
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    gap: 1.25rem
  +break-points.media-breakpoint-down(sm)
    gap: 1rem
  > *
    width: 100%

.page-body__columns
  +break-points.media-breakpoint-up(lg)
    display: flex
    gap: 1.5rem
    position: relative
  &.is-reverse
    display: flex
    +break-points.media-breakpoint-up(md)
      flex-direction: row
      gap: 1.5rem
    +break-points.media-breakpoint-down(sm)
      flex-direction: column-reverse
      gap: 1rem
      .page-body__column
        width: 100%

.page-body__column
  &.is-main
    flex: 1
    margin-inline: auto
  &.is-sub
    flex: 0 0 20rem
    &.is-sm
      flex: 0 0 14rem

.page-body__description
  +short-text-style.short-text-style
  +break-points.media-breakpoint-up(md)
    font-size: .875rem
  +break-points.media-breakpoint-down(sm)
    font-size: .8125rem
  &:not(:last-child)
    margin-bottom: 1.5em
