.page-optional-header
  padding-block: .5rem
  background-color: var(--background)

.page-optional-header__inner
  +media-breakpoint-up(md)
    display: flex
    align-items: center

.page-optional-header__start
  +media-breakpoint-up(md)
    flex: 1

.page-optional-header__title
  +text-block(1rem 1.4)
  align-items: center
  display: flex
  text-align: center
  font-weight: 700
