.page-optional-header
  padding-block: .5rem
  background-color: var(--background)

.page-optional-header__inner
  +media-breakpoint-up(md)
    display: flex
    align-items: center

.page-optional-header__start
  +media-breakpoint-up(md)
    flex: 1

.page-optional-header__title
  +text-block(1rem 1.4, center 600 flex)
  align-items: center

.page-optional-header__title-cancel
  margin-left: .5em
  color: var(--background)
  font-size: .875rem
  +flex-link
  +size(1.5em)
  background-color: var(--muted-text)
  align-items: center
  justify-content: center
  border-radius: 50%
  transition: all .2s ease-out
  &:hover
    background-color: var(--primary)
    color: var(--reversal-text)
