@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.page-main-header__inner
  padding-block: .5rem
  display: flex
  +break-points.media-breakpoint-up(md)
    min-height: calc(3.5rem - 1px)
    align-items: center
  +break-points.media-breakpoint-down(sm)
    flex-direction: column
    gap: .5rem

  .a-page-notice + .page-main &
    padding-top: .5em

.page-main-header__start
  flex: 1

.page-main-header__title
  color: var(--main)
  font-weight: 700
  +break-points.media-breakpoint-up(md)
    +text.text-block(1.125rem 1.4)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1rem 1.4)
