.page-main-header-actions__items
  display: flex
  gap: .5rem
  justify-content: center

.page-main-header-actions__item
  +media-breakpoint-up(md)
    min-width: 10rem
    display: flex
    justify-content: center
  +media-breakpoint-down(sm)
    flex: 1
  &.is-remove
    .is-muted
      border: solid 1px var(--border-shade)
      &:hover
        color: var(--default-text)
        background-color: var(--base)
  .a-button
    height: 2.25rem
