@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/text"
@use "../../../config/variables/colors"

.practice-content
  position: relative
  display: block
  margin-bottom: 2rem
  &.is-memo
    .a-card
      height: 100%
    .a-markdown-input__inner
      height: 100%
      margin-bottom: 0
    .a-markdown-input__inner.is-preview
      overflow: auto
    .card-footer
      margin-top: 1rem

.practice-content__body-notice
  border: solid 1px var(--success)
  margin-top: 1rem
  background-color: rgba(colors.$success, .1)
  +break-points.media-breakpoint-up(md)
    padding: .75rem .875rem
  +break-points.media-breakpoint-down(sm)
    padding: .375rem .625rem
  p
    +text.text-block(.875rem 1.5)
    color: var(--success-text)
    +break-points.media-breakpoint-down(sm)
      font-size: .75rem

.card-footer__alert
  text-align: center
  margin-top: 1em
  +break-points.media-breakpoint-up(md)
    font-size: .875rem
  +break-points.media-breakpoint-down(sm)
    font-size: .75rem
  >a
    +text.text-block(1em 1.5)
    color: var(--danger)
    +link.hover-link-reversal

.js-markdown-view
  display: none
