.practice-contents__pub-date
  margin-bottom: .75rem

.practice-contents__time
  display: inline-flex
  align-items: center
  margin-bottom: .5em
  cursor: pointer
  font-size: .875rem
  .a-meta
    font-size: 1em
  .a-help
    +size(1rem)
    font-size: .75em
    margin-left: .375em
    transition: all .2s ease-out
  &:hover
    .a-meta
      color: $main-text
    .a-help
      background-color: $main
