@use "../../../config/mixins/break-points"

.sticky-message
  +break-points.media-breakpoint-up(md)
    background-color: var(--success)
    width: 100%
    position: sticky
    left: 0
    bottom: 0
    z-index: 2
    padding-block: .5rem
    font-size: .875rem
    line-height: 1.4
    text-align: center
    color: var(--reversal-text)
    a
      text-decoration: none
      cursor: pointer
      &:hover,
      &:active
        text-decoration: underline
      color: var(--reversal-text)
  +break-points.media-breakpoint-down(sm)
    display: none
