.sticky-message
  +media-breakpoint-up(md)
    background-color: var(--success)
    width: 100%
    +position(sticky, left 0, bottom 0, 1)
    +padding(vertical, .5rem)
    +text-block(.875rem 1.4, center)
    color: var(--reversal-text)
    a
      +hover-link-reversal
      color: var(--reversal-text)
  +media-breakpoint-down(sm)
    display: none
