.completion {
  padding-block: 4rem 2rem;
}

.completion__title {
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  font-weight: 800;
  color: var(--reversal-text);
  font-family: var(--sans-serif);
  font-size: 2rem;
}

.completion__body {
  margin-top: 3rem;
}

.completion__image {
  border-radius: 1rem;
  border: solid 0.75rem var(--completion-dark);
}

@media (max-width: 47.9375em) {
  .completion__title {
    font-size: 1.5rem;
  }
  .completion__image {
    border: solid 0.5rem var(--completion-dark);
  }
}
