@use "../../../config/mixins/font-awsome"
@use "../../../config/mixins/link"
@use "../../../config/mixins/position"
@use "../../../config/mixins/text"

.random-tags-item
  &:not(:last-child)
    border-bottom: solid 1px var(--border)

.random-tags-item__link
  +link.flex-link
  padding-left: 1rem
  padding-right: .5rem
  padding-block: .5rem
  min-height: 2.75rem
  align-items: center
  transition: all .2s ease-out
  &:hover
    background-color: var(--primary-tint)

.random-tags-item__link-inner
  +position.position(relative)
  flex: 1
  padding-right: 2em

.random-tags-item__count
  +position.position(absolute, right 0, top 2px)
  +text.text-block(.625rem, flex center)
  color: var(--default-text)
  justify-content: center
  align-items: center
  padding-inline: .75em
  background-color: var(--background)
  height: 1.5em
  border-radius: 1em

.random-tags-item__name
  +text.text-block(.875rem 1.4)
  color: var(--semi-muted-text)
  .is-first &,
  .is-second &,
  .is-third &
    font-weight: 600
  .is-first &::before,
  .is-second &::before,
  .is-third &::before
    margin-right: .5em
    +font-awsome.fa(fas '\f521')
  .is-first &,
  .is-first &::before
    color: var(--gold)
  .is-second &,
  .is-second &::before
    color: var(--silver)
  .is-third &,
  .is-third &::before
    color: var(--bronze)
  .is-up &
    font-size: 1.125em
  .is-low &
    font-size: .875em
