.tag-input
  margin-top: .5rem
  border-radius: .25rem
  background-color: var(--background-more-tint)
  padding: .75rem 1rem
  border: dashed 1px var(--border)

.tag-input__title
  +text-block(.875rem 1.5 0 .5rem, block 600)

.tag-input__items
  display: flex
  flex-wrap: wrap
  gap: .5rem
