@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/text"
@use "../../../config/variables/colors"

.tag-links
  .form-actions
    margin-top: 1rem
  .form-actions__item.is-main
    +break-points.media-breakpoint-up(md)
      min-width: 12rem

.tag-links__items
  display: flex
  align-items: flex-end
  flex-wrap: wrap
  gap: .5rem

.tag-links__item-link
  +text.text-block(.6875rem 1.4, block)
  color: var(--muted-text)
  background-color: transparent
  border: solid 1px var(--muted-text)
  padding: .1875rem .625rem
  border-radius: 2rem
  transition: all .2s ease-in
  text-decoration: none
  &:hover
    background-color: rgba(colors.$base, .7)
    color: var(--semi-muted-text)
    border-color: var(--semi-muted-text)

.tag-links__item-edit
  +text.text-block(.75rem 1.4, block)
  color: var(--main)
  +link.hover-link-reversal
  cursor: pointer
