.tag-links
  .form-actions
    margin-top: 1rem
  .form-actions__item.is-main
    +media-breakpoint-up(md)
      min-width: 12rem

.tag-links__items
  display: flex
  align-items: flex-end
  flex-wrap: wrap
  gap: .5rem

.tag-links__item-link
  +text-block(.6875rem 1.45, block $muted-text)
  background-color: transparent
  border: solid 1px $muted-text
  padding: .1875rem .625rem
  border-radius: 2rem
  transition: all .2s ease-in
  text-decoration: none
  &:hover
    background-color: rgba($base, .7)
    color: $semi-muted-text
    border-color: $semi-muted-text

.tag-links__item-edit
  +text-block(.75rem 1.4, $main block)
  +hover-link-reversal
  cursor: pointer
