.side-tabs-nav__items
  display: flex
  +position(relative, 2)

.side-tabs-nav__item
  min-width: 6.5rem

#side-tabs-1:checked ~ .side-tabs-nav #side-tabs-nav-1,
#side-tabs-2:checked ~ .side-tabs-nav #side-tabs-nav-2,
#side-tabs-3:checked ~ .side-tabs-nav #side-tabs-nav-3
  background-color: $base
  color: $default-text

.side-tabs-nav__item-link
  +text-block(.8125rem 1.4, flex 600 center)
  justify-content: center
  cursor: pointer
  padding: .75em 1em
  border: solid 1px $border-more-shade
  border-bottom: none
  +position(relative, bottom -1px)
  +border-radius(top, .25rem)
  color: $muted-text
  transition: all .2s ease-out
  .side-tabs-nav__item:not(:first-child) &
    margin-left: -1px
  &:hover
    color: $default-text
