.side-tabs-contents
  +position(relative, 1)
  
.side-tabs-contents__item
  display: none
  .a-card
    border-top-left-radius: 0

#side-tabs-1:checked ~ .side-tabs-contents #side-tabs-content-1
  display: block

#side-tabs-2:checked ~ .side-tabs-contents #side-tabs-content-2
  display: block
