- title "#{@user.login_name}の回答一覧"
- set_meta_tags description: "#{@user.login_name}さんの回答一覧ページです。"

= render 'users/page_title', user: @user
= user_page_tabs(@user, active_tab: '回答')

.page-body
  .container.is-md
    = render 'users/users_answers', answers: @answers
