.welcome-small-sections
  margin-bottom: -2rem
  .welcome-child-section__title + &
    margin-top: 1.5rem
  .welcome-section__title + &
    margin-top: 2rem

.welcome-small-section
  height: 100%
  padding-bottom: 2rem
  &.is-wide
    max-width: 55rem
    +margin(horizontal, auto)

.row.welcome-small-sections__row
  +media-breakpoint-down(sm)
    +margin(horizontal, -.5rem)
    >*[class*=col-]
      +padding(horizontal, .5rem)

.welcome-small-section__inner
  background-color: #ecf9fc
  padding: 1.25rem 1.5rem 1.5rem
  border-radius: .25rem
  height: 100%
  padding-bottom: 1rem
  .welcome-small-sections.is-unlimited &
    padding: 0
    background-color: transparent
  .welcome-child-section.is-cases &,
  .welcome-child-section.is-tutorials &
    border: dashed 1px #ccc
    background-color: transparent
  &.is-danger
    background-color: #fcf3ee
  &.is-primary
    background-color: #f5f6ea

.welcome-small-section__icon
  height: 5rem
  display: block
  +margin(horizontal, auto)
  margin-bottom: 1rem
  .welcome-small-sections.is-unlimited &
    +size(6rem)

.welcome-small-section__title
  +text-block(1rem 1.45 .7em, 600 center)
  &:last-child
    margin-bottom: 0
  &.is-sm
    font-size: 1rem
  .welcome-small-section.is-wide &
    text-align: left
    margin-bottom: .5em

.welcome-small-section__name
  +text-block(1rem 1.45 .6em, 600)

.welcome-small-section__job
  +text-block(.75rem 1.45, 400)
  margin-left: .5rem

.welcome-small-section__sns
  display: flex

.welcome-small-section__sns-item
  padding-right: .75rem
  +text-block(.875rem 1.6 .2em)

.welcome-small-section__description
  p
    +text-block(.875rem 1.8 1.2em)
  a
    color: #0098f9
    +hover-link-reversal
  p:last-child
    margin-bottom: 0
