body.home-welcome
  color: $welcome-default-text

.welcome-container
  max-width: 60rem
  +margin(horizontal, auto)

.welcome-section
  +padding(vertical, 7rem 3rem)
  margin-top: -4rem
  border-bottom: solid .0625rem #eee
  +media-breakpoint-down(sm)
    +padding(vertical, 2rem)
    margin-top: 0
  &.is-auth-form
    #form
      margin-top: -6rem
      padding-top: 6rem
      +media-breakpoint-down(sm)
        margin-top: 0
        padding-top: 0
    +media-breakpoint-down(sm)
      +padding(vertical, 2rem)

.welcome-section__title
  +text-block(1.75rem 1.45 .8em, 400 center $welcome-main-color)
  +media-breakpoint-down(sm)
    +text-block(1.25rem 1.3 1rem)
    +position(relative)

.welcome-child-section__title
  +text-block(1.25rem 1.45 .8em, 400 center $welcome-main-color)
  +media-breakpoint-down(sm)
    font-size: 1rem

.welcome-section__description
  max-width: 40rem
  +margin(horizontal, auto)
  p
    +text-block(1rem 1.8 1.2em)
    +media-breakpoint-down(sm)
      font-size: .875rem
  *:last-child
    margin-bottom: 0
