.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.5rem;
  height: auto;
  max-height: 176px;
  max-width: 500px;
  overflow: auto;
  display: block;
  z-index: 999;
  border: 1px solid #c1c5b9;
  border-radius: 3px;
  background: var(--reversal-text);
}
.tribute-container ul {
  margin: 0;
  list-style: none;
}
.tribute-container ul li {
  font-size: 0.875rem;
  border-bottom: 1px solid #c1c5b9;
  padding: 10px 11px;
  cursor: pointer;
}
.tribute-container ul li:last-child {
  border-bottom: none;
}
.tribute-container ul li.highlight {
  background-color: var(--main);
  color: var(--reversal-text);
  box-shadow: inset 0 0 3px hsl(242, 51%, 41%);
}
.tribute-container ul li span {
  font-weight: bold;
}
.tribute-container ul li span.mention {
  padding-right: 9px;
}
.tribute-container ul li span.emoji {
  padding-left: 4px;
}
