// Row
//
// Rows contain and clear the floats of your columns.

.row
  +make-row

// Columns
//
// Common styles for small and large grid columns

+make-grid-columns

=grid($gutter-size)
  &.row
    gap: $gutter-size

// helper
.row
  @for $i from 0 through 16
    $gutter-size: $i * 4
    $breakpoints: xs, sm, md, lg, xl, false
    $scopes: up, down, only
    @each $breakpoint in $breakpoints
      @if $breakpoint
        @each $scope in $scopes
          &.is-gutter-width-#{$gutter-size}-#{$breakpoint}-#{$scope}
            @if $scope == up
              +media-breakpoint-up($breakpoint)
                gap: $gutter-size
            @else if $scope == down
              +media-breakpoint-down($breakpoint)
                gap: $gutter-size
            @else if $scope == only
              +media-breakpoint-only($breakpoint)
                gap: $gutter-size
      @else
        &.is-gutter-width-#{$gutter-size}
          gap: $gutter-size
