=list
  ol
    list-style-type: decimal
    &.is-aiu
      list-style: katakana
  >ul,
    list-style-type: disc
  >ol
    list-style-type: decimal
  li
    ul,
    ol
      +margin(vertical, .375em)
      &:first-child
        margin-top: .375em
      &:last-child
        margin-bottom .375em
    >ul
      list-style-type: circle
      >li
        >ul
          list-style-type: square

=long-text-style($pc-font-size: 1rem, $mobile-font-size: .8125rem, $background: $base, $font: $default-text)
  font-size: $pc-font-size
  word-break: break-all
  +media-breakpoint-down(sm)
    font-size: $mobile-font-size
  >*:first-child
    margin-top: 0
  >*:last-child
    margin-bottom: 0
  h1
    +text-block(1.875em 1.466 0 .75em, 600 $main-text)
    padding-bottom: .25em
    border-bottom: 3px solid mix($font, $background, 20%)
  h2
    +text-block(1.625em 1.4615 0 .75em, 600)
    padding-bottom: .25em
    border-bottom: 1px solid mix($font, $background, 20%)
  * + h2
    margin-top: 1.4em
  h2 + h3
    margin-top: 1.4em
  * + h2,
  * + h3,
  * + h4,
  * + h5
    margin-top: 1.5em
  h3
    +text-block(1.375em 1.6, 600)
    margin-bottom: .625em
  h4
    +text-block(1.25em 1.6, 600)
    margin-bottom: .625em
  h5
    +text-block(1.125em 1.6, 600)
    margin-bottom: .625em
  h6
    +text-block(1em 1.3 0 .625em, 600)
  p
    +text-block(1em 1.86)
    margin-bottom: 1.5em
  a
    +hover-link-reversal
    +default-link
    &:hover
      img
        border-color: mix($font, $background, 16%)
  dl
    margin-bottom: 1.5em
    border: 1px solid mix($font, $background, 20%)
    padding: 1em
    border-radius: .25rem
  dt
    +text-block(1em 1.6, 600)
    margin-bottom: .25em
  dd
    +text-block(1em 1.6)
    &:not(:last-child)
      margin-bottom: 1em
  code
    font-family: 'Source Code Pro', monospace
    tab-size: 2
    hyphens: none
  pre
    padding: 0
    margin-bottom: 1.5em
    code
      border: solid 1px mix($font, $background, 20%)
      +text-block(.9375em 1.5)
      overflow: auto
      display: block
      width: 100%
      padding: .875em
  code[class*="language-"],
  pre[class*="language-"]
    border: none
    tab-size: 2
  pre[class*="language-"]
    padding: 0
  p,
  li
    *:not(ol):not(ul):first-child
      margin-top: 0
    *:not(ol):not(ul):last-child
      margin-bottom: 0
    code
      +text-block(.875em 1.7, $default-text inline-flex)
      align-items: center
      letter-spacing: 0
      +padding(horizontal, .25rem)
      border: solid 1px mix($font, $background, 20%)
      background-color: mix($font, $background, 4%)
      +margin(horizontal, .25rem)
      border-radius: .125rem
    pre code
      +margin(vertical, 1em)
  hr
    display: block
    height: .25rem
    background-color: #dadbdc
    +margin(vertical, 2em)
    border: none
  img
    max-width: 100%
    max-height: 35rem
    height: auto
    display: block
    +margin(horizontal, auto)
    border: 1px solid mix($font, $background, 10%)
    +media-breakpoint-up(md)
      max-height: 32rem
    +media-breakpoint-down(sm)
      max-width: 100% !important
      max-height: 24rem
    &.is-xs
      max-width: 10em
    &.is-sm
      max-width: 20em
    &.is-md
      max-width: 30em
  br + img
    +margin(vertical, 1em)
  +list
  ul,
  ol
    list-style-position: outside
    margin-left: 1.75em
    margin-bottom: 1.5em
  li
    +text-block(1em 1.86)
    +margin(vertical, .375em)
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
    input
      margin-right: .25rem
    p:last-of-type
      margin-bottom: 0
  > p + ul,
  > p + ol
    margin-top: 1em

  div
    +list

  table
    width: 100%
    margin-bottom: 2em

  th,
  td
    border: solid 1px mix($font, $background, 40%)
    padding: .5em .625em
    +text-block(.875em 1.6, left)

  th
    background-color: mix($font, $background, 8%)

  tbody tr
    &:nth-child(even)
      background-color: mix($font, $background, 2%)

  blockquote
    padding-left: 1.5em
    +margin(vertical, 1.5em 2em)
    +position(relative)
    border-left: solid .25em mix($font, $background, 10%)
    +list
    p + &
      +margin(vertical, 3em 2.5em)
    code
      font-style: normal
    >*:last-child
      margin-bottom: 0 !important

  details
    +text-block(.875rem 1.8 0 1.5em)
    border: solid 1px mix($font, $background, 20%)
    padding: .5em 1em
    border-radius: .25rem
    summary
      +text-block(1em 1.8 0 0)
      cursor: pointer
      outline: none
      +hover-link
    &[open] summary
      border-bottom: solid 1px mix($font, $background, 20%)
      padding-bottom: .5em
      margin-bottom: .5em

  iframe
    display: block
    max-width: 100%
    +margin(vertical, 1.5em 2em)
    +margin(horizontal, auto)
  code
    word-break: break-all
    word-wrap: break-word
    white-space: pre-wrap

  details
    *:not(:first-child)
      margin-top: 1em
    *:last-child
      margin-bottom: 0
