=icon-role-style
  &.is-admin,
  &.is-mentor
    border: solid 2px rgba($danger, .7)
  &.is-graduate
    border: solid 2px rgba($info, .7)
  &.is-adviser
    border: solid 2px rgba($warning, .7)
  &.is-trainee
    border: solid 2px rgba($main, .7)
  &.is-daimyo
    border: solid 2px #86d030
