=icon-role-style
  &.is-admin,
  &.is-mentor
    box-shadow: rgba($danger, .7) 0 0 0 2px
  &.is-graduate
    box-shadow: rgba($info, .7) 0 0 0 2px
  &.is-adviser
    box-shadow: rgba($warning, .7) 0 0 0 2px
  &.is-trainee
    box-shadow: rgba($main, .7) 0 0 0 2px
