.welcome-member-books
  margin-top: 1rem

.welcome-member-books__items
  display: flex
  flex-wrap: wrap
  gap: .75rem

.welcome-member-books__item
  flex: 0 0 4.75rem

.welcome-member-books__item-link
  box-shadow: 0 0 0 1px $background
  display: block
  transition: all .2s ease-out
  &:hover
    box-shadow: 0 0 0 1px $warning
