.card-list-item-tags-edit
  width: 100%

.card-list-item-tags__item-edit
  +hover-link-reversal
  cursor: pointer
  color: $main-text

.card-list-item-tags-edit__actions
  margin-top: .5rem
  display: flex
  gap: .5rem
