<a class="x-share-button"
  href="https://twitter.com/intent/tweet?url=https://bootcamp.fjord.jp/articles/<%= article %>&hashtags=fjordbootcamp"
  data-size="large"
  rel="noopener noreferrer"
  target="_blank">
X</a>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v18.0" nonce="eqECzFUd"></script>
<div class="fb-share-button" data-href="https://bootcamp.fjord.jp/articles/<%= article %>" data-layout="" data-size="">
  <a class="fb-xfbml-parse-ignore"
    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbootcamp.fjord.jp%2Farticles%2F<%= article %>&amp;src=sdkpreparse"
    rel="noopener noreferrer"
    target="_blank">シェアする</a>
</div>

<a class="hatena-bookmark-button"
  href="https://b.hatena.ne.jp/entry/s/bootcamp.fjord.jp/articles/<%= article %>"
  data-hatena-bookmark-layout="vertical-normal"
  data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加">
  <img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
</a>
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
