<a class="x-share-button"
  href="https://twitter.com/intent/tweet?url=https://bootcamp.fjord.jp/articles/<%= article %>&hashtags=fjordbootcamp"
  data-size="large"
  rel="noopener noreferrer"
  target="_blank">
  <i class="fa-brands fa-x-twitter"></i>
  <span>Postする</span>
</a>
