- title 'ブログ'
- set_meta_tags(site: 'FJORD BOOT CAMP（フィヨルドブートキャンプ）',
description: 'オンラインプログラミングフィヨルドブートキャンプのブログ記事一覧ページです。')
= render '/head/fontawsome'
= render 'welcome_page', { articles: @articles, is_published: true }
