html.is-lp {
  font-family: var(--sans-serif);
  color: var(--default-text);
}

:root {
  --people-bg-image: url("/images/background/people.png");
}

body.is-lp {
  background-color: var(--background);
}

.not-logged-in-footer {
  color: var(--default-text);
}

.not-logged-in-footer__nav-item-link {
  color: var(--default-text);
}

.not-logged-in-footer-copyright {
  color: var(--default-text);
}

.card-body__inner-title {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  padding-bottom: 0.25rem;
  color: var(--main);
  border-bottom: solid 1px var(--border);
}

.faqs-item__header {
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--border);
}

.faqs-item__body {
  margin-top: 1.5rem;
}

.faqs-item__title {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 700;
  color: var(--main);
}
