.auth-form-action__items
  display: flex
  align-items: flex-end
  justify-content: center

.auth-form-action__item
  +padding(horizontal, .375rem)
  width: 100%

.auth-form-action__item-action
  +size(100% 4rem)
  +text-block(1.125rem 1.45, flex 700)
  max-width: 22rem
  margin: 2rem auto 0
  background-color: #f4e90f
  align-items: center
  justify-content: center
  border: solid 4px
  border-radius: 8px
  cursor: pointer
