.auth-form-item__radio-buttons
  margin-top: .5rem
  &.is-half
    margin-bottom: -.5rem
    display: flex
    flex-wrap: wrap
    +margin(horizontal, -.5rem)

.auth-form-radio-button
  &.is-half
    flex: 0 0 50%
    max-width: 50%
    +padding(horizontal, .5rem)
    +media-breakpoint-down(sm)
      flex: 100%
      max-width: 100%

.auth-form-radio-button__label
  +text-block(.875rem 1.45 0 .5rem, block)
  border: dashed 1px $welcome-card-border
  padding: .625rem .625rem .625rem 2rem
  background-color: rgba($base, .6)
  cursor: pointer
  border-radius: .25rem
  transition: background-color .2s ease-in, border-color  .2s ease-in
  +position(relative)
  .auth-form-radio-button.is-half &
    margin-bottom: .5rem
  &::before
    content: ''
    display: block
    +size(.875rem)
    border: solid 1px #bbbbbb
    border-radius: 50%
    +position(absolute, left .75rem, top 50%)
    margin-top: -.4375rem
    box-shadow: rgba(black, .1) 0 1px 1px inset
    background-color: $base
  &.is-checked
    background-color: #f4e90f
    border: solid 1px $welcome-card-border
    font-weight: 600
    &::after
      content: ''
      display: block
      +size(.375rem)
      border-radius: 50%
      +position(absolute, left 1rem, top 50%)
      margin-top: -.1875rem
      box-shadow: rgba(black, .1) 0 1px 2px
      background-color: #4193e9
  input
    opacity: 0
    +position(absolute)

.auth-form-checkbox__label
  +text-block(.875rem 1.45, block)
  border: dashed 1px $welcome-card-border
  padding: .625rem .625rem .625rem 2rem
  background-color: rgba($base, .6)
  cursor: pointer
  border-radius: .25rem
  margin-bottom: .5rem
  transition: all .2s ease-in
  +position(relative)
  &::before
    content: ''
    display: block
    +size(.875rem)
    border: solid 1px #bbbbbb
    border-radius: .1875rem
    +position(absolute, left .75rem, top 50%)
    margin-top: -.4375rem
    box-shadow: rgba(black, .1) 0 1px 1px inset
    background-color: $base
  &.is-checked
    background-color: #fffadd
    border-color: #d9c02a
    font-weight: 600
    &::after
      +fa(fas '\f00c')
      +text-block(.75rem .875rem -.4375rem, center block #4193e9)
      +size(.875rem)
      +position(absolute, left .75rem, top 50%)
  input
    opacity: 0
    +position(absolute)
