.privacy
  height: 12.5rem
  padding: .5rem
  +overflow(hidden auto)
  background-color: #f7f7f7
  border: solid 1px #c1c5b9
  +margin(vertical, .75rem 1rem)
  p
    +text-block(.8125rem 1.8 1em)
  h2
    +text-block(.8125rem 1.8 .4em)
  ul
    margin-bottom: 1em
    list-style: disc outside
    margin-left: 1.5rem
  li
    +text-block(.8125rem 1.8 .4em)
  *:last-child
    margin-bottom: 0
