$bar-height: .75rem
.completed-practices-progress
  +padding(vertical, .75rem)
  +padding(horizontal, 1rem)
  display: flex
  align-items: center

.completed-practices-progress__bar-container
  flex: 100
  border-radius: 20rem
  height: $bar-height
  overflow: hidden
  border-radius: 20rem

.completed-practices-progress__bar
  +size(100% $bar-height)
  background-color: $background-shade
  box-shadow: rgba(black, .2) 0 .0625rem .0625rem inset

.completed-practices-progress__percentage-bar
  height: $bar-height
  background-color: $danger
  +position(relative, top $bar-height * -1)
  box-shadow: rgba(black, .2) 0 .0625rem .0625rem

.completed-practices-progress__number
  +text-block(.8125rem 1rem, right nowrap)
  height: 1rem
  min-width: 2.5rem
  margin-left: .5rem
