.completed-practices-list__items
  margin-bottom: -.25rem
.completed-practices-list-item:not(:last-child)
  border-bottom: dotted .0625rem $background-color
.completed-practices-list-item__link
  +text-block(.875rem 1.55, block $main-color)
  +padding(vertical, .25rem)
  +hover-link
  &::before
    +fa('\f00c')
    +inline-block
    margin-right: .5rem
    color: $accent-color
