.completed-practices
  padding: 1rem
  background-color: $base-color
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  border-radius: .25rem
.completed-practices__title
  +text-block(1rem 1.45 .75rem)
  padding-bottom: .5rem
  border-bottom: solid .0625rem $background-color
