.companies-item
  height: 100%

.companies-item__inner
  +media-breakpoint-up(md)
    height: 100%

.companies-item__header
  padding: .5rem 1rem
  &:not(:last-child)
    border-bottom: solid 1px $border-tint

.companies-item__header-inner
  display: flex
  gap: 1rem

.companies-item__header-start
  +media-breakpoint-up(md)
    flex: 0 0 3.5rem
  +media-breakpoint-down(sm)
    flex: 0 0 2.5rem

.companies-item__user-icon-image
  background-color: white
  +media-breakpoint-up(md)
    +size(3.5rem)
  +media-breakpoint-down(sm)
    +size(2.5rem)


.companies-item__header-end
  flex: 1

.companies-item__name
  +text-block(1em 1.4, 600 $main block)
  margin-bottom: .125rem
  +media-breakpoint-up(md)
    font-size: 1.125rem
  +media-breakpoint-down(sm)
    font-size: 1rem

.companies-item__name-link
  color: $main-text
  display: block
  +hover-link

.companies-item__body
  padding: 1rem

.companies-item__body-row
  &:not(:first-child)
    margin-top: .75rem

.companies-item__description
  p
    +text-block(.75rem 1.6)
