.sns-links__item-link
  font-size: .875rem
  &:hover
    color: $accent-color
  &.is-disabled
    background-color: rgba(black, .1)
    color: rgba(black, .3)
    cursor: not-allowed
    *
      cursor: not-allowed
