.user-profile
  +position(relative)
  padding-left: 6.5rem
  min-height: 6.25rem
  margin-bottom: .5rem
  padding-right: 5.5rem
  +media-breakpoint-down(lg)
    padding-right: 0
  +media-breakpoint-down(sm)
    padding-left: 0
    text-align: center

.user-profile__icon
  +position(absolute, left 0, top 0)
  +media-breakpoint-down(sm)
    position: static
    text-align: center
    margin-bottom: .25rem

.user-profile__user-icon-image
  +media-breakpoint-up(md)
    +size(5.5rem)
  +media-breakpoint-down(sm)
    +size(4.5rem)

.user-profile__login-name
  +text-block(1.5rem 1.2 0 .125rem, 600 $main)
  +word-wrap

.user-profile__full-name
  +text-block(.875rem 1.45 0 .625rem, 400)

.user-profile__kana-full-name
  color: $muted-text
  font-size: .8125em
  margin-left: .5em


.user-profile__company-name
  +text-block(.875rem 1.45, 400)

.user-profile__company-logo
  max-width: 5rem
  +position(absolute, right 0, top 0)
  border-radius: .25rem
  border: solid 1px $border
  +media-breakpoint-down(lg)
    max-height: 3.5rem
    +position(absolute, right -2rem, top -2rem)
    border-radius: 50%
  +media-breakpoint-down(sm)
    max-height: 3.5rem
    +position(absolute, right -1.25rem, top -2rem)
    border-radius: 50%
