.user-dates
  margin-bottom: .125rem

.user-dates__created-at
  +text-block(.8125rem 1.45 .125rem)

.user-dates__update-at
  +text-block(.8125rem 1.45)

.user-dates__graduated-at,
.user-dates__retired-on
  +text-block(.8125rem 1.45)

.user-dates__created-at-label,
.user-dates__created-at-value
  display: inline-block

.user-dates__update-at-label
  display: inline-block

.user-dates__update-at-value
  display: inline-block

.user-dates__graduated-at-label,
.user-dates__graduated-at-value
  display: inline-block

.user-dates__retired-on-label,
.user-dates__retired-on-value
  display: inline-block

.user-dates__active-practices
  display: inline-block

.user-dates__active-practice
  display: inline-block
