.users-item
  height: 100%
  +media-breakpoint-up(md)
    +padding(vertical, .375rem 1.5rem)
  +media-breakpoint-down(sm)
    [class*=col-]:not(:first-child) &
      margin-top: 1rem

.users-item__inactive-message
  background-color: $danger
  +text-block(.625rem 1.4, center $reversal-text)
  padding: .25rem
  +border-radius(top, .1875rem)

.users-item__inner
  +media-breakpoint-up(md)
    height: 100%
    display: flex
    flex-direction: column

.users-item__header
  +position(relative)
  +padding(horizontal, 1rem)
  padding-top: .5rem
  border-bottom: solid 1px $background
  padding-bottom: .5rem

.users-item__header-inner
  display: flex

.users-item__header-start
  margin-right: 1rem

.users-item__user-icon-image
  background-color: $base
  +media-breakpoint-up(md)
    +size(3.5rem)
  +media-breakpoint-down(sm)
    +size(2.5rem)

.users-item__name
  +text-block(1em 1.4, 600 $main block)
  margin-bottom: .125rem
  +media-breakpoint-up(md)
    font-size: 1.125rem
  +media-breakpoint-down(sm)
    font-size: 1rem
  i
    color: $danger
    margin-left: .25em
    font-size: .75em

.users-item__name-link
  color: $main-text
  display: block
  +hover-link

.users-item__body
  padding: .75rem 1rem 0
  +media-breakpoint-up(md)
    flex: 1

.users-item__description
  p
    +text-block(.75rem 1.6)

.users-item__tags
  margin-top: .75rem

.users-item__edit
  text-align: center
  margin-top: -.25rem
  padding-bottom: 1rem

.user-item__company-logo
  +size(3rem)
  object-fit: contain
  background-color: $base
  +position(absolute, right 0.5rem, top 0.5rem)
  border-radius: .25rem
  border: solid 1px $border
