.users-item-names
  margin-bottom: .5rem
  display: flex
  flex-wrap: wrap

.users-item-names__item
  +text-block(.75rem 1.4, flex $semi-muted-text)
  align-items: center
  &:not(:last-child)
    &::after
      content: "、"

.users-item-names__chat
  display: flex
  align-items: center

.users-item-names__chat-label
  font-size: 1.125em
  margin-right: .25em

a.users-item-names__chat-value
  +hover-link-reversal
  +default-link
