.user-group
  padding: 1rem
  &:not(:first-child)
    border-top: solid 1px $border

.user-group__title
  +media-breakpoint-up(md)
    font-size: 1.125rem
  +media-breakpoint-down(sm)
    font-size: 1rem

.user-group__title-link
  text-decoration: none
  color: $main-text
  +media-breakpoint-up(md)
    display: flex
    align-items: flex-end
  .user-group__title.is-inline &
    display: flex
    align-items: flex-end

.user-group__title-label
  display: block
  font-weight: 600
  +media-breakpoint-up(md)
   margin-right: .25em
  .user-group__title-link:hover &
    text-decoration: underline

.user-group__title-icon
  margin-right: .375em
  &.is-first
    color: #c1ad15
  &.is-second
    color: #a0a0a0
  &.is-third
    color: #dc7e61

.user-group__date
  font-size: .75rem
  font-weight: 400
  color: $muted-text

.user-group__count
  font-size: .75rem
  font-weight: 400
  color: $muted-text
  margin-left: .25rem
