.user-profile
  +relative
  padding-left: 6.5rem
  min-height: 6.25rem
  margin-bottom: .5rem
  +media-breakpoint-down(sm)
    padding-left: 0
    text-align: center

.user-profile__icon
  +position(absolute, left 0, top 0)
  +media-breakpoint-down(sm)
    position: static
    text-align: center
    margin-bottom: .5rem
  img
    border-radius: .25rem

.user-profile__login-name
  +text-block(1.5rem 1.2 .125rem, 600 $main-color)
  +word-wrap

.user-profile__full-name
  +text-block(.875rem 1.45, 400)

.user-profile__company-name
  +text-block(.875rem 1.45, 400)
