.user-grass
  padding: 1rem
  +media-breakpoint-down(sm)
    padding: .75rem
  svg
    font-size: .625rem
    max-width: 100%
    +margin(vertical, -1.75rem)
    +media-breakpoint-only(sm)
      +margin(vertical, 0)
    +media-breakpoint-only(md)
      +margin(vertical, 0)
    +media-breakpoint-up(lg)
      +margin(vertical, -.75rem)

.user-grass-nav
  display: flex
  justify-content: center
  align-items: center
  margin-top: -1rem

.user-grass-nav__previous,
.user-grass-nav__next
  +size(2.75rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  +hover-link
  transition: all .2s ease-out
  &:hover
    color: $main-text
  &.is-blank
    cursor: default
    pointer-events: none

.user-grass-nav__year--month
  width: 13rem
  text-align: center

.user-data-grass
  margin-top: 1.5rem
  border: dashed 1px $background-shade
  padding: 1rem

.user-data-grass__image-container
  overflow-y: auto
  display: flex
  justify-content: center
  margin-top: 1rem
  +media-breakpoint-down(sm)
    display: block

.user-grass__empty
  +text-block(.875rem 1.45, center)
