.user-dates
  margin-bottom: .125rem

.user-dates__created-at
  +text-block(.8125rem 1.45 .125rem)

.user-dates__update-at
  +text-block(.8125rem 1.45)

.user-dates__created-at-label,
.user-dates__created-at-value
  display: inline-block

.user-dates__update-at-label
  display: inline-block

.user-dates__update-at-value
  display: inline-block

.user-dates__active-practices
  display: inline-block

.user-dates__active-practice
  display: inline-block

.user-purpose
  +text-block(.8125rem 1.45)
  +media-breakpoint-down(sm)
    margin-bottom: 1rem

.user-purpose__label,
.user-purpose__value
  display: inline-block
