.user-metas
  margin-top: 1rem

.user-metas__title
  border: solid 1px $border-more-shade
  margin-bottom: -1px
  padding: .375rem .75rem
  +text-block(.75rem 1.4, 600)
  background-color: $background
  position: relative

.user-metas__items
  border: solid 1px $background-shade

.user-metas__item
  +text-block(.75rem 1.4, flex)
  +media-breakpoint-down(sm)
    display: block
  &:nth-child(even)
    background-color: #fafafa
  &:not(:last-child)
    border-bottom: solid 1px $background-shade

.user-metas__item-label
  text-align: right
  border-right: dashed 1px $background-shade
  flex: 0 0 9rem
  padding: .375rem .5rem
  +media-breakpoint-down(sm)
    text-align: left
    border-right: none
    border-bottom: dashed 1px $background-shade

.user-metas__item-value
  flex: 1
  padding: .375rem .5rem
  ul
    list-style: disc
    margin-left: 2em
  li
    +margin(vertical, .25rem)
  *:first-child
    margin-top: 0
  *:last-child
    margin-bottom: 0
