.user-find-job-assist
  background-color: $accent-color
  padding: .1875rem .75rem
  border-radius: 1rem
  margin-left: .5rem
  +inline-block
.user-find-job-assist__value
  +text-block(.625rem 1.45, $main-color)
