.user-part
  background-color: #b04d4d
  +inline-block(middle)
  padding: .1875rem .5rem
  +text-block(.625rem 1.45, center $reversal-text 600)
  margin-right: .5rem
  border-radius: .25rem
  &.is-header
    margin-left: .5rem
    margin-right: 0
  &.is-working_week
    background-color: $accent-color
    color: $default-text
  &.is-adviser
    background-color: #3976c3
  &.is-graduate
    background-color: #409c73

.user-data
  padding: 1rem
  background-color: $base
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  border-radius: .25rem
  margin-bottom: 1rem
  overflow: hidden
  +position(relative)

.user-data__inner
  display: flex
  flex-wrap: wrap
  @media (min-width: 1400px)
    +margin(horizontal, -.5rem)

.user-data__main
  flex: 0 0 100%
  margin-bottom: .75rem
  @media (min-width: 1400px)
    flex: 0 0 50%
    margin-bottom: 0
    +padding(horizontal, .5rem)

.user-data__sub
  flex: 0 0 100%
  @media (min-width: 1400px)
    flex: 0 0 50%
    +padding(horizontal, .5rem)

.user-data__description
  height: 100%
  border-radius: .25rem
  p
    +text-block(.8125rem 1.8 .8em)
    &:last-child
      margin-bottom: 0

.user-data__edit
  margin-top: .75rem
  text-align: right
