.user-profile
  +position(relative)
  padding-left: 6rem
  min-height: 6.25rem
  margin-bottom: .5rem
  padding-right: 5.5rem
  +media-breakpoint-down(lg)
    padding-right: 0
  +media-breakpoint-down(sm)
    padding-left: 0
    text-align: center
  &.is-company
    padding-right: 0

.user-profile__icon
  +position(absolute, left 0, top 0)
  +media-breakpoint-down(sm)
    position: static
    text-align: center
    margin-bottom: .25rem

.user-profile__user-icon-image
  +media-breakpoint-up(md)
    +size(5rem)
  +media-breakpoint-down(sm)
    +size(4rem)

.user-profile__login-name
  +text-block(1.5rem 1.2 0 .25rem, 600 $main)
  +word-wrap

.user-profile__full-name
  +text-block(.875rem 1.45 0 .25rem, 400)

.user-profile__kana-full-name
  color: $muted-text
  font-size: .8125em
  margin-left: .5em

.user-profile__names
  +media-breakpoint-down(sm)
    .sns-links__items
      justify-content: center
    .users-item-names
      justify-content: center

.user-profile__company-name
  +text-block(.875rem 1.45, 400)

.user-profile__company-logo
  +size(3.5rem)
  background-color: $base
  object-fit: contain
  +position(absolute, right 0, top 0)
  border-radius: .25rem
  border: solid 1px $border
