.user-reports
  +media-breakpoint-down(sm)
    &:first-child
      margin-top: 2rem

.user-reports:not(:last-child)
  margin-bottom: 2rem

.user-reports__title
  +text-block(1rem 1.45 .75rem)

.user-reports__items
  margin-top: -.5rem
  display: flex
  flex-wrap: wrap
  +media-breakpoint-down(md)
    display: block

.user-reports-item
  +position(relative)
  flex: 0 0 50%
  width: 50%
  border-bottom: solid 1px $background-color-shade
  +padding(horizontal, .75rem)
  +media-breakpoint-down(md)
    +padding(horizontal, 0)
    width: 100%

.user-reports-item__link
  display: block
  +padding(vertical, .5rem)
  +position(relative)
  &.has-user-icon
    padding-left: 3.5rem
  &:hover
    .user-reports-item__title
      text-decoration: underline

.user-reports-item__user-icon
  +position(absolute, left 0, top .5rem)
  +size(2.75rem auto)
  border-radius: 50%

.user-reports-item__title
  +text-block(.875rem 1.4, $main-color nowrap)
  overflow: hidden
  text-overflow: ellipsis
  +media-breakpoint-down(sm)
    line-height: 1.4
    margin-bottom: .5rem

.user-reports-item__updated-at
  +text-block(.75rem 1.4, block $muted-text inline-block)

.user-reports-item__comment-count
  +text-block(.75rem 1.4, block $muted-text inline-block)
  margin-left: .75rem

.user-reports-item__comment-count-label
  +text-block(.75rem 1.4, block $muted-text inline-block)
  margin-right: .25rem

.user-reports-item__comment-count-value
  +text-block(.75rem 1.4, block $muted-text inline-block)

.user-reports-item-actions
  +position(absolute, right 0, top .25rem)
  +media-breakpoint-down(sm)
    position: static

.user-reports-item-actions__items
  display: flex
  +media-breakpoint-down(sm)
    margin-top: -.5rem
    justify-content: flex-end

.user-reports-item-actions__item-link
  +size(2rem)
  display: flex
  align-items: center
  justify-content: center
  +text-block(1.125rem, $muted-text)
