.users-item
  +media-breakpoint-up(md)
    +padding(vertical, .375rem 1.5rem)
  height: 100%

.users-item__inactive-message
  background-color: $danger
  +text-block(.75rem 1.4, center $reversal-text)
  padding: .25rem
  margin-bottom: .25rem

.users-item__inner
  +media-breakpoint-up(md)
    height: 100%

.users-item__header
  +position(relative)
  padding-left: 3.5rem
  padding-right: 1rem
  padding-top: .5rem
  border-bottom: solid 1px $background
  padding-bottom: .5rem
  +media-breakpoint-down(sm)
    padding-left: 3rem

.users-item__name
  +text-block(1em 1.4, 600 $main block)
  margin-bottom: .125rem
  +media-breakpoint-up(md)
    font-size: 1.25rem
  +media-breakpoint-down(sm)
    font-size: 1.125rem
  i
    color: $danger
    margin-left: .25em
    font-size: .75em

.users-item__name-link
  color: $main-text
  display: block
  +hover-link

.users-item__user-icon-image
  background-color: $base
  +media-breakpoint-up(md)
    +size(4rem)
    +position(absolute, left -1rem, top -.375rem)
    box-shadow: 0 0 0 4px $base
  +media-breakpoint-down(sm)
    +size(3rem)
    +position(absolute, left -.75rem, top -.5rem)
    box-shadow: 0 0 0 2px $base

.users-item__body
  padding: .75rem 1rem 0

.users-item__description
  p
    +text-block(.75rem 1.6)

.users-item__tags
  margin-top: .75rem

.users-item__edit
  text-align: center
  margin-top: -.25rem
  padding-bottom: 1rem

.user-item__company-logo
  max-width: 3rem
  background-color: $base
  +position(absolute, right 0.5rem, top 0.5rem)
  border-radius: .25rem
  border: solid 1px $border
  +media-breakpoint-down(lg)
    +position(absolute, right -0.5rem, top -0.5rem)
    border-radius: 50%
