.user-secret-attributes
  font-size: .75rem
  &:not(:first-child)
    margin-top: .25em

.user-secret-attributes__items
  display: flex
  flex-wrap: wrap

.user-secret-attributes__item
  line-height: 1.4
  &:not(:first-child)
    &::before
      content: "、"
