# わいわい
---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=hatsuno%40fjord.jp&source=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
      Idempotency-Key:
      - 825fdfc9-cd7a-4f76-af9e-3b40bb037375
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 825fdfc9-cd7a-4f76-af9e-3b40bb037375
      Original-Request:
      - req_bmd3B2W1VSclKy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_12345678",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1624166714,
          "currency": null,
          "default_source": "card_1J4J9iBpeWcLFd8fnb8MBHdy",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "hatsuno@fjord.jp",
          "invoice_prefix": "75D4D02F",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1J4J9iBpeWcLFd8fnb8MBHdy",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_12345678",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2022,
                "fingerprint": "eag9gJuE59ucFrh7",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_12345678/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_12345678/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_12345678/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 20 Jun 2021 05:25:15 GMT
recorded_with: VCR 6.0.0
