---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_12345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XLP1Ajz1JvT9jUt5uKGvL0Wd
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2018-11-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_12345678",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1623903095,
          "currency": "jpy",
          "default_source": "card_1J4Jk7BpeWcLFd8fpxPZQUtR",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "komagata+2@gmail.com",
          "invoice_prefix": "B097EDC3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 3,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1J4Jk7BpeWcLFd8fpxPZQUtR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_12345678",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2022,
                "fingerprint": "eag9gJuE59ucFrh7",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_12345678/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_JgZj7auU6NEXcA",
                "object": "subscription",
                "application_fee_percent": null,
                "automatic_tax": {
                  "enabled": false
                },
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1624162293,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "collection_method": "charge_automatically",
                "created": 1623903096,
                "current_period_end": 1626754293,
                "current_period_start": 1624162293,
                "customer": "cus_12345678",
                "days_until_due": null,
                "default_payment_method": null,
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "invoice_customer_balance_settings": {
                  "consume_applied_balance_on_void": true
                },
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_JgZjSNfZ3gxxxr",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1623903097,
                      "metadata": {
                      },
                      "plan": {
                        "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 29800,
                        "amount_decimal": "29800",
                        "billing_scheme": "per_unit",
                        "created": 1623307751,
                        "currency": "jpy",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": "スタンダードプラン",
                        "product": "prod_JdzgjajHO6tZGI",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "price": {
                        "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
                        "object": "price",
                        "active": true,
                        "billing_scheme": "per_unit",
                        "created": 1623307751,
                        "currency": "jpy",
                        "livemode": false,
                        "lookup_key": null,
                        "metadata": {
                        },
                        "nickname": "スタンダードプラン",
                        "product": "prod_JdzgjajHO6tZGI",
                        "recurring": {
                          "aggregate_usage": null,
                          "interval": "month",
                          "interval_count": 1,
                          "trial_period_days": null,
                          "usage_type": "licensed"
                        },
                        "tiers_mode": null,
                        "transform_quantity": null,
                        "type": "recurring",
                        "unit_amount": 29800,
                        "unit_amount_decimal": "29800"
                      },
                      "quantity": 1,
                      "subscription": "sub_JgZj7auU6NEXcA",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_JgZj7auU6NEXcA"
                },
                "latest_invoice": "in_1J4I14BpeWcLFd8fqqnETK0m",
                "livemode": false,
                "metadata": {
                },
                "next_pending_invoice_item_invoice": null,
                "pause_collection": null,
                "pending_invoice_item_interval": null,
                "pending_setup_intent": null,
                "pending_update": null,
                "plan": {
                  "id": "price_1J0hhTBpeWcLFd8ffLjm4nKO",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 29800,
                  "amount_decimal": "29800",
                  "billing_scheme": "per_unit",
                  "created": 1623307751,
                  "currency": "jpy",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "スタンダードプラン",
                  "product": "prod_JdzgjajHO6tZGI",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1623903096,
                "start_date": 1623903096,
                "status": "active",
                "tax_percent": null,
                "transfer_data": null,
                "trial_end": 1624162293,
                "trial_start": 1623903096
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_12345678/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_12345678/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 20 Jun 2021 06:05:24 GMT
[...]
