@use "../../../config/mixins/break-points"

.form-notice
  &:not(:first-child)
    margin-top: 1em
  +break-points.media-breakpoint-up(md)
    margin-bottom: 2rem
  +break-points.media-breakpoint-down(sm)
    margin-bottom: 1.5rem
