@use "../../../config/mixins/break-points"

.form-item-actions
  +break-points.media-breakpoint-up(md)
    margin-top: -.75rem
  +break-points.media-breakpoint-down(sm)
    margin-top: -.5rem

.form-item-actions__items
  display: flex
  align-items: center
  gap: .75rem

.form-item-actions__text-link
  text-decoration: none
  cursor: pointer
  &:hover,
  &:active
    text-decoration: underline
  cursor: pointer
  line-height: 1.4
  +break-points.media-breakpoint-up(md)
    font-size: .8125rem
  +break-points.media-breakpoint-down(sm)
    font-size: .75rem
  &.is-danger
    color: var(--danger)
    font-weight: 600
