.form-added-choice
  .form-added-choice + &
    margin-top: 1rem

.form-added-choice__inner
  +media-breakpoint-up(md)
    display: flex
    align-items: flex-start
    gap: .75rem

.form-added-choice__col
  &.is-main
    flex: 1

.form-added-choice__items
  display: flex
  +media-breakpoint-down(sm)
    gap: 1rem

.form-added-choice__action
  +media-breakpoint-down(sm)
    margin-top: .75rem
    display: flex
    justify-content: flex-end

.form-added-choice__label
  display: flex
  height: 2.75rem
  align-items: center
  &.is-count
    width: 1.5rem
    text-align: center
    justify-content: center
    .form-item__vertical-separator &
      height: 1.5rem
