@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/position"
@use "../../../config/mixins/text"

.form-actions
  +break-points.media-breakpoint-up(md)
    margin-top: 1.5rem
  +break-points.media-breakpoint-down(sm)
    margin-top: 1rem
  &.is-report
    +break-points.media-breakpoint-up(md)
      padding-bottom: 1.5rem
  .form-actions + &
    border-top: dashed 1px var(--border)
    +break-points.media-breakpoint-up(md)
      margin-top: 1rem
      padding-top: 1rem
    +break-points.media-breakpoint-down(sm)
      padding-top: 1rem

.form-actions__items
  gap: .75rem
  +break-points.media-breakpoint-up(md)
    display: flex
    align-items: flex-end
    justify-content: center
    flex-wrap: wrap
    position: relative
    max-width: 45em
    margin-inline: auto
  +break-points.media-breakpoint-down(sm)
    flex-direction: column

.form-actions__item
  +position.position(relative)
  &.is-sub
    +break-points.media-breakpoint-up(md)
      flex: 0 0 auto
    +break-points.media-breakpoint-down(sm)
      text-align: center
  &.is-muted
    +break-points.media-breakpoint-up(md)
      +position.position(absolute, right 0, bottom 0)
    +break-points.media-breakpoint-down(sm)
      text-align: right
  &.is-help
    +break-points.media-breakpoint-down(sm)
      margin-bottom: 1rem
  &.is-main
    +break-points.media-breakpoint-up(sm)
      min-width: 13rem
    +break-points.media-breakpoint-down(xs)
      width: 100%
  &.has-help
    +break-points.media-breakpoint-up(md)
      position: relative
      padding-bottom: 1.5rem
  +break-points.media-breakpoint-down(sm)
    width: 100%
    padding-inline: 0
    &:nth-child(2),
    &:nth-child(3)
      margin-top: .75rem
    > *
      width: 100%
    .a-button.is-text,
    .a-button.is-muted-text
      width: auto

.form-actions__item-help
  +text.text-block(.8125rem 1)
  text-align: center
  padding-top: .5rem
  .a-form-help-link
    margin-left: .5em
  +break-points.media-breakpoint-up(md)
    +position.position(absolute, left 0, bottom 0, right 0)

.form-actions__item-checkbox
  margin-bottom: .5rem

.form-actions__delete
  text-align: right
  +break-points.media-breakpoint-up(md)
    margin-top: .5rem
  +break-points.media-breakpoint-down(sm)
    margin-top: .75rem

.form-actions__delete-link
  +link.hover-link-reversal
  +text.text-block(.875rem 1.4)
  color: var(--muted-text)
  &:hover
    color: var(--danger)

.form-action-before-option
  margin-bottom: .5rem
  &.has-help
    display: flex
