.error-message
  max-width: 40rem

.retire-message__header
  border-bottom: solid 1px $background
  +border-radius(top, .25rem)
  padding: .88em 1.33em
  font-size: 1.125rem
  +media-breakpoint-down(sm)
    font-size: 1rem

.retire-message__title
  +text-block(1em 1.4, center)

.retire-message__body
  padding: 1.25em 1.5em
  font-size: 1rem
  +media-breakpoint-down(sm)
    font-size: .875rem
  p
    +text-block(1em 1.6 0 1em)
    &:last-child
      margin-bottom: 0
  strong
    font-weight: 800
    display: inline-block
    +margin(horizontal, .25em)
