.company-profile__logo-image {
  background-color: var(--base);
  object-fit: contain;
  border-radius: 0.25rem;
  width: 3.5rem;
  height: 3.5rem;
}

.company-profile__body {
  padding: 1rem;
}

.company-profile__description {
  font-size: 0.8125rem;
}

@media (width >= 48em) {
  .company-profile__logo-image {
    width: 4.5rem;
    height: 4.5rem;
  }

  .company-profile__description {
    font-size: 0.9375rem;
  }
}
