.m-user-icons
  padding-top: .5rem
  margin-top: .75rem
  border-top: dotted 1px $background
  margin-bottom: -.25rem

.m-user-icons__items
  display: flex
  flex-wrap: wrap
  +margin(horizontal, -.125rem)
  margin-bottom: -.25rem

.m-user-icons__item
  +padding(horizontal, .125rem)
  padding-bottom: .25rem

.m-user-icons__item-icon
  +size(2rem)
