.bootcamp-ad
  margin-top: 1rem
  a.a-card
    +block-link
    color: $default-text

.bootcamp-ad__image
  float: left
  margin-right: 1rem
  margin-bottom: .5rem
  +size(4rem auto)
  +position(relative, top .125rem)
.bootcamp-ad__image + *
  margin-top: 0
.a-button
  +media-breakpoint-up(md)
    max-width: 20rem
    +margin(horizontal, auto)
