@use "../../config/variables/fonts"

html
  font-family: fonts.$sans-serif
  color: var(--default-text)

body.is-not-logged-in
  background-color: var(--main)

body.is-completion
  background-color: var(--completion)
