p メール配信を停止しました。
= link_to "再びメール配信を希望する場合はこちらから", edit_current_user_url(anchor: "mail-notification"), style: "color:#4638a0; font-family: sans-serif; font-size:14px; font-weight:bold;line-height:140%; text-transform:none; margin:0px;", target: "_blank"
