.a-switch.is-hidden-sm-down
  label.a-switch__label(for='modal-mentor-mode')
    span.a-switch__label-text
      | メンターモード
    .a-help
      i.fa-solid.fa-question
  label.a-on-off-checkbox.is-sm(for='display-only-mentor')
    input.js-mentor-mode__trigger#display-only-mentor(type = 'checkbox' checked = 'checked')
    span#checkbox-mentor-mode

= render '/shared/modal', id: 'modal-mentor-mode', modal_title: 'メンターモードとは？'
  .modal__description.is-md
    .a-short-text
      p
        | メンターモードをONにしたときだけ、メンターにしか見えない情報が表示されます。
        | 画面共有をする際などは、見えてはいけない情報が表示されるのを防ぐため、メンターモードをOFFにするようお願いします🙏
