version: 2.1

orbs:
  ruby: circleci/ruby@2.5.4
  node: circleci/node@7.1.1
  browser-tools: circleci/browser-tools@2.3.2
jobs:
  build:
    docker:
      - image: cimg/ruby:3.4.3-node
    steps:
      - checkout
      - run:
          name: Configure Bundler
          command: |
            bundle lock --add-platform ruby
      - ruby/install-deps
      - node/install:
          install-yarn: false
          node-version: '22.19.0'
      - node/install-packages:
          pkg-manager: npm
  check:
    docker:
      - image: 'cimg/ruby:3.4.3-node'
    steps:
      - checkout
      - run:
          name: Configure Bundler
          command: |
            bundle lock --add-platform ruby
      - ruby/install-deps
      - ruby/rubocop-check:
          format: progress
          label: Inspecting with Rubocop
      - run:
          name: Slim Lint
          command: bundle exec slim-lint app/views -c config/slim_lint.yml
      - run:
          name: Update package list
          command: sudo apt-get update
      - run:
          name: Install libvips and libheif
          command: sudo apt-get install -y libvips libheif-dev
      - run:
          name: Traceroute
          command: FAIL_ON_ERROR=1 bundle exec rake traceroute
      - node/install:
          install-yarn: false
          node-version: '22.19.0'
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Lint
          command: npm run lint
  test:
    docker:
      - image: cimg/ruby:3.4.3-browsers
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: ci_test
      - image: cimg/postgres:14.4
    resource_class: large
    environment:
      BUNDLE_JOBS: '3'
      BUNDLE_RETRY: '3'
      PGHOST: 127.0.0.1
      PGUSER: postgres
      PGPASSWORD: 'postgres'
      RAILS_ENV: test
      DATABASE_URL: 'postgres://postgres:postgres@localhost/ci_test'
      TZ: Asia/Tokyo
      SHAKAPACKER_NODE_MODULES_BIN_PATH: ./node_modules/.bin
    parallelism: 8
    steps:
      - checkout
      - browser-tools/install_browser_tools
      - run:
          command: |
            google-chrome --version
            chromedriver --version
          name: Check install
      - run:
          name: Configure Bundler
          command: |
            bundle lock --add-platform ruby
      - ruby/install-deps:
          clean-bundle: true
      - node/install:
          install-yarn: false
          node-version: '22.19.0'
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Install japanese font
          command: sudo apt-get install -y fonts-noto-cjk
      - run:
          name: Install libvips and libheif
          command: sudo apt-get install -y libvips libheif-dev
      - run:
          name: Wait for DB
          command: 'dockerize -wait tcp://localhost:5432 -timeout 1m'
      - run:
          name: Database setup
          command: 'bundle exec rails db:prepare'
      - run:
          name: Assets precompile
          command: 'bundle exec rails assets:clean assets:precompile'
      - run:
          name: Test
          command: |
            circleci tests glob "test/**/*_test.rb" | circleci tests run --command="xargs bundle exec rails test" --verbose --split-by=timings --timings-type=filename
      - store_test_results:
          path: test/reports
      - store_artifacts:
          path: tmp/screenshots
workflows:
  build_and_test:
    jobs:
      - build
      - check
      - test:
          requires:
            - build
