body
  .is-hidden
    display: none

  .is-hidden-md-up
    +media-breakpoint-up(md)
      display: none

  .is-hidden-lg-up
    +media-breakpoint-up(lg)
      display: none

  *[hidden],
  .is-hidden
    display: none !important
