@use "../../../config/mixins/break-points"

.next-settlement-time
  +break-points.media-breakpoint-up(md)
    display: flex
    align-items: center
    justify-content: center

.next-settlement-time__title
  font-size: .875rem
  line-height: 1.4
  font-weight: 400
  +break-points.media-breakpoint-up(md)
    margin-right: .5em

.next-settlement-time__time
  font-size: 1rem
  line-height: 1.4
  font-weight: 700
  color: var(--danger)
