.faqs-item
  padding-bottom: 2rem
  height: 100%

.faqs-item__inner
  border: solid 2px $welcome-card-border
  background-color: $base
  padding: 1.25rem 1rem 1rem 2.5rem
  border-radius: .25rem
  +position(relative)
  height: 100%

.faqs-item__title
  +text-block(1.125rem 1.45 0 .5rem, 600 flex)
  align-items: baseline
  +media-breakpoint-down(sm)
    font-size: .875rem

.faqs-item__title-icon
  height: 3rem
  width: 3rem
  margin-right: .75rem
  position: absolute
  left: -1rem
  top: -1rem

.faqs-item__body
  p
    +text-block(1rem 1.6 .5em)
    &:last-child
      margin-bottom: 0
