.welcome-section.is-gw
  +padding(vertical, 2rem)
  background-color: #fbec01
  .welcome-section__title
    font-weight: 800
    +media-breakpoint-up(md)
      br
        display: none
    +media-breakpoint-down(sm)
      font-size: 1.5rem
      margin-bottom: .25rem
  .em
    font-style: normal
    font-weight: 700
    &.is-danger
      color: $danger
