.welcome-page-header
  background-color: #178bff
  .container
    display: flex
    align-items: center
    +media-breakpoint-up(md)
      height: 5.125rem
    +media-breakpoint-down(sm)
      height: 3.5rem

.welcome-page-header__title
  +text-block(1em 1.4, 600 $reversal-text)
  +media-breakpoint-up(md)
    font-size: 2rem
  +media-breakpoint-down(sm)
    font-size: 1.5rem

.welcome-page-header__inner
  +media-breakpoint-up(md)
    display: flex
    justify-content: space-between
    align-items: center

.welcome-page-header__title-image
  +media-breakpoint-up(md)
    +size(20rem auto)
  +media-breakpoint-down(sm)
    +size(14rem auto)
