.welcome-header-nav
  height: 100%
  margin-left: 3rem
  +media-breakpoint-down(sm)
    display: none

.welcome-header-nav__items
  height: 100%
  display: flex
  align-items: center
  +margin(horizontal, -.875rem)

.welcome-header-nav__item
  +padding(horizontal, .0625rem)

.welcome-header-nav__item-link
  +text-block(.875rem 1, $welcome-default-text 900 block)
  +padding(horizontal, .875rem)
  text-decoration: none
  +padding(vertical, .375rem)
  +position(relative)
  transition: all .2s ease-out
  &::before
    transition: all .2s ease-out
    content: ""
    display: block
    +size(0 100%)
    background-color: rgba($welcome-yellow, .4)
    +position(absolute, left 50%, bottom 0, top 0, -1)
    transform: translate(-50%, 0)
    opacity: 0
    border-radius: 2rem
  &:hover
    &::before
      width: 100%
      opacity: 1
  &:active
    &::before
      width: 100%
      opacity: 1
      background-color: $welcome-yellow
  &.is-active
    color: $reversal-text
    &::before
      transition: all .2s ease-out
      content: ""
      display: block
      +size(100%)
      background-color: $welcome-pink
      +position(absolute, left 50%, bottom 0, top 0, -1)
      transform: translate(-50%, 0)
      border-radius: 2rem
      opacity: 1

.welcome-header__home-link-image
  transition: all .2s ease-out
  .welcome-header__home-link:hover &
    transform: scale(.95)
