.welcome-child-section:not(:first-child)
  margin-top: 2rem
  +media-breakpoint-down(sm)
    margin-top: 1.5rem

.welcome-child-section__title
  +text-block(1.5rem 1.45 0 .6em, 700 center $welcome-default-text)
  font-feature-settings: "palt"
  +media-breakpoint-down(sm)
    font-size: 1rem
  &.is-reversal
    color: $reversal-text

.welcome-child-section__top-image
  +margin(vertical, 1.25rem)
  +media-breakpoint-down(sm)
    height: 5rem
    display: block
    margin: 0 auto 1rem

.welcome-child-section__description
  max-width: 40rem
  +margin(horizontal, auto)
  margin-bottom: 2rem
  &.is-lead-tex
    text-align: center
    +media-breakpoint-down(sm)
      text-align: left
  p
    +text-block(.9375rem 1.8 0 1.2em)
    +media-breakpoint-down(sm)
      font-size: .875rem
  table
    width: 100%
    background-color: $base
    border: solid 2px $welcome-card-border
    border-radius: .25rem
  tr
    &:not(:last-child)
      border-bottom: solid 1px $welcome-card-border
  th,
  td
    +text-block(.8125rem 1.5)
    padding: .5rem 1rem
  th
    text-align: right
    white-space: nowrap
    font-weight: 400
  td
    text-align: left
  *:last-child
    margin-bottom: 0

.welcome-child-section__description-link
  color: blue
  +hover-link-reversal

.welcome-section__title + .welcome-child-section
  margin-top: 0
