body.welcome
  color: $welcome-default-text
  font-family: $basic-serif
  +media-breakpoint-down(sm)
    .row
      +margin(horizontal, 0)
      [class*=col-xs-12]
        +padding(horizontal, 0)

.welcome-container
  max-width: 60rem
  +margin(horizontal, auto)
