.welcome-page-header
  background-color: $welcome-blue

.welcome-page-header__inner
  display: flex
  align-items: center
  +media-breakpoint-up(md)
    height: 4.5rem
  +media-breakpoint-down(sm)
    height: 3.5rem

.welcome-page-header__title
  +text-block(1em 1.4, 600 $reversal-text)
  +media-breakpoint-up(md)
    font-size: 1.75rem
  +media-breakpoint-down(sm)
    font-size: 1.5rem
