body.home-welcome
  color: $welcome-default-text
  font-family: $basic-serif
  +media-breakpoint-down(sm)
    .row
      +margin(horizontal, 0)
      [class*=col-xs-12]
        +padding(horizontal, 0)

.welcome-container
  max-width: 60rem
  +margin(horizontal, auto)

.welcome-section
  +padding(vertical, 3rem)
  +position(relative)
  +media-breakpoint-down(md)
    +padding(vertical, 2rem)

.welcome-section__title
  +text-block(1.75rem 1.45 0 .3em, 400 center $welcome-default-text)
  +media-breakpoint-down(sm)
    +text-block(1.125rem 1.3 0 1rem)
    +position(relative)

.welcome-section__sub-title
  +text-block(1.25rem 1.45 0 .8em, 700 center $welcome-default-text)
  font-feature-settings: "palt"
  +media-breakpoint-down(sm)
    font-size: 1rem
  &.is-reversal
    color: $reversal-text

.welcome-section__title-image
  max-width: 33rem
  +media-breakpoint-down(sm)
    +margin(horizontal, -1rem)

.welcome-section__description
  max-width: 40rem
  +margin(horizontal, auto)
  &:not(:last-child)
    margin-bottom: 2rem
  .welcome-section__title + &
    margin-top: 1em
  &.is-reversal
    color: $reversal-text
  p
    +text-block(1rem 1.6 0 1.2em)
    +media-breakpoint-down(sm)
      font-size: .875rem
  *:last-child
    margin-bottom: 0

.welcome-section__description-link
  +hover-link-reversal
  color: blue
  cursor: pointer

.welcome-section__side-image-sections-container
  margin-top: 3.5rem
  +media-breakpoint-down(sm)
    margin-top: 0
    .row.is-gutter-width-64
      +margin(horizontal, 0)
