//
  .welcome-section
    &.is-yellow
      background-color: #f4e90f
    &.is-grass
      background-color: #4d9401
      background-image: image_url('green-texture.png')
      background-size: 12rem
      background-repeat: repeat
      background-position: center center
    &.is-wood
      background-color: #f8d9a6
      background-image: image_url('wood.png')
      background-size: 15rem
      background-repeat: repeat
      background-position: center center
    &.is-space
      background-color: #040402
      background-image: image_url('space.jpg')
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
    &.is-bird
      background-color: #2d446e
      background-image: image_url('birds-texture.png')
      background-size: 16rem
      background-repeat: repeat
      background-position: center center
    &.is-white
      background-color: $base
    &.is-dots
      background-color: #dddddd
      background-image: image_url('dots.svg')
      background-size: 2rem
      background-repeat: repeat
      background-position: center center
    &.is-blue
      background-color: $welcome-main-color
      background-image: image_url('main-visual-bg.svg')
      background-size: 1.75rem
      background-repeat: repeat
      background-position: center center
