.welcome-actions
  +padding(vertical, 2rem)
  background-color: #d8d8d8

.welcome-actions__items
  display: flex
  justify-content: center
  +media-breakpoint-up(md)
    +margin(horizontal, -.75rem)
  +media-breakpoint-down(sm)
    display: block

.welcome-actions__item
  +media-breakpoint-up(md)
    +padding(horizontal, .75rem)
    width: 20rem
  +media-breakpoint-down(sm)
    &:not(:first-child)
      margin-top: .75rem
