.welcome-footer
  background-color: #646464
  +padding(vertical, 3rem)

.welcome-footer-copyright
  display: flex
  justify-content: center
  align-items: center
  +text-block(.875rem 1.45, $reversal-text)

.welcome-footer-copyright__author
  display: block
  +margin(horizontal, .1em .5em)
