.welcome-header
  $border-height: .625rem
  +position(relative)
  padding-bottom: calc(#{$border-height} * 3)
  &::before
    content: ""
    +size(100% calc(#{$border-height} * 3))
    background-color: $welcome-orange
    +position(absolute, left 0, bottom 0)
    border-top: solid $border-height $welcome-yellow
    border-bottom: solid $border-height $welcome-pink
    box-shadow: rgba(black, .2) 0 2px 1px

.welcome-header__inner
  height: 4rem
  +position(relative)
  display: flex
  align-items: center

.welcome-header__home
  +size(3.125rem)

.welcome-header__login
  +position(absolute, right 0, top 50%)
  transform: translate(0, -50%)

.welcome-header__login-link
  +text-block(.8125rem 1, flex $muted-text 800)
  +size(6.75rem 2.125rem)
  border: solid 2px $muted-text
  text-decoration: none
  align-items: center
  justify-content: center
  border-radius: .375rem
  transition: all .2s ease-out
  &:hover
    border-color: $welcome-pink
    color: $welcome-pink
    background-color: rgba($welcome-pink, .1)
