.card-body
  flex: 1
  &.has-scroll
    max-height: 18rem
    overflow-y: auto

.card-body__description
  +media-breakpoint-up(md)
    padding: 1rem
  +media-breakpoint-down(sm)
    padding: .75rem
  &.a-long-text
    +media-breakpoint-up(md)
      font-size: .9375rem
    +media-breakpoint-down(sm)
      font-size: .8125rem

.card__main-movie
  video
    border-radius: .25rem .25rem 0 0

.card-body__inner
  max-width: 100%
  width: 100%
  +media-breakpoint-up(md)
    padding: 1rem 1.5rem
  +media-breakpoint-down(sm)
    padding: 1rem
