@use "../../../config/mixins/border-radius"
@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/text"

.card-footer
  +break-points.media-breakpoint-up(md)
    padding: .5rem 1rem
    min-height: 3rem
  +break-points.media-breakpoint-down(sm)
    padding: .5rem .75rem
  &:last-child
    +border-radius.border-radius(bottom, .25rem)

.card-footer__description
  +text.text-block(.75rem 1.4 .5rem, center)
  color: var(--muted-text)
  +break-points.media-breakpoint-down(sm)
    text-align: left
    font-size: .625rem
    br
      display: none

.card-footer__notice
  +text.text-block(.8125rem 1.4 .5rem, center)
  color: var(--success)

.card-footer__footer-link
  height: 100%
  display: flex
  justify-content: flex-end
  align-items: flex-end

.card-footer__footer-text-link
  +text.text-block(.8125rem 1.4)
  color: var(--muted-text)
  +link.hover-link-reversal
