@use "../../../config/mixins/break-points"

.card-eyecatch
  +break-points.media-breakpoint-up(md)
    padding: 1rem 1rem 0
  +break-points.media-breakpoint-down(sm)
    padding: .75rem .75rem 0

.card-eyecatch__image
  display: block
  border-radius: 4px
  aspect-ratio: 1.91 / 1
  width: 100%
  object-fit: cover
  border-radius: .25rem
