@use "../../../config/mixins/border-radius"
@use "../../../config/mixins/break-points"

.card-header
  display: flex
  align-items: center
  justify-content: space-between
  +break-points.media-breakpoint-up(md)
    padding: .75rem 1rem
  +break-points.media-breakpoint-down(sm)
    padding: .5rem .75rem
  &.is-sm
    padding-block: .625rem
    .a-button.is-xs
      margin-block: -.25rem
  &:first-child
    +border-radius.border-radius(top, .25rem)
  & + .a-form-tabs
    margin-top: -1px

.card-header__inner
  display: flex
  align-items: center
  width: 100%
  gap: 1rem

.card-header__title
  font-size: 1em
  line-height: 1.4
  font-weight: 600
  flex: 1
  +break-points.media-breakpoint-up(md)
    font-size: 1rem
  +break-points.media-breakpoint-down(sm)
    font-size: .875rem
  .card-header.is-sm &
    font-size: .875rem
  .card-header.is-lg &
    font-size: 1.5rem

.card-header__count
  font-weight: 400
  letter-spacing: 0
  margin-left: .125rem

.card-header__title-emotion-image
  height: 1.25em
  width: 1.25em
  display: inline-block
  vertical-align: middle
  margin-inline: .125em
  position: relative
  top: -.125em

.card-header__sub-title
  font-size: .8125rem
  line-height: 1.4
  +break-points.media-breakpoint-down(sm)
    font-size: .75rem

.card-header__action
  display: flex
