@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.congrats-card-body__title
  +text.text-block(1.5rem 1.4, 700)
  +break-points.media-breakpoint-up(md)
    font-size: 1.5rem
  +break-points.media-breakpoint-down(sm)
    font-size: 1rem

.congrats-card-body__image-container
  margin-top: 1.25rem

.congrats-card-body__image-container
  width: 100%
  max-width: 28rem
  margin-inline: auto

.congrats-card-body__image
  border-radius: .75rem
  border: solid .5rem var(--border-tint)

.congrats-card-body
  .card-main-actions
    margin-top: 1.25rem
