@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/mixins/text"

.practice-books__items
  margin-top: -1px
  +break-points.media-breakpoint-up(md)
    display: flex
    flex-wrap: wrap

.practice-books-item
  +break-points.media-breakpoint-up(md)
    border-top: solid 1px var(--border-tint)
    flex: 0 0 50%
    height: 100%
    display: flex
    flex-direction: column
    &:nth-child(odd)
      border-right: solid 1px var(--border-tint)
  +break-points.media-breakpoint-down(sm)
    &:not(:first-child)
      border-top: solid 1px var(--border-tint)

.practice-books-item__body
  +break-points.media-breakpoint-up(md)
    flex: 1

.practice-books-item__inner
  padding: .75rem 1rem
  text-decoration: none
  .practice-books &
    +size.size(100%)
  +break-points.media-breakpoint-up(md)
    +link.flex-link
    gap: 1rem
    align-items: flex-start
  +break-points.media-breakpoint-down(sm)
    display: block
    overflow: hidden

.practice-books-item__start
  +break-points.media-breakpoint-up(md)
    flex: 0 0 4rem
  +break-points.media-breakpoint-down(sm)
    float: left
    margin-right: 1rem
    width: 3.5rem

.practice-books-item__end
  flex: 1

.practice-books-item__cover-container
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.practice-books-item__image
  max-height: 100%
  max-width: 100%
  object-fit: contain
  object-position: 50% 0
  border: solid 1px var(--border-tint)
  border-radius: 2px

.practice-books-item__title
  +text.text-block(.875rem 1.4, 600)
  color: var(--default-text)
  transition: all .2s ease-out
  .a-badge
    +position.position(relative, top -.125em)
    margin-right: .5em

a.practice-books-item__inner:hover
  .practice-books-item__title-label
    text-decoration: underline
    color: var(--main-text)

.practice-books-item__price
  +text.text-block(.75rem 1.4)
  color: var(--default-text)

.practice-books-item__description
  font-size: .75rem
  color: var(--semi-muted-text)
