.tags-highlight
  position: absolute
  left: 0
  top: 0
  padding: .5rem .75rem
  display: flex
  gap: .25rem
  width: 100%
  flex-wrap: wrap

.tags-highlight__item
  width: 25%
  max-width: 6rem
  .a-badge
    border: solid 1px var(--base)
