.io-sample__title
  +text-block(.875rem 1.4, 700)

.io-sample__body
  margin-top: .5rem
  font-size: .875rem

.io-sample__code
  padding: .75rem
  border-radius: .25rem
  font-family: var(--monospace)
