.survey-added-question
  .survey-added-question + &
    margin-top: 1rem

.survey-added-question__inner
  display: flex
  gap: .75rem
  align-items: flex-end

.survey-added-question__col
  &.is-main
    flex: 1
    select
      width: 100%
