- title @practice.title
- if @practice.ogp_image.attached?
  - set_meta_tags(og: { image: polymorphic_url(@practice.ogp_image), url: request.url })

.page-body
  .container.is-md
    .complestion
      h1.complestion__title
        = "「#{@practice.title}」を修了しました🎉🎉🎉"
      - if @practice.ogp_image.attached?
        = image_tag @practice.ogp_image, class: 'complestion__image'
