*
  font-family: inherit
  font-size: inherit
  line-height: inherit

html
  //overflow-y: auto
  line-height: 1

#{$all-text-inputs},
select,
button
  outline: none

video,
img,
canvas,
iframe
  vertical-align: bottom
  max-width: 100%

img
  vertical-align: middle

h1,
h2,
h3,
h4,
h5,
h6,
p,
li
  line-height: inherit
  font-weight: inherit

table
  border-spacing: 0
  border-collapse: collapse

ul,
ol
  list-style: none

input[type="submit"]
  outline: none

+placeholder
  color: var(--placeholder-text)
  font-weight: 400

hr
  border: none

details,
details *,
summary
  box-sizing: border-box

a
  color: var(--main)
  word-break: break-all
  overflow-wrap: break-word

body
  min-height: 100vh
  height: 100%

textarea
  overflow-anchor: none

p
  word-wrap: break-word

code,
kbd,
pre,
samp
  font-family: var(--monospace)
