<table style="width: 100%;">
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:0px 20px 0px 20px;" align="center">
      <div style="cursor:auto; font-family: sans-serif ;text-align:center;">
        <h3 style="font-family: sans-serif; font-size: 20px; color:#4638a0; line-height: 1.4; margin-bottom: 0; font-weight: bold"><%= title %></h3>
      </div>
    </td>
  </tr>
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:16px 24px 16px 24px;" align="left">
      <div style="cursor:auto;font-family:sans-serif; font-size:14px; line-height:1.8; text-align:left;">
        <%= yield %>
      </div>
    </td>
  </tr>
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:0 20px 20px 20px;" align="center">
      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:auto;"
        align="center" border="0">
        <tbody>
          <tr>
            <td style="border:0px solid #000;border-radius:24px;color:#fff;cursor:auto;padding:12px 32px;"
              align="center" valign="middle" bgcolor="#30ABDB">
              <%= link_to link_text, link_url, style: "text-decoration:none; background:#30ABDB; color:#fff; font-family: sans-serif; font-size:14px; font-weight:bold;line-height:140%; text-transform:none; margin:0px;" %>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:0 20px 20px 20px;" align="center">
      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:auto;"
        align="center" border="0">
        <tbody>
          <tr>
            <td style="border:0px solid #000;cursor:auto;padding:12px 32px;"align="center" valign="middle">
              <%= link_to "メールでの通知オフはこちらから", edit_current_user_url(anchor: "mail-notification"), style: "color:#4638a0; font-family: sans-serif; font-size:14px; font-weight:bold;line-height:140%; text-transform:none; margin:0px;", target: "_blank" %>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
