= render "notification_mailer_template", title: "#{@comment.user.login_name}からメンションがありました", link_url: notification_url(@notification), link_text: "このメンションへ" do
  = simple_format(@comment.description)
