.modal-celebrate-report-count-body__description {
  font-size: 0.875rem;
  line-height: 1.6;
  text-align: center;
}

.modal-celebrate-report-count-body__image-container:not(:first-child) {
  margin-top: 1rem;
}
