
.footer-nav__items {
  display: flex;
  line-height: 1.4;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 48em) {
  .footer-nav__items {
    font-size: .8125rem;
    justify-content: center;
    gap: 1.75rem;
  }
}

@media (max-width: 47.9375em) {
  .footer-nav__items {
    font-size: .75rem;
  }
}

.footer-nav__item {
}

@media (max-width: 47.9375em) {
  .footer-nav__item {
    flex: 0 0 50%;
  }

  .footer-nav__item:nth-child(odd) {
    border-right: solid 1px var(--border);
  }
}

.footer-nav__item-link {
  color: var(--semi-muted-text);
}

@media (min-width: 48em) {
  .footer-nav__item-link {
    text-decoration: none;
    cursor: pointer;
  }

  .footer-nav__item-link:hover,
  .footer-nav__item-link:active {
    text-decoration: underline;
  }
}

@media (max-width: 47.9375em) {
  .footer-nav__item-link {
    display: flex;
    text-decoration: none;
    padding: .25rem 1rem;
    min-height: 2.75rem;
    align-items: center;
    border-bottom: solid 1px var(--border);
  }
}
