.auth-form
  max-width: 40rem
  background: rgba($base, .8)
  border: solid 1px var(--border)
  border-radius: .25rem
  margin-block: 2rem
  +media-breakpoint-up(md)
    margin-inline: auto
    padding: 2rem
  +media-breakpoint-down(sm)
    margin-inline: 0
    padding: 1rem
    margin-top: 2rem
    .auth-form__body
      padding-inline: 0
  .modal-body &
    margin: 0
    padding: 0
    border: none
    border-radius: 0

.auth-form__header
  border-bottom: solid 1px var(--border-tint)
  padding: 1.25rem

.auth-form__footer
  border-top: solid 1px var(--border-tint)
  padding: 1rem 1.25rem

.auth-form__title
  +text-block(1.25rem 1.45, center 600)
