.entry-header
  margin-bottom: 1.5rem
  +padding(horizontal, 1.25rem)
  +padding(vertical, 1rem)
  border-bottom: solid 1px $background
  +media-breakpoint-down(sm)
    +padding(horizontal, 1rem)
    margin-bottom: 1rem

.entry-header__title
  +text-block(1.8rem 1.3 0 .25rem, 600)
  +media-breakpoint-down(sm)
    font-size: 1.25rem

.entry-header__title-link
  color: $default-text
  display: block

.entry-header__meta-items
  list-style: none

.entry-header__meta-item
  +text-block(.8125rem 1.4, #b9b9b9 inline-block)
  +media-breakpoint-down(sm)
    display: block
