body
  min-height: 100vh
  height: 100%
  &.application
    +media-breakpoint-up(md)
      padding-top: $header-height__md-up
  &.is-piyo-background
    background-color: $main
    background-image: image_url('error-background-main-color.svg')
    background-repeat: repeat
    overflow-y: auto
    +media-breakpoint-up(md)
      background-size: 80px
    +media-breakpoint-down(sm)
      background-size: 72px

.wrapper
  min-height: 100vh
  scroll-behavior: smooth
  -webkit-overflow-scrolling: touch
  overflow-y: visible
  height: auto
  +media-breakpoint-up(md)
    display: flex
    flex-direction: column
  body.is-lerning &
    +media-breakpoint-up(md)
      margin-left: 5rem
  body.no-global-nav &
    margin-left: 0
  body.is-error-page &
    padding-top: 4rem
    overflow-y: auto

.wrapper__main
  flex: 1

.columns
  .columns + &
    margin-top: 1.5rem

[class*=a-button]
  &[class*=-secondary]
    border: solid 1px #c1c5b9
  &[class*=-primary]:disabled
    background-color: $primary
    cursor: default

[class*=a-button]:not(input)
  +padding(vertical, 0)

.page
  body.is-auth-page &
    padding-top: 2rem

textarea
  overflow-anchor: none

p
  word-break: break-all
