html body.is-test
  .wrapper
    height: auto
  .test-fixed-top
    +position(fixed, right 10rem, top 0)
  .test-fixed-bottom
    +position(fixed, right 10rem, bottom 0)
  .test-inline-block
    display: inline-block
  .test-block
    display: block
