.is-long-text-style
  h1
    +text-block(1.6em 1.4 .6em)
  h2
    +text-block(1.4em 1.4 .6em)
  h3
    +text-block(1.2em 1.4 .6em)
  p
    +text-block(.9375rem 2 1.4em)
  a
    +default-link
    +hover-link-reversal
  p + h1,
  p + h2,
  p + h3,
  p + h4,
    margin-top: .9em
  img
    max-width: 100%
  >img,
  a img
    display: block
    +margin(horizontal, auto)
    margin-bottom: 1.4em
  ul
    margin-bottom: 1.8em
    margin-left: 1.6em
  li
    +text-block(.9375rem 1.6 .8em)
  pre
    margin-bottom: 2rem
    code
      +text-block(.8125rem 1.45)
      padding: 1rem
      background-color: $background-color
      border-radius: .25rem
  .twitter-tweet
    +margin(horizontal, auto)
    margin-bottom: 2.5rem !important
  iframe
    +margin(horizontal, auto)
    margin-bottom: 2rem
    display: block
  *:last-child
    margin-bottom: 0
