h4 秘密保持契約書

p 合同会社フィヨルド（以下「甲」といいます）と登録ユーザー（以下「乙」といいます）とは、甲と乙の共同事業に関する検討（以下「本件目的」といいます）において両当事者が相互に開示する秘密情報の取扱に関し、次の通り契約します。

h5 第１条（定義）

p 本契約にいう「秘密情報」とは、相手方当事者に開示するにあたって、書面・口頭とを問わず、本契約当事者以外に開示するべきでないことを表明した、文書、図面、その他書類に記載され、又は磁気的若しくは光学的に記録された本契約当事者の営業上、技術上その他業務上の一切の知識及び情報（本契約当事者の事業計画、新製品情報等を含む）をいいます。口頭や映像により秘密情報を開示する場合には、開示のときに相手方当事者に秘密である旨の指定をし、開示後３０日以内に、当該秘密情報の開示の場所、日時及び開示内容を簡潔に記載して、秘密である旨を明示した書面を開示を受けた本契約当事者に提出するものとします。但し、秘密情報の開示を受けた本契約当事者につき次の各号の一に該当するものは除外します。

ol
  li 相手方当事者より開示を受けた時点において既に公知となっていることを開示を受けた本契約当事者が証明できるもの
  li 相手方当事者より開示を受けた後に開示を受けた本契約当事者の故意・過失によらず公知となったことを、開示を受けた本契約当事者が証明できるもの
  li 相手方当事者より開示を受ける前に開示を受けた本契約当事者が自ら知得し、又は秘密保持義務を負っていない第三者より正当な手段により入手していたことを、開示を受けた本契約当事者が証明できるもの
  li 相手方当事者の秘密情報によらず開示を受けた本契約当事者が独自に開発したもの

h5 第２条（秘密保持義務と使用目的）

ol
  li 本契約当事者は、相手方当事者から書面による承諾を得た場合以外は、前条による秘密情報を第三者に開示もしくは漏洩しないものとします。
  li 本契約当事者は、本契約により開示される秘密情報を本件目的のためにのみ使用し、その他の目的には一切使用しないものとします。

h5 第３条（開示の範囲）

p 本契約当事者は、第１条により開示された秘密情報を、本契約当事者の役員、社員又は従業員であって本件交渉に従事し当該秘密情報を知る必要がある者に限り、その必要な範囲内でのみ開示するものとします。但し、本契約当事者は、当該役員、社員または従業員に対して本契約による本契約当事者と同等の義務を遵守させるものとし、かつ、当該役員、社員又は従業員の行為について全責任を負うものとします。

h5 第４条（複写等）

p 本契約当事者は、相手方当事者による事前の書面による承諾を得た場合以外は、本件取引目的に必要な範囲を超えて秘密情報を記載又は記録した文書、図面その他の書類又は磁気的、光学的に記録された媒体を複製又は複写しないものとします。

h5 第５条（発明等の取扱）

p 甲または乙が相手方から開示された秘密情報に基づいて発明、考案または意匠の創作等（以下｢発明等｣という。）をなしたときは、甲または乙は、直ちに相手方に対し通知するものとし、権利の帰属，取扱い等について別途協議の上決定する。

h5 第６条（秘密情報の瑕疵担保責任）

p 甲及び乙は相手方に対し、秘密情報に瑕疵があった場合でも、瑕疵担保責任を含む一切の責任を負わないものとし、それらについて一切の明示または黙示の保証をしないものとします。

h5 第７条（損害賠償）

p 本契約当事者は、本契約の違反により相手方当事者に損害を与えた場合は、現実に発生した通常かつ直接の損害につき賠償します。

h5 第８条（協議）

p 本契約当事者は、常に相手方との信頼関係の維持につとめ、本契約の条項に疑義があり紛争が生じた場合又は本契約に規定のない事項について紛争が生じた場合は、信義則に則り、本契約当事者の協議で円満に解決するものとします。

h5 第９条（合意管轄）

p 本契約につき紛争が生じた場合には、東京簡易裁判所または東京地方裁判所を第一審の専属的合意管轄裁判所とする。

h5 第１０条（有効期間）

ol
  li 本契約は、#{l Date.current}から発効し、本件目的が終了し、又は取引契約の締結される日までとします。ただし，甲乙合意の上，延長できるものとします。
  li 前項の規定にかかわらず、第１条、第２条および第９条の規定は、本契約の終了後も有効に存続します。

= l Date.current
