- tags = @user_card_tags&.fetch(user.id, nil) || user.tag_list
.tag-links
  - if tags.present?
    ul.tag-links__items
      - tags.each do |tag|
        li.tag-links__item
          = link_to tag, users_tag_path(tag), class: 'tag-links__item-link'
