section.a-card.is-memo.is-only-mentor.user-mentor-memo(
  data-user_id=user_id
  data-current_user_id=current_user.id
)
  header.card-header.is-sm.user-mentor-memo__header
    h2.card-header__title
      | メンター向けユーザーメモ
      span.user-mentor-memo__count
  hr.a-border-tint
  .user-mentor-memo__status
    .a-long-text.is-sm.a-placeholder
      p
      p
      p
    .o-empty-message.is-hidden
      .o-empty-message__icon
        i.fa-regular.fa-sad-tear
      .o-empty-message__text
        | ユーザーメモはまだありません。
  .user-mentor-memo__list.is-hidden
    .user-mentor-memo__items
  hr.a-border-tint
  .user-mentor-memo__form-container
    .user-mentor-memo__form
      textarea.a-text-input.is-xs.user-mentor-memo__new-input(
        placeholder='メンターメモを入力'
        rows='2'
      )
      button.a-button.is-sm.is-primary.user-mentor-memo__add-button
        | 追加
