- title t('listing_users')
h1 #{t('listing_users')} (#{@users.size})
= render 'tab'
h2= t('active_users')
= render 'table', users: @active_users
h2= t('inactive_users')
= render 'table', users: @inactive_users
