.container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}
.container.is-xxxl {
  max-width: 108rem;
}
.container.is-xxl {
  max-width: 96rem;
}
.container.is-xl {
  max-width: 80rem;
}
.container.is-lg {
  max-width: 64rem;
}
.container.is-md {
  max-width: 48rem;
}
.container.is-sm {
  width: 40rem;
}
.container.is-xs {
  width: 32rem;
}
.container.is-xxs {
  width: 28rem;
}

@media (min-width: 48em) {
  .container {
    padding-inline: 1.5rem;
  }
}
