
.card-list {
  flex: 1;
}

.card-list.has-scroll {
  max-height: 25.5rem;
  overflow-y: auto;
  position: relative;
}

.completed-practices-progress + .card-list {
  border-top: solid 1px var(--border-tint);
}

@media (min-width: 48em) {
  .side-tabs-contents__item .card-list {
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
  }
}

.card-list__description {
  padding: .75rem 1rem;
  background-color: var(--background);
}

.card-list__message {
  padding-block: 2rem;
}

.card-list__deacription {
  padding: .75rem 1rem;
}

.card-list__deacription p {
  font-size: .8125rem;
  line-height: 1.6;
}

@media (max-width: 47.9375em) {
  .card-list__deacription p {
    font-size: .75rem;
  }
}

.card-list__notice {
  border: solid 1px var(--success);
  background-color: var(--success-tint);
  padding: .75rem 1rem;
  color: var(--success-text);
}

@media (max-width: 47.9375em) {
  .card-list__notice {
    padding: .5rem .75rem;
  }
}

.card-list__notice a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.card-list__notice a:hover,
.card-list__notice a:active {
  text-decoration: underline;
}

.card-list__label {
  font-size: .75rem;
  line-height: 1.4;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--background);
}

@media (min-width: 48em) {
  .card-list__label {
    padding: .25rem 1rem;
  }
}

@media (max-width: 47.9375em) {
  .card-list__label {
    padding: .25rem .75rem;
  }
}

.card-list__label:first-child {
  border-top: solid 1px var(--border);
}

.card-list__deacription + .card-list__items {
  border-top: dotted .0625rem var(--border-tint);
}
