$sm-down-max: 47.9375em
$md-min: 48em
$md-down-max: 63.9375em
$lg-min: 64em

.is-hidden
  display: none !important

@media (max-width: $sm-down-max)
  .is-hidden-sm-down
    display: none !important

@media (min-width: $md-min)
  .is-hidden-md-up
    display: none !important

@media (max-width: $md-down-max)
  .is-hidden-md-down
    display: none !important

@media (min-width: $lg-min)
  .is-hidden-lg-up
    display: none !important
