= render '/shared/modal', id: 'modal-learning_completion', title: 'おめでとう！！'
  #modal-learning_completion-data.modal__description.is-md(data-practice-id="#{practice.id}" data-should-display-message-automatically="#{should_display_message_automatically}")
    h3
      | プラクティス「#{practice.title}」を修了しました🎉🎉🎉
    - if practice.ogp_image.attached?
      = image_tag @practice.ogp_image, class: 'complestion__image', alt: "#{practice.title}修了おめでとうカード"
    - else
      = image_tag('completion/completion_default.png', class: 'complestion__image', alt: "#{practice.title}修了おめでとうカード")
  = link_to 'この喜びをTweetしよう！！', tweet_url, class: 'a-button is-md is-primary is-block', target: '_blank', rel: 'noopener'
