.card-main-actions
  .form__items + &
    margin-top: 1rem

.card-main-actions__items
  display: flex
  gap: .75rem
  +media-breakpoint-up(md)
    +position(relative)
    justify-content: center
    flex-wrap: wrap
    align-items: flex-end
    min-height: 1.875rem
  +media-breakpoint-down(sm)
    flex-direction: column
  &.is-sub-actions
    justify-content: flex-end
    +media-breakpoint-down(sm)
      flex-direction: row
    .card-main-actions__item.is-sub
      position: static
      flex: 0 0 auto

.card-main-actions__item
  +media-breakpoint-up(md)
    flex: 0 0 16rem
    max-width: calc(50% - .375rem)
    &.is-sub
      +position(absolute, right 0, bottom 0)
  +media-breakpoint-down(sm)
    flex-basis: 100%
    max-width: 100%
    &.is-sub
      text-align: right

.card-main-actions__delete,
.card-main-actions__muted-action
  +hover-link-reversal
  +text-block(.875rem 1.4, $muted-text)
  &:hover
    color: $danger
