.card-footer-actions__items
  display: flex
  justify-content: center
  flex-wrap: wrap
  +margin(horizontal, -.375rem)
  margin-bottom: -.625rem

.card-footer-actions__item
  +padding(horizontal, .375rem)
  margin-bottom: .625rem
  +media-breakpoint-up(md)
    flex: 0 0 14rem
    max-width: 50%
  +media-breakpoint-down(sm)
    flex-basis: 100%
    max-width: 100%
