.card-books__items
  margin-top: -1px
  +media-breakpoint-up(md)
    display: flex
    flex-wrap: wrap

.card-books-item
  border-top: solid 1px $border
  +media-breakpoint-up(md)
    flex: 0 0 50%
    &:nth-child(odd)
      border-right: solid 1px $border

.card-books-item__inner
  +size(100%)
  padding: .75rem 1rem
  +media-breakpoint-up(md)
    +flex-link
  +media-breakpoint-down(sm)
    +block-link
    overflow: hidden

.card-books-item__start
  +media-breakpoint-up(md)
    flex: 0 0 4rem
    margin-right: 1.5rem
  +media-breakpoint-down(sm)
    float: left
    margin-right: 1rem
    width: 3.5rem

.card-books-item__end
  flex: 1

.card-books-item__cover-container
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.card-books-item__title
  +text-block(1rem 1.4, $default-text)
  transition: all .2s ease-out
  .a-badge
    +position(relative, top -.125em)
    margin-right: .5em

.card-books-item__inner:hover .card-books-item__title-label
  text-decoration: underline
  color: $main-text

.card-books-item__price
  +text-block(.875rem 1.4 .5em, $default-text)

.card-books-item__image
  max-height: 100%
  max-width: 100%
  object-fit: contain
  object-position: 50% 0
  border: solid 1px $background
  border-radius: 2px

.card-books-item__description
  font-size: .75rem
  color: $semi-muted-text
  margin-top: .5em
