.card-main-actions
  .form__items + &
    margin-top: 1rem

.card-main-actions__items
  +media-breakpoint-up(md)
    +margin(horizontal, -.375rem)
    margin-bottom: -.625rem
    display: flex
    +position(relative)
    justify-content: center
    flex-wrap: wrap
    align-items: flex-end
    min-height: 3rem

.card-main-actions__item
  margin-bottom: .625rem
  +media-breakpoint-up(md)
    +padding(horizontal, .375rem)
    flex: 0 0 16rem
    max-width: 50%
    &.is-sub
      +position(absolute, right 0, bottom 0)
  +media-breakpoint-down(sm)
    flex-basis: 100%
    max-width: 100%
    &.is-sub
      text-align: right

.card-main-actions__delete
  +hover-link-reversal
  +text-block(.875rem 1.4, $muted-text)
  &:hover
    color: $danger
