.card-books__items
  margin-top: -1px
  +media-breakpoint-up(md)
    display: flex
    flex-wrap: wrap

.card-books-item
  border-top: solid 1px $border-tint
  +media-breakpoint-up(md)
    flex: 0 0 50%
    &:nth-child(odd)
      border-right: solid 1px $border-tint
  .card-books &
    &:not(:first-child)
      border-top: solid 1px $border
    +media-breakpoint-up(md)
      flex: 0 0 50%
      &:nth-child(odd)
        border-right: solid 1px $border
      &:nth-child(2)
        border-top: none
  .row &
    height: 100%
    +media-breakpoint-up(md)
      padding-bottom: 1.5rem
    +media-breakpoint-down(sm)
      padding-bottom: 1rem
  .a-card
    height: 100%

.card-books-item__inner
  padding: .75rem 1rem
  text-decoration: none
  .card-books &
    +size(100%)
  +media-breakpoint-up(md)
    +flex-link
    gap: 1rem
    display: flex
    align-items: flex-start
  +media-breakpoint-down(sm)
    display: block
    overflow: hidden

.card-books-item__start
  +media-breakpoint-up(md)
    flex: 0 0 4rem
  +media-breakpoint-down(sm)
    float: left
    margin-right: 1rem
    width: 3.5rem

.card-books-item__end
  flex: 1

.card-books-item__cover-container
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.card-books-item__title
  +text-block(.875rem 1.4, $default-text 600)
  transition: all .2s ease-out
  .a-badge
    +position(relative, top -.125em)
    margin-right: .5em

.card-books-item__title-link
  text-decoration: none
  .card-books-item__title-label
    +hover-link-reversal
    color: $main-text

a.card-books-item__inner:hover
  .card-books-item__title-label
    text-decoration: underline
    color: $main-text

.card-books-item__price
  +text-block(.75rem 1.4 .25rem, $default-text)

.card-books-item__image
  max-height: 100%
  max-width: 100%
  object-fit: contain
  object-position: 50% 0
  border: solid 1px $border-tint
  border-radius: 2px

.card-books-item__description
  font-size: .75rem
  color: $semi-muted-text
  margin-top: .25rem
