.card-list__items
  margin-bottom: -.25rem

.card-list__item:not(:last-child)
  border-bottom: dotted .0625rem $background

.card-list__item-link
  +text-block(.875rem 1.55, block $main)
  padding: .5rem 1rem
  +hover-link
  &::before
    display: inline-block
    margin-right: .5rem
    color: $accent
    .card-list.is-completed &
      +fa(fas '\f00c')
    .card-list.is-active &,
    .card-list.is-wip &
      +fa(fas '\f060')
  &:hover::before
    text-decoration: none
