.card-header
  border-bottom: solid 1px $background
  padding: .75rem 1.25rem
  display: flex
  align-items: center
  justify-content: space-between
  +media-breakpoint-down(sm)
    padding: .5rem .75rem
  &.is-sm
    +padding(vertical, .625rem)
  &:first-child
    +border-radius(top, .25rem)
  & + .a-form-tabs
    margin-top: -1px

.card-header__title
  +text-block(1rem 1.4, 600)
  .card-header.is-sm &
    font-size: .875rem

.card-header__title-emotion-image
  +size(1.25em)
  display: inline-block
  vertical-align: middle
  +margin(horizontal, .125em)
  +position(relative, top -.125em)

.card-header__sub-title
  +text-block(.8125rem 1.4)
  +media-breakpoint-down(sm)
    font-size: .75rem
