.card-books__items
  +media-breakpoint-up(md)
    display: flex
    flex-wrap: wrap
    overflow: hidden

.card-books-item
  border-bottom: solid 1px $border
  +media-breakpoint-up(md)
    flex-basis: calc(50% + 2px)
    width: calc(50% + 2px)
    border-right: solid 1px $border
    margin: -1px

.card-books-item__inner
  +flex-link
  +size(100%)
  padding: .75rem 1rem

.card-books-item__start
  flex: 0 0 4rem
  margin-right: 1rem

.card-books-item__end
  flex: 1

.card-books-item__cover-container
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.card-books-item__title
  +text-block(1em 1.4, $default-text)
  transition: all .2s ease-out
  +media-breakpoint-up(md)
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
  .card-books-item__inner:hover &
    text-decoration: underline
    color: $main

.card-books-item__price
  +text-block(.8125rem 1.4 .125em, $default-text)

.card-books-item__image
  max-height: 100%
  max-width: 100%
  object-fit: contain
  object-position: 50% 0
  border: solid 1px $background
  border-radius: 2px
