.card-footer
  border-top: $background solid 1px
  +media-breakpoint-up(md)
    padding: .75rem 1.25rem
  +media-breakpoint-down(sm)
    padding: .75rem
  .card-body + &,
  .card-header + &,
  .a-markdown-input + &
    border-top: none
  &:last-child
    +border-radius(bottom, .25rem)

.card-footer__description
  +text-block(.75rem 1.4 .5rem, center $muted-text)
  +media-breakpoint-down(sm)
    text-align: left
    font-size: .625rem
    br
      display: none

.card-footer__notice
  +text-block(.8125rem 1.4 .5rem, center $info)

.card-footer__footer-link
  display: flex
  justify-content: flex-end

.card-footer__footer-text-link
  +text-block(.8125rem 1.4, $muted-text)
  +hover-link-reversal
