.congrats-card-body__title
  +text-block(1.5rem 1.4, 700)

.congrats-card-body__image-container
  margin-top: 1.25rem

.congrats-card-body__image-container
  width: 100%
  max-width: 28rem
  +margin(horizontal, auto)

.congrats-card-body__image
  border-radius: .75rem
  border: solid .5rem $background

.congrats-card-body
  .card-main-actions
    margin-top: 1.25rem
