.company-profile__header
  padding: 1rem
  .company-links__items
    justify-content: flex-start

.company-profile__header-inner
  +media-breakpoint-up(md)
    display: flex
  +media-breakpoint-down(sm)
    text-align: center

.company-profile__header-start
  margin-right: 1.25rem

.company-profile__header-end
  flex: 1

.company-profile__logo
  +media-breakpoint-down(sm)
    position: static
    text-align: center
    margin-bottom: .25rem

.company-profile__logo-image
  background-color: var(--base)
  object-fit: contain
  border-radius: .25rem
  +media-breakpoint-up(md)
    +size(4.5rem)
  +media-breakpoint-down(sm)
    +size(3.5rem)

.company-profile__name
  font-weight: 800
  color: var(--main-text)
  +media-breakpoint-up(md)
    +text-block(1.5rem 1.45)
  +media-breakpoint-down(sm)
    +text-block(1.25rem 1.45)

.company-profile__body
  padding: 1rem

.company-profile__description
  +media-breakpoint-up(md)
    font-size: .9375rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
