.company-counts__items
  display: flex
  justify-content: center
  gap: .5rem
  flex-wrap: wrap

.company-counts__item
  +media-breakpoint-up(xxl)
    flex: 0 0 calc((100% - (.5rem * 3)) / 4)
  +media-breakpoint-down(xl)
    flex: 0 0 calc((100% - (.5rem * 2)) / 3)
  +media-breakpoint-down(sm)
    flex: 0 0 calc((100% - (.5rem * 1)) / 2)

.company-counts__item-inner
  border: solid 1px $border
  border-radius: 3px

.company-counts__item-label
  +text-block(.625rem 1.4, center)
  +padding(vertical, .125rem)
  border-bottom: solid 1px $border
  background-color: $background-more-tint

.company-counts__item-value
  +text-block(1rem 1.4, center)
  padding-bottom: .125rem
