@use "../../../config/mixins/break-points"

.company-links
  margin-top: .5rem

.company-links__items
  display: flex
  gap: .5rem
  flex-wrap: wrap

.company-links__item
  +break-points.media-breakpoint-up(xxl)
    flex: 0 0 calc((100% - (.5rem * 2)) / 3)
  +break-points.media-breakpoint-down(xl)
    flex: 0 0 calc((100% - (.5rem * 1)) / 2)
