@use "../../../config/mixins/break-points"
@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/mixins/text"

.reactions
  display: flex
  justify-content: space-between
  position: relative
  user-select: none
  padding: .5rem
  .card-body + &
     border-top: none

.reactions__items
  display: flex
  flex-wrap: wrap
  gap: .5rem
  +break-points.media-breakpoint-down(sm)
    overflow: hidden
  .reactions__dropdown &
    +position.position(absolute, top 100%, left -1px, right -1px, 1)
    border: 1px solid var(--border)
    background-color: var(--background)
    padding: .5rem
    justify-content: flex-end
    border-radius: 0 0 .25rem .25rem

.reactions__item
  cursor: pointer
  display: inline-flex
  align-items: center
  justify-content: center
  height: 2.375rem
  padding-inline: .5rem
  border-radius: .25rem
  background-color: var(--base)
  border: 1px solid var(--border)
  transition: all .2s ease-out
  position: relative
  &.is-reacted
    background-color: #f1f1ff
    border-color: #dad9ff
  &:hover
    background-color: var(--background-more-tint)
  @media (pointer: fine)
    &:hover .reactions__item-login-names
      display: block
  .reactions__dropdown &
    width: 2.75rem
    border-color: var(--border-shade)

.reactions__item-count
  margin-left: .25rem
  +text.text-block(.75rem 1)

.reactions__item-login-names
  display: none
  position: absolute
  top: 2.9rem
  left: .1rem
  font-size: .625rem
  color: var(--reversal-text)
  background: var(--main)
  padding: 5px 11px 7px
  border-radius: .2rem
  pointer-events: none
  white-space: nowrap
  z-index: 1
  &::after
    content: " "
    position: absolute
    bottom: 100%
    left: 1.5rem
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: transparent transparent var(--main) transparent
  li
    line-height: 1.4

.reactions__dropdown-toggle
  +size.size(2.8125rem 2.375rem)
  +text.text-block(1.25rem 1, flex)
  color: var(--main)
  cursor: pointer
  align-items: center
  justify-content: center
  border: 1px solid var(--border)
  border-radius: .25rem
  transition: all .2s ease-out
  &:hover
    color: var(--hover-text)
    background: var(--background-more-tint)
  &.is-disabled
    cursor: not-allowed
    color: var(--disabled)
    background: var(--background)

.reactions__dropdown-toggle-plus
  font-size: .4em
  margin-right: .3em

.reactions__actions
  display: flex
  gap: .5rem

.reactions__users-list
  position: absolute
  top: 100%
  right: -1px
  left: -1px
  background-color: var(--background)
  border: 1px solid var(--border)
  padding: 0.5rem
  z-index: 1
  border-radius: 0 0 .25rem .25rem
  display: flex
  flex-direction: column
  gap: .5rem

.reaction-users-line
  display: flex
  align-items: center
  gap: .5rem
  &:not(:last-child)
    border-bottom: 1px dashed var(--border)
    padding-bottom: .5rem

.reaction-user__avatar
  +size.size(1.75rem)
