p= link_to 'FJORD, LLCのインターンに応募する', 'http://intern-fantasy.herokuapp.com/', class: 'btn'
p= link_to 'root inc.のインターンに応募する', 'https://docs.google.com/forms/d/1DrTty8zcMB_g3dNggZ6FNniQPThmBKRrdQwo6keVSYE/viewform', class: 'btn'
