%h1 256 INTERNS
%nav#menu
  %ul
    %li= link_to 'ニューインターン', 'https://docs.google.com/a/fjord.jp/spreadsheet/viewform?formkey=dFN3ZWlaQ2xTZktDMldSaEE1UlVLZVE6MQ'
    %li= link_to 'コンティニュー', auth_at_provider_path(:provider => :github)
