h2 利用規約

p 合同会社フィヨルド（以下、「当社」といいます。）が提供するサービス「フィヨルドブートキャンプ（以下、「本サービス」といいます。）をご利用いただきありがとうございます。

p ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。

h3 ユーザー登録

p 当社は、本規約に違反したことがある方からの申請である場合など、ユーザー登録を相当でないと判断した場合には、登録申請を承認しないことがあり、その理由については開示しません。

h3 IDの管理

p ユーザーは、自己の責任で、ＩＤとパスワードを管理してください。パスワードは他人に知らせないでください。

ユーザーは、いかなる場合にも、このＩＤとパスワードを第三者に譲渡もしくは貸与し、または第三者と共同で使用することはできません。当社は、ＩＤとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのＩＤを登録しているユーザー自身による利用とみなします。ＩＤが不正に利用されていることに気付いた場合には、すみやかに当社へ報告してください。

h3 本サービスのご利用

p ユーザーは、本サービスのご利用にあたって、後記のような不正な行為をしないでください。当社は、ユーザーの行為を不正行為と判断した場合には、事前の通知なく、投稿データを削除したり、ユーザーに対して本サービスの利用を制限したり、またはユーザーとしての登録を抹消することがあります。当社は、この利用制限などによりユーザーに生じた一切の損害について責任を負いません。

ol
  li 当社のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為
  li 当社のサービスの運営を妨害するおそれのある行為
  li 1つのアカウントを複数人で使用する行為
  li その他当社が不正行為と判断する行為

p また、ユーザーは、本サービスへ、公序良俗に反する内容や他のユーザー又は第三者の権利（知的財産権やプライバシー権を含みます。）を侵害する内容など、不正なデータを投稿することはできません。万が一、ユーザーがこれらを投稿した場合には、当社は、事前の通知なく、投稿データを削除したり、ユーザーに対して本サービスの利用を制限したり、またはユーザーとしての登録を抹消することがあります。当社は、この利用制限などによりユーザーに生じた一切の損害について責任を負いません。

p なお、ユーザーが本サービスを外部サービスと連携させて利用する場合、当社は、外部サービスの瑕疵または外部サービスの管理者の都合により生じるユーザーの不利益については一切の責任を負いません。

h3 料金及び支払方法

p ユーザーは、本サービス利用の対価として、当社が定め、ウェブサイト上に表示する利用料金を、当社が指定する方法により当社に支払うものとし、当社は、いったん受領した利用料金は、いかなる理由があっても、これを返金しません。

p ユーザーが利用料金の支払を１ヶ月以上遅滞した場合、当社は、当該ユーザーに対する本サービスの提供を停止します。当社は、これにより、当該ユーザーまたは第三者が被ったいかなる不利益または損害についても、理由を問わず責任を負いません。

h3 個人情報の保護

p 当社のプライバシーポリシーでは、当社におけるユーザーの個人情報の取り扱いについて記載しています。ユーザーには、当社がこのプライバシーポリシーに従ってユーザーの個人情報を利用することや本サービスの承継に伴って個人情報が第三者へ提供されうることに同意のうえで、本サービスを利用して頂きます。

p また、当社は、個人情報以外にも、ユーザーについて、利用したサービス、アップロードしたデータやコンテンツ（但し、当社がこれらのデータやコンテンツを「ユーザーのデータやコンテンツ」の項に定める範囲を超えて利用することはありません。）、利用日時、利用方法、利用環境（携帯端末を通じてご利用の場合の当該端末の通信状態、利用に際しての各種設定情報なども含みます）、IPアドレス、クッキー情報、位置情報、端末の個体識別情報などの履歴情報および特性情報を、ユーザーが本サービスを利用しまたはページを閲覧する際に収集することがあります。

p 当社は、これらの個人情報、履歴情報および特性情報を、当社のサービスに関連して、個人を識別できない形式に加工した統計データを作成したり、当社や第三者の広告の配信や表示またはマーケティングに利用することがあります。

h3 本サービスの提供の停止

p 当社は、本サービスにかかるコンピュータシステムの保守点検または更新を行う場合など、本サービスの提供が困難と判断した場合には、ユーザーに事前に通知することなく本サービスの提供を停止または中断することがあります。当社は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、理由を問わず責任を負いません。

h3 ユーザーのデータやコンテンツ

p 当社は，本サービスへ投稿されたコンテンツ（文章，画像，動画その他のデータを含むがこれらに限らない。）について，本サービスの円滑な提供，当社システムの構築，改良又はメンテナンス等に必要な範囲で，変更，切除その他の改変を行うことができるものとします。

h3 保証の否認と免責

p 当社は、合理的な注意を払ったうえで本サービスを提供していますが、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを保証するものではありません。

p また、当社は、本サービスによってユーザーに生じたあらゆる損害について、一切の責任を負いません。ただし、本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されませんが、この場合であっても、当社は、当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。

p なお、当社は、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。

h3 サービス内容や利用規約の変更

p 当社は、常に本サービスの変更および改善を行っていますので、ユーザーに通知することなく、投稿データを削除したり、本サービスの内容や利用条件を変更したり、本サービスの提供を中止することがあります。当社は、これらによってユーザーに生じた損害について一切の責任を負いません。

p また、当社は、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。

h3 通知または連絡

p ユーザーと当社との間の通知または連絡は、当社の定める方法によって行います。

h3 準拠法と裁判管轄

p 本規約の解釈にあたっては、日本法を準拠法とします。

p 本サービスに関して紛争が生じた場合には、東京地方裁判所又は東京簡易裁判所を専属的合意管轄とします。

2019年4月13日制定
