section.lp-content.is-lp-bg-3.is-right-title
  .l-container.is-xl
    .lp-content__inner
      .lp-content__start
        header.lp-content__header
          h2.lp-content-title.is-vertical.is-border-left
            | 質問の方法を各種用意
            br
            | 安心して学習ができる

      .lp-content__end
        .l-cards.is-step-by-step
          section.l-cards__item
            .l-cards__item-inner
              .a-card
                .lp-top-image-section__icon
                  | 🍻
                h3.lp-card-title.text-center
                  | 日報でわからなかったことを書く
                .lp-card-description
                  p
                    | 複数社合同での企業説明会をオンラインで行っています。
                    | 実際に企業で働いているプログラマーがどのように仕事しているのかなどを
                    | 知ることの出来る貴重な機会にもなります。
                    | また、動画の録画をいつでも観れます。

          section.l-cards__item
            .l-cards__item-inner
              .a-card
                .lp-top-image-section__icon
                  | 👩‍💼
                h3.lp-card-title.text-center
                  | チャットで質問する
                .lp-card-description
                  p
                    | 自分はフィヨルドブートキャンプを利用すべきかを判断するために、
                    | 機能制限無しの3日間のお試し期間を用意しています。
                    | お試し期間でがっつり使って判断してください。

          section.l-cards__item
            .l-cards__item-inner
              .a-card
                .lp-top-image-section__icon
                  | 📄
                h3.lp-card-title.text-center
                  | Q&Aに質問を投稿する
                .lp-card-description
                  p
                    | カジュアル面談や面接でのポイント、
                    | 必要書類作成の注意点、技術面接の技術的質問への対策について、
                    | アプトプットについてなど、就職活動に役立つドキュメントを用意しています。
                    | また、先輩受講生の就活の様子の日報を見ることもできます。

          section.l-cards__item
            .l-cards__item-inner
              .a-card
                .lp-top-image-section__icon
                  | 📄
                h3.lp-card-title.text-center
                  | ペアワークを申し込む
                .lp-card-description
                  p
                    | カジュアル面談や面接でのポイント、
                    | 必要書類作成の注意点、技術面接の技術的質問への対策について、
                    | アプトプットについてなど、就職活動に役立つドキュメントを用意しています。
                    | また、先輩受講生の就活の様子の日報を見ることもできます。

  .lp-content-divider.is-lp-bg-3
    svg[data-name="lp-content-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"]
      path.shape-fill d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
