<section class="welcome-child-section">
  <h3 class="welcome-child-section__title">メンター ・ 顧問</h3>
  <div class="welcome-members">
    <div class="row is-gutter-width-32">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="駒形 真幸のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/komagata-1f04379b2908de136ca7962586cb8c6ee09391cb9cdc97b309857f4d5451e49c.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">駒形 真幸</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/komagata"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://docs.komagata.org/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/komagata"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/komagata1111"><i class="fa-brands fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a href="https://fjord.jp/">株式会社フィヨルド</a>の代表兼プログラマー。Rubyが大好きで<a href="/welcome">怖話</a>、<a
                href="https://bootcamp.fjord.jp/">フィヨルドブートキャンプ</a>などを開発している。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="伊藤 淳一のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/ito-68484c86ac840927f1de005f3285a8d30f0c2f02cb09dfa000098a8c8c5bf9f2.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">伊藤 淳一</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/JunichiIto"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://blog.jnito.com/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/jnchito"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/junichi.ito.717"><i class="fa-brands fa-facebook-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp"><img class="has-2-books"
              alt="プロを目指す人のためのRuby入門、Everyday Rails - RSpecによるRailsテスト入門の表紙画像"
              src="https://bootcamp.fjord.jp/assets/mentors/cherry-book-0b2149b0f1c812f2ac9bc363f467addcb4f30e6f6990727c3f5e878444197b3d.jpg">
            <p><a href="https://www.sonicgarden.jp/">株式会社ソニックガーデン</a>。2017年11月に『<a
                href="https://gihyo.jp/book/2017/978-4-7741-9397-7">プロを目指す人のためのRuby入門</a>』を出版。電子書籍『<a
                href="https://leanpub.com/everydayrailsrspec-jp/">Everyday Rails - RSpecによるRailsテスト入門</a>』の翻訳者でもある。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="五十嵐 邦明のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/igarasi-506cfaee72b6622fb268d6df6e65cc3936c7e06624317eaf009ec9f2fbcf376c.png">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">五十嵐 邦明</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/igaiga"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://igarashikuniaki.net/diary/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/igaiga555"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/kuniaki.igarashi"><i class="fa-brands fa-facebook-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp"><img class="has-3-books"
              alt="ゼロからわかる Ruby超入門、パーフェクトRuby on Rail、RubyとRailsの学習ガイドの表紙画像"
              src="https://bootcamp.fjord.jp/assets/mentors/chou-nyuumon-0e10b56e194767371044dd213e9a899496058de9c754b4de4943109de66c8604.jpg">
            <p>2003年、Rubyで書かれたWeb日記アプリ<a
                href="https://tdiary.org/">tDiary</a>を使い始めてRubyistになる。一橋大学の非常勤講師として2012年から2年間、RubyとRailsを教える。受託開発会社、Webサービス開発会社CTOなどを経て2017年4月よりフリーランス、2019年7月<a
                href="https://www.garnettech373.com/">ガーネットテック373株式会社</a>を設立、同社代表取締役社長。<a
                href="http://2013.rubyworld-conf.org/ja/">RubyWorld Conference</a>や<a
                href="https://rubyconf.tw/">RubyConf台湾</a>などで講演。著書に『<a
                href="https://www.amazon.co.jp/dp/B07KQXFF6D">ゼロからわかる Ruby超入門</a>』、『<a
                href="https://tatsu-zine.com/books/rails-textbook">Railsの教科書</a>』、『<a
                href="https://www.amazon.co.jp/dp/B00P0UR1RU">パーフェクトRuby on Rails</a>』、『<a
                href="https://booth.pm/ja/items/1312664">RubyとRailsの学習ガイド</a>』ほか。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="前田 直樹のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/maeda-0da2a2a166e2338f516e2fbfdc68a6db9d70277c6f92e9ca7273124a1c4566a9.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">前田 直樹</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/maedana"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/maedana"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/maedana"><i class="fa-brands fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a href="https://www.sonicgarden.jp/">株式会社ソニックガーデン</a>所属のプログラマー。VimでRubyのコードが書ける日々が幸せです。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="田中 勇一のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/tanaka-e6c2abf8bac196d512bfc296f1d4f61d64fe9273873679b4943a7471700ff46b.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">田中 勇一</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/u1tnk"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://u1tnk.github.io/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/u1tnk"><i class="fa-brands fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p>Rails/AWSを主としたフリーランスプログラマ。プログラマとしては10年超、フリーランスとしては6年超。主にスタートアップ系企業を顧客として開発やレビュー業務をしています。名付け重要。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="柏 夏美のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/kasiwa-82813b92282f87c4f515c1245b50e45fb523da503f8d1a8feaed3cbb88e2f9b7.png">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">柏 夏美</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/betachelsea"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/beta_chelsea"><i class="fa-brands fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a href="https://arrowsinc.com/">株式会社ARROWS</a>に所属。Railsを使った自社サービスの開発保守の担当プログラマ。Rails Girls Tokyo
              にコーチとして参加経験あり。好きなRubyメソッドはmapです。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="角谷 信太郎のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/kakutani-88784740feda15872fed22ce179fb829089019c95ce00b2452ecc71d1a5372fb.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">角谷 信太郎</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/kakutani"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://kakutani.com/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/kakutani"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/kakutani"><i class="fa-brands fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp"><img class="has-5-books"
              alt="ユニコーン企業のひみつ、Clean Agile、なるほどUnixプロセス、Rubyのしくみ、アジャイルサムライの表紙画像"
              src="https://bootcamp.fjord.jp/assets/mentors/clearn-agile-book-58d3e349cdc601392751874dd5fadadf8cf302fce2efc9c6c6ffcf98a0cad841.jpg">
            <p>個人事業主。<a href="https://ruby-no-kai.org">一般社団法人日本Rubyの会</a>理事。<a
                href="https://www.esm.co.jp">株式会社永和システムマネジメント</a>フェロー。すべての<a
                href="https://rubykaigi.org">RubyKaigi</a>の運営に携わる。<a
                href="http://asakusa.rubyist.net">Asakusa.rb</a>メンバー。好きなメソッドはObject#extend。フィヨルドブートキャンプの前身である256インターンのきっかけをつくったと主張している。主な訳書に<a
                href="https://www.oreilly.co.jp/books/9784873119465/">『ユニコーン企業のひみつ』</a>、<a
                href="https://tatsu-zine.com/books/clean-agile">『Clean Agile』</a><a
                href="https://tatsu-zine.com/books/naruhounix">『なるほどUnixプロセス』</a>、<a
                href="https://tatsu-zine.com/books/ruby-under-a-microscope-ja">『Rubyのしくみ』</a>、<a
                href="https://tatsu-zine.com/books/agile-samurai-ja">『アジャイルサムライ』</a>、<a
                href="https://www.amazon.co.jp/dp/4839924023">『アジャイルな見積りと計画づくり』</a>など。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="多田 亜希のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/tadaaki-c0bfcac0236731ddf2ad8357b7cc584476efe6c922147984032f96b19ca0b657.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">多田 亜希</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/torinoko"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://tdak.hateblo.jp/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/tdakak"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/aki.tada"><i class="fa-brands fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p>
              文鳥とビールとRubyが好きなフリーランス。たくさんの人達が楽しく過ごせることを目指して、毎日ふわふわ過ごしています。また、業務やイベントでプログラミング未経験の方、学生インターン、新卒入社社員や実務経験の浅い社員に対してプログラミング研修を行なってきました。<a
                href="https://tokyurubykaigi.github.io/tokyu13/">Tokyu Ruby Kaigi</a>実行委員。<a
                href="https://shinjukurb.connpass.com/">Shinjuku.rb</a>管理者。好きなメソッドはObject#object_idです。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="井上 夏樹のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/inoue-b6fadf48588ebeb525c744f6c2ae4b99650afbabc4f4bbd3924c46d7aa391dba.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">井上 夏樹</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/summertree128"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://summertree.hatenablog.com/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/_SummerTree"><i class="fa-brands fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p>バックエンドエンジニア/ソフトウェアアーキテクト。東京の会社でマイクロサービスの設計・開発やアーキテクチャ改善などをやっています。好きなRubyのメソッドはKernel.#pです。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="岡嵜 雄平のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/yuuu-0b0ad4e899f536729a19244cbc2b4304859c34f53a10acf5703f75eeed46afc2.png">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">岡嵜 雄平</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/yuuu"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://portfolio.y-uuu.net/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/Y_uuu"><i class="fa-brands fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a
                href="https://fusic.co.jp/">株式会社Fusic</a>所属。福岡でIoTクラウドエンジニアとして、RailsやAWSを活用したIoTシステムやサービスの開発を担当しています。<a
                href="https://fukuokarb.connpass.com/">Fukuoka.rb</a>に定期参加しています。過去には<a
                href="http://railsgirls.com/fukuoka.html">Rails Girls Fukuoka 2nd</a>のコーチや<a
                href="https://rubykaigi.org/2019/">RubyKaigi 2019</a>のローカルオーガナイザーもしていました。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="吉次 孝太のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/yoshitsugu-51ae11e5a33560c8044e5fb77fe37da69793592a17d6bae52866f8491d01e3bb.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">吉次 孝太</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/yoshitsugu"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://yoshitsugu.net/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/_yoshitsugu"><i class="fa-brands fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a href="https://sikmi.com/">しくみ製作所株式会社</a>所属。最近はRuby on
              RailsやVue.js/Nuxt.jsを使った自社サービス開発に携わっている。また、プログラミングスクール卒の社員のメンターも担当している。技術自体ももちろんのこと、より効率よく継続的に学習ができるための方法論にも興味あり。好きなメソッドはString#each_grapheme_clusterです。
            </p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="深井 海斗のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/kaito-f3e899ddec8914b68f60b03b93718dbddcffc4cb42e705eb7a5c00a240507044.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">深井 海斗</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/kfukai23"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/kfukai23"><i class="fa-brands fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a
                href="https://everyleaf.com/">株式会社万葉</a>所属のプログラマーです。新卒でメーカー営業職に6年ほど従事した後、一念発起して未経験からプログラマーにキャリアチェンジしました。プログラマーを目指す人の力になりたいです。<a
                href="https://heiseirb.connpass.com/">平成.rb</a>の運営に携わっていたことがあります。好きなRubyのメソッドはEnumerable#all?です。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="梅本 祥平のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/cafedomancer-434041b2e9d49eaa0798d8b251e0959ebcb970797d0e04416f0259b15ede286c.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">梅本 祥平</h3>
              <p class="welcome-member__job">プログラマー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/cafedomancer"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://cafedomancer.com/"><i class="fa-solid fa-home"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/cafedomancer"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/cafedomancer"><i class="fa-brands fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a href="https://www.enishi-tech.com/">株式会社えにしテック</a>のプログラマー。普段は Rails
              を中心とした技術支援を業務として行っている。フィヨルドブートキャンプでは受講生の方とのペアプロやモブプロを主に担当。</p>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="welcome-member a-card">
          <div class="welcome-member__header">
            <div class="welcome-member__start"><img class="welcome-member__image" alt="町田 哲平のアイコン画像"
                src="https://bootcamp.fjord.jp/assets/mentors/machida-894767e767c77abd41716cd81f8d02d287574bb384abdd8f2c3aa61e6c30ca9b.jpg">
            </div>
            <div class="welcome-member__end">
              <h3 class="welcome-member__name">町田 哲平</h3>
              <p class="welcome-member__job">デザイナー</p>
              <ul class="welcome-member__sns">
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://github.com/machida"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://twitter.com/machida"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="welcome-member__sns-item"><a class="welcome-member__sns-item-link"
                    href="https://www.facebook.com/teppeimachida"><i class="fa-brands fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="welcome-member__body is-temp">
            <p><a href="https://bootcamp.fjord.jp/">株式会社フィヨルド</a>のデザイナー。Ruby on
              Railsを使ったWebアプリを中心に多くのプロジェクトに参加。仙台で行われた<a href="https://rubykaigi.org/2018/">RubyKaigi
                2018</a>のデザイン担当。フィヨルドブートキャンプでは主に HTML と CSS のレビュー担当。</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
