.welcome-section.is-top-banner
  .l-container.is-md
    = link_to 'https://bootcamp.fjord.jp/articles/120', target: '_blank', rel: 'noopener' do
      = image_tag('welcome/banners/rubykaigi2024.svg', alt: '祝！RubyKaigi2024登壇 卒業生のima1zumiさん')
