.welcome-top-info
  .l-container.is-xl
    p.welcome-top-info__inner
      = link_to 'https://bootcamp.fjord.jp/articles/205',
        class: 'welcome-top-info__link',
        target: '_blank', rel: 'noopener' do
        | 夏のプログラミング学習応援キャンペーン開催中！8月30日（日）まで
