.welcome-section.has-no-padding-bottom
  .container.is-md
    = link_to 'https://bootcamp.fjord.jp/articles/72', target: '_blank', rel: 'noopener' do
      = image_tag('welcome/banners/rubykaigi2023.svg', alt: '祝！RubyKaigi2023登壇 卒業生のima1zumiさん')
