.welcome-top-info
  .l-container.is-xl
    p.welcome-top-info__inner
      = link_to certified_reskill_courses_rails_developer_course_root_path,
        class: 'welcome-top-info__link' do
        | 給付制度対象講座が分割払い（2回・3回・4回）に対応しました！
