- title '就職支援'
- set_meta_tags(site: 'FJORD BOOT CAMP（フィヨルドブートキャンプ）',
  description: '「特定商取引に関する法律」第11条（通信販売についての広告）に基づきこのページに明示いたします。オンラインプログラミングスクールのフィヨルドブートキャンプは月額29,800円、全機能が使えるお試し期間付き。')

article.lp
  header.lp-header.lp-header.is-lp-bg-2
    .container.is-xl
      .lp-header__inner
        .lp-header__start
          .lp-header__start-inner
            hgrounp.lp-header__titles
              h1.lp-header__title
                | フィヨルドブートキャンプの就職支援
              h2.lp-header__catchcopy
                | やり過ぎなくらい
                br
                | 就活もサポート
            .lp-header__description
              p
                | 目的に応じて研修内容をカスタマイズ。自ら学び実践に移せる現場の即戦力プログラマーの育成を目指したe-ラーニング式プログラミング研修サービス
            .lp-actions
              ul.lp-actions__items
                li.lp-actions__item
                  = link_to '/', class: 'a-button is-xl is-secondary is-block' do
                    | お問い合わせ
                li.lp-actions__item
                  = link_to '/', class: 'a-button is-xl is-warning is-block' do
                    | 研修を申し込む
        .lp-header__end
          .corporate-training-images
            .corporate-training-images__item
            .corporate-training-images__item
            .corporate-training-images__item
            .corporate-training-images__item
            .corporate-training-images__item

    .lp-content-divider.is-lp-bg-1
      svg[data-name="lp-content-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"]
        path.shape-fill d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"

  section.lp-content.is-lp-bg-1.is-top-title
    .container.is-xl
      .lp-content__inner
        .lp-content__start
          header.lp-content__header
            h2.lp-content-title.is-align-center.is-border-bottom
              | 主なサポート内容
        .lp-content__end
          .row.is-gutter-width-32
            .col-xs-12.col-md-4
              section.welcome-small-section
                .welcome-small-section__inner.a-card
                  .welcome-small-section__icon
                    | 🍻
                  h3.welcome-small-section__title
                    | 合同企業説明<br>ドリンクアップ
                  .welcome-small-section__description
                    p
                      | 複数社合同での企業説明会をオンラインで行っています。
                      | 実際に企業で働いているプログラマーがどのように仕事しているのかなどを
                      | 知ることの出来る貴重な機会にもなります。
                      | また、動画の録画をいつでも観れます。

            .col-xs-12.col-md-4
              section.welcome-small-section
                .welcome-small-section__inner.a-card
                  .welcome-small-section__icon
                    | 👩‍💼
                  h3.welcome-small-section__title
                    | キャリアカウンセリング<br>個別相談
                  .welcome-small-section__description
                    p
                      | 個別にビデオチャットにて、キャリアや目標に合わせたアドバイス、
                      | キャリアパスの計画と目標設定、業界動向や求人市場の情報提供を行います。
            .col-xs-12.col-md-4
              section.welcome-small-section
                .welcome-small-section__inner.a-card
                  .welcome-small-section__icon
                    | 📄
                  h3.welcome-small-section__title
                    | 就職活動に役立つ<br>ドキュメント
                  .welcome-small-section__description
                    p
                      | カジュアル面談や面接でのポイント、
                      | 必要書類作成の注意点、技術面接の技術的質問への対策について、
                      | アプトプットについてなど、就職活動に役立つドキュメントを用意しています。
                      | また、先輩受講生の就活の様子の日報を見ることもできます。
            .col-xs-12.col-md-4
              section.welcome-small-section
                .welcome-small-section__inner.a-card
                  .welcome-small-section__icon
                    | 🖍️
                  h3.welcome-small-section__title
                    | 履歴書<br>職務経歴書のサポート
                  .welcome-small-section__description
                    p
                      | 履歴書や職務経歴書のレビューとフィードバックや、
                      | プログラミングスキルやプロジェクト経験を効果的にアピールする方法の
                      | アドバイスを行います。

            .col-xs-12.col-md-4
              section.welcome-small-section
                .welcome-small-section__inner.a-card
                  .welcome-small-section__icon
                    | 🗣️
                  h3.welcome-small-section__title
                    | 面接<br>技術試験のサポート
                  .welcome-small-section__description
                    p
                      | 現役プログラマーのメンターによる、
                      | テクニカル面接でのコーディング問題や技術的質問への対策、
                      | 模擬面接を通じての自己紹介や経験の説明の練習、
                      | 一般的な面接質問への答え方のコーチングを行います。

            .col-xs-12.col-md-4
              section.welcome-small-section
                .welcome-small-section__inner.a-card
                  .welcome-small-section__icon
                    | 🌟
                  h3.welcome-small-section__title
                    | ポートフォリオ<br>推薦文の提出
                  .welcome-small-section__description
                    p
                      | 日報や課題の提出物、チーム開発で出したPull Request、
                      | 最終課題でリリースした自作サービスなど、
                      | 学習中のアウトプットは選考を申し込んだ企業が見れる状態にします。
                      | また、メンターから企業へ推薦文を提出します。

    .lp-content-divider.is-lp-bg-2
      svg[data-name="lp-content-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"]
        path.shape-fill d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"

  section.lp-content.is-lp-bg-2.is-top-title
    .container.is-xl
      .lp-content__inner
        .lp-content__start
          header.lp-content__header
            h2.lp-content-title.is-align-center.is-border-bottom
              | 卒業生の就職先企業
        .lp-content__end
          .lp-company-logos
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー
            .lp-company-logos__item
              = link_to '', class: 'lp-company-logos__item-link' do
                | バナー

    .lp-content-divider.is-lp-bg-3
      svg[data-name="lp-content-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"]
        path.shape-fill d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"

  section.lp-content.is-lp-bg-3.is-right-title
    .container.is-lg
      .lp-content__inner
        .lp-content__start
          header.lp-content__header
            h2.lp-content-title.is-vertical.is-border-left
              | 入社後も継続的に<br>サポート
        .lp-content__end
          .l-cards.is-step-by-step
            .l-cards__item
              .l-cards__item-inner
                .a-card
                  section.corporate-training-key-reason
                    .corporate-training-key-reason__inner
                      .corporate-training-key-reason__start
                        | 🚪
                      .corporate-training-key-reason__end
                        header.corporate-training-key-reason__header
                          h3.corporate-training-key-reason__title
                            | 卒業後も<br>ログイン可能
                        .corporate-training-key-reason__body
                          p
                            | 卒業すると、課題の提出などはできなくなりますが、
                            | 引き続き学習アプリにログインでき、
                            | 教材へのアクセス、イベントへの参加ができます。
            .l-cards__item
              .l-cards__item-inner
                .a-card
                  section.corporate-training-key-reason
                    .corporate-training-key-reason__inner
                      .corporate-training-key-reason__start
                        | 💬
                      .corporate-training-key-reason__end
                        header.corporate-training-key-reason__header
                          h3.corporate-training-key-reason__title
                            | 卒業後も<br>相談ができます
                        .corporate-training-key-reason__body
                          p
                            | 卒業前と変わらず、学習アプリの個別の相談機能を
                            | 利用することができます。
                            | 新しい職場で困ったことがあったり、
                            | キャリアに関する迷いなどが起きた場合は、
                            | いつでも相談ができます。
            .l-cards__item
              .l-cards__item-inner
                .a-card
                  section.corporate-training-key-reason
                    .corporate-training-key-reason__inner
                      .corporate-training-key-reason__start
                        | 💌
                      .corporate-training-key-reason__end
                        header.corporate-training-key-reason__header
                          h3.corporate-training-key-reason__title
                            | 定期的な<br>フォローアップ
                        .corporate-training-key-reason__body
                          p
                            | 就職後の1週間、1ヶ月、半年、1年後に連絡を取り、
                            | 現在の状況を確認します。
                            | もし、職場で何か働きづらい問題などが発生していた場合は、
                            | 企業へ状況を確認しに行ったり、改善の提案をします。

    .lp-content-divider.is-lp-bg-3
      svg[data-name="lp-content-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"]
        path.shape-fill d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"





  .welcome-page-body
    = render 'welcome/job_hunt_support'
