- title 'FBCのチーム開発'
- set_meta_tags(site: 'FJORD BOOT CAMP（フィヨルドブートキャンプ）',
  title: 'FBCのチーム開発',
  description: 'FBCのチーム開発プログラムで業務とほぼ同じチーム開発を経験し、実際の業務にスムーズに入ることができます。')


| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

article.lp
  header.lp-content.is-lp-bg-main.is-hero
    .l-container.is-xl
      .lp-content__inner
        .lp-content__start
          .lp-hero-info
            hgroup.lp-hero-info__titles
              h1.lp-hero-info__title
                | FBCのチーム開発
              h2.lp-hero-info__catchcopy
                | 業務とほぼ同じ
                br
                | チーム開発を経験
            .lp-hero-info__description
              p
                | チーム開発を経験できることがFBCの最大の特徴の一つです。
                | チーム開発を経験することによって実際の業務にスムーズに入ることができます。

            .lp-actions
              ul.lp-actions__items
                li.lp-actions__item
                  = link_to new_inquiry_path, class: 'a-button is-xl is-secondary-border is-block' do
                    | お問い合わせ
                li.lp-actions__item
                  = link_to choose_courses_path, class: 'a-button is-xl is-warning is-block' do
                    | 参加登録

        .lp-content__end
          .lp-hero-visual
            = image_tag('team_development/team_development_main.svg', class: 'lp-hero-visual__image', alt: 'FBCのチーム開発のイメージイラスト')
  section.lp-content.is-lp-bg-1.is-top-title
    .l-container.is-xl
      .lp-content__inner
        .lp-content__start
          header.lp-content__header
            h2.lp-content-title.text-center.is-border-bottom
              | 学習の集大成としての
              br
              | チーム開発
        .lp-content__end
          .lp-content-stack
            .lp-content-stack__item
              section.lp-content-section
                .lp-content__description
                  .l-inner-container.is-md
                    .a-short-text
                      p
                        | FBCでは、学習の最後にチーム開発のプラクティスがあります。
                        | これまで個人で積み上げてきた力を活かし、
                        | 仲間と協力しながら開発を進めることで、
                        | エンジニアとして必要な実践的なスキルを磨きます。

            .lp-content-stack__item
              .row.is-gutter-width-32
                .col-xs-12.col-md-4
                  section.lp-top-image-section
                    .lp-top-image-section__inner.a-card
                      .lp-top-image-section__icon
                        | 🏢
                      h3.lp-card-title.text-center
                        | 実際に使うシステムを
                        br
                        | 自分たちで育てる
                      .lp-card-description
                        .a-short-text
                          p
                            | 開発テーマは、受講生が日々学習で使うFBCの学習システム。
                            | 新しい機能の追加や不具合修正、改善提案などを自分たちで行います。
                            | 「利用者」と「開発者」が一致しているため、
                            | リアルな課題を見つけやすく、実用的な改善を重ねられます。

                .col-xs-12.col-md-4
                  section.lp-top-image-section
                    .lp-top-image-section__inner.a-card
                      .lp-top-image-section__icon
                        | 🍻
                      h3.lp-card-title.text-center
                        | レビュー文化を
                        br
                        | 体験する
                      .lp-card-description
                        .a-short-text
                          p
                            | チーム開発では、レビューも受講生同士で実施します。
                            | 書き手：他人に読まれることを意識してコードを書く
                            | 読み手：相手に伝わるようにフィードバックする
                            | このサイクルを繰り返すことで、
                            | 現場に不可欠なコードレビュー文化を自然と体験できます。

                .col-xs-12.col-md-4
                  section.lp-top-image-section
                    .lp-top-image-section__inner.a-card
                      .lp-top-image-section__icon
                        | 👩‍💼
                      h3.lp-card-title.text-center
                        | OSSとして
                        br
                        | 公開される
                      .lp-card-description
                        .a-short-text
                          p
                            | 開発したソースコードはOSS（オープンソースソフトウェア）として
                            | GitHubで公開されています。
                            | 外部のエンジニアからも見られる環境だからこそ、
                            | 自然とプロ意識が芽生え、
                            | OSSへのコントリビューション実績として就職活動にも
                            | 大きなアピール材料となります。
