.o-lp-comments
  .m-medias-media__col:not(:first-child)
    margin-top: vr(3)
  .m-media-attributes__title
    +text-block(fz(6) 1.4)
    font-weight: 700
  .m-media-attributes__list
    +text-block(fz(3) 1.4)
  .m-media-attributes__body
    +text-block(1rem 1.6)
  .m-media-attributes__col:not(:first-child)
    margin-left: 1rem
  .m-media-attributes__image
    +size(vr(30))
