- title "#{@practice.title}に関する日報"
- category = @practice.category(current_user.course)

= render '/practices/page_header', title: @practice.title, category: category
= render 'page_tabs', resource: @practice

.page-body
  .container.is-md
    div(data-vue="Reports" data-vue-practice-id:number="#{@practice.id}")
