.block-checks
  display: flex
  flex-wrap: wrap
  gap: .5rem

.block-checks__item
  flex: 1
  max-width: 20rem
  .block-checks.is-1-item &
    max-width: 100%
  .block-checks.is-2-items &
    flex: 0 0 calc((100% - .5rem) / 2)
    max-width: calc((100% - .5rem) / 2)
    +media-breakpoint-down(sm)
      flex: 0 0 100%
      max-width: 100%
  .block-checks.is-3-items &
    width: calc((100% - 1rem) / 3)
