.books-form-item
  .a-form-label
    font-size: .8125rem
    margin-bottom: .25em
  .a-form-help
    margin-top: .25em
  & + .books-form-item
    margin-top: .75rem
  &.is-inline
    display: flex
    *:first-child
      margin-right: 1em
  textarea.a-text-input
    height: 10rem

.books-form-item__price-container
  position: relative
  display: flex
  align-items: flex-end
  max-width: 10rem

.books-form-item__price-unit
  padding-bottom: .25rem
  margin-left: .25rem
