.form-tabs-item__markdown
  height: 100%
  display: none
  &.is-active
    display: block

.form-tabs-item__textarea
  min-height: 9rem
  overflow: hidden

.form-tabs-item__preview
  background-color: $base
  +text-block(.875rem 1.8)
  min-height: 9rem
