.form-item
  &:not(:last-child)
    margin-bottom: 1.75rem
  &.is-hidden
    display: none
  &.is-sm
    width: 30rem
    max-width: 100%
  &.is-md
    width: 40rem
    max-width: 100%
  .choices
    width: 100%
    z-index: 2
  .a-page-notice
    margin-bottom: 1rem
    border-radius: .25rem
  .edit_report & .a-page-notice
    margin-bottom: 1.75rem
  .checkboxes
    &:not(:last-child)
      margin-bottom: 1rem
  &.is-inline
    display: flex
    align-items: center
    .a-form-label
      margin-bottom: 0
      margin-right: .75em
      white-space: nowrap
      &.is-sm
        margin-right: .5rem
    &.is-centered
      justify-content: center
  &.is-inline-md-up
    +media-breakpoint-up(md)
      display: flex
      align-items: center
      .a-form-label
        margin-bottom: 0
        margin-right: .75em
        white-space: nowrap

.form-item__row
  display: flex
  gap: .75rem

.form-item__column
  &.is-sm
    flex: 0 0 6rem
  &.is-unit
    align-self: flex-end
    padding-bottom: .25em

.form-item__button
  text-align: center

.form-item__pp
  margin-top: .75rem

.form-item__one-checkbox
  +text-block(.875rem)
  cursor: pointer

.form-item__pp
  p
    +text-block(.8125rem 1.8 0 1em)
  h2
    +text-block(.8125rem 1.8 0 .4em 600)
  ul
    margin-bottom: 1em
    list-style: disc outside
    margin-left: 1.5rem
  li
    +text-block(.8125rem 1.8 0 .4em)
  *:last-child
    margin-bottom: 0

.form-item__mention-input
  position: relative
  &::before
    content: '@'
    +fa(far '\f1fa')
    +text-block(1rem 1, flex)
    align-items: center
    justify-content: center
    +size(2rem 100%)
    +position(absolute, left 0, top 0)
    background-color: $background
    +border-radius(left, .25rem)
    border: solid 1px #c1c5b9
  input
    padding-left: 2.5rem

.form-item__lerning-times
  margin-bottom: 1rem

.form-item__header
  display: flex
  justify-content: space-between
  margin-bottom: .5rem
  .a-form-label
    margin-bottom: 0

.form-item__price-container
  position: relative
  display: flex
  align-items: flex-end
  max-width: 10rem

.form-item__price-unit
  padding-bottom: .25rem
  margin-left: .25rem

.form-item__inline-form-item
  display: flex
  align-items: center
  flex: 0 0 100%
  padding-top: .5rem
  border-top: dashed 1px $warning
  color: $default-text
  font-weight: 400
