.form-notice
  width: 34rem
  max-width: 100%
  +margin(horizontal, auto)
  border: solid $success 2px
  padding: 1em 1.25em
  color: $success-text
  background-color: #f8fff2
  border-radius: 4px
  +short-text-style
  font-size: .875rem
  &:not(:first-child)
    margin-top: 1em
  +media-breakpoint-up(md)
    margin-bottom: 2rem
  +media-breakpoint-down(sm)
    margin-bottom: 1.5rem
