.important-message
  border: solid 2px $danger
  border-radius: .25rem
  overflow: hidden
  & + form
    margin-top: 2rem

.important-message__header
  border-bottom: solid 1px $danger
  padding: .5rem 1rem
  background-color: $danger-shade

.important-message__title
  +text-block(.875rem 1.4, 700 $danger-text)

.important-message__body
  padding: .75rem 1rem
  background-color: $danger-shade
