.markdown-form__text-area
  &.a-text-input
    min-height: 22rem
    +media-breakpoint-down(sm)
      margin-bottom: 1rem

.markdown-form__preview
  background-color: $base
  padding: 1rem
  +text-block(.875rem 1.8)
  border-radius: .25rem
  min-height: 22rem
  +media-breakpoint-down(sm)
    padding: .5rem
