
.practice-content-actions__description {
  font-size: .75rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: .75rem;
  text-align: center;
}

.practice-content-actions__items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 47.9375em) {
  .practice-content-actions__items {
    flex-direction: column;
  }
}

.practice-content-actions__item {
  padding-inline: .375rem;
}

.practice-content-actions__item > * {
  width: 10rem;
  max-width: 100%;
}

@media (max-width: 47.9375em) {
  .practice-content-actions__item {
    width: 100%;
    padding-inline: 0;
  }

  .practice-content-actions__item:nth-child(2),
  .practice-content-actions__item:nth-child(3) {
    margin-top: .75rem;
  }

  .practice-content-actions__item > * {
    width: 100%;
  }
}
