
.practice-status-buttons__start {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.practice-status-buttons__label {
}

@media (min-width: 48em) {
  .practice-status-buttons__label {
    font-size: .75rem;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 1em;
  }
}

@media (max-width: 47.9375em) {
  .practice-status-buttons__label {
    display: none;
  }
}

.practice-status-buttons__items {
  white-space: nowrap;
  flex: 1;
}

@media (min-width: 48em) {
  .practice-status-buttons__items {
    max-width: 25rem;
  }
}

.practice-status-buttons__item {
  flex: 1;
}

@media (min-width: 48em) {
  .practice-status-buttons__item {
    max-width: 4.75rem;
  }
}

.practice-status-buttons__button.is-inactive {
  color: var(--muted-text);
  background-color: var(--base);
  border-color: var(--background-shade);
  transition: all .2s ease-out;
}

.practice-status-buttons__button.is-inactive:hover {
  background-color: var(--background-tint);
  color: var(--default-text);
}

.practice-status-buttons__button.is-active {
  pointer-events: none;
  position: relative;
  z-index: 1;
  border: solid 1px;
}

.practice-status-buttons__button.is-active.is-not_complete {
  background-color: var(--background);
  border-color: var(--background-shade);
  color: var(--muted-text);
}

.practice-status-buttons__button.is-active.is-started {
  background-color: var(--danger);
  border-color: var(--danger-shade);
  color: var(--reversal-text);
}

.practice-status-buttons__button.is-active.is-submitted {
  background-color: var(--warning);
  border-color: var(--warning-shade);
  color: var(--default-text);
}

.practice-status-buttons__button.is-active.is-complete {
  background-color: var(--success);
  border-color: var(--success-shade);
  color: var(--reversal-text);
}

.practice-status-buttons__button.is-active.is-unstarted {
  background-color: #fff;
  color: var(--muted-text);
  border-color: var(--muted-text);
  background-color: var(--background-tint);
}

.practice-status-buttons__button.is-active.is-skip-on {
  background-color: #dcdcdc;
  border-color: #b0b0b0;
  color: var(--muted-text);
}

.practice-status__buttons-item {
}

@media (max-width: 47.9375em) {
  .practice-status__buttons-item {
    width: 33.33%;
  }

  .practice-status__buttons-item .a-button {
    width: 100%;
  }
}

.practice-status-buttons__note {
  font-size: .75rem;
  line-height: 1.4;
  text-align: left;
  color: var(--muted-text);
  margin-top: .5em;
}
