@use "sass:list"
@use "sass:string"
@use "../variables/text-inputs-list"

@function _assign-inputs($inputs, $pseudo: null)
  $list: ()
  @each $input in $inputs
    $input: string.unquote($input)
    $input: if($pseudo, $input + ":" + $pseudo, $input)
    $list: list.append($list, $input, comma)
  @return $list

$all-text-inputs: _assign-inputs(text-inputs-list.$text-inputs-list)
$all-text-inputs-active: _assign-inputs(text-inputs-list.$text-inputs-list, active)
$all-text-inputs-focus: _assign-inputs(text-inputs-list.$text-inputs-list, focus)
$all-text-inputs-hover: _assign-inputs(text-inputs-list.$text-inputs-list, hover)
$all-text-inputs-invalid: _assign-inputs(text-inputs-list.$text-inputs-list, invalid)
