@function _assign-inputs($inputs, $pseudo: null)
  $list: ()
  @each $input in $inputs
    $input: unquote($input)
    $input: if($pseudo, $input + ":" + $pseudo, $input)
    $list: append($list, $input, comma)
  @return $list

$all-text-inputs: _assign-inputs($_text-inputs-list)
$all-text-inputs-active: _assign-inputs($_text-inputs-list, active)
$all-text-inputs-focus: _assign-inputs($_text-inputs-list, focus)
$all-text-inputs-hover: _assign-inputs($_text-inputs-list, hover)
$all-text-inputs-invalid: _assign-inputs($_text-inputs-list, invalid)
