@use "sass:color"
@use "sass:list"
@use "math" as functions-math
@use "text"

@use "sass:math"

@function tint($color, $percentage)
  @return color.mix(white, $color, $percentage)

@function shade($color, $percentage)
  @return color.mix(black, $color, $percentage)

// Adapted from: https://gist.github.com/voxpelli/6304812
@function luma($color)
  @if text.color($color)
    $rgba: color.channel($color, 'red', $space: rgb), color.channel($color, 'green', $space: rgb), color.channel($color, 'blue', $space: rgb)
    $rgba2: ()
    @for $i from 1 through 3
      $rgb: list.nth($rgba, $i)
      $rgb: math.div($rgb, 255)
      $rgb: if($rgb < .03928, math.div($rgb, 12.92), functions-math.pow(math.div($rgb + .055, 1.055), 2.4))
      $rgba2: list.append($rgba2, $rgb)
    @return (.2126 * list.nth($rgba2, 1) + .7152 * list.nth($rgba2, 2) + .0722 * list.nth($rgba2, 3))*100
  @else
    @return $color
