@use "../../config/mixins/break-points"
@use "../../config/mixins/link"
@use "../../config/mixins/text"

.user-icons,
.user-icons__wrapper
  margin-top: 1.5rem
  +break-points.media-breakpoint-up(md)
    display: flex
    gap: .75rem

.user-icons__title
  +break-points.media-breakpoint-up(md)
    text-align: right
    +text.text-block(.875rem 2rem, 600 nowrap)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(.875rem 1.4, 600 nowrap)

.user-icons__items
  display: flex
  gap: .5rem
  flex-wrap: wrap
  +break-points.media-breakpoint-down(sm)
    margin-top: .75rem

.user-icons-item
  display: flex
  align-items: center
  gap: .25rem

.user-icons-item__delete
  +text.text-block(.75rem 1.4)

.user-icons__more
  +text.text-block(.8125rem 1.4, block nowrap)
  color: var(--main)
  +link.hover-link-reversal
  +break-points.media-breakpoint-up(md)
    align-self: center
  +break-points.media-breakpoint-down(sm)
    margin-top: .75rem
