.global-nav
  background-color: transparent
  @media (min-width: 48em)
    background-color: inherit

.global-nav__background.a-overlay
  background-color: rgba(black, .6)
  width: 0
  display: inline
  input:checked + .global-nav &
    opacity: 1
    width: 100%
    display: block

.global-nav__inner
  @media (min-width: 48em)
    background-color: var(--main)
    height: 100%
    width: var(--global-nav-width)
    bottom: 0
    left: 0
    position: fixed
    top: 0
    z-index: 3
    overflow-y: auto

.global-nav-links__link
  position: relative
  display: flex
  text-decoration: none
  white-space: nowrap
  align-items: center
  justify-content: center
  border-bottom: solid 1px var(--main-semi-shade)
  color: var(--reversal-text)
  transition: color .2s ease-in, background-color .2s ease-in
  width: 100%
  flex-direction: row
  height: 2.75rem
  padding-inline: 1rem
  justify-content: flex-start
  @media (min-width: 48em)
    flex-direction: column
    height: 4.125rem
    gap: .25rem
    padding-inline: 0
    justify-content: center
  &:hover
    background-color: var(--main-shade)
  &.is-active
    background-color: var(--accent)
    color: var(--main)

.global-nav-links__link-icon
  font-size: 1rem
  line-height: 1
  text-align: center
  margin-right: .5rem
  @media (min-width: 48em)
    font-size: 1.125rem
    margin-right: 0
    margin-bottom: .25rem
  .fa-rocket
    font-size: 1.15em

.global-nav-links__link-label
  font-size: .625rem
  line-height: 1.2
  text-align: center
  @media (max-width: 47.9375em)
    font-size: .875rem
  @media (min-width: 48em)
    &.is-sm
      transform: scale(.875)
      margin-top: -.125rem

.global-nav__item-count
  position: absolute
  right: .25rem
  top: .25rem
