@use "../../config/mixins/break-points"
@use "../../config/mixins/link"
@use "../../config/mixins/size"
@use "../../config/mixins/text"
@use "../../config/variables/colors"

.not-logged-in-footer
  +break-points.media-breakpoint-up(md)
    padding-block: 3rem
  +break-points.media-breakpoint-down(md)
    padding-bottom: 1.5rem
    .container
      padding-inline: 0

.not-logged-in-footer__nav
  margin-bottom: 1.5rem

.not-logged-in-footer__nav-items
  +break-points.media-breakpoint-up(lg)
    gap: 1rem
    justify-content: center
    align-items: center
  +break-points.media-breakpoint-up(md)
    display: flex
    flex-wrap: wrap
  +break-points.media-breakpoint-down(md)
    border-top: solid 1px rgba(colors.$border, 10%)
    body.is-lp &
      border-top: none

.not-logged-in-footer__nav-item
  +break-points.media-breakpoint-only(md)
    flex: 50% 0 0
    border-bottom: solid 1px rgba(colors.$border, 10%)
    &:nth-child(odd)
      border-right: solid 1px rgba(colors.$border, 10%)
  +break-points.media-breakpoint-down(sm)
    border-bottom: solid 1px rgba(colors.$border, 10%)
  body.is-lp &
    border-color: var(--border)


.not-logged-in-footer__nav-item-link
  +text.text-block(.875rem 1)
  color: var(--reversal-text)
  +break-points.media-breakpoint-up(md)
    +link.hover-link
  +break-points.media-breakpoint-down(md)
    text-decoration: none
    display: flex
    align-items: center
    padding-inline: 1rem
    +size.size(100% 2.75rem)
  i
    font-size: .75em
    position: relative
    top: -.0625em
  i:first-child
    margin-right: .375em
  body.is-lp &
    color: var(--default-text)

.not-logged-in-footer-copyright
  justify-content: center
  align-items: center
  +text.text-block(.875rem 1.4, flex)
  color: var(--reversal-text)
  gap: .25rem
  body.is-lp &
    color: var(--default-text)

.not-logged-in-footer-copyright__author
  display: block

.not-logged-in-footer-copyright__author-link
  +link.hover-link
  color: var(--reversal-text)
  margin-right: .5em
  body.is-lp &
    color: var(--default-text)
