@use "../../config/mixins/border-radius"

.page-search
  padding-block: .75rem
  border-top: solid 1px var(--border-shade)
  border-bottom: solid 1px var(--border-shade)
  .page-tabs + &
    padding-block: 0

.page-search__form
  width: 30rem
  max-width: 100%
  margin-inline: auto
  display: flex
  height: 100%
  align-items: center
  padding-right: .75rem

.page-search__text-input
  height: 2rem
  +border-radius.border-radius(right, 0)
  border-right: none

.is-icon.page-search__submit
  height: 2rem
  +border-radius.border-radius(left, 0)
