.pagination
  +position(relative, 1)
  &:first-child
    +media-breakpoint-up(md)
      margin-bottom: 1.5rem
    +media-breakpoint-down(sm)
      margin-bottom: .75rem
  &:not(:first-child)
    +media-breakpoint-up(md)
      margin-top: 1.5rem
    +media-breakpoint-down(sm)
      margin-top: .75rem

.pagination__items
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: .25rem
  overflow-x: auto

.pagination__item
  &.is-disabled
    opacity: .4
    pointer-events: none

.pagination__item-link
  +size(2.5rem)
  border-radius: 50%
  outline: none
  +text-block(.875rem 1)
  color: var(--muted-text)
  +flex-link
  justify-content: center
  align-items: center
  transition: all .2s ease-in
  &:hover
    background-color: rgba(black, .1)
  &.is-active
    background-color: var(--main)
    color: var(--reversal-text)
  .pagination__item.is-active &
    background-color: var(--main)
    color: var(--reversal-text)
  &.is-disabled
    opacity: .4
    pointer-events: none
