@use "../../config/mixins/border-radius"
@use "../../config/mixins/link"
@use "../../config/mixins/text"

.pill-nav
  &:not(:first-child)
    padding-top: 1.25rem

.pill-nav__items
  display: flex
  overflow-x: auto
  overflow-y: hidden
  justify-content: center

.pill-nav__item
  &:first-child .pill-nav__item-link
    +border-radius.border-radius(left, 10em)
  &:last-child .pill-nav__item-link
    +border-radius.border-radius(right, 10em)
  .is-half &
    width: 50%

.pill-nav__item-link
  +link.block-link
  +text.text-block(.75rem 2.3, center nowrap)
  color: var(--muted-text)
  border: solid 1px var(--border-shade)
  border-left-width: .5px
  border-right-width: .5px
  width: 7rem
  transition: all .2s ease-out
  .pill-nav__item:first-child &
      border-left-width: 1px
  .pill-nav__item:last-child &
      border-right-width: 1px
  &:hover
    background-color: var(--background-more-tint)
  &.is-active
    background-color: var(--main)
    color: var(--reversal-text)
    border-color: var(--main)

div.pill-nav__item-link
  cursor: pointer
