.tab-nav
  padding-block: .875rem
  border-bottom: solid 1px var(--border)
  .page-main-header + &
    border-bottom: none
    padding-bottom: 0

.tab-nav__items
  display: flex
  gap: .5rem
  overflow-x: auto
  overflow-y: hidden
  margin-inline: -1rem
  padding-inline: 1rem

.tab-nav__item
  flex: 0 0 7rem

.tab-nav__item-link
  +block-link
  +text-block(.75rem 2.3, center nowrap)
  color: var(--semi-muted-text)
  border: solid 1px var(--border-shade)
  border-radius: 20rem
  transition: all .2s ease-out
  &:hover
    background-color: var(--background-semi-shade)
  &.is-active
    background-color: var(--main)
    border-color: var(--main)
    color: var(--reversal-text)
