$main: hsl(248, 51%, 48%)
$accent: hsl(44, 96%, 54%)
$base: white
$background: hsl(248, 33%, 97%)
$completion: rgb(0, 160, 221)

// background
$background-shade: hsl(248, 11%, 85%)
$background-semi-shade: hsl(248, 7%, 89%)
$background-tint: hsl(248, 9%, 93%)
$background-more-tint: hsl(248, 9%, 98%)
$background-more-more-tint: hsl(248, 0%, 98%)

// text
$default-text: hsl(248, 12%, 35%)
$reversal-text: white
$muted-text: hsl(248, 5%, 64%)
$semi-muted-text: hsl(248, 7%, 57%)
$placeholder-text: hsl(248, 0%, 73%)
$link-text: hsl(248, 62%, 33%)

// border
$side-border: rgba(black, .09)
$border: hsl(248, 7%, 89%)
$border-tint: $background
$border-shade: hsl(248, 7%, 84%)

// Welcome Colors
$welcome-blue: hsl(210, 100%, 55%)
$welcome-light-blue: hsl(199, 100%, 92%)
$welcome-yellow: hsl(57, 100%, 49%)
$welcome-orange: hsl(40, 98%, 59%)
$welcome-pink: hsl(344, 80%, 66%)

// UI colors
$primary: hsl(211, 67%, 52%)
$secondary: hsl(248, 1%, 100%)
$success: hsl(150, 39%, 49%)
$info: hsl(190, 73%, 48%)
$warning: $accent
$danger: hsl(349, 90%, 62%)
$disabled: hsl(0, 1%, 78%)
$stamp-color: hsl(0, 80%, 62%)

$danger-text: shade($danger, 40%)
$danger-tint: tint($danger, 90%)

$success-text: shade($success, 60%)
$success-tint: tint($success, 90%)

$info-text: shade($info, 60%)
$info-tint: tint($info, 90%)

$primary-text: shade($primary, 40%)
$primary-tint: tint($primary, 90%)
$primary-semi-tint: tint($primary, 60%)

$warning-text: shade($warning, 60%)
$warning-tint: tint($warning, 90%)

$main-text: shade($main, 10%)
$main-tint: tint($main, 90%)
$main-shade: hsl(254, 60%, 34%)

// input
$input-border: $border-shade
$input-background: $background-more-more-tint

$input-hover-border: $border-shade
$input-hover-background: $base

$input-selected-background: $primary-tint
$input-selected-border: $primary
$input-selected-text: $primary-text

$input-focus-background: $base
$input-focus-border: $primary
$input-focus-shadow: rgba($primary, .4) 0 0 1px 2px

\:root
  --main: #{$main}
  --accent: #{$accent}
  --base: #{$base}
  --background: #{$background}
  --completion: #{$completion}

  // background
  --background-shade: #{$background-shade}
  --background-semi-shade: #{$background-semi-shade}
  --background-tint: #{$background-tint}
  --background-more-tint: #{$background-more-tint}
  --background-more-more-tint: #{$background-more-more-tint}

  // text
  --default-text: #{$default-text}
  --reversal-text: #{$reversal-text}
  --muted-text: #{$muted-text}
  --semi-muted-text: #{$semi-muted-text}
  --placeholder-text: #{$placeholder-text}
  --link-text: #{$link-text}

  // border
  --side-border: #{$side-border}
  --border: #{$border}
  --border-tint: #{$border-tint}
  --border-shade: #{$border-shade}

  // Welcome Colors
  --welcome-blue: #{$welcome-blue}
  --welcome-light-blue: #{$welcome-light-blue}
  --welcome-yellow: #{$welcome-yellow}
  --welcome-orange: #{$welcome-orange}
  --welcome-pink: #{$welcome-pink}

  // UI colors
  --primary: #{$primary}
  --secondary: #{$secondary}
  --success: #{$success}
  --info: #{$info}
  --warning: #{$warning}
  --danger: #{$danger}
  --disabled: #{$disabled}
  --stamp-color: #{$stamp-color}

  --danger-text: #{$danger-text}
  --danger-tint: #{$danger-tint}

  --success-text: #{$success-text}
  --success-tint: #{$success-tint}

  --info-text: #{$info-text}
  --info-tint: #{$info-tint}

  --primary-text: #{$primary-text}
  --primary-tint: #{$primary-tint}
  --primary-semi-tint: #{$primary-semi-tint}

  --warning-text: #{$warning-text}
  --warning-tint: #{$warning-tint}

  --main-text: #{$main-text}
  --main-tint: #{$main-tint}
  --main-shade: #{$main-shade}

  // input
  --input-border: #{$input-border}
  --input-background: #{$input-background}

  --input-hover-border: #{$input-hover-border}
  --input-hover-background: #{$input-hover-background}

  --input-selected-background: #{$input-selected-background}
  --input-selected-border: #{$input-selected-border}
  --input-selected-text: #{$input-selected-text}

  --input-focus-background: #{$input-focus-background}
  --input-focus-border: #{$input-focus-border}
  --input-focus-shadow: #{$input-focus-shadow}

=default-link
  transition: color .2s ease-in
  color: var(--link-text)
  &:link
    color: var(--link-text)
  &:visited
    color: hsl(233, 33%, 58%)
  &:hover
    color: hsl(215, 78%, 50%)
  &:active
    color: hsl(20, 88%, 37%)

=muted-link
  transition: color .2s ease-in
  color: var(--muted-text)
  &:link
    color: var(--muted-text)
  &:visited
    color: var(--muted-text)
  &:hover
    color: var(--danger)
  &:active
    color: var(--danger)
