:root {
  --main: hsl(242, 51%, 51%);
  --accent: hsl(44, 96%, 54%);
  --base: white;
  --completion: hsl(197, 83%, 49%);
  --completion-dark: rgba(0, 0, 0, 0.2);
  --background-shade: hsl(242, 11%, 85%);
  --background-semi-shade: hsl(242, 24%, 92%);
  --background: hsl(242, 34%, 98%);
  --background-tint: hsl(242, 20%, 93%);
  --background-more-tint: hsl(242, 8%, 98.5%);
  --positive-background: #ffecdf;
  --negative-background: #ecf3f7;
  --neutral-background: #fff9e8;
  --gold: #e3a822;
  --silver: #898888;
  --bronze: #dc7e61;
  --default-text: hsl(242, 10%, 30%);
  --reversal-text: white;
  --muted-text: hsl(242, 5%, 64%);
  --semi-muted-text: hsl(242, 7%, 57%);
  --link-text: hsl(242, 62%, 33%);
  --hover-text: hsl(215, 78%, 50%);
  --transparent-text: rgba(0, 0, 0, 0);
  --placeholder: rgba(0, 0, 0, 0.075);
  --placeholder-text: hsl(242, 0%, 73%);
  --border: hsl(242, 7%, 89%);
  --border-tint: hsl(242, 14%, 95%);
  --border-shade: hsl(242, 7%, 84%);
  --border-more-shade: hsl(242, 5%, 64%);
  --welcome-blue: hsl(210, 100%, 55%);
  --welcome-light-blue: hsl(199, 100%, 92%);
  --welcome-yellow: hsl(57, 100%, 49%);
  --welcome-orange: hsl(40, 98%, 59%);
  --welcome-pink: hsl(344, 80%, 66%);
  --primary: #5752e8;
  --secondary: hsl(242, 1%, 100%);
  --success: hsl(150, 39%, 49%);
  --success-shade: hsl(150, 39%, 37%);
  --info: hsl(190, 73%, 48%);
  --warning: hsl(44, 96%, 54%);
  --warning-shade: hsl(44, 96%, 41%);
  --danger: hsl(349, 90%, 62%);
  --danger-shade: hsl(349, 90%, 47%);
  --disabled: hsl(242, 11%, 85%);
  --stamp-color: hsl(0, 80%, 62%);
  --danger-text: rgb(147.186, 42.534, 61.7202);
  --danger-tint: rgb(254.031, 236.589, 239.7867);
  --success-text: rgb(30.4878, 69.4722, 49.98);
  --success-tint: rgb(237.12195, 246.86805, 241.995);
  --info-text: rgb(13.2192, 72.7872, 84.7008);
  --info-tint: rgb(232.8048, 247.6968, 250.6752);
  --primary-text: rgb(52.2, 49.2, 139.2);
  --primary-tint: rgb(238.2, 237.7, 252.7);
  --primary-semi-tint: rgb(187.8, 185.8, 245.8);
  --primary-background: #ebebf7;
  --warning-text: rgb(100.1232, 76.10016, 10.0368);
  --warning-tint: rgb(254.5308, 248.52504, 232.0092);
  --main-text: rgb(63.51642, 59.69295, 174.39705);
  --main-tint: rgb(236.55738, 236.13255, 248.87745);
  --main-shade: hsl(254, 60%, 34%);
  --main-semi-shade: hsl(254, 52%, 40%);
  --lp-bg-3: #DEDEF2;
  --lp-bg-2: var(--primary-background);
  --lp-bg-1: var(--background);
  --reply-warning-background: hsl(44, 96%, 54%);
  --reply-warning-border: #d09a0e;
  --reply-alert-background: #ff7500;
  --reply-alert-border: #d06305;
  --reply-deadline-background: hsl(349, 90%, 62%);
  --reply-deadline-border: #b50f38;
  --input-border: hsl(242, 7%, 84%);
  --input-background: hsl(242, 8%, 98.5%);
  --input-hover-border: hsl(242, 7%, 84%);
  --input-hover-background: white;
  --input-selected-background: rgb(238.2, 237.7, 252.7);
  --input-selected-border: #5752e8;
  --input-selected-text: rgb(52.2, 49.2, 139.2);
  --input-focus-background: white;
  --input-focus-border: #5752e8;
  --input-focus-shadow: rgba(87, 82, 232, 0.4) 0 0 1px 2px;
  --header-height__md-up: 3.125rem;
  --header-height__sm-down: 2.75rem;
  --global-nav-width: 5.5rem;
  --global-nav-width-sm: 13rem;
  --thread-header-author: 4.75rem;
  --side-nav-width: 17rem;
}

/*# sourceMappingURL=_css-variables.css.map */
