a.a-user-icons__item-link href=user.url
  span class=["a-user-role", "is-#{user.primary_role}", ("is-new-user" if user.joining_status == 'new-user')]
    img.a-user-icons__item-icon.a-user-icon title=user.icon_title alt=user.icon_title src=user.avatar_url data-login-name=user.login_name
