.calender-header
  margin-bottom: 1rem

.calender-header__inner
  display: flex
  justify-content: center
  align-items: center

.calender-header__title
  font-size: 1.25rem
  +margin(horizontal, 1rem)
