/// Grid system
//
// Generate semantic grid columns with these mixins.

=make-container($gutter: $grid-gutter-width)
  +padding(horizontal, $gutter / 2)

=make-row($gutter: $grid-gutter-width)
  display: flex
  flex-wrap: wrap
  +margin(horizontal, $gutter / -2)

=make-col($gutter: $grid-gutter-width)
  position: relative
  min-height: 1px
  +padding(horizontal, $gutter / 2)

=make-col-span($size, $columns: $grid-columns)
  flex: 0 0 percentage($size / $columns)
  width: percentage($size / $columns)
  // for firefox bug
  max-width: percentage($size / $columns)

=make-col-offset($size, $columns: $grid-columns)
  margin-left: percentage($size / $columns)

=make-col-push($size, $columns: $grid-columns)
  left: if($size > 0, percentage($size / $columns), auto)

=make-col-pull($size, $columns: $grid-columns)
  right: if($size > 0, percentage($size / $columns), auto)

=make-col-modifier($type, $size, $columns)
  // Work around the lack of dynamic mixin @include support (https://github.com/sass/sass/issues/626)
  @if $type == push
    +make-col-push($size, $columns)
  @else if $type == pull
    +make-col-pull($size, $columns)
  @else if $type == offset
    +make-col-offset($size, $columns)
