/// Grid system
//
// Generate semantic grid columns with these mixins.

=make-row($gutter: $grid-gutter-width)
  display: flex
  flex-wrap: wrap
  gap: $gutter

=make-col-span($size, $columns: $grid-columns)
  content: $size
  $one-line-columns-count: $columns / $size
  $gutter-count: $one-line-columns-count - 1
  $total-gutter-width: $grid-gutter-width * $gutter-count
  $column-margin: $total-gutter-width / $one-line-columns-count

  flex: 0 0 calc(#{percentage($size / $columns)} - #{$column-margin})
  //
    width: calc(#{percentage($size / $columns)} - #{$column-margin})
    max-width: calc(#{percentage($size / $columns)} - #{$column-margin})
