@use "../../../config/mixins/link"
@use "../../../config/mixins/text"
@use "../../../config/variables/colors"

.thanks
  max-width: 26rem
  padding-inline: 1rem
  margin-inline: auto
  margin-top: 6rem

.thanks__logo-image
  max-width: 20rem
  display: block
  margin-inline: auto
  margin-bottom: 3rem

.thanks__body
  background-color: var(--base)
  padding: 1.5rem
  border-radius: .25rem

.thanks__icon
  +text.text-block(4rem 1 0 .5rem, center)
  color: var(--main)

.thanks__title
  +text.text-block(.875rem 1.4 0 .75rem, center 600)

.thanks__message
  p
    +text.text-block(.75rem 1.6, center)
  a
    +colors.default-link
    +link.hover-link-reversal
