@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.thanks-message__header
  color: var(--reversal-text)
  & + .a-card
    margin-top: 2rem

.thanks-message__title
  line-height: 1.4
  text-align: center
  font-weight: 800
  color: var(--main)
  +break-points.media-breakpoint-up(md)
    font-size: 1.75rem
  +break-points.media-breakpoint-down(sm)
    font-size: 1.75rem

.thanks-message__body
  padding: 1.25em 1.5em
  font-size: 1rem
  display: flex
  flex-direction: column
  gap: 1rem
  +break-points.media-breakpoint-down(sm)
    font-size: .875rem
  p
    +text.text-block(1em 1.6 0 1em)
    &:last-child
      margin-bottom: 0
  strong
    font-weight: 600
    display: inline-block
    margin-inline: .25em

.thanks-message__inputed-values.form
  margin-inline: 0

.thanks-message__inputed-values-title
  +text.text-block(.875rem 1.4, 800)
  background-color: var(--background-shade)
  padding: .25rem .5rem
  margin-bottom: 1rem
  border-left: solid .5rem var(--main)
  border-radius: .25rem
