.course-selection-item
  padding: 1.5rem 2rem

.course-selection-item__body:not(:first-child)
  margin-top: 1.5rem

.course-selection-item__title
  +text-block(1.5rem 1.4, 700)

.course-selection-item__summary
  font-size: 1rem

.course-selection-item__action
  margin-top: 1.5rem

.course-selection-item__section
  margin-top: 1.5rem
  font-size: .875rem
