.course-selection-item-anchor
  position: relative
  top: -3rem

.course-selection-item
  +media-breakpoint-up(md)
    padding: 1.5rem 2rem
  +media-breakpoint-down(sm)
    padding: 1.25rem 1rem

.course-selection-item__body:not(:first-child)
  margin-top: 1.5rem

.course-selection-item__title
  font-weight: 700
  +media-breakpoint-up(md)
    +text-block(1.5rem 1.4)
  +media-breakpoint-down(sm)
    +text-block(1.25rem 1.4)

.course-selection-item__action
  margin-top: 1.5rem

.course-selection-item__section
  margin-top: 1.5rem
  font-size: .875rem
  +media-breakpoint-up(md)
  +media-breakpoint-down(sm)
