.faqs__filter
  margin-bottom: .5rem
  position: sticky
  top: 0
  background-color: var(--background)
  padding-block: .5rem

.faqs__row
  display: flex
  gap: 2rem
  +media-breakpoint-down(sm)
    flex-direction: column-reverse

.faqs__start
  flex: 0 0 14rem

.faqs__end
  flex: 1

.faqs__items
  display: flex
  flex-direction: column
  gap: 1rem

.faqs-item__inner
  border: solid 1px var(--border)
  background-color: var(--base)
  padding: 1rem 1.25rem 1rem
  border-radius: .25rem

.faqs-item__title
  +text-block(1.125rem 1.5 0 .5rem, 700 flex)
  align-items: baseline
  +media-breakpoint-down(sm)
    font-size: .875rem

.faqs-item__body
  margin-top: .75rem
