.side-filter__item-link
  display: flex
  padding: .75rem
  +text-block(.875rem 1.4)
  overflow: hidden
  .side-filter__item:not(:last-child) &
    border-bottom: solid 1px var(--border-tint)
  &.is-active
    background-color: var(--warning)
    pointer-events: none
    text-decoration: none
    color: var(--default-text)
