
.answer-badge {
  border: double .1875rem var(--stamp-color);
  border-radius: .75rem;
  width: 4rem;
  height: 3.5rem;
  padding: .125rem;
  position: absolute;
  right: 0;
  top: -.125rem;
  z-index: 1;
  transform: rotate(25deg);
  font-size: .625rem;
  line-height: 1;
  display: flex;
  text-align: center;
  color: var(--stamp-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  @media (max-width: 47.9375em) {
    position: absolute;
    left: 80%;
    top: 0;

  }
}
.answer-badge__icon {
  font-size: 1.5rem;

}
