.page-content-header-actions__action id=dom_id(watchable, :watch_toggle)
  - if watch
    .watch-toggle.a-watch-button.a-button.is-sm.is-block.is-active.is-main [
      data-watchable_type="#{watchable.class.to_s}"
      data-watchable_id="#{watchable.id}"
      data-watch_id="#{watch.id}" ] Watch中
  - else
    .watch-toggle.a-watch-button.a-button.is-sm.is-block.is-inactive.is-muted [
      data-watchable_type="#{watchable.class.to_s}"
      data-watchable_id="#{watchable.id}" ] Watch
