= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap', media: 'all'
= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap', media: 'all'
