
.courses-item {
  height: 100%;
}

.courses-item__inner {
  height: 100%;
}

.courses-item__header {
  padding: .75rem 1.25rem 0;
}

.courses-item__title {
  font-size: 1.125rem;
  line-height: 1.4;
}

.courses-item__title-icon {
  font-size: .6875rem;
  line-height: 1;
  color: var(--semi-muted-text);
  display: inline-flex;
  white-space: nowrap;
  font-weight: 400;
  padding-inline: .5rem;
  height: 1.125rem;
  margin-right: .5rem;
  border-radius: .75rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 48em) {
  .courses-item__title-icon {
    top: -.125rem;
  }
}

@media (max-width: 47.9375em) {
  .courses-item__title-icon {
    top: -.1875rem;
  }
}

.courses-item__title-icon.is-closed {
  background-color: var(--background-tint);
}

.courses-item__title-link {
  display: block;
  text-decoration: none;
}

.courses-item__title-label {
  color: var(--main-text);
  transition: all .2s ease-out;
  font-weight: 700;
}

.is-closed .courses-item__title-label {
  color: var(--muted-text);
}

.is-closed .courses-item__title-link:hover .courses-item__title-label,
.courses-item__title-link:hover .courses-item__title-label {
  text-decoration: underline;
  color: var(--main-text);
}

.courses-item__description {
  padding: .5rem 1.25rem .75rem;
}

.courses-item__description p {
  font-size: .8125rem;
  line-height: 1.6;
}
