.header-search
  display: flex
  height: 100%
  align-items: center
  padding-right: .75rem

.header-search__select
  &.is-select
    height: 2rem
    +border-radius(right, 0)
    border-right: none
    select
      +padding(horizontal, .75rem 2rem)

.header-search__text-input
  height: 2rem
  border-radius: 0
  border-right: none

.is-icon.header-search__submit
  +size(2rem)
  +border-radius(left, 0)
  font-size: 1rem
