.header-notification-icon
  +text-block(1.25rem 1, center)
  +media-breakpoint-down(sm)
    +text-block(1.125rem 1)
    .has-count &
      color: $default-text

.header-notification-count
  position: absolute
  +media-breakpoint-up(md)
    +size(1.25rem .875rem)
    +position(right .25rem, top .25rem)
  +media-breakpoint-down(sm)
    +size(1.125rem .75rem)
    +position(right .125rem, top .125rem)
  &.is-loading::before
    content: ' .'
    color: $default-text
    animation: dots 1s steps(5, end) infinite
    +text-block(1rem 1)
    +position(absolute, left .25rem, bottom .25rem)

@keyframes dots
  0%, 20%
    color: rgba(0,0,0,0)
    text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0)
  40%
    color: $default-text
    text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0)
  60%
    text-shadow: .25em 0 0 $default-text, .5em 0 0 rgba(0,0,0,0)
  80%, 100%
    text-shadow: .25em 0 0 $default-text, .5em 0 0 $default-text

.header-notifications-item__body
  width: 100%
  +media-breakpoint-up(md)
    color: $default-text
  +media-breakpoint-down(sm)
    color: $reversal-text

.header-notifications-item__user-icon
  float: left
  +size(2rem)
  margin-right: .5rem
  margin-bottom: .25rem

.header-notifications-item__message
  p
    line-height: 1.45
    margin-bottom: .375em
    +media-breakpoint-up(md)
      font-size: .8125rem
    +media-breakpoint-down(sm)
      font-size: .75rem

.header-notifications-item__created-at
  text-align: right
  display: block
  +media-breakpoint-up(md)
    font-size: .75rem
  +media-breakpoint-down(sm)
    font-size: .625rem
