.header-dropdown
  display: none
  input:checked + &
    display: block

.header-dropdown__inner
  +position(absolute, right 0, top 100%, 2)
  width: 10rem
  background-color: $base
  border: solid 1px $background-shade
  border-radius: .25rem
  &.is-notification
    width: 15rem

.header-dropdown__item-link
  +text-block(.875rem 1.4, $main)
  +flex-link
  padding: .5rem .75rem
  transition: all .2s ease-out
  &:hover
    background-color: #f8f8f8
  .header-dropdown__item:not(:last-child) &
    border-bottom: solid 1px $background-shade

.header-dropdown__background
  +position(fixed, left 0, top 0, right 0, bottom 0, 2)
