.header-dropdown
  display: none
  input:checked + &
    display: block

.header-dropdown__inner
  +position(absolute, right 0, top 100%, 2)
  width: 12rem
  background-color: $base
  border: solid 1px $background-shade
  border-radius: .25rem
  box-shadow: rgba(black, .15) 0 0 .375rem
  &.is-notification
    width: 15rem

.header-dropdown__items
  .header-dropdown__inner.is-notification &
    max-height: 80vh
    overflow-y: auto

.header-dropdown__item-link
  +text-block(.875rem 1.4, $main)
  +flex-link
  padding: .75rem
  transition: all .2s ease-out
  &:hover
    background-color: $background-more-tint
  .header-dropdown__item:not(:last-child) &
    border-bottom: solid 1px $background

.header-dropdown__footer
  border-top: solid 1px $background-shade
  +border-radius(bottom, .25rem)
  overflow: hidden

.header-dropdown__footer-link
  +text-block(.875rem 1.4, $main)
  +flex-link
  align-items: center
  justify-content: center
  +size(100% 2.75rem)
  transition: all .2s ease-out
  &:hover
    background-color: $background-more-tint

.header-dropdown__background
  +position(fixed, left 0, top 0, right 0, bottom 0, 2)
