.lp-hero-info__titles
  display: flex
  flex-direction: column
  gap: .75rem
  @media (min-width: 48em)
    gap: 1rem

.lp-hero-info__title
  font-size: 1rem
  line-height: 1.4
  font-weight: 800
  @media (min-width: 48em)
    font-size: 1.5rem

.lp-hero-info__catchcopy
  font-size: 2rem
  line-height: 1.2
  font-weight: 800
  br
    display: none
  @media (min-width: 48em)
    font-size: 2.75rem
    br
      display: inline
  @media (min-width: 64em)
    font-size: 3.25rem
  @media (min-width: 80em)
    font-size: 4rem

.lp-hero-info__description
  p
    font-size: .875rem
    line-height: 1.5
    font-weight: 600
    @media (min-width: 48em)
      font-size: 1rem
