.lp-page-header-nav
  display: flex
  height: 100%

.lp-page-header-nav__items
  display: flex
  align-items: center
  gap: .75rem

.lp-page-header-nav__item
  position: relative
  flex: 1
  max-width: 50%
  min-width: 10rem
  &:first-child:last-child
    max-width: 100%
  @media (min-width: 48em)
    flex: none
    max-width: none
    display: flex
    justify-content: center
