@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.lp-content-sub-title
  i
    margin-right: .25em
    color: var(--main)
  strong
    color: var(--main)
  +break-points.media-breakpoint-up(lg)
    +text.text-block(2.125rem 1.4, 800)
  +break-points.media-breakpoint-only(md)
    +text.text-block(1.75rem 1.4, 800)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1.375rem 1.4, 800)
    &.is-course-name
      font-size: .875rem
  &.is-sm
    color: var(--main)
    +break-points.media-breakpoint-up(lg)
      +text.text-block(1.5rem 1.4, 800)
    +break-points.media-breakpoint-only(md)
      +text.text-block(1.25rem 1.4, 800)
    +break-points.media-breakpoint-down(sm)
      +text.text-block(1.125rem 1.4, 800)
