.lp-content
  position: relative
  &:first-child
    padding-top: 2rem
    padding-bottom: 5.5rem
  &:not(:first-child)
    padding-top: 4rem
    padding-bottom: 8rem
  &.is-campaign
    background-color: var(--main)
    padding-top: 2.5rem
    padding-bottom: 5rem
    color: var(--reversal-text)
  &.is-lp-bg-1
    background-color: var(--lp-bg-1)
  &.is-lp-bg-2
    background-color: var(--lp-bg-2)
  &.is-lp-bg-3
    background-color: var(--lp-bg-3)
  &.is-lp-bg-main
    background-color: var(--main)
    color: var(--reversal-text)
  .lp-content__inner
    display: flex

  +media-breakpoint-up(lg)
    &.is-hero
      position: relative
      padding-top: 3rem
      padding-bottom: 4rem
      .lp-content__inner
        +media-breakpoint-down(md)
          flex-direction: column
      .lp-content__start
        flex: 12
      .lp-content__end
        flex: 10
      .lp-hero-info
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        gap: 2rem
        padding-bottom: 3rem

    &.is-top-title
      .lp-content__inner
        gap: 3.5rem
        flex-direction: column

    &.is-right-title
      .lp-content__inner
        flex-direction: row-reverse
        justify-content: space-between
        gap: 3rem
      .lp-content__end
        flex: 1
        max-width: 50rem

    &.is-left-title
      .lp-content__inner
        gap: 3rem
        justify-content: space-between
      .lp-content__end
        flex: 1
        max-width: 42.5rem

  +media-breakpoint-down(md)
    .lp-content__inner
      gap: 3.5rem
      flex-direction: column

.lp-content__body
  display: flex
  flex-direction: column
  gap: 2.5rem
