@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.lp-left-number-sections__items
  counter-reset: number 0

.lp-left-number-section
  flex-direction: row
  padding: 1.5rem
  display: flex
  +break-points.media-breakpoint-up(md)
    gap: 2rem
  +break-points.media-breakpoint-down(sm)
    gap: 1rem

.lp-left-number-section__start
  +break-points.media-breakpoint-up(md)
    flex: 0 0 12rem
  +break-points.media-breakpoint-down(sm)
    flex: 0 0 6rem

.lp-left-number-section__header
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.lp-left-number-section__title
  text-align: center
  color: var(--main)
  +break-points.media-breakpoint-up(md)
    +text.text-block(1.5rem 1.4, 800)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1.25rem 1.4, 800)
    br
      display: none
  &::before
    counter-increment: number 1
    content: '0'counter(number)
    display: block
    font-family: "Lato", sans-serif
    font-style: italic
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: var(--main)
    color: #dedef2
    margin-bottom: -.125rem
    +break-points.media-breakpoint-up(md)
      +text.text-block(2.5rem 1.4, 900)
    +break-points.media-breakpoint-down(sm)
      +text.text-block(2rem 1.4, 900)

.lp-left-number-section__end
  display: flex
  flex-direction: column
  gap: 1.25rem
