@use "../../../config/mixins/text"

.lp-course-selection-nav
  position: sticky
  top: 0
  z-index: 2

.lp-course-selection-nav__inner
  padding-block: .5rem

.lp-course-selection-nav__items
  display: flex

.lp-course-selection-nav__item
  flex: 1

.lp-course-selection-nav__item-link
  border: solid 1px var(--main)
  background-color: var(--base)
  +text.text-block(.75rem 1.4, center)
  display: flex
  text-decoration: none
  height: 2.75rem
  justify-content: center
  align-items: center
  .lp-course-selection-nav__item:first-child &
    border-radius: .25rem 0 0 .25rem
    margin-right: -1px
  .lp-course-selection-nav__item:last-child &
    border-radius: 0 .25rem .25rem 0
