@use "../../../config/mixins/break-points"

.lp-content-stack
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    gap: 3rem
  +break-points.media-breakpoint-down(sm)
    gap: 1.5rem
