.lp-card-title
  +text-block(1.5rem 1.4, 800)
  font-feature-settings: "palt"
  +media-breakpoint-down(sm)
    font-size: 1rem

.lp-card-title-number
  +text-block(.9375rem 1, inline-flex 800)
  font-family: 'Roboto Mono', monospace
  align-items: center
  justify-content: center
  border-radius: 50%
  +size(1.75rem)
  background-color: var(--welcome-yellow)
  margin-right: .5rem
  vertical-align: bottom
  border: solid 2px var(--default-text)
