@use "../../../config/mixins/break-points"

.lp-mentor-books__items
  display: flex
  flex-wrap: wrap
  gap: .75rem
  align-items: flex-end

.lp-mentor-books__item
  +break-points.media-breakpoint-up(md)
    flex: 0 0 4.75rem
  +break-points.media-breakpoint-down(sm)
    flex: 1

.lp-mentor-books__item-link
  box-shadow: 0 0 0 1px var(--background)
  display: block
  transition: all .2s ease-out
  &:hover
    box-shadow: 0 0 0 1px var(--warning)
