.lp-page-body
  padding-block: 2rem

.lp-page-body__header
  display: flex
  justify-content: center
  margin-bottom: 3rem

.lp-page-body__title
  +text-block(2.5rem 1.4)
  text-align: center
  font-weight: 800
  padding-bottom: 1.75rem
  color: var(--main)
  +letter-spacing-center(.0625em)
  position: relative
  &::before
    content: ''
    display: block
    +size(4.5rem .375rem)
    background-color: var(--main)
    +position(absolute, left 50%, bottom 0)
    transform: translate(-50%, 0)
    border-radius: 1rem
