@use "../../../config/mixins/break-points"

.lp-actions
  align-self: stretch
  +break-points.media-breakpoint-up(md)
    max-width: 42.5rem
    width: 100%
    margin-inline: auto

.lp-actions__items
  display: flex
  gap: 1rem
  justify-content: center

.lp-actions__item
  flex: 1
  max-width: 22rem
