.lp-content-title
  font-feature-settings: "palt"
  letter-spacing: .02em
  strong
    color: var(--main)
  &[class*=is-border-]
    &::before
      content: ''
      display: block
      border-radius: 10rem
      //background-color: var(--main)
      background-color: #9b9ace
  +media-breakpoint-up(xl)
    white-space: nowrap
    +text-block(3rem 1.4, 800)
    &.is-vertical
      writing-mode: vertical-rl
    &.is-border-bottom
      padding-bottom: 2.5rem
      position: relative
      &::before
        +position(absolute, left 50%, bottom 0)
        width: 4.5em
        height: .5rem
        transform: translate(-50%)
    &.is-border-left
      padding-left: 3.5rem
      position: relative
      &::before
        +position(absolute, left 0)
        width: .5rem
        height: 3.5em
        top: .25em
    &.is-vertical.is-border-left
      &::before
        top: .125em
  +media-breakpoint-down(lg)
    text-align: center
    position: relative
    &[class*=is-border-]
      &::before
        +position(absolute, left 50%, bottom 0)
        transform: translate(-50%)
  +media-breakpoint-only(lg)
    +text-block(2.75rem 1.4, 800)
    &.is-border-bottom
      padding-bottom: 2.25rem
    &[class*=is-border-]
      &::before
        width: 4.5em
        height: .5rem
  +media-breakpoint-only(md)
    +text-block(2.25rem 1.4, 800)
    &.is-border-bottom
      padding-bottom: 2.25rem
    &[class*=is-border-]
      &::before
        width: 4.5em
        height: .5rem
  +media-breakpoint-down(sm)
    +text-block(1.75rem 1.4, 800)
    &.is-border-bottom
      padding-bottom: 1.5rem
    &[class*=is-border-]
      &::before
        width: 3.5em
        height: .25rem

  &.is-sm
    padding-bottom: 0
    +media-breakpoint-up(lg)
      +text-block(2.25rem 1.3, 700)
    +media-breakpoint-only(md)
      +text-block(1.5rem 1.3, 700)
    +media-breakpoint-down(sm)
      +text-block(1.25rem 1.3, 700)

  &.is-xs
    +media-breakpoint-up(lg)
      +text-block(1.75rem 1.3, 700)
    +media-breakpoint-only(md)
      +text-block(1.5rem 1.3, 700)
    +media-breakpoint-down(sm)
      +text-block(1.25rem 1.3, 700)

.lp-content-title__option
  display: block
  color: #6e6d9c
  +media-breakpoint-up(xl)
    +text-block(1.5rem 1.4)
    margin-top: -1rem
    margin-bottom: 1rem
  +media-breakpoint-only(lg)
    +text-block(1.25rem 1.4)
    margin-top: -.75rem
    margin-bottom: .75rem
  +media-breakpoint-only(md)
    +text-block(1rem 1.4)
    margin-top: -.5rem
    margin-bottom: .5rem
  +media-breakpoint-down(sm)
    +text-block(1rem 1.4)
    margin-top: -.25rem
    margin-bottom: .25rem
