@use "../../../config/mixins/break-points"

.lp-content-sub-title
  i
    margin-right: .25em
    color: var(--main)
  strong
    color: var(--main)
  +break-points.media-breakpoint-up(lg)
    font-size: 2.125rem
    line-height: 1.4
    font-weight: 800
  +break-points.media-breakpoint-only(md)
    font-size: 1.75rem
    line-height: 1.4
    font-weight: 800
  +break-points.media-breakpoint-down(sm)
    font-size: 1.375rem
    line-height: 1.4
    font-weight: 800
    &.is-course-name
      font-size: .875rem
  &.is-sm
    color: var(--main)
    +break-points.media-breakpoint-up(lg)
      font-size: 1.5rem
      line-height: 1.4
      font-weight: 800
    +break-points.media-breakpoint-only(md)
      font-size: 1.25rem
      line-height: 1.4
      font-weight: 800
    +break-points.media-breakpoint-down(sm)
      font-size: 1.125rem
      line-height: 1.4
      font-weight: 800
