@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.lp-course-selection-item__anchor
  position: relative
  top: -4rem
  +break-points.media-breakpoint-down(sm)
    &#front-engineer-course
      margin-top: 4rem

.lp-course-selection-item__inner
  display: flex
  flex-direction: column
  gap: 1.5rem

.lp-course-selection-item__title
  font-weight: 700
  +break-points.media-breakpoint-up(md)
    +text.text-block(1.5rem 1.4)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1.25rem 1.4)

.lp-course-selection-item__action
  max-width: 20rem
  width: 100%
  margin-inline: auto

.lp-course-selection-item__categories
  display: flex
  flex-direction: column
  gap: 1.5rem
  details
    background-color: var(--base)

.lp-course-selection-item__body
  padding: 1.5rem
