.lp-card-description
  font-size: .875rem
  @media (min-width: 48em)
    font-size: 1rem
  a
    color: #0098f9
    text-decoration: none
    cursor: pointer
    &:hover,
    &:active
      text-decoration: underline
