@use "../../../config/mixins/break-points"

.lp-supplementary-info
  background-color: var(--lp-bg-3)
  border-radius: .5rem

.lp-supplementary-info__inner
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    padding: 1.5rem 2rem
    gap: 1.25rem
  +break-points.media-breakpoint-down(sm)
    padding: .75rem 1rem
    gap: .75rem
