@use "../../../config/mixins/break-points"

.lp-company-logos
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  +break-points.media-breakpoint-up(lg)
    gap: 1.5rem 2rem
  +break-points.media-breakpoint-down(md)
    gap: 1rem 1rem

.lp-company-logos__item img
  +break-points.media-breakpoint-up(lg)
    height: 5rem
  +break-points.media-breakpoint-down(md)
    height: 3.5rem
