.lp-left-image-section
  padding: 1.5rem

.lp-left-image-section__inner
  display: flex
  gap: 1.5rem
  align-items: center

.lp-left-image-section__start
  font-size: 5rem
  +media-breakpoint-up(md)
    flex: 0 0 12rem
  +media-breakpoint-down(sm)
    flex: 0 0 8rem

.lp-left-image-section__end
  display: flex
  flex-direction: column
  justify-content: center
  gap: 1rem

.lp-left-image-section__icon
  display: flex
  justify-content: center
