@use "../../../config/mixins/break-points"

.lp-course-selection__descritpion
  +break-points.media-breakpoint-up(md)
    font-size: 1rem
  +break-points.media-breakpoint-down(sm)
    font-size: .875rem
    margin-bottom: .5rem
