.lp-content-section
  display: flex
  flex-direction: column
  gap: 1rem
  @media (min-width: 48em)
    gap: 1.5rem

.lp-content__description
  font-size: .875rem
  @media (min-width: 48em)
    font-size: 1rem
