.lp-content-section
  display: flex
  flex-direction: column
  gap: 2.25rem

.lp-content__description
  +media-breakpoint-up(md)
    font-size: 1rem
  +media-breakpoint-down(sm)
    font-size: .875rem
