@use "../../../config/mixins/break-points"

.lp-content-section
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    gap: 1.5rem
  +break-points.media-breakpoint-down(sm)
    gap: 1rem

.lp-content__description
  +break-points.media-breakpoint-up(md)
    font-size: 1rem
  +break-points.media-breakpoint-down(sm)
    font-size: .875rem
