.lp-card-description
  &:not(:last-child)
    margin-bottom: 1rem
  p
    +media-breakpoint-up(md)
      +text-block(1rem 1.6 0 1.2em)
    +media-breakpoint-down(sm)
      +text-block(.875rem 1.6 0 1.2em)
  a
    color: #0098f9
    +hover-link-reversal
  p:last-child
    margin-bottom: 0
