@use "../../../config/mixins/break-points"

.lp-card-title
  font-feature-settings: "palt"
  letter-spacing: .02em
  font-weight: 800
  color: var(--main)
  +break-points.media-breakpoint-up(lg)
    font-size: 1.5rem
    line-height: 1.4
  +break-points.media-breakpoint-only(md)
    font-size: 1.25rem
    line-height: 1.4
  +break-points.media-breakpoint-down(sm)
    font-size: 1.125rem
    line-height: 1.4
    br
      display: none
  &.is-sm
    +break-points.media-breakpoint-up(md)
      font-size: 1.125rem
      line-height: 1.4
    +break-points.media-breakpoint-down(sm)
      font-size: 1rem
      line-height: 1.4

.lp-card-title-number
  font-size: .9375rem
  line-height: 1
  display: inline-flex
  font-weight: 800
  font-family: 'Roboto Mono', monospace
  align-items: center
  justify-content: center
  border-radius: 50%
  height: 1.75rem
  width: 1.75rem
  background-color: var(--lp-bg-3)
  margin-right: .5rem
  vertical-align: middle
  border: solid 2px var(--main)
  position: relative
  top: -1px
