@use "../../../config/mixins/break-points"

.lp-page-header-nav
  display: flex
  height: 100%

.lp-page-header-nav__items
  display: flex
  align-items: center
  gap: .75rem

.lp-page-header-nav__item
  position: relative
  +break-points.media-breakpoint-up(md)
    min-width: 10rem
    display: flex
    justify-content: center
  +break-points.media-breakpoint-down(sm)
    flex: 1
    max-width: 50%
    min-width: 10rem
    &:first-child:last-child
      max-width: 100%
