.lp-top-cover
  background-image: url(https://bootcamp.fjord.jp/images/background/people.png)
  background-image: url(https://bootcamp.fjord.jp/images/background/people.svg)
  background-color: var(--lp-bg-2)
  background-repeat: repeat
  position: relative
  +media-breakpoint-up(lg)
    height: 38rem
    background-size: 36rem
  +media-breakpoint-only(md)
    height: 28rem
    background-size: 26rem
  +media-breakpoint-down(sm)
    height: 24rem
    background-size: 20rem
  &::before
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    background-image: url(https://bootcamp.fjord.jp/images/background/people.svg)
    background-repeat: repeat
    background-color: var(--lp-bg-2)
    +media-breakpoint-up(lg)
      background-size: 36rem
    +media-breakpoint-only(md)
      background-size: 26rem
    +media-breakpoint-down(sm)
      background-size: 20rem

.lp-top-cover__container
  height: 100%

.lp-top-cover__inner
  height: 100%
  position: relative
  z-index: 2
  display: flex
  align-items: center
  +media-breakpoint-down(sm)
    padding-block: 1rem 1.5rem

.lp-top-cover__contents
  max-width: 920px
  margin-inline: auto

.lp-top-cover__image-container
  display: flex
  justify-content: center
  align-items:  center

.lp-top-cover__logo
  +size(38rem auto)
  display: block
  margin-top: 1.125rem
  margin-inline: auto
  +media-breakpoint-down(sm)
    max-width: 90%
    margin-top: .75rem

.lp-top-cover__description
  +text-block(1.5rem 1.4, center 800)
  color: var(--reversal-text)
  font-feature-settings: "palt"
  +media-breakpoint-down(sm)
    font-size: .875rem

.lp-top-cover__title
  color: var(--reversal-text)
  font-feature-settings: "palt"
  background-color: var(--accent)
  color: var(--main)
  padding: .5rem 1rem
  font-weight: 800
  text-align: center
  +media-breakpoint-up(lg)
    +text-block(2.5rem 1.4)
  +media-breakpoint-only(md)
    +text-block(2rem 1.4)
  +media-breakpoint-down(sm)
    +text-block(1.25rem 1.4)
