.lp-course-selection-item__anchor
  position: relative
  top: -3rem

.lp-course-selection-item__inner
  display: flex
  flex-direction: column
  gap: 1.5rem

.lp-course-selection-item__title
  font-weight: 700
  +media-breakpoint-up(md)
    +text-block(1.5rem 1.4)
  +media-breakpoint-down(sm)
    +text-block(1.25rem 1.4)

.lp-course-selection-item__action
  margin-top: 1.25rem

.lp-course-selection-item__categories
  display: flex
  flex-direction: column
  gap: 1.5rem
