@use "../../../config/mixins/break-points"
@use "../../../config/mixins/size"

@use "sass:math"

.lp-top-image-sections__title-icon
  +size.size(3rem)
  margin-right: .75rem

.lp-top-image-section
  height: 100%

.lp-top-image-section__inner
  height: 100%
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    padding: 1.25rem 1.5rem 1.5rem
    gap: 1.25rem
  +break-points.media-breakpoint-down(sm)
    padding: 1rem 1.25rem 1.25rem
    gap: .75rem

.lp-top-image-section__icon
  display: block
  margin-inline: auto
  display: flex
  justify-content: center
  align-items: center
  +break-points.media-breakpoint-up(lg)
    width: 8rem
    font-size: 5rem
  +break-points.media-breakpoint-only(md)
    width: 6rem
    font-size: 4rem
  +break-points.media-breakpoint-down(sm)
    width: 6rem
    font-size: 4rem

.lp-top-image-section__chart-container
  +break-points.media-breakpoint-up(md)
    aspect-ratio: 5 / 3
  +break-points.media-breakpoint-down(sm)
    aspect-ratio: 3 / 4

.lp-top-image-section__float-image
  float: left
  border-radius: .25rem
  +break-points.media-breakpoint-up(md)
    width: 6.75rem
    margin-right: 1.5rem
    margin-bottom: .75rem
  +break-points.media-breakpoint-down(sm)
    width: 4rem
    margin-right: 1rem
    margin-bottom: .75rem
