.lp-left-image-section
  padding: 1.5rem

.lp-left-image-section__inner
  display: flex
  gap: 1.5rem

.lp-left-image-section__start
  flex: 0 0 14rem

.lp-left-image-section__end
  display: flex
  flex-direction: column
  justify-content: center
  gap: 1rem
