.lp-main-visual
  position: relative
  &.is-lp-bg-1
    background-color: var(--lp-bg-1)
  &.is-lp-bg-2
    background-color: var(--lp-bg-2)
  &.is-lp-bg-3
    background-color: var(--lp-bg-3)

.lp-main-visual__inner
  display: flex
  +media-breakpoint-up(lg)
    height: 34rem
  +media-breakpoint-down(md)
    flex-direction: column

.lp-main-visual__start,
.lp-main-visual__end
  flex: 1

.lp-main-visual__start-inner
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  gap: 2rem
  padding-bottom: 3rem

.lp-main-visual__titles
  display: flex
  flex-direction: column
  gap: 1rem

.lp-main-visual__title
  +text-block(1.5rem  1.4, 800)
  color: var(--main)

.lp-main-visual__catchcopy
  +media-breakpoint-up(lg)
    +text-block(4.25rem 1.2, 800)
  +media-breakpoint-down(sm)
    +text-block(3rem 1.2, 800)

.lp-main-visual__description
  p
    +text-block(1rem 1.4, 600)
