@use "../../../config/mixins/text"

.lp-category-practices
  background-color: var(--base)

.lp-category-practices__category
  +text.text-block(1rem 1.4, 800)
  background-color: var(--main)
  color: var(--reversal-text)
  display: flex
  align-items: center
  padding: .5rem 1rem
  border-radius: .25rem .25rem 0 0

.lp-category-practices__practices
  border: solid 1px var(--border)
  border-radius: 0 0 .25rem .25rem

.lp-category-practices__practice
  +text.text-block(.875rem 1.4)
  display: flex
  align-items: center
  padding: .5rem 1rem
  &:nth-child(even)
    background-color: var(--background-more-tint)
  &:not(:last-child)
    border-bottom: solid 1px var(--border)
  &:last-child
    border-radius: 0 0 .25rem .25rem
