.lp-course-selection__descritpion
  +media-breakpoint-up(md)
    font-size: 1rem
  +media-breakpoint-down(sm)
    font-size: .875rem
    margin-bottom: .5rem

.lp-course-selection__items
  +media-breakpoint-up(md)
    margin-top: 2rem
  +media-breakpoint-down(sm)
    margin-top: 1rem
