@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.lp-capture-section__inner
  display: flex
  .lp-content-stack__item:nth-child(even) &
    flex-direction: row-reverse
  +break-points.media-breakpoint-up(md)
    gap: 3rem
  +break-points.media-breakpoint-down(sm)
    gap: 1rem
    .lp-content-sub-title
      br
        display: none

.lp-capture-section__start,
.lp-capture-section__end
  display: flex
  align-items: center

.lp-capture-section__start
  +break-points.media-breakpoint-up(lg)
    flex: 1
  +break-points.media-breakpoint-only(md)
    flex: 1
  +break-points.media-breakpoint-down(sm)
    flex: 0 0 40%

  &.is-sm
    +break-points.media-breakpoint-up(lg)
      max-width: 20rem
    +break-points.media-breakpoint-only(md)
      max-width: 16rem
    +break-points.media-breakpoint-down(sm)
      max-width: 10rem

.lp-capture-section__end
  +break-points.media-breakpoint-up(lg)
    flex: 1
  +break-points.media-breakpoint-only(md)
    flex: 1.5
  +break-points.media-breakpoint-down(sm)
    flex: 1


.lp-capture-section__content
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(lg)
    gap: 2rem
  +break-points.media-breakpoint-only(md)
    gap: 1.5rem
  +break-points.media-breakpoint-down(sm)
    gap: 1rem

.lp-capture-section__body
  +break-points.media-breakpoint-up(md)
    +text.text-block(1rem 1.6)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(.875rem 1.6)

.lp-capture-section__border
  height: 1px
  width: 100%
  display: block
  border-top: dashed 1px var(--border-more-shade)

.lp-capture-section__image
  width: 100%
  +break-points.media-breakpoint-down(sm)
    max-width: 14rem
    margin-inline: auto
    display: block
