.lp-content-divider
  overflow: hidden
  line-height: 0
  height: 2.25rem
  transform: rotate(180deg)
  +position(absolute, bottom 0, left 0)
  width: 100%
  svg
    position: relative
    display: block
    width: calc(150% + 1.3px)
    height: 4rem
    fill: #fff
  &.is-lp-bg-1
    svg
      fill: var(--lp-bg-1)
  &.is-lp-bg-2
    svg
      fill: var(--lp-bg-2)
  &.is-lp-bg-3
    svg
      fill: var(--lp-bg-3)
