@use "../../../config/mixins/break-points"
.lp-header
  background-color: var(--base)
  position: sticky
  top: 0
  z-index: 10

.lp-header__inner
  height: 3.5rem
  display: flex

.lp-header__start
  height: 100%
  flex: 1
  display: flex
  gap: 2.5rem

.lp-header__end
  height: 100%
  display: flex
  align-items: center
  +break-points.media-breakpoint-down(lg)
    margin-right: -1rem
  +break-points.media-breakpoint-up(md)
    gap: 1rem
  +break-points.media-breakpoint-down(md)
    gap: .25rem
