.lp-hero-visual
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.lp-hero-visual__image
  +media-breakpoint-up(md)
    max-height: 26.25rem
  +media-breakpoint-down(sm)
    max-height: 12rem
