@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.lp-hero-info__titles
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    gap: 1rem
  +break-points.media-breakpoint-down(sm)
    gap: .75rem

.lp-hero-info__title
  +break-points.media-breakpoint-up(md)
    +text.text-block(1.5rem  1.4, 800)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1rem  1.4, 800)

.lp-hero-info__catchcopy
  +break-points.media-breakpoint-up(xl)
    +text.text-block(4rem 1.2, 800)
  +break-points.media-breakpoint-only(lg)
    +text.text-block(3.25rem 1.2, 800)
  +break-points.media-breakpoint-only(md)
    +text.text-block(2.75rem 1.2, 800)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(2rem 1.2, 800)
    br
      display: none

.lp-hero-info__description
  +break-points.media-breakpoint-up(md)
    p
      +text.text-block(1rem 1.5, 600)
  +break-points.media-breakpoint-down(sm)
    p
      +text.text-block(.875rem 1.5, 600)
