.side-filter
  position: sticky
  top: 4rem
  max-width: 14rem
  margin: 0
  .a-card
    overflow: hidden
  display: none
  @media (min-width: 64em)
    display: block

.side-filter__item-link
  display: flex
  padding: .75rem
  font-size: .875rem
  line-height: 1.4
  overflow: hidden
  text-decoration: none
  transition: all .2s ease-out
  .side-filter__item:not(:last-child) &
    border-bottom: solid 1px var(--border-tint)
  &:hover
    background-color: var(--primary-tint)
  &.is-active
    background-color: var(--main)
    pointer-events: none
    text-decoration: none
    color: var(--reversal-text)
