.user-profile__icon {
  @media (width <= 47.9375em) {
    position: static;
    text-align: center;
    margin-bottom: .25rem;

  }
}

.user-profile__user-icon-image {
  @media (width >= 48em) {
    height: 5rem;
    width: 5rem;
  }

  @media (width <= 47.9375em) {
    height: 4rem;
    width: 4rem;

  }
}
