.user-metas {
  background-color: var(--base);
}

.user-metas__title {
  border: solid 1px var(--border);
  margin-bottom: -1px;
  padding: .375rem .75rem;
  font-size: .75rem;
  line-height: 1.4;
  font-weight: 600;
  background-color: var(--background-tint);
  position: relative;
}

.user-metas__items {
  border: solid 1px var(--border);
}

.user-metas__items + .user-metas__items {
  border-top: none;
}

.user-metas__items-label {
  border-bottom: solid 1px var(--border);
  padding: .25rem .75rem;
  font-size: .75rem;
  line-height: 1.4;
  font-weight: 600;
  background-color: var(--background);
}

.user-metas__items-label span {
  font-weight: 400;
}

.user-metas__item {
  font-size: .75rem;
  line-height: 1.4;
  display: flex;
}

@media (max-width: 47.9375em) {
  .user-metas__item {
    display: block;
  }
}

.user-metas__item:nth-child(even) {
  background-color: var(--input-background);
}

.user-metas__item:not(:last-child) {
  border-bottom: solid 1px var(--border);
}

.user-metas__item-label {
  text-align: right;
  border-right: dashed 1px var(--border);
  flex: 0 0 9rem;
  padding: .375rem .5rem;
}

@media (max-width: 47.9375em) {
  .user-metas__item-label {
    text-align: left;
    border-right: none;
    border-bottom: dashed 1px var(--border);
  }
}

.user-metas__item-value {
  flex: 1;
  padding: .375rem .5rem;
}

.user-metas__item-value ul {
  list-style: disc;
  margin-left: 2em;
}

.user-metas__item-value li {
  margin-block: .25rem;
}

.user-metas__item-value *:first-child {
  margin-top: 0;
}

.user-metas__item-value *:last-child {
  margin-bottom: 0;
}

.user-metas__item-value-text.is-danger {
  color: var(--danger);
  font-weight: 700;
}
