.user-secret-attributes {
  font-size: 0.75rem;
  border: solid 1px var(--border);
  padding: 0.75em 1em;
}

.user-secret-attributes:not(:first-child) {
  margin-top: 0.25em;
}

.user-secret-attributes__title {
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.user-secret-attributes__items {
  display: flex;
  flex-wrap: wrap;
  color: var(--muted-text);
}

.user-secret-attributes__items + .user-secret-attributes__items {
  margin-top: 0.125rem;
}

.user-secret-attributes__item {
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.user-secret-attributes__item:not(:first-child)::before {
  content: "„ÄÅ";
}

.user-secret-attributes__item-label::after {
  content: ":";
  margin-right: 0.25rem;
}

.user-secret-attributes__item-value.is-important {
  font-weight: 600;
  color: var(--danger);
}
