
.user-group {
  padding: 1rem;
}

.user-group:not(:first-child) {
  border-top: solid 1px var(--border-tint);
}

.user-group__header {
  display: flex;
  gap: .5rem;
}

@media (min-width: 48em) {
  .user-group__header {
    justify-content: space-between;
  }
}

@media (max-width: 47.9375em) {
  .user-group__header {
    flex-direction: column;
  }
}

.user-group__title {
}

@media (min-width: 48em) {
  .user-group__title {
    font-size: 1rem;
  }
}

@media (max-width: 47.9375em) {
  .user-group__title {
    font-size: 1rem;
  }
}

.user-group__title-link {
  text-decoration: none;
  color: var(--main-text);
  display: flex;
  gap: .5rem;
}

@media (min-width: 48em) {
  .user-group__title-link {
    align-items: flex-end;
  }
}

@media (max-width: 47.9375em) {
  .user-group__title-link {
    flex-direction: column;
  }
}

.user-group__title.is-inline .user-group__title-link {
  flex-direction: row;
  align-items: flex-end;
}

.user-group__title-label {
  display: block;
  font-weight: 600;
}

.user-group__title-link:hover .user-group__title-label {
  text-decoration: underline;
}

.user-group__title-icon.is-first {
  color: var(--gold);
}

.user-group__title-icon.is-second {
  color: var(--silver);
}

.user-group__title-icon.is-third {
  color: var(--bronze);
}

.user-group__date {
  font-size: .75rem;
  font-weight: 400;
  color: var(--muted-text);
}

.user-group__count {
  font-size: .75rem;
  font-weight: 400;
  color: var(--muted-text);
}

.user-group__counts {
}

@media (min-width: 48em) {
  .user-group__counts {
    margin-top: -.5rem;
    flex: 1;
    max-width: 29rem;
  }
}

.user-group__counts .card-counts__item {
  width: 3.5rem;
  color: var(--default-text);
}
