@use "sass:math"
@use "../../config/variables/layout"

$grid-breakpoints: layout.$grid-breakpoints
$grid-columns: layout.$grid-columns
$grid-gutter-width: layout.$grid-gutter-width
$grid-gutter-half: math.div($grid-gutter-width, 2)
$custom-gutters: (
  0: 0,
  24: 24px,
  32: 32px,
  56: 56px
)

%grid-row
  display: flex
  flex-wrap: wrap
  margin-left: -$grid-gutter-half
  margin-right: -$grid-gutter-half

.row
  @extend %grid-row
  &.justify-center
    justify-content: center

.columns
  @extend %grid-row
  &.justify-center
    justify-content: center
  & + &
    margin-top: 1.5rem

%grid-column
  box-sizing: border-box
  position: relative
  flex: 0 0 100%
  padding-left: $grid-gutter-half
  padding-right: $grid-gutter-half

.row > [class^="col-"],
.row > [class*=" col-"],
.columns > [class^="col-"],
.columns > [class*=" col-"]
  @extend %grid-column

@each $name, $value in $custom-gutters
  $half-value: math.div($value, 2)
  .row.is-gutter-width-#{$name},
  .columns.is-gutter-width-#{$name}
    margin-left: -$half-value
    margin-right: -$half-value
    > [class^="col-"],
    > [class*=" col-"],
    > .column
      padding-left: $half-value
      padding-right: $half-value

@function col-percentage($span)
  @return math.percentage(math.div($span, $grid-columns))

@each $breakpoint, $min-width in $grid-breakpoints
  @for $i from 1 through $grid-columns
    $selector: ".col-#{$breakpoint}-#{$i}"
    $width: col-percentage($i)
    @if $min-width == 0
      #{$selector}
        flex: 0 0 $width
        max-width: $width
    @else
      @media (min-width: $min-width)
        #{$selector}
          flex: 0 0 $width
          max-width: $width
