@use "../../config/mixins/break-points"

.wrapper
  min-height: 100vh
  scroll-behavior: smooth
  overflow-y: visible
  height: auto
  +break-points.media-breakpoint-up(md)
    display: flex
    flex-direction: column

.wrapper__main
  flex: 1
