.share-buttons {
  margin-top: 0.75rem;
}

.share-buttons__items {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 20em) {
  .share-buttons__items {
    gap: 0.25rem;
  }
}

@media (max-width: 20em) {
  .share-buttons__item.is-x {
    flex: 1;
  }
}

.x-share-button {
  width: 5.5rem;
  height: 2.5rem;
  background-color: white;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  font-size: 0.6875rem;
  line-height: 1;
  font-weight: 700;
  color: var(--reversal-text);
  border: solid 1px black;
  overflow: hidden;
}
.x-share-button i {
  font-size: 0.875rem;
  color: black;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}
.x-share-button span {
  background-color: var(--default-text);
  display: flex;
  width: 100%;
  height: 1.25rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  padding-top: 1px;
}
.x-share-button:hover i {
  background-color: var(--background-tint);
}
.x-share-button:hover span {
  background-color: black;
}
@media (max-width: 20em) {
  .x-share-button {
    width: 100%;
  }
}
