- title "#{@user.login_name}の質問一覧"
- set_meta_tags description: "#{@user.login_name}さんの質問一覧ページです。"

= render 'users/page_title', user: @user
= user_page_tabs(@user, active_tab: '質問')

.page-body
  .container.is-md
    = render 'questions/questions', questions: @questions
