.o-empty-massage
  max-width: 50rem
  +margin(horizontal, auto)
  text-align: center
  color: $semi-muted-text

.o-empty-massage__icon
  +text-block(5rem 1)

.o-empty-massage__text
  +text-block(1rem 1.4 1em, center)
