.o-empty-message
  max-width: 50rem
  +margin(horizontal, auto)
  text-align: center
  color: $semi-muted-text

.o-empty-message__icon
  margin-bottom: 1rem
  +text-block(5rem 1)

.o-empty-message__text
  +text-block(1rem 1.4 1em, center)
