.pages
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  border-radius: .25rem
  width: 100%

.pages-items
  max-width: 58rem
  +margin(horizontal, auto)
  +position(relative)
  display: flex
  justify-content: space-between
  align-items: flex-start

.pages-items__inner
  flex: 100
