.page-header-actions
  +media-breakpoint-down(sm)
    margin-top: .5rem
    padding-top: .5rem
    +margin(horizontal, -1rem)
    +padding(horizontal, 1rem)
    border-top: solid 1px $background

.page-header-actions__items
  display: flex
  +margin(horizontal, -.25rem)
  justify-content: center

.page-header-actions__item
  +padding(horizontal, .25rem)
  +media-breakpoint-up(md)
    min-width: 10rem
    display: flex
    justify-content: center
  +media-breakpoint-down(sm)
    flex: 1
    max-width: 50%
    &:first-child:last-child
      max-width: 100%
  .a-button
    +media-breakpoint-up(md)
      height: 2.125rem
