.page-actions
  margin-top: 1rem

.page-actions__items
  display: flex
  justify-content: center
  +media-breakpoint-down(sm)
    display: block

.page-actions__item
  +padding(horizontal, .375rem)
  +media-breakpoint-down(sm)
    flex: 0 0 100%
    &:not(:last-child)
      margin-bottom: .5rem
    > *
      width: 100%
