.page-header
  background-color: $base
  +position(relative, 1)

.page-header__inner
  +position(relative)
  +media-breakpoint-up(md)
    height: 3.5rem
    display: flex
    align-items: center
    justify-content: space-between
  +media-breakpoint-down(sm)
    display: block
    +padding(vertical, .5rem)

.page-header__start
  display: flex
  align-items: center

.page-header__title
  +text-block(1.25rem 1, $main 700)
  font-feature-settings: "palt"
  letter-spacing: .02em
  +media-breakpoint-down(sm)
    font-size: 1.125rem
    word-break: break-all
    flex: 1
  img
    +size(2.5rem auto)
    margin-right: .5rem
  +media-breakpoint-down(sm)
    +text-block(1rem 1.4, $side)
  .page-header__start &
    margin-right: .5em
    align-self: center

.page-header__optionable-action
  min-width: 7.5rem
  .a-button
    height: 2.125rem

.page-header__action
  +media-breakpoint-down(sm)
    display: none
