.page-body
  +padding(vertical, 1.5rem)
  +media-breakpoint-down(sm)
    +padding(vertical, 1.125rem)
  .page-header + &
    border-top: solid 1px $border-shade

.page-body__inner
  position: relative

.page-body__columns
  +media-breakpoint-up(lg)
    display: flex
    gap: 1.5rem

.page-body__column
  &.is-main
    flex: 1
  &.is-sub
    flex: 0 0 14rem

.page-optional-header
  +padding(vertical, .875rem)
  border-bottom: solid 1px $border-more-shade

.page-optional-header__title
  +text-block(1em 1.4, center 600 flex)
  align-items: center
  +media-breakpoint-up(md)
    font-size: 1.125rem
  +media-breakpoint-down(sm)
    font-size: 1rem

.page-body__optional-title-cancel
  margin-left: .5em
  color: $background
  font-size: .875rem
  +flex-link
  +size(1.5em)
  background-color: $muted-text
  align-items: center
  justify-content: center
  border-radius: 50%
  transition: all .2s ease-out
  &:hover
    background-color: $primary
    color: $reversal-text

.page-body__description
  +short-text-style
  +media-breakpoint-up(md)
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
  &:not(:last-child)
    margin-bottom: 1.5em

.page-body__row
  &:not(:first-child)
    margin-top: 1.5rem
