.page-tabs
  background-color: $background-shade
  padding-top: .5rem
  border-top: solid 1px $border-shade
  border-bottom: solid 1px $border-more-more-shade
  .sort-nav + &
    border-top: solid 1px $border-more-more-shade
  +media-breakpoint-down(sm)
    >.container
      +padding(horizontal, 0)

.page-tabs__items
  display: flex
  +margin(horizontal, -.125rem)
  +top(1px)
  +media-breakpoint-down(sm)
    +margin(horizontal, 0)
    +padding(horizontal, .5rem)
    -webkit-overflow-scrolling: touch
    overflow-x: scroll
    overflow-y: visible

.page-tabs__item
  +padding(horizontal, .125rem)
  +media-breakpoint-up(md)
    min-width: 8.5rem
  +media-breakpoint-down(sm)
    +padding(horizontal, 0)
    +margin(horizontal, .125rem)
    min-width: 7rem

.page-tabs__item-link
  +flex-link
  +text-block(.825rem 1, $semi-muted-text 600 nowrap)
  align-items: center
  justify-content: center
  height: 2.75rem
  background-color: #dedede
  +padding(horizontal, 1em)
  +border-radius(top, .25rem)
  border: solid 1px $border-more-more-shade
  +position(relative)
  transition: all .2s ease-out
  +media-breakpoint-down(sm)
    font-size: .75rem
  &:hover
    background-color: $background
  &.is-active
    background-color: $background
    border-color: $border-more-more-shade
    border-bottom-color: $background
    color: $main-text
  &.is-inactive
    pointer-events: none
    color: $muted-text

.page-tabs__item-count
  +position(right .125rem, top .125rem)
