.page-tabs
  background-color: #cbcbcb
  margin-bottom: 1.5rem
  margin-top: -1.5rem
  padding-top: .5rem
  border-top: solid 1px #b9b9b9
  border-bottom: solid 1px #b9b9b9
  +media-breakpoint-down(sm)
    margin-top: -1rem
    margin-bottom: 1rem
    >.container
      +padding(horizontal, 0)

.page-tabs__items
  display: flex
  +margin(horizontal, -.125rem)
  +top(1px)
  +media-breakpoint-down(sm)
    +margin(horizontal, 0)
    +padding(horizontal, .5rem)
    -webkit-overflow-scrolling: touch
    overflow-x: scroll
    overflow-y: visible

.page-tabs__item
  +padding(horizontal, .125rem)
  min-width: 7.5rem
  +media-breakpoint-down(sm)
    +padding(horizontal, 0)
    +margin(horizontal, .125rem)
    min-width: 7rem

.page-tabs__item-link
  +flex-link
  +text-block(.825rem 1, #7d8486 600)
  align-items: center
  justify-content: center
  height: 2.75rem
  background-color: rgba(white, .1)
  +padding(horizontal, 1em)
  +border-radius(top, .25rem)
  border: solid 1px #b9b9b9
  +media-breakpoint-down(sm)
    font-size: .75rem
  &:hover
    color: $default-text
  &.is-active
    background-color: $background-color
    border-color: #b9b9b9
    border-bottom-color: $background-color
    color: $default-text
