.page-header
  background-color: $base
  box-shadow: rgba(black, .2) 0 .0625rem .0625rem
  margin-bottom: 1.5rem
  +media-breakpoint-down(sm)
    margin-bottom: 1rem
  &.is-border-bottom-none
    border-bottom: none

.page-header__container
  height: 3.5rem
  +position(relative)
  display: flex
  align-items: center
  justify-content: space-between
  +media-breakpoint-down(sm)
    height: auto
    display: block
    +padding(vertical, .75rem)

.page-header__title
  +text-block(1.25rem 1, $side 700)
  img
    +size(2.5rem auto)
  +media-breakpoint-down(sm)
    +text-block(1rem 1.4, $side)

.page-header__action
  +media-breakpoint-down(sm)
    display: none
