.two-columns
  +margin(horizontal, auto)
  +position(relative)
  +media-breakpoint-up(md)
    max-width: 58rem
    display: flex
    justify-content: space-between
    align-items: flex-start

.two-columns__inner
  flex: 100
