.two-columns
  +position(relative)
  +media-breakpoint-up(md)
    display: flex
    justify-content: space-between
    align-items: flex-start

.two-columns__inner
  flex: 100
  max-width: $thread-max-width
