.a-user-icons__item
  = link_to user, class: 'a-user-icons__item-link' do
    span class="a-user-role is-#{user.primary_role} is-#{user.joining_status}"
      = image_tag user.avatar_url, title: user.icon_title, class: 'a-user-icons__item-icon a-user-icon'
