.m-user-icons__item
  = link_to user, class: 'm-user-icons__item-link' do
    = image_tag user.avatar_url, title: user.icon_title, class: "m-user-icons__item-icon a-user-icon is-#{user.primary_role}"
