.micro-report-form-tabs + .tab-content
  margin-top: .5rem


.micro-report-form-tabs__items
  display: flex

.micro-report-form-tabs__item-link
  +flex-link
  padding: .5rem .75rem 1rem
  +text-block(.875rem 1.4)

.micro-report-form__preview
  min-height: 3.75rem
  padding: .5rem
