.micro-reports
  max-height: calc(100vh - 10.5rem)
  overflow: hidden
  display: flex
  flex-direction: column
  .thread-comment:last-child
    margin-bottom: 0

.micro-reports__start
  height: 100%
  overflow-y: scroll
  padding-bottom: .5rem
