.micro-report-form
  padding-block: 1rem
  position: fixed
  bottom: 0
  left: 0
  right: 0
  +media-breakpoint-up(md)
    margin-left: 5rem

.micro-report-form__inner
  display: flex
  align-items: flex-end
  gap: .75rem

.micro-report-form__start
  flex: 1

.micro-report-form__text-area.a-text-input
  height: 3.75rem
  min-height: 0
