.micro-reports
  height: calc(100vh - 10.5rem)
  overflow: hidden
  display: flex
  flex-direction: column
  gap: 1.5rem
  .thread-comment:last-child
    margin-bottom: 0

.micro-reports__start
  height: 100%
  overflow-y: scroll
  padding-bottom: .5rem

.micro-reports-with-form
  padding-bottom: 135px

.micro-reports-without-form
  padding-bottom: 0
