- title 'みんなのブログ'

header.page-header
  .container
    .page-header__inner
      .page-header__title
        | 日報・ブログ
      = render 'reports/new_report'
= render 'reports/tabs'

- if current_user.feed_url.blank?
  .a-page-notice.is-danger
    .container.is-lg
      .a-page-notice__inner
        p
          | #{current_user.login_name}さんのブログは
          | まだ登録されていません。
          = link_to edit_current_user_path(anchor: 'form-blog-feed') do
            | ブログのフィード URL の登録
          | をしてください。

.container.is-md.mt-40
  .a-long-text
    p
    .message.danger
      p
        | みんなのブログ機能は現在開発中です。近日リリース予定です。
        | 今のうちに
        = link_to edit_current_user_path(anchor: 'form-blog-feed') do
          | ブログのフィード URL の登録
        | をお願いします🙏

div(data-vue="ExternalEntries")
