.page-content
  width: $thread-max-width
  max-width: 100%
  +margin(horizontal, auto)
  &:not(:first-child)
    +media-breakpoint-up(md)
      margin-top: 1.25rem
    +media-breakpoint-down(sm)
      margin-top: 1rem
  &:not(:last-child)
    +media-breakpoint-up(md)
      margin-bottom: 2rem
    +media-breakpoint-down(sm)
      margin-bottom: 1rem
