@use "../../config/mixins/break-points"

html

  *[hidden],
  .is-hidden
    display: none !important

  body
    .is-hidden-lg-up
      +break-points.media-breakpoint-up(lg)
        display: none

    .is-hidden-lg-down
      +break-points.media-breakpoint-down(lg)
        display: none

    .is-hidden-md-up
      +break-points.media-breakpoint-up(md)
        display: none !important

    .is-hidden-md-down
      +break-points.media-breakpoint-down(md)
        display: none

    .is-hidden-sm-down
      +break-points.media-breakpoint-down(sm)
        display: none

.is-only-mentor
  body:not(.is-mentor-mode) &
    display: none !important

.is-only-adviser
  body:not(.is-adviser-mode) &
    display: none !important


body.is-mentor-mode .is-only-mentor.is-only-adviser,
body.is-adviser-mode .is-only-mentor.is-only-adviser
  display: block !important
