- title '自分の分報一覧'
- set_meta_tags description: "#{current_user.login_name}さんの分報一覧ページです。"
- content_for(:extra_body_classes, 'no-footer no-scroll')

= render 'home/page_header'
= dashboard_page_tabs(active_tab: '分報')

= render 'shared/micro_reports_body', user: current_user, micro_reports: @micro_reports, show_form: true
