.reactions
  display: flex
  justify-content: space-between
  border-top: 1px solid $background-color
  line-height: 2.4
  position: relative
  user-select: none
  .reaction
    display: inline-block
    li
      cursor: pointer
      display: inline-block
      padding: 0 9px 0 14px
      border-right: 1px solid $background-color
      &.is-reacted
        background-color: #f7f7f7
      &:hover
        background-color: #f2f2f2
    .reaction-count
      margin: 0 3px 0 5px
      font-size: .95rem
      vertical-align: top
  .reaction-dropdown
    .reaction-dropdown-toggle
      +size(3rem 2.375rem)
      +text-block(1.25rem 1, flex)
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      color: $main-color
      border-left: 1px solid $background-color
      border-bottom-right-radius: .25rem
      .fa-plus
        font-size: .4em
        margin-right: .3em
      &:hover
        background: #f2f2f2
    .reaction
      +position(absolute, right  0, top 2.375rem, 1)
      width: 181px
      background-color: $base
      border-top: 1px solid $background-color
      border-left: 1px solid $background-color
      border-bottom-left-radius: .4rem
      border-bottom-right-radius: .4rem
      li
        border-right: 1px solid $background-color
        border-bottom: 1px solid $background-color
        width: 45px
