.reactions
  display: flex
  justify-content: space-between
  border-top: 1px solid $border
  position: relative
  user-select: none

.reactions__items
  display: flex
  flex-wrap: wrap
  .reactions__dropdown &
    +position(absolute, right  -1px, top 2.375rem, 1)
    width: 181px
    border-top: 1px solid $border
    border-left: 1px solid $border-shade

.reactions__item
  cursor: pointer
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 0 9px
  background-color: $base
  border-right: 1px solid $border-shade
  transition: all .2s ease-out
  position: relative
  &.is-reacted
    background-color: #f7f7f7
  &:hover
    background-color: #f2f2f2
  @media (pointer: fine)
    &:hover .reactions__item-login-names
      display: block
  .reactions__dropdown &
    border-right: 1px solid $border-shade
    border-bottom: 1px solid $border-shade
    +size(2.8125rem)
    &:nth-child(5)
      overflow: hidden
      border-bottom-left-radius: .25rem
    &:nth-child(8)
      overflow: hidden
      border-bottom-right-radius: .25rem

.reactions__item-emoji
  .reactions__dropdown &
    margin-right: -.4em

.reactions__item-count
  margin-left: .125rem
  +text-block(.75rem 1)
  vertical-align: top

.reactions__item-login-names
  display: none
  position: absolute
  top: 2.9rem
  left: .1rem
  font-size: .8rem
  color: #fff
  background: #444
  text-shadow: 0 1px 0 #111
  padding: 5px 11px 7px
  border-radius: .2rem
  pointer-events: none
  white-space: nowrap
  z-index: 1
  &::after
    content: " "
    position: absolute
    bottom: 100%
    left: 1.5rem
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: transparent transparent #444 transparent
  li
    line-height: 1.4

.reactions__dropdown-toggle
  +size(2.8125rem 2.375rem)
  +text-block(1.25rem 1, flex $main)
  cursor: pointer
  align-items: center
  justify-content: center
  border-left: 1px solid $border-shade
  &:hover
    background: #f2f2f2

.reactions__dropdown-toggle-plus
  font-size: .4em
  margin-right: .3em
