.js-markdown-view
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    scroll-snap-align: start
    scroll-snap-stop: always
    cursor: pointer
    position: relative
    &:hover
      .header-anchor
        opacity: 1
    &::before
      display: block
      content: " "
      visibility: hidden
      pointer-events: none

.header-anchor
  display: flex
  +text-block(1rem, 400)
  text-decoration: none !important
  +size(#{calc(100% + 1.25rem)} 2.75rem)
  align-items: center
  justify-content: flex-start
  +position(absolute, left -1.25rem, bottom 0)
  transition: opacity .2s ease-out
  opacity: 0
