$choices-selector: "choices" !default
$choices-font-size-lg: 1rem
$choices-font-size-md: .875rem
$choices-font-size-sm: .75rem
$choices-guttering: 1.5rem
$choices-border-radius: 4px
$choices-border-radius-item: 4px
$choices-bg-color: #f9f9f9 !default
$choices-bg-color-disabled: #eaeaea !default
$choices-bg-color-dropdown: #fff !default
$choices-text-color: $main-text
$choices-keyline-color: #ddd !default
$choices-primary-color: $main-shade
$choices-disabled-color: #eaeaea !default
$choices-highlight-color: $main-shade
$choices-button-dimension: 8px !default
$choices-button-offset: 8px !default
$choices-icon-cross: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2021%2021%22%20style%3D%22enable-background%3Anew%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%3E.st0%7Bfill%3A%233f3290%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M2.6%200%2021%2018.4%2018.4%2021%200%202.6%202.6%200z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M0%2018.4%2018.4%200l2.5%202.5L2.5%2020.9%200%2018.4z%22%2F%3E%3C%2Fsvg%3E')
$choices-icon-cross-inverse: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2021%2021%22%20style%3D%22enable-background%3Anew%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%3E.st0%7Bfill%3A%23ffffff%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M2.6%200%2021%2018.4%2018.4%2021%200%202.6%202.6%200z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M0%2018.4%2018.4%200l2.5%202.5L2.5%2020.9%200%2018.4z%22%2F%3E%3C%2Fsvg%3E')

$choices-z-index: 1

// <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" style="enable-background:new 0 0 21 21" xml:space="preserve"><style>.st0{fill:#3f3290}</style><path class="st0" d="M2.6 0 21 18.4 18.4 21 0 2.6 2.6 0z"/><path class="st0" d="M0 18.4 18.4 0l2.5 2.5L2.5 20.9 0 18.4z"/></svg>
// <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" style="enable-background:new 0 0 21 21" xml:space="preserve"><style>.st0{fill:#ffffff}</style><path class="st0" d="M2.6 0 21 18.4 18.4 21 0 2.6 2.6 0z"/><path class="st0" d="M0 18.4 18.4 0l2.5 2.5L2.5 20.9 0 18.4z"/></svg>
