$main: #4638a0
$accent: #ffbe0a
$base: white
$background: #ececec
$background-shade: #d6d6d6
$background-tint: #eceeef
$background-more-tint: #f7f7f9
$hover-background: $background-more-tint

$default-text: #403f47
$reversal-text: white
$muted-text: #9da4a7
$semi-muted-text: #898998
$placeholder-text: #bbbbbb
$main-text: #3c3282
$info-text: #246946
$link-text: #2e2088

$side: $main
$side-border: #6b4eca
$side-tint: #4e6165
$side-shade: #3a228a
$side-active: $accent

$border: #e6e6e6
$border-shade: #d7d7d7
$border-more-shade: #cacaca
$border-more-more-shade: #c1c1c1
$welcome-card-border: #5a5f60

// Welcome Colors
$welcome-default-text: #333738
$welcome-card-border: #5a5f60
$welcome-blue: #178bff
$welcome-light-blue: #d5f2ff
$welcome-yellow: #faed00
$welcome-orange: #fdb82e
$welcome-pink: #ef6085

$stamp-color: #ed5151
$badge-color: #e54724

$primary: #3383d6
$secondary: $base
$success: #54a739
$info: #4cad7c
$warning: #fabd17
$danger: #f54667
$disabled: #c7c6c6

$danger-shade: #fff1f4

$success-text: shade($success, 60%)
$success-shade: tint($success, 90%)

$input-border: #c1c5b9

=default-link
  transition: color .2s ease-in
  color: $link-text
  &:link
    color: $link-text
  &:visited
    color: #6f78b7
  &:hover
    color: #1c6ee2
  &:active
    color: #b3430b

$luma-contrast-bright-color: $default-text
$luma-contrast-dark-color: $reversal-text
$button-checked-color: $danger
$button-checked-icon-color: $reversal-text
