$main: #4638a0
$accent: #ffbe0a
$base: white
$background: #e6e6e6
$background-shade: #cbcbcb
$background-tint: #eceeef
$background-more-tint: #f7f7f9

$default-text: #35343c
$welcome-default-text: #5a5f60
$reversal-text: white
$muted-text: #9da4a7

$side: $main
$side-border: #6b4eca
$side-tint: #4e6165
$side-shade: #3a228a
$side-active: $accent

$border: #e6e6e6
$border-shade: #d7d7d7

$card-header: #819093

$gray-dark: #373a3c
$gray: #55595c
$gray-light: #818a91
$gray-lighter: #eceeef
$gray-lightest: #f7f7f9

$stamp-color: #ed5151
$badge-color: #e54724

$primary: #229bcc
$secondary: $base
$success: #98c96c
$info: #4cad7c
$warning: #fabd17
$danger: #dc4268
$disabled: #c7c6c6

$input-border: #c1c5b9

=default-link
  transition: color .2s ease-in
  color: #4834ce
  &:link
    color: #4834ce
  &:visited
    color: #6f78b7
  &:hover
    color: #1c6ee2
  &:active
    color: #b3430b

$placeholder-text: #aaa

$luma-contrast-bright-color: $default-text
$luma-contrast-dark-color: $reversal-text
$button-checked-color: $danger
$button-checked-icon-color: $reversal-text
