.main-visual
  +position(relative)
  background-color: $welcome-main-color
  //background-image: image_url('main-visual.jpg')
  background-size: cover
  background-position: center center
  +media-breakpoint-down(xl)
    height: 32rem
  +media-breakpoint-down(md)
    height: 30rem
  +media-breakpoint-down(sm)
    height: auto
    +padding(vertical, 2.5rem)

.main-visual__container
  height: 100%

.main-visual__main
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center

.main-visual__logo
  +size(36rem auto)
  display: block
  +margin(vertical, 3rem 2rem)
  +margin(horizontal, auto)
  +media-breakpoint-down(sm)
    max-width: 90%
    +margin(vertical, 1rem 1rem)

.main-visual__description
  +text-block(1.5rem 1.4, $reversal-text center 400)
  +media-breakpoint-down(sm)
    font-size: .875rem

.main-visual__title
  +text-block(1.25rem 1.4, $reversal-text center 400)
  +media-breakpoint-down(sm)
    font-size: .875rem

.main-visual__open-nav
  +position(fixed, right 0, top 0, 1)
  +text-block(1.25rem 1, #ec4963 flex)
  align-items: center
  justify-content: center
  +size(3.5rem)
  cursor: pointer

.main-visual__screen
  width: 0
  overflow: hidden
  +position(fixed, right 0, top 0, bottom 0, 2)
  background-color: rgba(black, .2)
  &.is-active
    display: block
    width: 100%
