ruby:
  quiz_required = practice.practice_quiz_required?
  quiz_passed = quiz_required && practice.practice_quiz_passed_by?(current_user)
  grant_course_guidance = practice.guide_to_grant_course?(current_user)
section.a-card
  header.card-header
    h2.card-header__title
      = Practice.human_attribute_name :goal
  hr.a-border-tint
  .card-body.is-goal
    .card-body__description
      .a-long-text.is-md.js-markdown-view
        = practice.goal
      - if !current_user.adviser? && practice.open_product?
        = render 'content_notice'
  - if quiz_required || !grant_course_guidance
    hr.a-border-tint
    footer.card-footer
      - if quiz_required
        .card-footer__description
          - if quiz_passed
            - if practice.submission?
              | 理解度テストに合格済みです。提出物を作成してください。
            - else
              | 理解度テストに合格済みです。
          - elsif practice.submission?
            | 本文を読んだら理解度テストに進んでください。
          - else
            | 本文を読み、理解度テストに全問正解すると自動で修了になります。
      - if practice.submission && !grant_course_guidance
        .card-footer__alert
          = link_to '提出の前に、提出時の注意点を確認しよう',
            'https://bootcamp.fjord.jp/pages/info-for-product',
            target: '_blank',
            rel: 'noopener'
        .card-footer__description
          | 提出物を作成し提出し、メンターから確認をもらったら
          br
          | このプラクティスを修了にしてください。
      - elsif !quiz_required && !grant_course_guidance
        .card-footer__description
          | このプラクティスに提出物はありません。
          br
          | 修了条件をクリアしたら修了にしてください。
