%h1= t('practices')
.practices
  %ol
    - @practices.each do |practice|
      %li.title
        = link_to practice.title, practice
      = practice.learning_status(current_user.id)

.new= link_to t('new_practice'), new_practice_path
