%h1= t('practices')
.practices
  %table
    - @practices.each do |practice|
      %tr
        %td
          .id #{practice.id}.
          .title= link_to practice.title, practice
.new= link_to t('new_practice'), new_practice_path
