%h1= t('practices')
%table(class="table table-striped")
  - @practices.each do |practice|
    %tr
      %td.title= link_to practice.title, practice
      %td.status= practice.learning_status(current_user.id)
