%h1= @practice.title
.practice= simple_format @practice.description
.edit= link_to t('edit'), edit_practice_path(@practice)
.delete= link_to t('destroy'), practice_path(@practice), data: { confirm: t('are_you_sure') }, method: :delete
