
.thread-comments-more {
  position: relative;
}

@media (min-width: 48em) {
  .thread-comments-more {
    margin-bottom: 2rem;
    padding-left: var(--thread-header-author);
  }
}

@media (max-width: 47.9375em) {
  .thread-comments-more {
    padding-left: 0;
    margin-bottom: 1rem;
  }
}

.thread-comments-more::before,
.thread-comments-more::after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, var(--border)-shade, var(--border)-shade 3px, transparent 3px, transparent 6px);
}

.thread-comments-more__inner {
  padding-block: 1rem;
}

.thread-comments-more__action {
}

@media (min-width: 48em) {
  .thread-comments-more__action {
    max-width: 16rem;
    padding-inline: .375rem;
    margin-inline: auto;
  }
}
