
.thread-header {
  position: relative;
  @media (min-width: 48em) {
    padding: 1rem 2rem .75rem;
  }
  @media (max-width: 47.9375em) {
    padding: 2.25rem .75rem .5rem;

  }
}
.thread-header__user-icon-link {
  margin-inline: .5rem .25rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.thread-header__user-icon {
  height: 1rem;
  width: 1rem;

}
