
.thread-form {
}

@media (min-width: 48em) {
  .thread-form {
    padding: 1rem 2rem;
  }
}

@media (max-width: 47.9375em) {
  .thread-form {
    padding: .75rem 1rem;
  }
}

.thread-form__actions {
  margin-top: 1rem;
}

@media (min-width: 48em) {
  .thread-form__actions {
    display: flex;
    justify-content: center;
    gap: .75rem;
  }
}

.thread-form__action {
}

@media (min-width: 48em) {
  .thread-form__action {
    flex: 0 0 14rem;
    max-width: 50%;
  }
}

@media (max-width: 47.9375em) {
  .thread-form__action:not(:first-child) {
    margin-top: .5rem;
  }
}
