
.page-content-header-actions {
  padding-top: .25rem;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 40em) {
  .page-content-header-actions {
    justify-content: space-between;
    gap: .5rem;
  }
}

@media (max-width: 39.9375em) {
  .page-content-header-actions {
    justify-content: center;
    gap: .25rem;
  }
}

.page-content-header-actions__start {
  justify-content: flex-start;
}

.page-content-header-actions__start,
.page-content-header-actions__end {
  display: flex;
}

@media (min-width: 40em) {
  .page-content-header-actions__start,
  .page-content-header-actions__end {
    flex: 1;
    gap: .5rem;
  }
}

.page-content-header-actions__end {
  display: flex;
}

@media (min-width: 40em) {
  .page-content-header-actions__end {
    flex: 1;
    gap: .5rem;
    justify-content: flex-end;
  }
}

@media (max-width: 39.9375em) {
  .page-content-header-actions__start,
  .page-content-header-actions__end {
    gap: .25rem;
  }
}

.page-content-header-actions__start {
  justify-content: flex-start;

}

.page-content-header-actions__action {
  min-width: 5.4rem;
}

.page-content-header-actions__action  .a-button {
  padding-inline: 0;
}

@media (min-width: 48em) {
  .page-content-header-actions__action {
    min-width: 7rem;
  }
}

@media (max-width: 47.9375em) {
  .page-content-header-actions__action {
  width: 50%;
  }
}
