
.page-content-header-actions {
  padding-top: .25rem;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 40em) {
    justify-content: space-between;
    gap: .5rem;
  }
  @media (max-width: 35.9375em) {
    justify-content: center;
    gap: .25rem;
  }
}

@media (min-width: 40em) {
  .page-content-header-actions {
    justify-content: space-between;
    gap: .5rem;
  }
}

.page-content-header-actions {
  padding-top: .25rem;
  display: flex;
  flex-wrap: wrap;
}

.page-content-header-actions__start {
  justify-content: flex-start;
}

.page-content-header-actions__start,
.page-content-header-actions__end {
  display: flex;
}

@media (min-width: 40em) {
  .page-content-header-actions__start, .page-content-header-actions__end {
    flex: 1 1;
    gap: .5rem;
  }
}

.page-content-header-actions__end {
  display: flex;
  @media (min-width: 40em) {
    flex: 1;
    gap: .5rem;
  }
  @media (max-width: 35.9375em) {
    gap: .25rem;
  }
}
.page-content-header-actions__start {
  justify-content: flex-start;

}
.page-content-header-actions__end {
  @media (min-width: 40em) {
    justify-content: flex-end;

  }
}
.page-content-header-actions__action {
  min-width: 5.4rem;
  @media (min-width: 48em) {
    min-width: 7rem;
  }
  @media (max-width: 47.9375em) {
    width: 50%;
  }
  .a-button {
    padding-inline: 0;

  }
}
