
.page-content-header-metas {
}

@media (min-width: 48em) {
  .page-content-header-metas {
    display: flex;
    justify-content: space-between;
  }
}

.page-content-header-metas__start {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-content-header-metas__meta {
}

.page-content-header-metas__meta:not(:last-child) {
  margin-right: .75em;
}
