.page-content-header-actions
  padding-top: .25rem
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  gap: .5rem

.page-content-header-actions__start,
.page-content-header-actions__end
  display: flex
  gap: .5rem
  +media-breakpoint-up(md)
    flex: 1
  +media-breakpoint-down(sm)
    flex: 0 0 100%

.page-content-header-actions__start
  +media-breakpoint-down(sm)
    flex: 2

.page-content-header-actions__start
  justify-content: flex-start

.page-content-header-actions__end
  justify-content: flex-end

.page-content-header-actions__action
  min-width: 5.5rem
  +media-breakpoint-up(md)
    min-width: 7rem
  +media-breakpoint-down(sm)
    width: 50%
  .a-button
    +padding(horizontal, 0)
