.side-tabs-contents {
  position: relative;
  z-index: 1;
}

#side-tabs-1:checked ~ .side-tabs-contents #side-tabs-content-1 {
  display: block;
}

#side-tabs-2:checked ~ .side-tabs-contents #side-tabs-content-2 {
  display: block;
}

#side-tabs-3:checked ~ .side-tabs-contents #side-tabs-content-3 {
  display: block;
}

#side-tabs-4:checked ~ .side-tabs-contents #side-tabs-content-4 {
  display: block;
}

.side-tabs-contents__item {
  display: none;
}

.side-tabs-contents__item .a-card {
  border-top-left-radius: 0;
  max-height: 76vh;
  overflow-y: auto;
}

.side-tabs-contents__item .card-header {
  display: none;
}

.side-tabs-contents__item .card-header + [class*=a-border] {
  display: none;
}

.side-tabs-contents__item .card-body {
  max-height: calc(100vh - 181px);
  overflow-y: auto;
}

.side-tabs-contents__item .user-metas {
  margin-top: 0;
}

.side-tabs-contents__item .user-metas__title {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.side-tabs-contents__item .user-metas__item {
  font-size: 0.75rem;
  line-height: 1.6;
  border: solid 1px var(--border);
  margin: -1px;
}

.side-tabs-contents__item .user-metas__item-label {
  flex: 0 0 9rem;
}

.side-tabs-contents__item .a-markdown-input {
  padding-inline: 0;
}

.side-tabs-contents__item .a-long-text {
  font-size: 0.8125rem;
}

.side-tabs-contents__item .page-body {
  padding-block: 0;
}

.side-tabs-contents__item .container {
  padding-inline: 0;
}
