.user-statuses {
  padding: 0.75rem 1rem;
}

.user-statuses + .a-card {
  border-radius: 0 0 4px 4px;
}

.user-statuses__actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-statuses__title {
  font-size: 0.8125rem;
  line-height: 1.4;
  font-weight: 600;
}

.user-statuses__items {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.user-statuses__item {
  flex: 1;
  max-width: calc(50% - 0.75rem);
}

.user-statuses__delete {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.75rem;
  font-size: 0.8125rem;
  line-height: 1.4;
}
