.o-auth-form
  background-color: $base
  border: solid 1px $border
  border-radius: .25rem
  height: 100%
  +media-breakpoint-up(md)
    padding: 1.75rem 2rem
  +media-breakpoint-down(sm)
    padding: 1.25rem 1.5rem
  .a-form-help
    +text-block(.875rem 1.45 .5em)
  .m-basic-form__nav
    margin-top: 1.25rem
  .m-form-item__start
    .a-short-text
      margin-bottom: 1.25em
