li.auth-form-nav__item
  = link_to 'ダッシュボード', root_path, class: 'auth-form-nav__item-link'
li.auth-form-nav__item
  = link_to '相談部屋', action_uncompleted_index_path(current_user.talk), class: 'auth-form-nav__item-link'
