*
  font-family: inherit
  font-size: inherit
  line-height: inherit

html
  //overflow-y: auto
  line-height: 1

#{$all-text-inputs},
select,
button
  outline: none

video,
img,
canvas
  vertical-align: bottom

img
  max-width: 100%
  vertical-align: middle

h1,
h2,
h3,
h4,
h5,
h6,
p,
li
  line-height: inherit
  font-weight: inherit

table
  border-spacing: 0
  border-collapse: collapse

ul,
ol
  list-style: none

input[type="submit"]
  outline: none

+placeholder
  color: $placeholder-text
  font-weight: 400

hr
  border: none

details,
details *,
summary
  box-sizing: border-box
