.faces
  background: white

  .faces-items
    display: flex
    flex-wrap: wrap
    justify-content: center
  .faces-item
    padding: 0
    text-align: center
  .faces-item__name
    font-size: 12px
