@use "../../../config/mixins/break-points"

.page-content
  &.is-products,
  &.is-questions,
  &.is-books,
  &.is-users
    width: 100%
  &:not(:first-child)
    +break-points.media-breakpoint-up(md)
      margin-top: 1.25rem
    +break-points.media-breakpoint-down(sm)
      margin-top: 1rem
  &:not(:last-child)
    +break-points.media-breakpoint-up(md)
      margin-bottom: 2rem
    +break-points.media-breakpoint-down(sm)
      margin-bottom: 1rem
