html
  font-family: $basic-serif
  color: $default-text
  &.is-application
    +media-breakpoint-up(md)
      scroll-padding-top: $header-height__md-up

body
  min-height: 100vh
  height: 100%
  &.is-application
    background-color: $background
  &.is-welcome
    background-color: $background
  &.is-completion
    background-color: $completion
  &.is-piyo-background
    background-color: $main
    background-image: url('error-background-main-color.svg')
    background-repeat: repeat
    overflow-y: auto
    +media-breakpoint-up(md)
      background-size: 80px
    +media-breakpoint-down(sm)
      background-size: 72px

.wrapper
  min-height: 100vh
  scroll-behavior: smooth
  overflow-y: visible
  height: auto
  +media-breakpoint-up(md)
    display: flex
    flex-direction: column
  &.is-application
    +media-breakpoint-up(md)
      margin-left: 5rem
      padding-top: $header-height__md-up
  body.no-global-nav &
    margin-left: 0
  body.is-error-page &
    padding-top: 4rem
    overflow-y: auto

.wrapper__main
  flex: 1

.columns
  .columns + &
    margin-top: 1.5rem

textarea
  overflow-anchor: none

p
  word-wrap: break-word
