.doc-header
  +media-breakpoint-up(md)
    display: flex
    margin-bottom: 1rem

.doc-header__end
  flex: 1

.doc-header__title
  font-feature-settings: "palt"
  letter-spacing: .02em
  +text-block(1em 1.45, 700 $main)
  display: flex
  padding-bottom: .25rem
  border-bottom: solid 1px $border-shade
  +media-breakpoint-up(md)
    font-size: 1.5rem
    margin-top: .25rem
  +media-breakpoint-down(sm)
    font-size: 1.125rem
    margin-top: .125rem
    word-break: break-all
  &.is-wip
    color: $muted-text

.doc-header__title-link
  +hover-link
  color: $main
  .doc-header__title.is-wip &
    color: $muted-text

.doc-header__tags
  margin-top: .75rem
