.doc
  +position(relative)
  +margin(horizontal, auto)
  +media-breakpoint-up(md)
    width: $thread-max-width
    max-width: 100%
  .a-watch-button.is-inactive,
  .a-bookmark-button.is-inactive
    color: $semi-muted-text
    background-color: $background-shade
  .a-title-label
    color: $semi-muted-text
    background-color: $background-shade
