.form-item
  = f.label :profile_text, class: 'a-form-label is-required'
  = f.text_area :profile_text, class: 'a-text-input is-sm', placeholder: '[株式会社フィヨルド](https://fjord.jp)の代表兼プログラマー。Rubyが大好きで[怖話](https://kowabana.jp)、[フィヨルドブートキャンプ](https://bootcamp.fjord.jp)などを開発している。'
