.categories__header
  background-color: #1E88E5
.categories-item__title
  color: $reversal-text
.categories__labels
  display: flex
  justify-content: space-between
.categories__label
  flex: 1
  +text-block(.75rem 2rem, $reversal-text center)
.categories__item
  display: flex
  justify-content: space-between
  border-bottom: #ccc solid 1px
  background-color: $base-color
  +padding(vertical, .5rem)
.categories__item-value
  flex: 1
  +padding(horizontal, 1rem)

.category-practices-item
  display: flex
  justify-content: space-between
  padding: 1.25rem
  border-top: 1px solid #ccc
  +media-breakpoint-down(sm)
    flex-wrap: wrap

.category-practices-item__value
  flex: 1
  &.is-title
    flex: 2
    +media-breakpoint-down(sm)
      flex: auto
      width: 100%
      margin-bottom: .5rem
  &.is-started-users
    +media-breakpoint-down(sm)
      flex: auto
      width: 100%
      margin-bottom: .5rem
  &.is-status
    width: 180px
    text-align: center
    +media-breakpoint-down(sm)
      flex: auto
      width: 100%
  &.is-handle
    width: 180px
    text-align: center
    +media-breakpoint-down(sm)
      flex: auto
      width: 100%
      margin-top: .5rem
.category-practices-item__user-icon
  border-radius: 50%
  +media-breakpoint-down(sm)
    margin-right: .5rem
    +size(1.5rem)
