.completed-users
  display: flex
  list-style: none
  flex-wrap: wrap
  +margin(horizontal, -.2rem)
.completed-users__user-icon
  img
    display: block
    border-radius: 50%
    +margin(horizontal, .2rem)
    margin-bottom: .2rem
