.entry
  max-width: 42.5rem
  +margin(horizontal, auto)
  margin-bottom: 3rem
  background-color: $base-color
  border-radius: .25rem
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
.entry-header
  margin-bottom: 1.5rem
  +padding(horizontal, 1.25rem)
  +padding(vertical, 1rem)
  border-bottom: solid .0625rem $background-color
.entry-header__title
  +text-block(1.5rem 1.3 .25rem, $side)
.entry-header__title-link
  color: $side
  display: block
.entry-header__meta-items
  list-style: none
.entry-header__meta-item
  +text-block(.8125rem 1.4, #b9b9b9 inline-block)
  +media-breakpoint-down(sm)
    display: block

.entry-body
  +padding(horizontal, 1.25rem)
  padding-bottom: 1.5rem
