.form
  max-width: 87.5rem
  +margin(horizontal, auto)
.form-item
  margin-bottom: 1rem
  &:last-child
    margin-bottom: 0
.form-actions
  margin-bottom: 2rem
.form-actions__items
  display: flex
  align-items: flex-end
  justify-content: center
  +media-breakpoint-down(sm)
    flex-direction: column
.form-actions__item
  +padding(horizontal, .375rem)
  +media-breakpoint-down(sm)
    width: 100%
    +padding(horizontal, 0)
    &:nth-child(2)
      margin-top: .75rem
    > *
      width: 100%
