.form-item__text-input
  +text-block(.8125rem 1.45, block)
  width: 100%
  padding: .5rem
  background-color: #f7f7f7
  border: solid .0625rem #c1c5b9
  border-radius: .25rem
  transition: border-color .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in
.form-item__textarea
  +text-block(.8125rem 1.45, block)
  width: 100%
  padding: .5rem
  background-color: #f7f7f7
  border: solid .0625rem #c1c5b9
  border-radius: .25rem
  transition: border-color .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in
