$global-nav-height: 2.75rem
.global-nav
  background-color: $main-color
  height: $global-nav-height

.global-nav__container
  display: flex
  justify-content: space-between
  width: 100%
.global-nav__title
  +text-block(1.125rem $global-nav-height, $reversal-text)
  width: 8.75rem
  white-space: nowrap

.global-nav-links
  +media-breakpoint-down(sm)
    display: none

.global-nav-links__items
  display: flex
  flex-wrap: nowrap

.global-nav__open-drawer
  display: none
  +size(2.75rem)
  +text-block(1.375rem 2.75rem, center $reversal-text)
  +position(absolute, right 0, top 0)
  +media-breakpoint-down(sm)
    display: block

.global-nav-links__link
  display: block
  white-space: nowrap
  +padding(horizontal, 1rem)
  +text-block(.875rem $global-nav-height, $reversal-text)
  &.is-active
    background-color: #0D47A1

.global-nav-dropdown__link
  display: block
  +text-block(.75rem 1.4)
  +padding(vertical, .5rem)
  +padding(horizontal, .5rem)

.global-nav-dropdown__item
  display: block
.global-nav-links__link-icon
  display: inline-block
  margin-right: .375rem
  img
    border-radius: 50%
