.global-nav
  background-color: #e8bf1c
  width: $global-nav-width
  +position(fixed, left 0, top 0, bottom 0)

.global-nav-links
  +media-breakpoint-down(sm)
    display: none

.global-nav-links__items
  display: flex
  flex-wrap: nowrap

.global-nav__open-drawer
  display: none
  +size(44px)
  +text-block(1.4rem 44px, center $reversal-text)
  +position(absolute, right 0, top 0)
  +media-breakpoint-down(sm)
    display: block

.global-nav-links__link
  display: block
  white-space: nowrap
  padding: 1rem
  +text-block(1rem 1.4, $reversal-text center)
  border-bottom: #D0AC1F solid 1px
  &.is-active
    background-color: #D0AC1F

.global-nav-links__link-icon
  +text-block(2.5rem 1)
.global-nav-links__link-label
  +text-block(.8rem 1.4, center $reversal-text)

.global-nav-user
  border-bottom: #D0AC1F solid 1px
.global-nav-user__link
  padding: 1rem
  +block-link
.global-nav-user__icon
  img
    display: block
    +margin(horizontal, auto)
    border-radius: 50%
    margin-bottom: .5rem
.global-nav-user__name
  +text-block(.9rem 1.4, center $reversal-text)

.global-nav__open-drawer
  display: none
  +screen-xs
    display: block
