$header-height: 3.125rem
.header__container
  display: flex
  justify-content: space-between
  align-items: center
  height: $header-height

.header-links__items
  display: flex
  justify-content: space-between
