.page-header
  background-color: $base-color
  +padding(vertical, 1.4rem)
  margin-bottom: 2rem
.page-header__container
  +position(relative)
.page-header__title
  +text-block(1.8rem 1.4, #65A9A9)
  img
    +size(40px, auto)
.page-header__button
  +position(absolute, right 0, top 50%)
  margin-top: -16px
