.practices-item__title
  color: $reversal-text
.highlight
  pre
    display: block
    overflow-x: auto
    padding: .5em
    color: #333
    background: #f8f8f8
.practice
  li
    list-style-type: disc
