.question__description
  margin-bottom: 10px
.question__content
  display: flex
  align-items: center
  margin-bottom: 10px
.question__user
  display: flex
  align-items: center
.question__user-name
  margin: 0px 8px 0px 8px
.question__count
  margin-left: 8px
.question__actions
  margin-left: 8px
.question
  .answer-item
    margin-bottom: 15px
    padding: 5px
  .answer-item__content
    display: flex
    align-items: center
  .answer-item__description
    margin-bottom: 10px
  .answer-item__user
    display: flex
    align-items: center
  .answer-item__user-name
    margin: 0px 8px 0px 8px
  .answer-item__actions
    margin-left: 8px
  .answer-item__correct
    background-color: red
