.question-item
  margin-bottom: 20px
.question-item__title
  margin-bottom: 8px
.question-item__content
  display: flex
  align-items: center
.question-item__user
  display: flex
  align-items: center
.question-item__name
  margin: 0px 8px 0px 8px
.question-item__count
  margin-left: 8px
.question-item__actions
  margin-left: 8px
