.sort-nav
  +padding(vertical, .75rem)
  margin-bottom: 1.5rem
  border-bottom: solid .0625rem $background-color-shade
.sort-nav__inner
  display: flex
  align-items: center
  justify-content: center
  +media-breakpoint-down(sm)
    flex-direction: column
.sort-nav__label
  +text-block(.8125rem 1.45)
  margin-right: .5rem
  +media-breakpoint-down(sm)
    margin-bottom: .25rem
.sort-nav__select
  +media-breakpoint-down(sm)
    width: 100%
