.tab-nav
  background-color: $base-color
  margin-bottom: 2rem
.tab-nav__items
  display: flex
  overflow-x: auto
  overflow-y: hidden
.tab-nav__item
  margin-right: .5rem
  &:last-child
    margin-right: 0
  +media-breakpoint-down(sm)
    margin-right: 0
.tab-nav__item-link
  +block-link
  +padding(horizontal, 2rem)
  +border(top horizontal, 1px solid $background-color)
  +text-block(1rem 2.8, $reversal-text)
  white-space: nowrap
  &.is-active
    background-color: $background-color
    color: $text
