.users-item
  margin-bottom: 2rem
.users-item__header
  +position(relative)
  padding-left: 2.5rem
.users-item__name
  padding-left: 1rem
.users-item__icon-image
  border-radius: 50%
  +position(absolute, left -16px, top -6px)
  +size(64px)
  border: solid #1E88E5 4px
.users-item__name-link
  color: $reversal-text
  font-weight: bold
