@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/mixins/text"

.card-list-item-meta__items
  +text.text-block(.75rem 1.4, flex)
  flex-wrap: wrap
  gap: 0 .5rem

.card-list-item-meta__item
  overflow: hidden
  .a-user-icon
    +size.size(1rem)
  a
    overflow: hidden
    text-overflow: ellipsis

.card-list-item-meta__item-note
  +text.text-block(.75rem 1.4)
  color: var(--default-text)
  &::before
    content: "※"
    +position.position(relative, top -.0625em)

.card-list-item-meta__checkers
  display: inline-block
  margin-left: .75rem

.card-list-item-meta__created-at
  +text.text-block(.75rem 1.4)
  color: var(--muted-text)

.card-list-item-meta__user
  display: flex
  gap: .25rem
