@use "../../../config/functions/color"
@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/variables/colors"

.card-list-item-actions__trigger
  +size.size(2.25rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  color: var(--muted-text)
  align-self: flex-start
  +break-points.media-breakpoint-up(md)
    margin-top: -.5rem
    margin-right: -.5rem
  +break-points.media-breakpoint-down(sm)
    +position.position(absolute, left 0, top 2.75rem)

.card-list-item-actions__inner
  display: none
  +position.position(absolute, right -.5rem, top -.5rem, 3)
  input:checked + &
    display: block

.card-list-item-actions__items
  +position.position(relative, 2)
  border: solid 1px var(--border)
  width: 10rem
  border-radius: .25rem
  overflow: hidden

.card-list-item-actions__item
  .card-list-item-actions__item + &
    border-top: dashed 1px var(--border)

.card-list-item-actions__action
  font-size: .8125rem
  color: var(--default-text)
  +link.flex-link
  align-items: center
  background-color: var(--base)
  transition: all .2s ease-out
  padding: .5em 1em
  min-height: 2.75rem
  i
    margin-right: .5em
  &:hover
    background-color: color.tint(colors.$main, 95%)
    color: var(--main-text)
