.random-tags__item
  &:not(:last-child)
    border-bottom: dashed 1px $border

.random-tags__item-link
  +flex-link
  +padding(horizontal, 1rem .5rem)
  +padding(vertical, .5rem)
  min-height: 2.75rem
  align-items: center
  transition: all .2s ease-out
  &:hover
    background-color: rgba(black, .05)

.random-tags__item-link-inner
  +position(relative)
  flex: 1
  padding-right: 2em

.random-tags__item-count
  +position(absolute, right 0, top 2px)
  +text-block(.625rem, flex center $default-text)
  justify-content: center
  align-items: center
  +padding(horizontal, .75em)
  background-color: $background
  height: 1.5em
  border-radius: 1em

.random-tags__item-name
  +text-block(.875rem 1.4, #bcb4e8)
  .is-first &,
  .is-second &,
  .is-third &
    font-weight: 600
  .is-first &::before,
  .is-second &::before,
  .is-third &::before
    margin-right: .5em
    +fa(fas '\f521')
  .is-first &,
  .is-first &::before
    color: #e3a822
  .is-second &,
  .is-second &::before
    color: #898888
  .is-third &,
  .is-third &::before
    color: #dc7e61
  .is-up &
    font-size: 1.125em
  .is-low &
    font-size: .875em
