- title "#{@user.login_name} 日報"

= render 'users/page_title', user: @user

= render 'users/page_tabs', user: @user

.page-body
  = react_component('Reports', user: @user, currentUser: current_user, practices: @user.practices)
