@keyframes grab-background-color
  0%
    background-color: $warning
  100%
    background-color: $base

.admin-table
  margin-bottom: 1.5rem
  +media-breakpoint-down(sm)
    overflow-x: auto

.admin-table__table
  border-radius: .25rem
  width: 100%

.admin-table__header
  background-color: $background
  border: solid 1px $border-more-shade
  +border-radius(top, .25rem)

.admin-table__items
  +border(horizontal, solid 1px $background-shade)

.admin-table-item__title
  +text-block(1.5rem 1.45, $side)

.admin-table__label
  +text-block(.75rem 1.4, $main center 600)
  border: solid 1px $border-more-shade
  white-space: nowrap
  height: 2rem
  +padding(horizontal, .5rem)
  .a-button.is-icon
    min-height: 1.25rem
    height: 1.25rem
    font-size: .75rem
    margin-left: .5rem
    +padding(horizontal, .375rem)
    background-color: $base
    border-color: #bbbbbb
    color: $default-text

.admin-table__item
  transition: all .2s ease-out
  background-color: $base
  .admin-table.is-all-user &.is-inactive
    background-color: $background-tint
  &:last-child
    +border-radius(bottom, .25rem)
  &.sortable-chosen
    background-color: tint($warning, 80%)
  &:hover,
  .admin-table.is-grab &:hover
    background-color: tint($warning, 90%)
  &[draggable="false"]
    background-color: $base
    animation: grab-background-color 1.25s ease 0s 1 normal none running


.admin-table__item-value
  padding: .375rem .75rem
  border: solid 1px $background-shade
  +text-block(.8125rem 1.45)
  &.is-text-align-center
    text-align: center
  .a-button
    +margin(horizontal, .1875rem)
  .is-button-group .a-button
    +margin(horizontal, 0)
  &.is-grab
    padding: 0

.admin-table__item-logo-image
  border: solid 1px $border
  width: 2.5rem
  border-radius: .25rem

.admin-table-item__body
  border-radius: .25rem
  background-color: $base
  box-shadow: rgba(black, .2) 0 1px 4px
  overflow: hidden

.admin-table__user-icon
  +size(2.125rem)
  display: inline-block
  &:not(:last-child)
    margin-right: .5rem

.admin-table__user-login-name
  overflow-wrap: break-word
  word-wrap: break-word
  .admin-table__user:hover &
    text-decoration: underline

.admin-table__user-login-name
  color: $main-text

.is-user-icon-xl
  +size(100% auto)
  +margin(horizontal, auto)
  border-radius: .25rem

.admin-table__item-block-link-container
  padding-top: .25em
  font-size: .75rem
  a
    +hover-link-reversal
    color: $danger
