.admin-table
  max-width: 110rem
  +margin(horizontal, auto)
  margin-bottom: 1.5rem
  +media-breakpoint-down(sm)
    overflow-x: auto

.admin-table__table
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  border-radius: .25rem
  width: 100%

.admin-table__header
  background-color: $background-shade
  border: solid 1px #aaaaaa
  +border-radius(top, .25rem)

.admin-table__items
  +border(horizontal, solid 1px $background-shade)

.admin-table-item__title
  +text-block(1.5rem 1.45, $side)

.admin-table__label
  +text-block(.75rem 1.4, $main center 600)
  border: solid 1px #aaaaaa
  white-space: nowrap
  height: 2rem
  +padding(horizontal, .5rem)
  .a-button.is-icon
    min-height: 1.25rem
    height: 1.25rem
    font-size: .75rem
    margin-left: .5rem
    +padding(horizontal, .375rem)
    background-color: #dedede
    color: $default-text

.admin-table__item
  background-color: $base
  .admin-table.is-all-user &.is-inactive
    background-color: $background-tint
  &:last-child
    +border-radius(bottom, .25rem)

.admin-table__item-value
  padding: .375rem .75rem
  border: solid 1px $background-shade
  +text-block(.8125rem 1.45)
  &.is-text-align-center
    text-align: center
  .a-button
    +margin(horizontal, .1875rem)

.admin-table__item-logo-image
  border: solid 1px $border
  width: 5rem
  border-radius: .25rem

.admin-table-item__body
  border-radius: .25rem
  background-color: $base
  box-shadow: rgba(black, .2) 0 1px 4px
  overflow: hidden

.admin-table__user-icon
  +size(2.125rem)
  display: inline-block
  margin-right: .5rem

.admin-table__user-login-name
  overflow-wrap: break-word
  word-wrap: break-word
  .admin-table__user:hover &
    text-decoration: underline

.admin-table__user-login-name
  color: $main

.is-user-icon-xl
  +size(100% auto)
  +margin(horizontal, auto)
  border-radius: .25rem

.admin-table__item-block-link-container
  padding-top: .25em
  font-size: .75rem
  a
    +hover-link-reversal
    color: $danger
