@use "../../../config/mixins/break-points"
@use "../../../config/mixins/position"
@use "../../../config/mixins/size"
@use "../../../config/mixins/text"

.answer-badge
  border: double .1875rem var(--stamp-color)
  border-radius: .75rem
  +size.size(4rem 3.5rem)
  padding: .125rem
  +position.position(absolute, right 0, top -.125rem, 1)
  transform: rotate(25deg)
  +text.text-block(.625rem 1, flex center)
  color: var(--stamp-color)
  flex-direction: column
  align-items: center
  justify-content: center
  pointer-events: none
  +break-points.media-breakpoint-down(sm)
    +position.position(absolute, left 80%, top 0)

.answer-badge__icon
  font-size: 1.5rem
