.wrapper
  transition: all .4s
  right: 0
  &.is-opened-drawer
    overflow: hidden
    right: 17.5rem

body
  min-height: 100vh
  overflow-y: scroll
  .modal-open
    overflow: hidden
  &.welcome
    background-color: $base
  &.has-background
    background-image: image_url('main-visual.jpg')
    background-size: cover
    background-position: center center
    background-attachment: fixed
  &.is-mobile-nav-active
    +media-breakpoint-down(sm)
      overflow: hidden

.container
  max-width: 100%
  padding-left: 7rem
  padding-right: 15.5rem
  +media-breakpoint-down(md)
    +padding(horizontal, 6rem 1rem)
  +media-breakpoint-down(sm)
    +padding(horizontal, 1rem)
  html body &.has-no-right-padding
    padding-right: 14rem
    +media-breakpoint-down(md)
      +padding(horizontal, 6rem 1rem)
    +media-breakpoint-down(sm)
      +padding(horizontal, 1rem)
  html body.is-edit-page &.has-no-right-padding,
  html body.is-admin &.has-no-right-padding,
    padding-right: 0
    +media-breakpoint-down(md)
      +padding(horizontal, 6rem 0)
    +media-breakpoint-down(sm)
      +padding(horizontal, 1rem)
  body.no-global-nav &
    padding-left: 3rem
    +media-breakpoint-down(sm)
      +padding(horizontal, 1rem)
  body.no-recent-reports &
    padding-right: 3rem
    +media-breakpoint-down(sm)
      +padding(horizontal, 1rem)
  body.is-edit-page &,
  body.is-admin &
    padding-right: 1rem
  body.is-edit-page &.is-padding-horizontal-0-sm-down,
  body.is-admin &.is-padding-horizontal-0-sm-down
    padding-right: 0



body.welcome
  .container
    max-width: 75rem
    +padding(horizontal, 1rem)

[class*=is-button-simple-]
  &[class*=-secondary]
    border: solid 1px #c1c5b9
  &[class*=-primary]:disabled
    background-color: $main-color
    cursor: default

[class*=is-button-simple-]:not(input)
  +padding(vertical, 0)

.party-emails
  margin: auto
  background-color: white
  border: 1px solid gray
  padding: 10px
