.wrapper
  +position(relative, 1)
  background-color: $background-color
  transition: all .4s
  right: 0
  &.is-opened-drawer
    overflow: hidden
    right: 280px

.search-form
  position: relative
  padding-right: 36px
  margin-top: 8px
.search__input-text
  height: 28px
  font-size: 14px
.search__submit
  position: absolute
  right: 0
  top: 0
  bottom: 0
  padding: 0 8px
  background: #1e88e5
  border-radius: 4px
  color: white
