.categories-item__description
  margin-bottom: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;

.categories-item__pen
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
