@import common-imports
@import /blocks/base/body
@import /blocks/footer/footer

////////////////////
// .l-article
////////////////////

.l-article__header
  max-width: 100%
  +margin(horizontal, auto)
  +media-breakpoint-up(md)
    +padding(vertical, 3rem)
    width: 22.5rem
  +media-breakpoint-down(sm)
    +padding(vertical, 1.5rem)
    width: 16rem

.l-article__footer
  +media-breakpoint-up(md)
    +padding(vertical, 3rem)
  +media-breakpoint-down(sm)
    +padding(vertical, 1.5rem)

////////////////////
// .article
////////////////////

.article__inner
  +media-breakpoint-up(md)
    padding: 1.25rem 2rem
  +media-breakpoint-down(sm)
    padding: 1rem 1rem

.article__title
  line-height: 1.4
  font-weight: 700
  font-feature-settings: "palt"
  letter-spacing: .02em
  +media-breakpoint-up(md)
    font-size: 2rem
  +media-breakpoint-down(sm)
    font-size: 1.75rem

.article__published-at
  color: $semi-muted-text
  margin-top: .5em
  +media-breakpoint-up(md)
    font-size: .8125rem
  +media-breakpoint-down(sm)
    font-size: .75rem


.article__body
  margin-top: 1.5rem
  &.is-long-text
    +media-breakpoint-up(md)
      font-size: 1rem
    +media-breakpoint-down(sm)
      font-size: .875rem
  br + a img
    margin-top: 1.5em !important


////////////////////
// .bootcamp-ad
////////////////////

.bootcamp-ad
  margin-top: 2rem
  a.a-card
    +block-link
    color: $default-text
  img
    max-width: 100%
    height: auto
    display: block
    margin-left: auto
    margin-right: auto

.bootcamp-ad__inner
  +media-breakpoint-up(md)
    padding: 1.25rem 2rem
  +media-breakpoint-down(sm)
    padding: 1rem 1rem

.bootcamp-ad__header
  border-bottom: solid 1px $border
  padding-bottom: .25rem

.bootcamp-ad__title
  +text-block(1rem 1.4, 700)

.bootcamp-ad__body
  padding-top: 1em
  +media-breakpoint-up(md)
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: .8125rem

  .bootcamp-ad__image
    float: left
    margin-right: 1rem
    margin-bottom: .5rem
    +size(4rem auto)
    +position(relative, top .125rem)

  .bootcamp-ad__image + *
    margin-top: 0

  .a-button
    +media-breakpoint-up(md)
      max-width: 20rem
      +margin(horizontal, auto)
