body
  background-color: #ececec

.article__header
  width: 40%
  margin-top: 2rem
  margin-left: auto
  margin-right: auto

.article
  margin-top: 2rem
  margin-bottom: 2rem

.a-card
  background-color: white
  border-radius: .25rem
  border: solid 1px #d7d7d7
  max-width: 50rem
  margin-left: auto
  margin-right: auto

.article__title
  padding: 1.25rem 2rem
  font-size: 1.5rem
  line-height: 1.4
  font-weight: 700
  font-feature-settings: "palt"
  letter-spacing: .02em

.article__description
  padding: 1.25rem 2rem

  img
    max-width: 100%
    height: auto
    display: block
    margin-left: auto
    margin-right: auto

.is-long-text
  p
    font-size: 1em
    line-height: 1.86
    margin-bottom: 1.5em

.article__footer


.bootcamp-ad
  padding: 1.25rem 2rem

  img
    max-width: 100%
    height: auto
    display: block
    margin-left: auto
    margin-right: auto

