body.practices_index
  table
    td
      vertical-align: middle
    td.title
    td.status
      width: 200px
    td.handle
      width: 40px
      font-size: 20px
      cursor: move

body.users_index
  table
    td.icon
