body.practices_index
  table
    width: 100%
    td
      vertical-align: middle
    td.title
    td.status
      width: 10%
    td.handle
      font-size: 20px
      cursor: row-resize

body.users_index
  table
    width: 100%
    td.icon
      width: 100px
