.book-name {
  font-size: 2.3em;
  text-align: center;
  margin: 9em 0 10em 0;
}

.book-company_name {
  font-size: 1.5em;
  text-align: center;
}

.book-updated {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 8em;
}

img {
  max-width: 90%;
}
