.book-sticker
  border: 1px solid gray
  font-size: 12px
  width: 200px
  padding: 10px
  text-align: center

  .container
    display: flex
    align-items: center
    margin: 8px 0

.book-sticker__logo img
  width: 190px

.book-sticker__qrcode
  flex-grow: 1

.book_-sticker__id
  flex-grow: 2

.book-sticker__id-label
  font-size: 8px
  font-weight: bold

.book-sticker__id-body
  text-align: center
  border: 1px solid gray

.book-sticker__text
  font-size: 10px
  text-align: left
