.active-practices-list__items
  margin-bottom: -.25rem

.active-practices-list-item:not(:last-child)
  border-bottom: dotted .0625rem var(--border-tint)

.active-practices-list-item__link
  +text-block(.875rem 1.55, block)
  color: var(--main)
  +padding(vertical, .5rem)
  +padding(horizontal, 1rem)
  +hover-link
  &::before
    +fa(fas '\f060')
    display: inline-block
    margin-right: .5rem
    color: var(--accent)
  &:hover::before
    text-decoration: none
