@use "../../../config/mixins/font-awsome"
@use "../../../config/mixins/link"
@use "../../../config/mixins/text"

.active-practices-list__items
  margin-bottom: -.25rem

.active-practices-list-item:not(:last-child)
  border-bottom: dotted .0625rem var(--border-tint)

.active-practices-list-item__link
  +text.text-block(.875rem 1.55, block)
  color: var(--main)
  padding-block: .5rem
  padding-inline: 1rem
  +link.hover-link
  &::before
    +font-awsome.fa(fas '\f060')
    display: inline-block
    margin-right: .5rem
    color: var(--accent)
  &:hover::before
    text-decoration: none
