@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/size"
@use "../../../config/mixins/text"

.companies-item
  height: 100%

.companies-item__inner
  +break-points.media-breakpoint-up(md)
    height: 100%

.companies-item__header
  padding: 1rem
  &:not(:last-child)
    border-bottom: solid 1px var(--border-tint)

.companies-item__header-inner
  display: flex
  gap: 1rem

.companies-item__header-start
  +break-points.media-breakpoint-up(md)
    flex: 0 0 3.5rem
  +break-points.media-breakpoint-down(sm)
    flex: 0 0 2.5rem

.companies-item__user-icon-image
  background-color: white
  +break-points.media-breakpoint-up(md)
    +size.size(3.5rem)
  +break-points.media-breakpoint-down(sm)
    +size.size(2.5rem)


.companies-item__header-end
  flex: 1

.companies-item__name
  +text.text-block(1em 1.4, 600 block)
  color: var(--main)
  margin-bottom: .125rem
  +break-points.media-breakpoint-up(md)
    font-size: 1.125rem
  +break-points.media-breakpoint-down(sm)
    font-size: 1rem

.companies-item__name-link
  color: var(--main-text)
  display: block
  +link.hover-link

.companies-item__body
  padding: 1rem

.companies-item__body-row
  &:not(:first-child)
    margin-top: .75rem

.companies-item__description
  p
    +text.text-block(.75rem 1.6)
