@use "../../../config/mixins/break-points"
@use "../../../config/mixins/size"

.group-company-name
  +break-points.media-breakpoint-up(md)
    font-size: 1.125rem
  +break-points.media-breakpoint-down(sm)
    font-size: 1rem

.group-company-name__link
  text-decoration: none
  color: var(--main-text)
  display: flex
  align-items: center

.group-company-name__icon
  display: block
  +size.size(2.5rem)
  margin-right: .75rem

.group-company-name__icon-image
  +size.size(100%)
  object-fit: cover
  border-radius: .25rem

.group-company-name__name
  display: block
  flex: 1

.group-company-name__label
  display: block
  font-weight: 600
  +break-points.media-breakpoint-up(md)
   margin-right: .25em
   a:hover &
     text-decoration: underline

.group-company-name__label-option
  font-size: .75rem
  font-weight: 400
  color: var(--muted-text)
  margin-top: .5rem
  display: block
  a:hover &
    text-decoration: none
