.niconico-calendar-nav
  display: flex
  justify-content: center
  align-items: center
  margin-top: -1rem
  font-size: .875rem

.niconico-calendar-nav__previous,
.niconico-calendar-nav__next
  +size(2.75rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  +hover-link
  transition: all .2s ease-out
  &:hover
    color: var(--main-text)
  &.is-blank
    cursor: default
    pointer-events: none

.niconico-calendar-nav__year--month
  width: 6rem
  text-align: center

.niconico-calendar
  width: 100%
  table-layout: fixed
  th,
  td
    border: solid 1px var(--border-shade)
  td
    height: 3rem

.niconico-calendar__header
  background-color: var(--background-tint)

.niconico-calendar__header-day
  width: calc(100% / 7)
  +text-block(.75rem 1, center)
  padding-block: .25em
  &.is-sunday
    color: var(--danger)
  &.is-saturday
    color: var(--main-text)

.niconico-calendar__day
  &.is-blank
    background-color: var(--background-more-tint)
  &.is-positive
    background-color: var(--positive-background)
  &.is-negative
    background-color: var(--negative-background)
  &.is-neutral
    background-color: var(--neutral-background)
  &.is-today
    .niconico-calendar__day-inner
      border: dashed 2px var(--success)
    .niconico-calendar__day-label
      font-weight: 600
      color: var(--success)

.niconico-calendar__day-inner
  +block-link
  padding-block: .25rem .125rem
  +size(100%)

a.niconico-calendar__day-inner
  transition: all .2s ease-out
  cursor: pointer
  &:hover
    background-color: rgba($warning, .1)
    box-shadow: var(--warning) 0 0 0 1px inset
    position: relative

.niconico-calendar__day-label
  +text-block(.625rem 1, center)
  color: var(--default-text)
  margin-bottom: .125rem
  .niconico-calendar__day.is-blank &
    color: var(--muted-text)

.niconico-calendar__day-value
  +text-block(1.75rem 1, center flex)
  align-items: center
  justify-content: center
  +size(100% 1.875rem)
  .niconico-calendar__day.is-blank &
    color: var(--muted-text)
    font-size: 1.25rem

.niconico-calendar__emotion-image
  +size(1em)
