@use "../../../config/mixins/break-points"

.sns-links
  margin-top: .5rem
  display: flex
  gap: 1rem
  align-items: center
  justify-content: space-between

.sns-links__items
  +break-points.media-breakpoint-down(xs)
    justify-content: center

.sns-links__item-link
  font-size: .875rem
  &:hover
    color: var(--main-text)
