.user-secret-attributes
  font-size: .75rem
  border: solid 1px $border
  padding: .75em 1em
  &:not(:first-child)
    margin-top: .25em

.user-secret-attributes__title
  +text-block(.75rem 1.4, 600)
  margin-bottom: .25em

.user-secret-attributes__items
  display: flex
  flex-wrap: wrap
  color: $muted-text
  & + .user-secret-attributes__items
    margin-top: .125rem

.user-secret-attributes__item
  line-height: 1.4
  display: flex
  align-items: center
  &:not(:first-child)
    &::before
      content: "、"

.user-secret-attributes__item-label
  &::after
    content: ":"
    margin-right: .25rem

.user-secret-attributes__item-value
  &.is-important
    font-weight: 600
    color: $danger
