@use "../../../config/mixins/break-points"
@use "../../../config/mixins/position"
@use "../../../config/mixins/text"

.user-data
  padding: 1rem 1.5rem
  +position.position(relative)
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    gap: 1rem
  +break-points.media-breakpoint-down(sm)
    padding: .75rem
    gap: .75rem

.user-data__description
  flex: 0 0 100%
  +break-points.media-breakpoint-up(md)
    font-size: .9375rem
  +break-points.media-breakpoint-down(sm)
    font-size: .8125rem
  p
    +text.text-block(1em 1.8 0 .8em)
    &:last-child
      margin-bottom: 0

.user-data__tags
  margin-top: .75rem
