@use "../../../config/mixins/break-points"
@use "../../../config/mixins/text"

.streak-card
  margin-bottom: 1.5rem

.streak-container
  display: flex
  justify-content: center
  +break-points.media-breakpoint-up(md)
    gap: 1rem
  +break-points.media-breakpoint-down(sm)
    gap: .5rem

.streak-item
  flex: 1
  max-width: 10rem
  display: flex
  justify-content: center
  align-items: center
  +break-points.media-breakpoint-up(md)
    padding-block: 1rem
  +break-points.media-breakpoint-down(sm)
    padding-block: .75rem

.streak-item__content
  display: flex
  flex-direction: column
  align-items: center

.streak-item__days
  display: flex
  align-items: baseline

.streak-item__number
  font-weight: 700
  color: #f7941d
  +break-points.media-breakpoint-up(md)
    +text.text-block(2.5rem 1)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(2rem 1)

.streak-item__label
  font-weight: 600
  text-align: center
  +break-points.media-breakpoint-up(md)
    +text.text-block(1rem 1.4)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(.875rem 1.4)

.streak-item__unit
  text-align: center
  color: var(--muted-text)
  +break-points.media-breakpoint-up(md)
    +text.text-block(1rem 1.4)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(.75rem 1.4)

.streak-item__period
  margin-top: .125rem
  text-align: center
  +break-points.media-breakpoint-up(md)
    +text.text-block(.875rem 1.4)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(.75rem 1.4)
