.user-profile__icon
  +media-breakpoint-down(sm)
    position: static
    text-align: center
    margin-bottom: .25rem

.user-profile__user-icon-image
  +media-breakpoint-up(md)
    +size(5rem)
  +media-breakpoint-down(sm)
    +size(4rem)
