@use "../../../config/mixins/break-points"

.user-data
  padding: 1rem 1.5rem
  position: relative
  display: flex
  flex-direction: column
  +break-points.media-breakpoint-up(md)
    gap: 1rem
  +break-points.media-breakpoint-down(sm)
    padding: .75rem
    gap: .75rem

.user-data__description
  flex: 0 0 100%
  +break-points.media-breakpoint-up(md)
    font-size: .9375rem
  +break-points.media-breakpoint-down(sm)
    font-size: .8125rem
  p
    font-size: 1em
    line-height: 1.8
    margin-top: 0
    margin-bottom: .8em
    &:last-child
      margin-bottom: 0

.user-data__tags
  margin-top: .75rem
