.user-profile__icon
  +media-breakpoint-down(sm)
    position: static
    text-align: center
    margin-bottom: .25rem

.user-profile__user-icon-image
  +media-breakpoint-up(md)
    +size(5rem)
  +media-breakpoint-down(sm)
    +size(4rem)

.user-company-profile__description
  +media-breakpoint-up(md)
    font-size: .9375rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
