@use "../../../config/mixins/break-points"
@use "../../../config/mixins/link"
@use "../../../config/mixins/size"

.user-grass
  padding: 1rem
  +break-points.media-breakpoint-down(sm)
    padding: .75rem

.user-grass__link
  position: relative
  display: block
  .user-grass__image
    &.is-loading
      animation: loadingNow .5s ease infinite alternate

.user-grass-nav
  font-size: .875rem
  display: flex
  justify-content: center
  align-items: center
  margin-top: -1rem

.user-grass-nav__previous,
.user-grass-nav__next
  +size.size(2.75rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  +link.hover-link
  transition: all .2s ease-out
  &:hover
    color: var(--main-text)
  &.is-blank
    cursor: default
    pointer-events: none

.user-grass-nav__year--month
  width: 13rem
  text-align: center
