.user-icons
  display: flex
  gap: .75rem
  margin-top: 1.5rem

.user-icons__title
  +text-block(.875rem 2rem, 600 right)
  +media-breakpoint-down(sm)
    flex: 0 0 auto

.user-icons__items
  flex: 1
  display: flex
  gap: .5rem
  flex-wrap: wrap

.user-icons-item
  display: flex
  align-items: center
