.errors
  background-color: #fff3f6
  border: solid 1px $danger
  margin-bottom: 1.25rem
  padding: 1rem 1.5rem

.errors__title
  +text-block(.875rem 1.45 .8em, center 600 #6e3a47)

.errors__item
  +text-block(.8125rem 1.6 .2em, #6e3a47)
  &:last-child
    margin-bottom: 0
