.faces
  background: $welcome-default-text
  height: 4.625rem
  overflow-y: hidden
  +padding(horizontal, 5rem 14rem)
  body.is-edit-page &,
  body.is-admin &
    padding-right: 0
  +media-breakpoint-down(sm)
    display: none

.faces__inner
  +position(relative)

.faces__canvas-container
  overflow-x: scroll

.faces__items
  display: flex
  flex-wrap: nowrap
  justify-content: flex-start

.faces-item
  margin: 1px 1px 1px 0
  text-align: center
  +position(relative)
  flex: 0 0 4.5rem
  +size(4.5rem)
  flex: 0 0 4.5rem
  img
    +size(4.5rem)
    background-color: $base

.faces-item__name
  +text-block(.625rem 1.45, 700 center nowrap $default-text)
  +position(absolute, left 0, top 0, right 0)
  text-shadow: 0px 1px 1px white, 0px 0px 1px white, 1px 0px 1px white, 0px -1px 1px white, -1px -1px 1px white, -1px 0px 1px white
  +size(100% auto)
  overflow: hidden
  +padding(horizontal, .25rem)
  text-overflow: ellipsis
