.flatpickr-month
  display: flex
  height: 3rem
  align-items: center
  justify-content: space-between

.flatpickr-current-month
  height: 100%
  padding: 0 !important
  display: flex !important
  justify-content: center
  align-items: center

.flatpickr-prev-month,
.flatpickr-next-month
  +size(2rem 1.5rem)
  display: flex !important
  justify-content: center
  align-items: center
  cursor: pointer
  svg
    display: block
    width: 1rem
