$global-nav-width: 5rem

.global-nav
  display: inline
  +media-breakpoint-down(sm)
    display: block
    +position(fixed, left 0, top 0, bottom 0, 100)
    background-color: rgba(black, .4)
    width: 0
    overflow: hidden
    &.is-active
      width: 100%
      right: 0

.global-nav__inner
  background-color: $side
  +size($global-nav-width 100%)
  +position(fixed, left 0, top 0, bottom 0, 2)
  +media-breakpoint-down(sm)
    width: 0
    transition: width .2s ease-in
    overflow: hidden
    left: -12rem
    .global-nav.is-active &
      width: 12rem
      left: 0
      >*
        width: 12rem

.global-nav-current-user
  +padding(vertical, .75rem)

.global-nav-current-user__icon
  img
    +size(($global-nav-width - 1.5rem) auto)
    display: block
    +margin(horizontal, auto)
    border-radius: 50%
.global-nav-current-user__name
  +text-block(.75rem 1.45, center $reversal-text)

.global-nav-links__link
  display: flex
  flex-direction: column
  white-space: nowrap
  +size(100% 4.5rem)
  align-items: center
  justify-content: center
  border-top: solid .0625rem $side-border
  color: $reversal-text
  transition: color .2s ease-in, background-color .2s ease-in
  +media-breakpoint-down(sm)
    flex-direction: row
    height: 2.75rem
    +padding(horizontal, 1rem)
    justify-content: flex-start
  &:hover
    background-color: $side-shade
  &.is-active
    background-color: $side-active
    color: $side
  .global-nav-links__item:last-child &
    border-bottom: solid .0625rem $side-border


.global-nav-links__link-icon
  +text-block(1.5rem 1 .375rem, center)
  +media-breakpoint-down(sm)
    +text-block(1rem 1 0)
    margin-right: .5rem

.global-nav-links__link-label
  +text-block(.625rem 1.45, center)
  +media-breakpoint-down(sm)
    font-size: .875rem
