.modal
  display: none
  +position(fixed, left 0, top 0, right 0, bottom 0, 100)
  padding: 1rem
  &.is-active
    display: block

.modal__overlay
  +position(fixed, left 0, top 0, right 0, bottom 0)
  background-color: rgba(black, .8)

.modal-content
  +position(absolute, left 50%, top 50%, 1)
  transform: translate(-50%, -50%)
  background-color: $base
  border-radius: .25rem
  width: 40rem
  max-width: 100%
  &.is-sm
    width: 24rem
  > *:last-child
    border-bottom: none

.modal-header
  padding: .25rem 1rem
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: solid 1px $background

.modal-header__close
  +text-block(2rem 1, flex)
  align-items: center
  justify-content: center
  +size(2.75rem)
  cursor: pointer
  margin-right: -.75rem
  color: $muted-text
  &:hover
    color: $default-text

.modal-body
  max-height: calc(100vh - 11.5rem)
  overflow: auto
  padding: 1rem
  border-bottom: solid 1px $background

.modal-title
  font-size: 1.25rem
  font-weight: 600

.modal-footer
  padding: .25rem 1rem
