.page-tags-nav
  +media-breakpoint-up(lg)
    +position(sticky, right 0, top 3.5rem)

.page-tags-nav__body
  max-height: calc(100vh - 7rem)
  padding: .5rem .75rem
  overflow-y: auto

.page-tags-nav__items
  display: flex
  flex-wrap: wrap
  gap: .25rem

.page-tags-nav__item-link
  padding: .3125rem .5rem
  border-radius: 1.5em
  +text-block(.625rem 1.4, $primary nowrap)
  max-width: 8.5rem
  overflow: hidden
  text-overflow: ellipsis
  border: solid 1px $primary
  +block-link
  transition: all .1s ease-in
  background-color: $base
  &:hover
    background-color: $primary
    color: $reversal-text
