.pagination
  +position(relative, 1)
  &.is-top
    margin-top: -.5rem
    margin-bottom: 1rem
    +media-breakpoint-down(sm)
      margin-bottom: .75rem
  &.is-bottom
    margin-top: 1rem
    margin-bottom: -.5rem
    +media-breakpoint-down(sm)
      margin-top: .75rem

.pagination__items
  display: flex
  justify-content: center

.pagination__item
  +padding(horizontal, .125rem)

.pagination__item-link
  +size(2.5rem)
  border-radius: 50%
  +text-block(.875rem 1, flex $muted-text)
  justify-content: center
  align-items: center
  transition: all .2s ease-in
  &:hover
    background-color: rgba(black, .1)
  &.is-active
    background-color: $main
    color: $reversal-text
