.page-nav
  +position(right 0, top 0)
  flex: 0 0 12rem
  position: sticky
  background-color: $base
  width: 12rem
  border: solid 1px #dadada
  border-radius: .25rem
  transition: opacity .2s ease-in
  margin-left: 1.5rem
  +media-breakpoint-down(sm)
    display: none

.page-nav__header
  border-bottom: solid 1px $border

.page-nav__title
  +text-block(.875rem 1.4, 600)

.page-nav__title-link
  +block-link
  text-align: center
  padding: .5rem .75rem
  color: $default-text
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.page-nav__items
  max-height: calc(100vh - .25rem)
  overflow-y: auto

.page-nav__item
  border-bottom: solid 1px $border
  &:last-child
    border-bottom: none

.page-nav__item-link
  padding: .375rem .75rem
  +text-block(.75rem 1.4, block $muted-text)
  +block-link
  transition: all .1s ease-in
  background-color: transparent
  .page-nav__item:last-child &
    +border-radius(bottom, .25rem)
  &:hover
    color: $main
    text-decoration: underline
  &.is-current
    pointer-events: none
    font-weight: 600
    background-color: $background-more-tint
    color: $default-text
