.pill-nav
  border-bottom: none
  &:not(:last-child)
    margin-bottom: 1.5rem

.pill-nav__items
  display: flex
  +padding(vertical, .875rem)
  overflow-x: auto
  overflow-y: hidden
  justify-content: center
  padding-top: 1.5rem
  padding-bottom: 0

.pill-nav__item
  &:first-child .pill-nav__item-link
    +border-radius(left, 10em)
  &:last-child .pill-nav__item-link
    +border-radius(right, 10em)

.pill-nav__item-link
  +block-link
  +text-block(.75rem 2.3, $semi-muted-text center nowrap)
  background-color: $background-shade
  width: 7rem
  transition: all.2s ease-out
  &:hover
    background-color: shade($background-shade, 10%)
    color: $default-text
  &.is-active
    background-color: $accent
    color: $default-text
