.sort-nav
  +padding(vertical, .75rem)
  background-color: $background-shade
  .page-tabs + &
    +padding(vertical, 0)

.sort-nav__inner
  display: flex
  align-items: center
  justify-content: center
  +media-breakpoint-down(sm)
    flex-direction: column

.sort-nav__label
  +text-block(.8125rem 1.45)
  margin-right: .5rem
  white-space: nowrap
  +media-breakpoint-down(sm)
    margin-right: 0
    margin-bottom: .25rem

.sort-nav__select
  +position(relative, 2)
  min-height: 2.375rem
  +media-breakpoint-up(md)
    flex: 1
  +media-breakpoint-down(sm)
    width: 100%
