.categories
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  border-radius: .25rem
  width: 100%

.categories-items
  max-width: 68rem
  +margin(horizontal, auto)
  padding-right: 14rem
  +position(relative)
  +media-breakpoint-down(sm)
    padding-right: 0

.categories-item
  margin-bottom: 3rem
  +media-breakpoint-down(sm)
    margin-bottom: 2rem

.categories-item__title
  +text-block(1.5rem 1.45, $side)
  +media-breakpoint-down(sm)
    font-size: 1.25rem

.categories-item__show-handle
  +size(2rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer

.categories__label
  +text-block(.75rem 2rem, $main-color center 600)
  border: solid 1px #aaaaaa

.categories-item__header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: .5rem

.categories__item-value
  padding: .375rem .75rem
  border: solid 1px $background-color-shade
  +text-block(.875rem 1.45)

.categories-item__body
  border-radius: .25rem
  background-color: $base
  box-shadow: rgba(black, .2) 0 1px 4px
  overflow: hidden
.categories-item__description
  margin-bottom: 1rem
  p
    +text-block(.875rem 1.8 .6em)
  *:last-child
    margin-bottom: 0
