.category-practices-item
  padding: .75rem 1rem
  border-bottom: solid 1px $background
  +position(relative)
  &:last-child
    border-bottom: none
  &:nth-child(odd)
    background-color: #fafafa
  +media-breakpoint-down(sm)
    flex-wrap: wrap
    padding: .5rem .75rem .75rem

.category-practices-item__status
  background-color: red
  +text-block(.8125rem 1, flex 600)
  align-items: center
  justify-content: center
  +size(4rem 2.125rem)
  border-radius: .25rem
  +practice-color

.category-practices-item__header
  display: flex
  +media-breakpoint-down(sm)
    display: block

.category-practices-item__title
  flex: 100
  margin-right: .5rem
  +media-breakpoint-down(sm)
    margin-right: 0
    margin-bottom: .5rem

.category-practices-item__title-link
  +text-block(.875rem 1.5, $default-text flex)
  +hover-link
  align-items: center
  min-height: 1.875rem
  +media-breakpoint-down(sm)
    font-size: .8125rem

.category-practices-item__handle
  +position(absolute, right 0, top 0)
  height: calc(100% + 1px)
  display: none
  background-color: $default-text
  +padding(horizontal, 1rem)
  border-bottom: solid 1px rgba(white, .2)
  &.is-active
    display: flex
    justify-content: center
    align-items: center
