.categories
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  border-radius: .25rem
  width: 100%

.categories-items
  +position(relative)
  display: flex
  justify-content: space-between
  align-items: flex-start

.is-hidden-users .m-user-icons
  display: none

.categories-items__inner
  flex: 100
  max-width: $thread-max-width

.categories-item
  &:not(:last-child)
    margin-bottom: 3rem
    +media-breakpoint-down(sm)
      margin-bottom: 2rem

.categories-item__anchor
  +media-breakpoint-up(md)
    +position(relative, top -3.5rem)

.categories-item__title
  +text-block(1.5rem 1.5, $main-text 600)
  position: relative
  +media-breakpoint-down(sm)
    font-size: 1.25rem
  .stamp
    +media-breakpoint-up(md)
      right: -3rem
      top: -.5rem
    +media-breakpoint-down(sm)
      right: -3rem
      top: -.75rem
      transform: rotate(25deg) scale(.7)

.categories-item__show-handle
  +size(2rem)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  +text-block(1rem 1, $muted-text)
  transition: all .2s ease-out
  &:hover
    color: $main-text

.categories__label
  +text-block(.75rem 2rem, $main center 600)
  border: solid 1px #aaaaaa

.categories-item__header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: .5rem

.categories__item-value
  padding: .375rem .75rem
  border: solid 1px $background-shade
  +text-block(.875rem 1.45)

.categories-item__body
  border-radius: .25rem
  background-color: $base
  overflow: hidden
  border: solid 1px $border-shade
  clear: both

.categories-item__description
  +position(relative)
  margin-bottom: 1rem
  p
    +text-block(.875rem 1.6 0 .6em)
  *:last-child
    margin-bottom: 0

.categories-item__edit
  float: right
  margin-left: .5rem
  +position(relative, top -.25rem)

.categories-item__edit-link
  +size(2rem)
  +flex-link
  align-items: center
  justify-content: center
  +text-block(1rem 1, $muted-text)
  transition: all .2s ease-out
  &:hover
    color: $main-text
