.category-practices-item
  padding: .75rem 1rem
  border-bottom: solid 1px $background-color
  +position(relative)
  &:last-child
    border-bottom: none
  &:nth-child(odd)
    background-color: #fafafa
  +media-breakpoint-down(sm)
    flex-wrap: wrap
    padding: .5rem .75rem

.category-practices-item__inner
  +position(relative)

.category-practices-item__value
  &.is-title
    +media-breakpoint-down(sm)
      flex: auto
      width: 100%
      margin-bottom: .5rem
  &.is-started-users
    padding-top: .5rem
    margin-top: .75rem
    border-top: dotted 1px #e6e6e6
    margin-bottom: -.25rem
    +media-breakpoint-down(sm)
      flex: auto
      width: 100%
      margin-bottom: .5rem
  &.is-status
    text-align: center
    +position(absolute, right 0, top 0)
    +media-breakpoint-down(sm)
      flex: auto
      width: 100%
      position: static

.category-practices-item__handle
  +position(absolute, right 0, top 0)
  height: calc(100% + 1px)
  display: none
  background-color: $default-text
  +padding(horizontal, 1rem)
  border-bottom: solid 1px rgba(white, .2)
  &.is-active
    display: flex
    justify-content: center
    align-items: center

.category-practices-item__title-link
  +text-block(.875rem 1.55, $default-text flex)
  +hover-link
  padding-right: 11.25rem
  align-items: center
  min-height: 1.875rem
  +media-breakpoint-down(sm)
    padding-right: 0
.category-practices-item__user-icon
  border-radius: 50%
  +size(2rem)
  +media-breakpoint-down(sm)
    margin-right: .5rem
    +size(1.5rem)

.category-practices-item__button-group
  white-space: nowrap
