.completed_stamp
  border: double .1875rem $stamp-color
  border-radius: .50rem
  +size(4rem 2rem)
  padding: .125rem
  +position(absolute, right -.5rem, top 0)
  transform: rotate(25deg)
  +text-block(1rem, 1 block center $stamp-color)
  +media-breakpoint-down(sm)
    +position(absolute, right -.1, top .125rem)

.completed_stamp__content
  align-items: center
  padding-top: .125rem
  &.is-title
    +size(100% 32%)
