.practice-content-actions__description
  +text-block(.75rem 1.5 .75rem, center)

.practice-content-actions__items
  display: flex
  align-items: flex-end
  justify-content: center
  +media-breakpoint-down(sm)
    flex-direction: column

.practice-content-actions__item
  +padding(horizontal, .375rem)
  > *
    width: 160px
    max-width: 100%
  +media-breakpoint-down(sm)
    width: 100%
    +padding(horizontal, 0)
    &:nth-child(2),
    &:nth-child(3)
      margin-top: .75rem
    > *
      width: 100%
