.practice-started-users
  padding-top: .5rem
  margin-top: .75rem
  border-top: dotted 1px $background
  margin-bottom: -.25rem
  +media-breakpoint-down(sm)
    display: none

.practice-started-users__items
  display: flex
  flex-wrap: wrap
  +margin(horizontal, -.125rem)
  margin-bottom: -.25rem

.practice-started-users__item
  +padding(horizontal, .125rem)
  padding-bottom: .25rem

.practice-started-users__item-icon
  border-radius: 50%
  +size(2rem)
