$practice-header-author: 4.75rem
.practice-submission-form
  +position(relative)
  border-radius: .25rem
  margin-top: 2rem
  margin-bottom: 2rem
  padding-left: $practice-header-author
  +media-breakpoint-down(sm)
    padding-left: 0

.practice-task__form
  margin-top: 1rem

.practice-submission-form__author
  +position(absolute, left 0, top 0)
  +size($practice-header-author 100%)
  padding-right: 2rem
  border-right: $background-color solid .0625rem

.practice-submission-form__author-icon
  +size(100% auto)
  border-radius: 50%

.practice-submission-form__form
  background-color: $base-color
  padding: 1rem
  border-radius: .25rem
  +relative
  +balloon-tail(left $base-color .75rem 1rem, false, top 1.5rem)
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none

.practice-submission-form__textarea
  margin-bottom: .75rem

.practice-submission-form__action
  display: flex
  justify-content: flex-end
  margin-top: 2rem
