.practice-status
  text-align: center
  +media-breakpoint-down(sm)
    flex: auto
    width: 100%
    position: static

.practice-status__buttons
  white-space: nowrap

.practice-status__button:disabled
  color: $reversal-text
  pointer-events: none

.practice-status__button
  &:active
    +top(0)
  .practice-status__buttons-item.is-active &
    border: none
    pointer-events: none
  .practice-status__buttons-item.is-active + .practice-status__buttons-item &
    border-left: none
