.pub-date
  display: flex
  color: $muted-text
  font-size: .75rem
  & + .practice-content
    margin-top: .75rem

.pub-date__label
  white-space: nowrap
  &::after
    content: ":"
    margin-right: .25em
