.corporate-training-examples__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 48em) {
  .corporate-training-examples__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
