.dashboard-contents__cols
  display: flex
  gap: 1rem
  +media-breakpoint-down(sm)
    flex-direction: column

.dashboard-contents__col
  &.is-sub
    +media-breakpoint-up(lg)
      max-width: 26rem
    +media-breakpoint-up(md)
      flex: 1
  &.is-main
    flex: 1

.dashboard-contents__categories
  display: flex
  flex-direction: column
  gap: 1rem
