@use "../../../config/mixins/text"

.dashboard-category__header
  padding-bottom: .25rem
  border-bottom: dashed 1px var(--border)

.dashboard-category__title
  +text.text-block(.75rem 1.4)
  font-weight: 700

.dashboard-category__body
  &:not(:first-child)
    flex: 1
    margin-top: 1rem
