@use "../../../config/mixins/break-points"

.dashboard-contents__cols
  display: flex
  gap: 1rem
  +break-points.media-breakpoint-down(sm)
    flex-direction: column

.dashboard-contents__col
  width: 100%
  &.is-sub
    +break-points.media-breakpoint-up(md)
      max-width: 20rem
    +break-points.media-breakpoint-up(sm)
      flex: 1
  &.is-main
    flex: 1

.dashboard-contents__categories
  display: flex
  flex-direction: column
  gap: 1rem
