@use "../../../config/mixins/text"

.unchecked-report-alert__header
  background-color: var(--danger)
  padding: .125rem 1rem

.unchecked-report-alert__header-title
  +text.text-block(.75rem 1.4, 700)
  color: var(--reversal-text)

.unchecked-report-alert__inner
  padding: .25rem 1rem
  display: flex
  align-items: center
  gap: .5rem

.unchecked-report-alert__icon
  font-size: 2rem

.unchecked-report-alert__message
  +text.text-block(.8125rem 1.4, center)
  flex: 1

.unchecked-report-alert__message-link
  color: var(--danger-text)

.unchecked-report-alert__count
  margin-inline:.125rem

.unchecked-report-alert__count-number
  font-size: 1.25rem
  margin-right: .0625rem
