html

  *[hidden],
  .is-hidden
    display: none !important

  body
    .is-hidden-lg-up
      +media-breakpoint-up(lg)
        display: none

    .is-hidden-lg-down
      +media-breakpoint-down(lg)
        display: none

    .is-hidden-md-up
      +media-breakpoint-up(md)
        display: none

    .is-hidden-md-down
      +media-breakpoint-down(md)
        display: none

    .is-hidden-sm-down
      +media-breakpoint-down(sm)
        display: none

    .is-mw-100
      max-width: 100%

    .is-jc\:c
      justify-content: center

.is-only-mentor
  body:not(.is-mentor-mode) &
    display: none !important

.is-only-adviser
  body:not(.is-adviser-mode) &
    display: none !important


body.is-mentor-mode .is-only-mentor.is-only-adviser,
body.is-adviser-mode .is-only-mentor.is-only-adviser
  display: block !important
