.page-body
  +padding(vertical, 1.5rem)
  +media-breakpoint-down(sm)
    +padding(vertical, 1.125rem)
  .page-header + &
    border-top: solid 1px $border

.page-body__inner
  position: relative

.page-body__columns
  +media-breakpoint-up(lg)
    display: flex
    gap: 1.5rem
    position: relative

.page-body__column
  &.is-main
    flex: 1
    +margin(horizontal,  auto)
  &.is-sub
    flex: 0 0 20rem
    &.is-sm
      flex: 0 0 14rem

.page-body__description
  +short-text-style
  +media-breakpoint-up(md)
    font-size: .875rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
  &:not(:last-child)
    margin-bottom: 1.5em

.page-body__row
  &:not(:first-child)
    margin-top: 1.5rem
