.page-tabs
  background-color: $background-semi-shade
  padding-top: .5rem
  border-top: solid 1px $border-shade
  border-bottom: solid 1px $border-more-shade

.page-tabs__items
  display: flex
  gap: .25rem
  transform: translateY(1px)
  -webkit-overflow-scrolling: touch
  overflow-x: auto
  overflow-y: visible
  +margin(horizontal,  -1rem)
  +padding(horizontal, 1rem)

.page-tabs__item
  +media-breakpoint-up(md)
    min-width: 8.5rem
  +media-breakpoint-down(sm)
    min-width: 7rem

.page-tabs__item-link
  +flex-link
  +text-block(.825rem 1, $semi-muted-text 600 nowrap)
  align-items: center
  justify-content: center
  height: 2.75rem
  background-color: $background-semi-shade
  +padding(horizontal, 1em)
  +border-radius(top, .25rem)
  border: solid 1px $border-more-shade
  +position(relative)
  transition: all .2s ease-out
  +media-breakpoint-down(sm)
    font-size: .75rem
  &:hover
    background-color: $background
  &.is-active
    background-color: $background
    border-color: $border-more-more-shade
    border-bottom-color: $background
    color: $main-text
  &.is-inactive
    pointer-events: none
    color: $muted-text

.page-tabs__item-count
  +position(right .125rem, top .125rem)
