.page-main-header
  border-bottom: solid 1px $border-shade
  +media-breakpoint-up(md)
    font-size: 1.125rem
  +media-breakpoint-down(sm)
    font-size: 1rem

.page-main-header__inner
  +padding(vertical, 1rem .5rem)
  display: flex
  align-items: center
  +media-breakpoint-down(sm)
    display: block

  .a-page-notice + .page-main &
    padding-top: .5em

.page-main-header__start
  flex: 1

.page-main-header__end
  +media-breakpoint-down(sm)
    margin-top: .75rem

.page-main-header__title
  +text-block(1em 1.4, $main 600)
