
.page-optional-header {
  padding-block: .5rem;
  background-color: var(--background);

}
.page-optional-header__inner {
  @media (min-width: 48em) {
    display: flex;
    align-items: center;

  }
}
.page-optional-header__start {
  @media (min-width: 48em) {
    flex: 1;

  }
}
.page-optional-header__title {
  font-size: 1rem;
  line-height: 1.4;
  align-items: center;
  display: flex;
  text-align: center;
  font-weight: 700;

}
