.two-columns
  +position(relative)
  display: flex
  gap: 1.5rem
  +media-breakpoint-down(md)
    flex-direction: column

.two-columns__column
  &.is-main
    flex: 1
    max-width: $thread-max-width
  &.is-sub
    +media-breakpoint-up(lg)
      flex: 0 0 20rem
