// Row
//
// Rows contain and clear the floats of your columns.

.row
  +make-row

// Columns
//
// Common styles for small and large grid columns

+make-grid-columns

=grid($gutter-size)
  &.row
    gap: px_to_rem($gutter-size)

// helper
.row
  @for $i from 0 through 16
    $gutter-size: $i * 4
    &.is-gutter-width-#{$gutter-size}
      gap: #{$gutter-size / 16}rem
      +make-grid-columns($grid-columns, #{$gutter-size / 16}rem)
