= render '/notification_mailer/notification_mailer_template', title: @message, link_url: notifications_url(@notification, anchor: 'latest-comment'), link_text: 'コメントへ' do
  = md2html(@comment.description)
