= render '/notification_mailer/notification_mailer_template',
  title: "#{@mentionable.sender.login_name}さんからメンションがありました",
  link_url: @link_url, link_text: 'このメンションへ' do
  = md2html @mentionable.body
