= render '/notification_mailer/notification_mailer_template',
title: "#{@sender.login_name}さん#{@sender.roles_to_s.empty? ? '' : "(#{@sender.roles_to_s})"}が#{@course_name}コースに入会しました！",
link_url: @link_url, link_text: "#{@sender.login_name}さんのページへ" do
  = md2html(@sender.description)
