= link_to 'https://github.com/fjordllc/interns' do
  = image_tag 'https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png', alt: 'Fork me on GitHub', style: 'position: absolute; top: 0; left: 0; border: 0;'
