.practice-started-users__item
  = link_to user, class: "practice-started-users__item-link" do
    = image_tag user.avatar_image, class: "practice-started-users__item-icon #{user.active? ? "active" : "inactive"} is-#{user.role}"
