#js-tags-input(data-tags-initial-value="#{taggable.tag_list.join(",")}" data-tags-param-name="#{taggable.class.to_s.tableize.singularize}[tag_list]", data-taggable-type="#{taggable.class.to_s.capitalize}")
