#js-tags-input(data-tags-initial-value="#{taggable_model.tag_list.join(",")}" data-tags-param-name="#{taggable_model.class.to_s.tableize.singularize}[tag_list]", data-taggable-type="#{taggable_model.class.to_s.capitalize}")
