.a-completion-message
  .container
    .a-completion-message__inner
      .a-completion-message__inner-start
        h2.a-completion-message__title
          | 「#{practice.title}」を
          br
          | 修了しました🎉
      .a-completion-message__inner-end
        .a-completion-message__actions
          .a-completion-message__actions-items
            .a-completion-message__actions-item
              label.a-button.is-sm.is-secondary.is-block(for='modal-learning_completion')
                | 完了 Tweet する
