@use "../config/mixins/break-points"
@use "../config/mixins/position"
@use "../config/mixins/size"

.not-logged-in-wrapper
  min-height: 100vh
  display: flex
  flex-direction: column
  &::before
    content: ''
    background-image: url(https://bootcamp.fjord.jp/images/background/background.svg)
    background-repeat: repeat
    +position.position(fixed, left 0, top 0, right 0, bottom 0, 1)
    +size.size(100%)
    opacity: .075
    +break-points.media-breakpoint-up(md)
      background-size: 22rem auto
    +break-points.media-breakpoint-down(sm)
      background-size: 16rem auto
  body.is-completion &::before
    content: ''
    background-image: url('https://bootcamp.fjord.jp/images/background/completion_background.svg')
    background-repeat: repeat
    +position.position(fixed, left 0, top 0, right 0, bottom 0, 1)
    +size.size(100%)
    opacity: .075
    +break-points.media-breakpoint-up(md)
      background-size: 16rem auto

.not-logged-in-wrapper__start
  flex: 1
  +position.position(relative, 2)

.not-logged-in-wrapper__end
  +position.position(relative, 2)
