.sneak-peek
  +padding(vertical, 4rem 2rem)

.sneak-peek__title
  +text-block(1em 1.5, 800 center $reversal-text)
  font-family: YakuHanJP_Narrow,Hiragino Sans,Hiragino Kaku Gothic ProN,BIZ UDPGothic,Meiryo,sans-serif
  +media-breakpoint-up(md)
    font-size: 2rem
  +media-breakpoint-down(sm)
    font-size: 1.5rem

.sneak-peek__title-label
  display: block
  +media-breakpoint-up(md)
    font-size: 1.25rem
  +media-breakpoint-down(sm)
    font-size: .875rem

.sneak-peek__body
  margin-top: 3rem

.sneak-peek__image
  border-radius: 1rem
  +media-breakpoint-up(md)
    border: solid .75rem shade($completion, 30%)
  +media-breakpoint-down(sm)
    border: solid .5rem shade($completion, 30%)

.sneak-peek__content
  background-color: rgba(black, 30%)
  border-radius: .25rem

.sneak-peek__content-body
  padding: 1.5rem
  color: $reversal-text

.sneak-peek__join-us
  padding: 1.5rem
  color: $reversal-text
