@use "../config/mixins/break-points"
@use "../config/mixins/text"

.unauthorized
  +break-points.media-breakpoint-up(md)
    padding-block: 3rem 2rem
  +break-points.media-breakpoint-down(sm)
    padding-block: 2rem

.unauthorized__body
  +break-points.media-breakpoint-up(md)
    margin-top: 3rem
  +break-points.media-breakpoint-down(sm)
    margin-top: 2rem

.unauthorized__contents
  background-color: rgba(black, 30%)
  border-radius: .25rem

.unauthorized__content
  color: var(--reversal-text)
  +break-points.media-breakpoint-up(md)
    padding: 1.5rem
  +break-points.media-breakpoint-down(sm)
    padding: 1rem
  & + .unauthorized__content
    padding-top: 0

.unauthorized__content-separalor
  border-top: dashed 1px rgb(white, 10%)

.must-be-enrolled
  +break-points.media-breakpoint-up(md)
    +text.text-block(1rem 1.8, center)
  +break-points.media-breakpoint-down(sm)
    +text.text-block(1rem 1.8)

.unauthorized-actions__items
  display: flex
  justify-content: center
  gap: 1.5rem
  .unauthorized-actions.is-vertical &
    flex-direction: column
    align-items: center

.unauthorized-actions__item
  flex: 1
  max-width: 50%
  text-align: center
  .unauthorized-actions.is-vertical &
    width: 100%
