@use "../config/mixins/break-points"
@use "../config/mixins/text"

.unauthorized-header__image
  display: block
  margin-inline: auto
  +break-points.media-breakpoint-up(md)
    max-width: 6rem
    margin-bottom: .75rem
  +break-points.media-breakpoint-down(sm)
    max-width: 4.5rem
    margin-bottom: .5rem

.unauthorized-header__titles
  color: var(--reversal-text)
  font-family: var(--sans-serif)
  text-align: center

.unauthorized-header__title-label
  display: block
  font-weight: 700
  +break-points.media-breakpoint-up(md)
    font-size: 1.25rem
  +break-points.media-breakpoint-down(sm)
    font-size: .875rem

.unauthorized-header__title
  +text.text-block(1em 1.4, 800)
  margin-top: .25em
  +break-points.media-breakpoint-up(md)
    font-size: 2rem
  +break-points.media-breakpoint-down(sm)
    font-size: 1.5rem
