.unauthorized-header__image
  display: block
  +margin(horizontal,  auto)
  +media-breakpoint-up(md)
    max-width: 7rem
    margin-bottom: 1rem
  +media-breakpoint-down(sm)
    max-width: 5rem
    margin-bottom: .5rem

.unauthorized-header__title
  +text-block(1em 1.5, 800 center $reversal-text)
  font-family: YakuHanJP_Narrow,Hiragino Sans,Hiragino Kaku Gothic ProN,BIZ UDPGothic,Meiryo,sans-serif
  +media-breakpoint-up(md)
    font-size: 2rem
  +media-breakpoint-down(sm)
    font-size: 1.5rem

.unauthorized-header__title-label
  display: block
  +media-breakpoint-up(md)
    font-size: 1.25rem
  +media-breakpoint-down(sm)
    font-size: .875rem
