.form-item {
}

.form-item:not(:last-child) {
  margin-bottom: 1.75rem;
}

.form-item.is-hidden {
  display: none;
}

.form-item.is-sm {
  width: 30rem;
  max-width: 100%;
}

.form-item.is-md {
  width: 40rem;
  max-width: 100%;
}

.form-item .choices {
  width: 100%;
  z-index: 2;
}

.form-item .a-page-notice {
  margin-bottom: 1rem;
  border-radius: .25rem;
}

.edit_report .form-item .a-page-notice {
  margin-bottom: 1.75rem;
}

.form-item .checkboxes:not(:last-child) {
  margin-bottom: 1rem;
}

.form-item.is-inline {
  display: flex;
  align-items: center;
}

.form-item.is-inline .a-form-label {
  margin-bottom: 0;
  margin-right: .75em;
  white-space: nowrap;
}

.form-item.is-inline .a-form-label.is-sm {
  margin-right: .5rem;
}

.form-item.is-inline.is-centered {
  justify-content: center;
}

@media (min-width: 48em) {
  .form-item.is-inline-md-up {
    display: flex;
    align-items: center;
  }

  .form-item.is-inline-md-up .a-form-label {
    margin-bottom: 0;
    margin-right: .75em;
    white-space: nowrap;
  }
}

.form-item__row {
  display: flex;
  gap: .75rem;
}

.form-item__column.is-sm {
  flex: 0 0 6rem;
}

.form-item__column.is-unit {
  align-self: flex-end;
  padding-bottom: .25em;
}

.form-item__column.is-action {
  align-self: flex-end;
}

.form-item__button {
  text-align: center;
}

.form-item__pp {
  margin-top: .75rem;
}

.form-item__one-checkbox {
  font-size: .875rem;
  cursor: pointer;
}

.form-item__pp p {
  font-size: .8125rem;
  line-height: 1.8;
  margin-bottom: 1em;
}

.form-item__pp h2 {
  font-size: .8125rem;
  line-height: 1.8;
  margin-bottom: .4em;
  font-weight: 700;
}

.form-item__pp ul {
  margin-bottom: 1em;
  list-style: disc outside;
  margin-left: 1.5rem;
}

.form-item__pp li {
  font-size: .8125rem;
  line-height: 1.8;
  margin-bottom: .4em;
}

.form-item__pp *:last-child {
  margin-bottom: 0;
}

.form-item__mention-input {
  position: relative;
}

.form-item__mention-input::before {
  content: '@';
  font-family: 'Font Awesome 6 Pro';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "\f1fa";
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 2rem;
  left: 0;
  position: absolute;
  top: 0;
  background-color: var(--background);
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border: solid 1px #c1c5b9;
}

.form-item__mention-input input {
  padding-left: 2.5rem;
}

.form-item__lerning-times {
  margin-bottom: 1rem;
}

.form-item__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.form-item__header .a-form-label {
  margin-bottom: 0;
}

.form-item__price-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  max-width: 10rem;
}

.form-item__price-unit {
  padding-bottom: .25rem;
  margin-left: .25rem;
}

.form-item__inline-form-item {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  padding-top: .25rem;
  color: var(--default-text);
  font-weight: 400;
}

.form-item__add-times {
}

@media (min-width: 48em) {
  .form-item__add-times {
    margin-top: -.125rem;
  }
}

@media (max-width: 47.9375em) {
  .form-item__add-times {
    margin-top: -1.25rem;
  }
}

.form-item__add-choice {
  margin-top: 1rem;
}

.form-item__option {
  margin-top: .5rem;
}
