
.form-item-actions {
}

@media (min-width: 48em) {
  .form-item-actions {
    margin-top: -.75rem;
  }
}

@media (max-width: 47.9375em) {
  .form-item-actions {
    margin-top: -.5rem;
  }
}

.form-item-actions__items {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.form-item-actions__text-link {
  text-decoration: none;
  cursor: pointer;
  line-height: 1.4;
}

@media (min-width: 48em) {
  .form-item-actions__text-link {
    font-size: .8125rem;
  }
}

@media (max-width: 47.9375em) {
  .form-item-actions__text-link {
    font-size: .75rem;
  }
}

.form-item-actions__text-link:hover,
.form-item-actions__text-link:active {
  text-decoration: underline;
}

.form-item-actions__text-link.is-danger {
  color: var(--danger);
  font-weight: 600;
}
