.form-notice:not(:first-child) {
  margin-top: 1em;
}

@media (width >= 48em) {
  .form-notice {
    margin-bottom: 2rem;
  }
}

@media (width <= 47.9375em) {
  .form-notice {
    margin-bottom: 1.5rem;
  }
}
