.radios__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.75rem;
}

.radios__item label {
  font-size: 0.875rem;
  line-height: 1.4;
  display: block;
  color: var(--semi-muted-text);
  position: relative;
  text-decoration: none;
  cursor: pointer;
  padding-left: calc(0.875rem * 1.4);
  transition: text-decoration 0.2s ease-out;
}

.radios__item label:hover,
.radios__item label:active {
  text-decoration: underline;
}

.radios__item label.is-sm {
  font-size: 0.8125rem;
}

.radios__item label::before {
  content: "";
  height: 0.875rem;
  width: 0.875rem;
  border: solid 1px var(--input-border);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--base);
  border-radius: 50%;
  font-size: 0.75rem;
  color: var(--reversal-text);
  transition: all 0.2s ease-out;
}

.radios__item label:hover::before {
  background-color: rgba(87, 82, 232, 0.4);
  border-color: var(--primary);
}

.radios__item input:checked + label {
  color: var(--default-text);
}

.radios__item input:checked + label::before {
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: inset 0 0 0 1px var(--background);
}

.radios__item input:checked + label:hover::before {
  border-color: var(--primary);
}
