.corporate-training-clients
  background-color: var(--background)
  .corporate-training__divider .shape-fill
    fill: var(--primary-background)


.corporate-training-clients__inner
  display: flex
  flex-direction: column
  gap: 3rem

.corporate-training-clients__header
  display: flex
  justify-content: center

.corporate-training-clients__title
  +text-block(2.25rem 1.3, 700)
  text-align: center

.corporate-training-clients__items
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 3rem
