.corporate-training-key-reason
  padding: 1.5rem

.corporate-training-key-reason__inner
  display: flex
  gap: 1.5rem

.corporate-training-key-reason__start
  flex: 0 0 14rem

.corporate-training-key-reason__end
  display: flex
  flex-direction: column
  justify-content: center
  gap: 1rem

.corporate-training-key-reason__title
  +text-block(1.5rem 1.4, 700)

.corporate-training-key-reason__body
  p
    +text-block(1rem 1.6)
