.corporate-training-examples__items
  display: grid
  +media-breakpoint-up(md)
    grid-template-columns: repeat(3, 1fr)
    gap: 2rem
  +media-breakpoint-down(sm)
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem
