.corporate-training-price
  .corporate-training__divider .shape-fill
    fill: var(--primary-background)

.corporate-training-price__title
  +text-block(3rem 1.4, 800)
  text-align: center

.corporate-training-price__inner
  display: flex
  flex-direction: column
  gap: 4rem
  align-items: center
