.corporate-training-testimonials
  background-color: var(--primary-background)
  .corporate-training__divider .shape-fill
    fill: #dedef2

.corporate-training-testimonials__inner
  display: flex
  flex-direction: column
  gap: 4rem
  align-items: center

.corporate-training-testimonials__items
  display: flex
  width: 100%
  gap: 2rem
