.corporate-training-features
  background-color: var(--primary-background)
  .corporate-training__divider .shape-fill
    fill: #dedef2

.corporate-training-features__inner
  display: flex
  flex-direction: column
  gap: 4rem

.corporate-training-features__title
  +text-block(3rem 1.4, 800)
  white-space: nowrap

.corporate-training-features__items
  display: flex
  flex-direction: column
  gap: 4rem

.corporate-training-features__divider
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0
  transform: rotate(180deg) scale(-1, 1)

.corporate-training-features__divider svg
  position: relative
  display: block
  width: calc(100% + 1.3px)
  height: 4.5rem

.corporate-training-features__divider .shape-fill
  fill: var(--background)
