@use "../../config/mixins/break-points"

.corporate-training-examples__items
  display: grid
  +break-points.media-breakpoint-up(md)
    grid-template-columns: repeat(3, 1fr)
    gap: 2rem
  +break-points.media-breakpoint-down(sm)
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem
