.corporate-training-key-reasons
  background-color: #DEDEF2
  .corporate-training__divider .shape-fill
    fill: var(--primary-background)

.corporate-training-key-reasons__inner
  display: flex
  flex-direction: row-reverse
  gap: 3rem

.corporate-training-key-reasons__end
  flex: 1

.corporate-training-key-reasons__title
  writing-mode: vertical-rl
  +text-block(3rem 1.4, 800)

.corporate-training-key-reasons__items
  display: flex
  flex-direction: column
  gap: 3rem
