.corporate-training__content
  padding-block: 8rem 4rem
  position: relative

.corporate-training__divider
  position: absolute
  top: 0
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0
  svg
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 4rem

.corporate-training__content-title
  +text-block(3rem 1.4, 800)
  white-space: nowrap
  &.is-vertical
    writing-mode: vertical-rl
