.corporate-training-overview
  background-color: var(--primary-background)
  .corporate-training__divider .shape-fill
    fill: var(--background)

.corporate-training-overview__inner
  display: flex
  gap: 3rem

.corporate-training-overview__title
  +text-block(3rem 1.4, 800)
  white-space: nowrap
