.corporate-training-examples
  background-color: var(--primary-background)
  .corporate-training__divider .shape-fill
    fill: var(--background)

.corporate-training-examples__inner
  display: flex
  flex-direction: column
  gap: 4rem
  align-items: center

.corporate-training-examples__title
  +text-block(3rem 1.4, 800)
  text-align: center
  color: var(--main)
