.completed-users
  display: flex
  list-style: none
  flex-wrap: wrap
  margin-top: .75rem
  +margin(horizontal, -.25rem)

.completed-users__user-icon
  img
    object-fit: cover
    +size(2rem)
    display: block
    border-radius: 50%
    +margin(horizontal, .25rem)
    margin-bottom: .25rem
