.footprints
  display: flex
  gap: .75rem
  margin-top: 1.5rem

.footprints__title
  +text-block(.875rem 2rem, 600 right)
  +media-breakpoint-down(sm)
    flex: 0 0 auto

.footprints__items
  flex: 1
  display: flex
  gap: .5rem
  flex-wrap: wrap

.footprints-item
  display: flex
  align-items: center

.footprints-item__checker-icon
  +size(2rem)
