.footprints
  display: flex

.footprints__title
  +text-block(.875rem 2rem, 600 right)
  flex: 0 0 4.75rem
  padding-right: 1rem
  +media-breakpoint-down(sm)
    flex: 0 0 auto

.footprints__items
  flex: 100
  display: flex
  +margin(horizontal, -.25rem)
  margin-bottom: -.5rem
  flex-wrap: wrap

.footprints-item
  display: flex
  align-items: center
  +margin(horizontal, .25rem)
  margin-bottom: .5rem

.footprints-item__checker-icon
  +size(2rem)
  object-fit: cover
  border-radius: 50%
  +icon-role-style
