.learning-times
  flex: 1
  display: flex
  gap: .5rem

.learning-times__header
  display: flex
  align-items: center
  white-space: nowrap
  +text-block(.8125rem 1.4, 600)
  gap: .25rem

.learning-times__items
  display: flex
  flex-wrap: wrap

.learning-times__item
  +text-block(.8125rem 1.4, $semi-muted-text)
  &:not(:last-child)::after
    content: "、"
