.learning-times
  +padding(vertical, .75rem)
  +padding(horizontal, 2rem)
  border-bottom: solid 1px #dadbdc
  +media-breakpoint-down(sm)
    +padding(horizontal, 1rem)

.learning-times__header
  font-size: .875rem
  margin-bottom: .25rem
  display: flex
  align-items: center
  +media-breakpoint-down(sm)
    font-size: .8125rem

.learning-times__title
  +text-block(.8125rem 1.4, 700)

.learning-times__total-time
  +text-block(.8125rem 1.4, 700 block)
  margin-left: .25rem

.learning-times__items
  display: flex
  flex-wrap: wrap

.learning-times__item
  +text-block(.8125rem 1.4)
  &:not(:last-child)::after
    content: "、"
