.recent-reports
  +position(fixed, right 0, top 0, bottom 0, 1)
  +size(14rem 100%)
  background-color: $side
  +overflow(hidden auto)
  +media-breakpoint-down(sm)
    display: none

.recent-reports-item__link
  color: $reversal-text
  display: block
  padding: .5rem .75rem
  border-bottom: solid 1px $side-border
  transition: color .2s ease-in, background-color .2s ease-in
  +position(relative)
  &:hover
    background-color: $side-shade

.recent-reports-item__title
  +text-block(.875rem 1.45 .125rem, 600)
  word-break: break-all

.recent-reports-item__date
  +text-block(.75rem 1.45, block right)

.recent-reports-item__user-icon
  +size(2.75rem auto)
  border-radius: 50%
  float: left
  margin-right: .75rem

.recent-reports-item__checked
  color: $accent-color
  +position(absolute, left .25rem, top .25rem)
  font-size: 1.5rem
  text-shadow: $main-color .0625rem .0625rem 0
