$report-header-author: 6rem
.report
  +position(relative)
  max-width: 52rem
  +margin(horizontal, auto)
  padding-left: 5rem
  +media-breakpoint-down(sm)
    padding-left: 0
    margin-top: 2.75rem

.report__inner
  background-color: $base-color
  border-radius: .25rem
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  margin-bottom: 2rem
  +position(relative)
  +balloon-tail(left $base-color .625rem .75rem, false, top 2rem)
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none

.report__header
  padding: 1rem 2rem
  border-bottom: $background-color solid .0625rem
  +media-breakpoint-down(sm)
    padding: 2.5rem 1rem 1rem
.report__author-link
  +position(absolute, left 0, top 0)
  +block-link
  +media-breakpoint-down(sm)
    +position(left 50%, top -1.75rem)
    margin-left: -1.75rem
.report__author-icon
  +size(3.5rem auto)
  border-radius: 50%
.report__title
  +text-block(1.5rem 1.5, 600)
  +media-breakpoint-down(sm)
    font-size: 1rem

.report__meta
  display: flex
  justify-content: flex-end
  align-items: center
  padding: .375rem 2rem
  border-bottom: $background-color solid .0625rem
  +media-breakpoint-down(sm)
    padding: .375rem 1rem
    flex-direction: column
    align-items: flex-start

.report__author-name
  +text-block(.75rem 1.4, $muted-text)
  margin-right: .75rem
.report__created-at
  display: block
  +text-block(.875rem 1.4, $muted-text)

.report__description
  padding: 1.25rem 2rem
  +media-breakpoint-down(sm)
    padding: 1rem

.report__body-footer-container
  border-top: solid .0625rem $background-color
  padding: .5rem 2rem
  display: flex
  justify-content: space-between
  align-items: center
  height: 3.75rem
  +media-breakpoint-down(sm)
    +padding(horizontal, 1rem)

.report__actions-items
  display: flex
  align-items: center

.report__actions-item-link
  +text-block(1.25rem 1, center flex $muted-text)
  +size(2.375rem)
  align-items: center
  justify-content: center
  border-radius: 50%
  transition: color .2s ease-in, background-color .2s ease-in
  &.is-success
    &:hover
      background-color: #e0eefe
      color: $primary
  &.is-danger
    &:hover
      background-color: #f5e6ea
      color: $danger

.report-comments-container
  max-width: 52rem
  +margin(horizontal, auto)

.report-comments-container__title
  +text-block(1.25rem 1.45 1rem)
  +media-breakpoint-down(sm)
    margin-bottom: 1rem

.report-check-container
  max-width: 52rem
  +margin(horizontal, auto)

.report-check-container__title
  +text-block(1.25rem 1.45 1rem)
  +media-breakpoint-down(sm)
    margin-bottom: 1rem
