.report-practices
  padding: .625rem 2rem
  border-bottom: solid 1px $background
  +media-breakpoint-down(sm)
    padding: .5rem 1rem

.report-practices__items
  display: flex
  flex-wrap: wrap
  +margin(horizontal, -.25rem)
  margin-bottom: -.625rem

.report-practices__item
  +margin(horizontal, .25rem)
  margin-bottom: .625rem

.report-practices__item-link
  +text-block(.6875rem 1.45, block $main)
  background-color: transparent
  border: solid 1px $main
  padding: .1875rem .625rem
  border-radius: 2rem
  transition: all .2s ease-in
  text-decoration: none
  &:hover
    background-color: rgba($main, .2)
