$report-header-author: 4.75rem
.report-comment-form
  +position(relative)
  border-radius: .25rem
  margin-bottom: 2rem
  padding-left: $report-header-author
  +media-breakpoint-down(sm)
    padding-left: 0
.report-comment-form__author
  +position(absolute, left 0, top 0)
  +size($report-header-author 100%)
  padding-right: 2rem
  border-right: $background-color solid .0625rem
.report-comment-form__author-icon
  +size(100% auto)
  border-radius: 50%
.report-comment-form__form
  background-color: $base-color
  padding: 1rem
  border-radius: .25rem
  +relative
  +balloon-tail(left $base-color .75rem 1rem, false, top 1.5rem)
  +media-breakpoint-down(sm)
    &::before,
    &::after
      content: none

.report-comment-form__textarea
  margin-bottom: .75rem
.report-comment-form__action
  display: flex
  justify-content: flex-end
