$report-header-author: 3.5rem

.check__inner

  margin-left: 5rem
  background-color: $base-color
  border-radius: .25rem
  box-shadow: rgba(black, .2) 0 .0625rem .125rem
  +position(relative)
  +media-breakpoint-down(sm)
    margin-left: 0
    &::before,
    &::after
      content: none

.check__header
  padding: 1rem 2rem
  border-bottom: $background-color solid .0625rem
  +media-breakpoint-down(sm)
    padding: 1rem 1rem 1rem

.check__title
  +text-block(1.1rem, 600)
  +media-breakpoint-down(sm)
    font-size: 1rem

