.report-practices
  padding: 1.25rem 2rem 0
  +media-breakpoint-down(sm)
    padding: 1rem 1rem 0
.report-practices__items
  display: flex
  flex-wrap: wrap
  +margin(horizontal, -.25rem)
  margin-bottom: -.75rem
.report-practices__item
  +margin(horizontal, .25rem)
  margin-bottom: .75rem
.report-practices__item-link
  +text-block(.6875rem 1.45, block $main-color)
  background-color: $background-color
  padding: .3125rem .75rem
  border-radius: 2rem
  transition: color .2s ease-in, background-color .2s ease-in
  &:hover
    background-color: $background-color-shade
