.stamp
  border: solid 1px $stamp-color
  border-radius: .75rem
  pointer-events: none
  +size(4rem 3.5rem)
  +position(absolute, right -.25rem, top 0)
  transform: rotate(25deg)
  +text-block(.625rem 1, block center $stamp-color 400)
  font-feature-settings: "palt"
  letter-spacing: 0
  +media-breakpoint-down(sm)
    +position(right 0, top 0)
  &.is-circle
    +size(3.5rem)
    border-radius: 50%
  &.is-solved
    display: flex
    flex-direction: column
    font-size: 1.5rem
    font-weight: 800
    font-family: serif
    justify-content: center
  &.is-sm
    +size(4.125em 2.25rem)
    +position(absolute, right .5rem, top .5rem)
    border-radius: .5rem
    display: flex
    align-items: center

.stamp__content
  display: flex
  align-items: center
  justify-content: center
  &.is-title,
  &.is-user-name
    +size(100% 32%)
  &.is-created-at
    +size(100% 36%)
    +border(vertical, solid 1px $stamp-color)

.stamp__content-inner
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
  +padding(horizontal, .25rem)
