li.footprints-item
  = link_to check.user, itempro: "url" do
    = gravatar_tag check.user, secure: true, size: 32, html: { class: "footprints-item__checker-icon is-#{check.user.login_name}", alt: check.user.login_name }
