= form_with model: [@report, @footprint], local: true, html: { class: 'report-footprint-form' } do |f|
  = hidden_field_tag :user_id, current_user.id
  = f.submit t('footprint_report'), class: 'report-footprint-form__action a-button is-sm is-danger'
