= form_for ([@report, @check]), html: {class: "report-check-form"} do |f|
  = hidden_field_tag :user_id, current_user.id
  = f.submit t('check_report'), class: 'report-check-form__action is-button-standard-sm-danger'
