.dashboard-category__header
  padding: .5rem .75rem
  background-color: $background-shade

.dashboard-category__title
  +text-block(.75rem 1.4, 600)

.dashboard-category__body
  &:not(:first-child)
    flex: 1
    margin-top: .75rem
