.dashboard-contents__cols
  display: flex
  gap: .75rem
  +media-breakpoint-down(sm)
    flex-direction: column

.dashboard-contents__col
  &.is-sub
    max-width: 30rem
  &.is-main
    flex: 1

.dashboard-contents__categories
  display: flex
  flex-direction: column
  gap: .75rem
