.dashboard-contents-categories__item-title
  font-feature-settings: "palt"
  letter-spacing: .02em
  +text-block(1em 1.45, 700 $main)
  padding-bottom: .25rem
  border-bottom: solid 1px $border-shade
  +media-breakpoint-up(md)
    font-size: 1.625rem
    word-wrap: break-word
    margin-bottom: 1rem
  +media-breakpoint-down(sm)
    font-size: 1.125rem
    word-break: break-all
    margin-bottom: .75rem

.dashboard-contents-categories__items
  display: flex
  gap: 1rem

.dashboard-contents-categories__item
  &.is-main
    flex: 1
