
.welcome-message {
  position: relative;
  padding-top: 2.5rem;

}
.welcome-message__inner {
  @media (min-width: 48em) {
    padding: 3.5rem 3rem 2rem;
  }
  @media (max-width: 47.9375em) {
    padding: 3.5rem 1rem 1rem;

  }
}
.welcome-message__author {
  height: 5rem;
  width: 5rem;
  margin-inline: auto;
  padding: .75rem;
  border-radius: 50%;
  border: solid 1px color.shade(var(--warning), 10%);
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  background-color: var(--warning);

}
.welcome-message__header {
  font-size: 1.5rem;
  margin-bottom: 1em;

}
.welcome-message__title {
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  font-weight: 800;

}
.welcome-message__body {
  font-size: .9375rem;

}
