.welcome-message
  position: relative
  padding-top: 2.5rem

.welcome-message__inner
  +media-breakpoint-up(md)
    padding: 3.5rem 3rem 2rem
  +media-breakpoint-down(sm)
    padding: 3.5rem 1rem 1rem

.welcome-message__author
  +size(5rem)
  +margin(horizontal, auto)
  padding: .75rem
  border-radius: 50%
  border: solid 1px shade($warning, 10%)
  +position(absolute, top 0, left 50%)
  transform: translate(-50%, 0)
  background-color: $warning

.welcome-message__header
  font-size: 1.5rem
  margin-bottom: 1em

.welcome-message__title
  +text-block(1em 1.45, center 700)

.welcome-message__body
  font-size: .9375rem
