.side-tabs-contents
  +position(relative, 1)

#side-tabs-1:checked ~ .side-tabs-contents #side-tabs-content-1
  display: block

#side-tabs-2:checked ~ .side-tabs-contents #side-tabs-content-2
  display: block

#side-tabs-3:checked ~ .side-tabs-contents #side-tabs-content-3
  display: block

#side-tabs-4:checked ~ .side-tabs-contents #side-tabs-content-4
  display: block

.side-tabs-contents__item
  display: none
  .a-card
    border-top-left-radius: 0
  .card-header
    display: none
  .card-header + [class*=a-border]
    display: none
  .card-body
    max-height: calc(100vh - 181px)
    overflow-y: auto
  .user-metas
    margin-top: 0
  .user-metas__title
    padding: .25rem .5rem
    font-size: .75rem
  .user-metas__item
    +text-block(.75rem 1.6)
    border: solid 1px var(--border)
    margin: -1px
  .user-metas__item-label
    flex: 0 0 9rem
  .a-markdown-input
    padding-inline: 0
  .a-long-text
    font-size: .8125rem
  .page-body
    padding-block: 0
  .container
    padding-inline: 0
