<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render '/notification_mailer/mailer_style' %>
</head>

<body>
  <div class="mail-wrapper" style="background: #4638A0; font-family: sans-serif; padding: 24px 0;">
    <div style="margin: 0px auto 8px; max-width: 640px; padding: 0 16px;">
      <div style="vertical-align: top; font-size:14px; text-align: left; border-radius: 8px; overflow: hidden; border: solid 4px #505556; background: #FFFFFF;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tbody>
            <tr>
              <td style="text-align: center; vertical-align: top; padding: 0px;">
                <table  cellpadding="0" cellspacing="0" border="0" width="100%" style="vertical-align: top;">
                  <tbody>
                    <tr>
                      <td style="padding: 0px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                          <tbody>
                            <tr>
                              <td style="max-width: 600px;">
                                <img alt="フィヨルドブートキャンプからのお知らせ"
                                  src="<%= Rails.env.development? ? 'http://localhost:3000/images/mail/mail-header.png' : 'http://bootcamp.fjord.jp/images/mail/mail-header.png' %>"
                                  style="display:block; text-decoration:none; width:100%; height:auto;">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= yield %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <div style="margin: 0px auto; max-width:600px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                  <tr>
                    <td style="text-align: center; vertical-align: top; padding: 0px;">
                      <div style="vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                          <tbody>
                            <tr>
                              <td style="padding: 0px 98px 0px 98px;">
                                <div style="color: #949494; text-align: center;">
                                  <p><span style="font-size: 12px;">Copyright 2012 - <%= l Time.now, format: :year_only %> FjordBootCamp, All rights reserved.</span></p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
