.global-nav {
  background-color: transparent;
}
@media (min-width: 48em) {
  .global-nav {
    background-color: inherit;
  }
}

.global-nav__background.a-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 0;
  display: inline;
}
input:checked + .global-nav .global-nav__background.a-overlay {
  opacity: 1;
  width: 100%;
  display: block;
}

@media (min-width: 48em) {
  .global-nav__inner {
    background-color: var(--main);
    height: 100%;
    width: var(--global-nav-width);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 3;
    overflow-y: auto;
  }
}

.global-nav-links__link {
  position: relative;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px var(--main-semi-shade);
  color: var(--reversal-text);
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  width: 100%;
  flex-direction: row;
  height: 2.75rem;
  padding-inline: 1rem;
  justify-content: flex-start;
}
@media (min-width: 48em) {
  .global-nav-links__link {
    flex-direction: column;
    height: 4.5rem;
    gap: 0.375rem;
    padding-inline: 0;
    justify-content: center;
  }
}
.global-nav-links__link:hover {
  background-color: var(--main-shade);
}
.global-nav-links__link.is-active {
  background-color: var(--accent);
  color: var(--main);
}

.global-nav-links__link-icon {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  margin-right: 0.5rem;
}
@media (min-width: 48em) {
  .global-nav-links__link-icon {
    font-size: 1.25rem;
    margin-right: 0;
    display: flex;
    align-items: center;
  }
}

.global-nav-links__link-label {
  font-size: 0.625rem;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 47.9375em) {
  .global-nav-links__link-label {
    font-size: 0.875rem;
  }
}
@media (min-width: 48em) {
  .global-nav-links__link-label {
    font-size: 0.625rem;
    line-height: 1.4;
    text-align: center;
  }
}

.global-nav__item-count {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}
