.page-tags-nav {
  padding: 0.5rem 0.75rem;
}

.page-tags-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.page-tags-nav__item-link {
  padding: 0.3125rem 0.5rem;
  border-radius: 1.5em;
  font-size: 0.625rem;
  line-height: 1.4;
  white-space: nowrap;
  color: var(--main);
  max-width: 8.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: solid 1px var(--main);
  display: block;
  text-decoration: none;
  transition: all 0.1s ease-in;
  background-color: transparent;
}
.page-tags-nav__item-link:hover {
  background-color: var(--main-tint);
}
