.tab-nav
  +padding(vertical, .875rem)
  border-bottom: solid 1px $background-shade
  .page-main-header + &
    border-bottom: none
    padding-bottom: 0


.tab-nav__items
  display: flex
  gap: .5rem
  overflow-x: auto
  overflow-y: hidden
  +margin(horizontal,  -1rem)
  +padding(horizontal, 1rem)

.tab-nav__item
  flex: 0 0 7rem

.tab-nav__item-link
  +block-link
  +text-block(.75rem 2.3, $semi-muted-text center nowrap)
  background-color: $background-shade
  border-radius: 20rem
  transition: all.2s ease-out
  &:hover
    background-color: shade($background-shade, 10%)
    color: $default-text
  &.is-active
    background-color: $accent
    color: $default-text
